Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

DENG-3287 move data from marketing to shared-prod
  dags.yaml
  sql/moz-fx-data-marketing-prod/acoustic/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact/view.sql
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/view.sql
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/view.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_current_snapshot_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_current_snapshot_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_current_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/query.sql
Due: validate-sql

acoustic_derived dataset
  sql/moz-fx-data-shared-prod/acoustic/contact/view.sql
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/view.sql
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/view.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/schema.yaml
Due: validate-sql

Deng 3287 move acoustic data from marketing to shared prod (#5316)
  dags.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact/view.sql
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/view.sql
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/view.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/query.sql
Due: validate-sql

[ci skip] Deployed c57ef86a4 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_acoustic_contact_export.py
  dags/bqetl_acoustic_raw_recipient_export.py
  dags/bqetl_acoustic_suppression_list.py
  sql/moz-fx-data-marketing-prod/acoustic/suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact/view.sql
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/view.sql
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/view.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
Due: validate-sql

fix: DENG-3287 change dataset_base_acl to derived for acoustic_derived
  sql/moz-fx-data-shared-prod/acoustic_derived/dataset_metadata.yaml
Due: validate-sql

fix: DENG-3287 change dataset_base_acl to derived for acoustic_derived (#5317)
  sql/moz-fx-data-shared-prod/acoustic_derived/dataset_metadata.yaml
Due: validate-sql

Fix meta_attribution_country_counts_v1
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/query.sql
Due: validate-sql

[ci skip] Deployed 8079f0d3f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/acoustic_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Fix meta_attribution_country_counts_v1 (#5318)
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/query.sql
Due: validate-sql

[ci skip] Deployed 9310e5d5f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Remove init.sql files for fenix and use is_init() instead
  sql/moz-fx-data-shared-prod/fenix_derived/attributable_clients_v1/query.sql
Due: validate-sql

Remove init.sql files for search_derived datasets
  sql/moz-fx-data-shared-prod/fenix_derived/attributable_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/aggregated_search_terms_daily_v1/init.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/aggregated_search_terms_daily_v1/query.sql
Due: validate-sql

Grant webcompat service access to broken site reports
  sql/moz-fx-data-shared-prod/firefox_desktop/broken_site_report/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports/metadata.yaml
Due: validate-sql

Complete backfille
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

Complete backfill
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

Starting work on ads_clients_daily view
  sql/moz-fx-data-shared-prod/static/country_codes_v1/data.csv
  sql/moz-fx-data-shared-prod/static/country_codes_v1/schema.json
Due: validate-sql

Complete backfill (#5320)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed 269a303aa with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

Simplify is_init() for acer_cohort_v1
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/aggregated_search_terms_daily_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/search_derived.mobile_search_clients_daily_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/search_derived.mobile_search_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/test_day_bit_shifting/search_derived.mobile_search_clients_daily_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/test_day_bit_shifting/search_derived.mobile_search_clients_last_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/search_derived.search_clients_daily_v8.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/search_derived.search_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/search_derived.search_clients_daily_v8.ndjson
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/search_derived.search_clients_last_seen_v1.ndjson
Due: validate-bqetl, validate-sql

Remove search query init.sql (#5306)
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/aggregated_search_terms_daily_v1/init.sql
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/search_derived.mobile_search_clients_daily_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/search_derived.mobile_search_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/test_day_bit_shifting/search_derived.mobile_search_clients_daily_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/test_day_bit_shifting/search_derived.mobile_search_clients_last_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/search_derived.search_clients_daily_v8.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/search_derived.search_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/search_derived.search_clients_daily_v8.ndjson
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/search_derived.search_clients_last_seen_v1.ndjson
Due: validate-bqetl, validate-sql

[ci skip] Deployed 963a9792d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/aggregated_search_terms_daily_v1/init.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Check for matching project_ids when updating table references for tests on stage deploys
  bigquery_etl/cli/stage.py
Due: validate-bqetl

Fix substitutions of table IDs on stage from different projects
  bigquery_etl/cli/stage.py
Due: validate-bqetl

feat: add views for data-observability-dev test datasets
  sql/data-observability-dev/fenix/clients_last_seen_joined/view.sql
  sql/data-observability-dev/fenix/dataset_metadata.yaml
  sql/data-observability-dev/fenix/event_types/view.sql
  sql/data-observability-dev/fenix/events_daily/view.sql
  sql/data-observability-dev/fenix/firefox_android_clients/view.sql
  sql/data-observability-dev/fenix/metrics_clients_last_seen/view.sql
  sql/data-observability-dev/org_mozilla_firefox/dataset_metadata.yaml
  sql/data-observability-dev/org_mozilla_firefox/event_monitoring_live/view.sql
  sql/data-observability-dev/telemetry/dataset_metadata.yaml
Due: validate-sql

feat(DENG-3212): add views for data-observability-dev test datasets (#5314)
  bigquery_etl/cli/stage.py
  sql/data-observability-dev/fenix/clients_last_seen_joined/view.sql
  sql/data-observability-dev/fenix/dataset_metadata.yaml
  sql/data-observability-dev/fenix/event_types/view.sql
  sql/data-observability-dev/fenix/events_daily/view.sql
  sql/data-observability-dev/fenix/firefox_android_clients/view.sql
  sql/data-observability-dev/fenix/metrics_clients_last_seen/view.sql
  sql/data-observability-dev/org_mozilla_firefox/dataset_metadata.yaml
  sql/data-observability-dev/org_mozilla_firefox/event_monitoring_live/view.sql
  sql/data-observability-dev/telemetry/dataset_metadata.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed c5d466ff9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Update Glean generators checks.
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.checks.sql
Due: validate-sql

Create clients_last_seen_v2 checks.
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/checks.sql
Due: validate-sql

Formatting.
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/checks.sql
Due: validate-sql

Add distribution_id to firefox_android_clients.
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/schema.yaml
Due: validate-sql

Correcting as per https://mozilla-hub.atlassian.net/browse/AD-199
  sql/moz-fx-data-shared-prod/static/country_codes_v1/data.csv
Due: validate-sql

[DENG-2854] Search glean per-app derived datasets in shredder (#5165)
  bigquery_etl/shredder/config.py
  tests/shredder/test_config.py
Due: validate-bqetl

[ci skip] Deployed 7644d1e29 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
