Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_histogram_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_histogram_aggregates_v1.sql.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_histogram_aggregates_v1/schema.yaml
Due: validate-sql

Use secrets in bqetl_marketing_suppression_list DAG
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/campaign_monitor_suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/campaign_monitor_suppression_list_v1/query.py
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/send_suppression_list_update_to_campaign_monitor_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/send_suppression_list_update_to_campaign_monitor_v1/query.py
Due: validate-sql

Remove deleted table from skip list
  bqetl_project.yaml
Due: validate-sql, validate-routines

DENG-4883 rewrite query logic
  sql/moz-fx-data-shared-prod/telemetry/segmented_dau_28_day_rolling/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/schema.yaml
Due: validate-sql

DENG-4883 add new DAG
  dags.yaml
Due: validate-sql

Exclude `firefox_crashreporter` Glean app from baseline ping checks (bug 1920582).
  sql_generators/glean_usage/common.py
Due: validate-sql

Exclude `firefox_crashreporter` Glean app from baseline ping checks (bug 1920582). (#6249)
  sql_generators/glean_usage/common.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_glean_usage.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_crashreporter_derived/baseline_clients_last_seen_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_crashreporter_derived/baseline_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

DENG-4883 add data checks
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/checks.sql
Due: validate-sql

DENG-4883 fix handling for days with no data
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
Due: validate-sql

feat: add distribution_id to attribution table
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.query.sql
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.schema.yaml
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.view.sql
Due: validate-sql

feat: move the distribution_id configuration to init.py
  sql_generators/mobile_kpi_support_metrics/__init__.py
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.query.sql
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.schema.yaml
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.view.sql
Due: validate-sql

feat: add distribution_id field description
  sql_generators/mobile_kpi_support_metrics/__init__.py
Due: validate-sql

feat(): add distribution id to attribution clients template (#6251)
  sql_generators/mobile_kpi_support_metrics/__init__.py
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.query.sql
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.view.sql
Due: validate-sql

DENG-4883 fix SQL formatting
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
Due: validate-sql

[ci skip] Deployed 5bc2904263 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

DENG-4883 fix new SQL
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
Due: validate-sql

DENG-4883 fix typo in query
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
Due: validate-sql

Parse schema file in validate_shredder_mitigation function so it works on priv-bqetl
  bigquery_etl/metadata/validate_metadata.py
Due: validate-bqetl

Update checks to include additional EXCEPT, use table_id in staging dataset, and ensure that tests run and generate a failure that stops the backfill.
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/backfill/shredder_mitigation_checks_template.sql
  bigquery_etl/cli/backfill.py
  tests/backfill/test_shredder_mitigation.py
Due: validate-bqetl

Deng 877 autogenerate checks during shredder mitigation (#6243)
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/backfill/shredder_mitigation_checks_template.sql
  bigquery_etl/backfill/shredder_mitigation_query_template.sql
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/utils.py
  bigquery_etl/util/common.py
  tests/backfill/test_shredder_mitigation.py
Due: validate-bqetl

[ci skip] Deployed 29bb468663 with MkDocs version: 1.6.1
  bqetl/index.html
  search/search_index.json
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/attribution_clients/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/engagement/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/new_profile_clients/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/new_profiles/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/retention/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_attribution_clients/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_engagement/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_engagement_clients/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_new_profile_clients/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_new_profiles/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention_clients/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
Due: validate-sql

Parse schema file in validate_shredder_mitigation function so it works on priv-bqetl
  bigquery_etl/metadata/validate_metadata.py
  tests/cli/test_cli_metadata.py
Due: validate-bqetl

Use temporary session tables for shredder sampling
  bigquery_etl/shredder/delete.py
  tests/shredder/test_delete.py
Due: validate-bqetl

Clean up test
  tests/cli/test_cli_metadata.py
Due: validate-bqetl

non-search engagement count field
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/schema.yaml
Due: validate-sql

backfill KPI metrics
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/backfill.yaml
Due: validate-sql

In validation, only read schema files when necessary (#6252)
  bigquery_etl/metadata/validate_metadata.py
  bqetl_project.yaml
  tests/cli/test_cli_metadata.py
Due: validate-bqetl, validate-sql, validate-routines

DENG-4883 fix on clause
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
Due: validate-sql

Allow specifying a collection for monitored tables
  bigquery_etl/cli/monitoring.py
  bigquery_etl/metadata/parse_metadata.py
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/releases_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/releases_v1/metadata.yaml
Due: validate-bqetl, validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
