Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

feat: move mobile engagement logic into mobile kpi support metrics generator (#5661)
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_engagement_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention/view.sql
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_v1/schema.yaml
  sql_generators/mobile_kpi_support_metrics/__init__.py
  sql_generators/mobile_kpi_support_metrics/templates/engagement.checks.sql
  sql_generators/mobile_kpi_support_metrics/templates/engagement.metadata.yaml
  sql_generators/mobile_kpi_support_metrics/templates/engagement.query.sql
  sql_generators/mobile_kpi_support_metrics/templates/engagement.schema.yaml
  sql_generators/mobile_kpi_support_metrics/templates/engagement.view.sql
  sql_generators/mobile_kpi_support_metrics/templates/engagement_clients.view.sql
Due: validate-sql

DENG-3288 add Focus iOS and Focus Android and switch to use new views instead of extended views (#5641)
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_clients_v1/query.sql
Due: validate-sql

fix: add fields: map to baseline_daily and baseline_last_seen schemas (#5651)
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

Add distribution_id and geo_subdivision to clients_yearly schema (#5637)
  sql/moz-fx-data-shared-prod/fenix_derived/clients_yearly_v1/schema.yaml
Due: validate-sql

Use active_users instead of baseline_clients_last_seen and improve retrieving metrics ping's data.
  sql_generators/active_users_aggregates_v3/templates/focus_android_query.sql
  sql_generators/active_users_aggregates_v3/templates/mobile_query.sql
Due: validate-sql

Formatting.
  sql_generators/active_users_aggregates_v3/templates/focus_android_query.sql
  sql_generators/active_users_aggregates_v3/templates/mobile_query.sql
Due: validate-sql

DENG-3125 Update clients last seen v2 (#5617)
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/schema.yaml
Due: validate-sql

adding is_enterprise_policies
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/query.sql
Due: validate-sql

[ci skip] Deployed 36592630bb with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/search/mobile_search_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/schema.yaml
Due: validate-sql

updating schedule and aligning checks
  dags.yaml
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/checks.sql
Due: validate-sql

updating error text
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/checks.sql
Due: validate-sql

Deng 3763 increase schedule frequency (#5590)
  dags.yaml
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/checks.sql
Due: validate-sql

[ci skip] Deployed 4a060e8a12 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_acoustic_contact_export.py
  dags/bqetl_acoustic_raw_recipient_export.py
  dags/bqetl_braze.py
  dags/bqetl_marketing_suppression_list.py
  dags/bqetl_subplat.py
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/viu_politica_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

DENG-3462 - update clients last seen to use clients_last_seen_v2 instead of v1 (#5447)
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/view.sql
Due: validate-sql

Fixes #200 - Add an ability to import core bugs as kb bugs (#201)
  jobs/webcompat-kb/tests/test_main.py
  jobs/webcompat-kb/webcompat_kb/main.py
Due: none

[ci skip] Deployed 8a00df9653 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_aggregations.py
  dags/bqetl_analytics_tables.py
  dags/bqetl_desktop_funnel.py
  dags/bqetl_feature_usage.py
  dags/bqetl_gud.py
  dags/bqetl_kpis_shredder.py
  dags/bqetl_main_summary.py
  dags/bqetl_search_dashboard.py
  dags/bqetl_unified.py
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/view.sql
Due: validate-sql

Include VPN iOS network extension app in VPN events ETLs.
  sql_generators/events_daily/templates/event_types_history_v1/templating.yaml
  sql_generators/events_daily/templates/events_daily_v1/templating.yaml
Due: validate-sql

Revert "RS-788 Add support for organic searches with ads to the mobile search…"
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/mobile_search_clients_daily_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/test_aggregation/mobile_search_clients_daily_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_ios_version_filter/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_namespace_union/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_overactive_filter/expect.yaml
Due: validate-bqetl, validate-sql

Revert "RS-788 Add support for organic searches with ads to the mobile search…" (#5676)
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/mobile_search_clients_daily_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/test_aggregation/mobile_search_clients_daily_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_ios_version_filter/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_namespace_union/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_overactive_filter/expect.yaml
Due: validate-bqetl, validate-sql

removing acoustic last engaged timestamp
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.acoustic_external.contact_raw_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.acoustic_external.raw_recipient_raw_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_external.users_previous_day_snapshot_v2.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 53ebe05a13 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

removing suppression list model and tests
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/metadata.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.ctms_braze.ctms_emails.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.marketing_suppression_list_derived.main_suppression_list_v1.yaml
Due: validate-bqetl, validate-sql

Include VPN iOS network extension app in VPN events ETLs. (#5677)
  sql_generators/events_daily/templates/event_types_history_v1/templating.yaml
  sql_generators/events_daily/templates/events_daily_v1/templating.yaml
Due: validate-sql

[ci skip] Deployed e0d558418c with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_backend_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/debug_ping_view_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_translations_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/mdn_yari_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/event_types_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/event_types_history_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/events_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/events_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_bergamot_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_focus_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_focus_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_klar_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_klar_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_reference_browser_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_social_nightly_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_vrbrowser_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/pine_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/viu_politica_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

feat: remove backfill.yaml for org_mozilla_fennec_aurora_derived/baseline_clients_daily_v1 as it was not used
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora_derived/baseline_clients_daily_v1/backfill.yaml
Due: validate-sql

feat: remove backfill.yaml for org_mozilla_fennec_aurora_derived/baseline_clients_daily_v1 as it was not used (#5673)
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora_derived/baseline_clients_daily_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed b549131fec with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Normalizing campaign names
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/query.sql
Due: validate-sql

formatting
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/metadata.yaml
Due: validate-sql

removing dependency until frequency is increased
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/metadata.yaml
Due: validate-sql

Fixed the placement of the UPPER function
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/query.sql
Due: validate-sql

Normalizing campaign names (#5681)
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/query.sql
Due: validate-sql

formatting
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed 327c9c9929 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
