Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

chore(schema): apply base schema imports for telemetry_derived.user_cancelled_install_share_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/user_cancelled_install_share_v1/schema.yaml
Due: validate-sql

formatting yamls
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_joined_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_new_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_joined_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/event_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/main_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_interactions_hourly_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_v1/schema.yaml
Due: validate-sql

DENG-11249-Correct the profiling date for scheduled and manual runs
  dags.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/README.md
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

updating mau, dau, and wau base descriptions with more context
  sql/moz-fx-data-shared-prod/telemetry_derived/telemetry_derived.yaml
Due: validate-sql

Generalize missing date/datasets errors to cover CLI and Airflow paths
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

Update agent gate comments
  bigquery_etl/cli/__init__.py
  bigquery_etl/cli/alchemer.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/metadata.py
  bigquery_etl/cli/monitoring.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/routine.py
  bigquery_etl/cli/stage.py
  bigquery_etl/cli/static.py
  bigquery_etl/cli/view.py
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/glam/cli.py
  bigquery_etl/stripe/__init__.py
  bigquery_etl/subplat/apple.py
  bigquery_etl/util/target.py
  bqetl_targets.yaml.example
  docs/cookbooks/development_workflows.md
  tests/util/test_target.py
Due: validate-bqetl

DENG-11249-Correct the profiling date for scheduled and manual runs (#9599)
  dags.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/README.md
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/README.md
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

Fixed param name and logic
  bigquery_etl/backfill/interactive.py
  bigquery_etl/backfill/parse.py
  bigquery_etl/backfill/utils.py
  bigquery_etl/backfill/validate.py
  bigquery_etl/cli/backfill.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/backfill.yaml
  tests/backfill/test_parse_backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl, validate-sql

chore: add fxa/fraud-bot specific access
  sql/moz-fx-data-shared-prod/accounts_db_external/dataset_metadata.yaml
Due: validate-sql

Reduced backfill size
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/backfill.yaml
Due: validate-sql

Added schedulin date param override
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/backfill.yaml
  tests/cli/test_cli_backfill.py
  tests/cli/test_cli_query.py
Due: validate-bqetl, validate-sql

docs(schema): clarify include mechanism vs base-schema flags
  docs/reference/schema_includes.md
Due: none

docs(agents): index docs/reference/ with per-file read triggers
  AGENTS.md
Due: none

feat: addons_stats_installs_combined, null empty string utm values prior to aggregation
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_stats_installs_combined_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_stats_installs_combined_v1/query.sql
Due: validate-sql

feat: addons_stats_installs_combined, null empty string utm values prior to aggregation (#9603)
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_stats_installs_combined_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_stats_installs_combined_v1/query.sql
Due: validate-sql

docs(agents): index docs/reference/ with per-file read triggers (#9601)
  AGENTS.md
Due: none

docs(schema): clarify include mechanism vs base-schema flags (#9602)
  docs/reference/schema_includes.md
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/telemetry_derived/telemetry_derived.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/telemetry_derived.yaml
Due: validate-sql

Propensity v2 backfill
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v2/backfill.yaml
Due: validate-sql

formatting yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/telemetry_derived.yaml
Due: validate-sql

update date
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v2/backfill.yaml
Due: validate-sql

[DENG-10793] Support SA impersonation when running CLI tooling (#9588)
  AGENTS.md
  bigquery_etl/cli/__init__.py
  bigquery_etl/cli/alchemer.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/metadata.py
  bigquery_etl/cli/monitoring.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/routine.py
  bigquery_etl/cli/stage.py
  bigquery_etl/cli/static.py
  bigquery_etl/cli/view.py
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/glam/cli.py
  bigquery_etl/stripe/__init__.py
  bigquery_etl/subplat/apple.py
  bigquery_etl/util/common.py
  bigquery_etl/util/target.py
  bqetl_project.yaml
  bqetl_targets.yaml.example
  docs/cookbooks/development_workflows.md
  tests/util/test_common.py
  tests/util/test_target.py
Due: validate-bqetl, validate-sql, validate-routines

[DENG-11252] Authorize firefox_desktop.hang_report view for hang-report-collection
  sql/moz-fx-data-shared-prod/firefox_desktop/hang_report/metadata.yaml
Due: validate-sql

Reduce CI diff noise from stable_views
  sql_generators/stable_views/__init__.py
Due: validate-sql

Updated parsing logic
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-sql, validate-routines

Preserve header
  sql_generators/stable_views/__init__.py
Due: validate-sql

Shortened comments and added docs
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  docs/cookbooks/backfilling_a_table.md
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/backfill_deng10914.sql
  tests/cli/test_cli_backfill.py
  tests/cli/test_cli_query.py
Due: validate-bqetl, validate-sql

simplified mapping logic
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-sql, validate-routines

feat: add filter to firefoxdotcom views to only include data after 2025-07-16 (after test phase)
  sql/moz-fx-data-shared-prod/firefoxdotcom/firefox_whatsnew_summary/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/ga_clients/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/ga_sessions/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/site_engagement_events/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_downloads/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_events_metrics/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_hits/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_landing_page_metrics/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_page_metrics/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/wwww_site_metrics_summary/view.sql
Due: validate-sql

handle null labels
  sql_generators/stable_views/__init__.py
Due: validate-sql

Reduce CI diff noise from stable_views (#9607)
  sql_generators/stable_views/__init__.py
Due: validate-sql

DENG-11259 - Updated campaign name parsing logic (#9608)
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-sql, validate-routines

DENG-10914: Added managed backfill depends on past override for cfs v3 (#9582)
  bigquery_etl/backfill/interactive.py
  bigquery_etl/backfill/parse.py
  bigquery_etl/backfill/utils.py
  bigquery_etl/backfill/validate.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  docs/cookbooks/backfilling_a_table.md
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/backfill_deng10914.sql
  tests/backfill/test_parse_backfill.py
  tests/cli/test_cli_backfill.py
  tests/cli/test_cli_query.py
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/backfill_deng10914.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/metadata.yaml
Due: validate-sql
