Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v3/query.sql
Due: validate-sql

Update desktop column names in view active_users_aggregates. Use table_name in the metadata template.
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates/view.sql
  sql_generators/active_users_aggregates_v3/__init__.py
  sql_generators/active_users_aggregates_v3/templates/metadata.yaml
  sql_generators/active_users_aggregates_v4/__init__.py
  sql_generators/active_users_aggregates_v4/templates/metadata.yaml
Due: validate-sql

Add 780 day retention limit to clients_last_seen_joined generator
  sql_generators/glean_usage/templates/clients_last_seen_joined.metadata.yaml
Due: validate-sql

Add 780 day rentention limit to baseline_clients_last_seen_v1 generator
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.metadata.yaml
Due: validate-sql

Add 780 day limit to metrics_clients_daily generator
  sql_generators/glean_usage/templates/metrics_clients_daily.metadata.yaml
Due: validate-sql

Add bigeye checks to blog_goals_v2
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v2/bigconfig.yml
Due: validate-sql

Add www_site_hits bigconfig.yml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v2/bigconfig.yml
Due: validate-sql

enable monitoring via metadata.yml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v2/metadata.yaml
Due: validate-sql

Deploy materialized views if they do not exist (#6540)
  bigquery_etl/cli/query.py
  tests/cli/test_cli_query.py
Due: validate-bqetl

[ci skip] Deployed 11d854427c with MkDocs version: 1.6.1
  bqetl/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Enable monitoring on the tables
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v2/bigconfig.yml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/bigconfig.yml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v2/metadata.yaml
Due: validate-sql

Remove Bigeye Airflow dependency
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/data/dags/python_script_test_dag
  tests/data/dags/simple_test_dag
  tests/data/dags/test_dag_duplicate_dependencies
  tests/data/dags/test_dag_external_check_dependency
  tests/data/dags/test_dag_external_dependency
  tests/data/dags/test_dag_with_bigquery_table_sensors
  tests/data/dags/test_dag_with_check_dependencies
  tests/data/dags/test_dag_with_check_table_dependencies
  tests/data/dags/test_dag_with_dependencies
  tests/data/dags/test_dag_with_secrets
Due: validate-bqetl, validate-sql

Remove Bigeye Airflow dependency (#6546)
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/data/dags/python_script_test_dag
  tests/data/dags/simple_test_dag
  tests/data/dags/test_dag_duplicate_dependencies
  tests/data/dags/test_dag_external_check_dependency
  tests/data/dags/test_dag_external_dependency
  tests/data/dags/test_dag_with_bigquery_table_sensors
  tests/data/dags/test_dag_with_check_dependencies
  tests/data/dags/test_dag_with_check_table_dependencies
  tests/data/dags/test_dag_with_dependencies
  tests/data/dags/test_dag_with_secrets
Due: validate-bqetl, validate-sql

Disable monitoring for telemetry.releases
  sql/moz-fx-data-shared-prod/telemetry/releases/metadata.yaml
Due: validate-sql

Disable monitoring for telemetry.releases (#6547)
  sql/moz-fx-data-shared-prod/telemetry/releases/metadata.yaml
Due: validate-sql

Backfill iOS onboarding funnels
  sql/moz-fx-data-shared-prod/firefox_ios_derived/ios_onboarding_main_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/ios_onboarding_multiple_choice_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases/bigconfig.yml
  sql/moz-fx-data-shared-prod/telemetry/releases/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Backfill iOS onboarding funnels (#6548)
  sql/moz-fx-data-shared-prod/firefox_ios_derived/ios_onboarding_main_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/ios_onboarding_multiple_choice_v1/backfill.yaml
Due: validate-sql

Update logic for handling errors when Bigeye partitioning is already set
  bigquery_etl/cli/monitoring.py
Due: validate-bqetl

Update logic for handling errors when Bigeye partitioning is already set (#6549)
  bigquery_etl/cli/monitoring.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/ios_onboarding_main_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/ios_onboarding_multiple_choice_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

chore(DSRE-1814): redo glam syndication config
  sql/moz-fx-data-shared-prod/glam_etl/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_desktop_beta_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_desktop_beta_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_desktop_nightly_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_desktop_nightly_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_desktop_release_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_desktop_release_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fenix_beta_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fenix_beta_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fenix_nightly_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fenix_nightly_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fenix_release_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fenix_release_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fog_beta_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fog_beta_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fog_nightly_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fog_nightly_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fog_release_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/glam_fog_release_aggregates_v1/metadata.yaml
Due: validate-sql

chore(DSRE-1814): redo remove glam stage syndication
  sql/moz-fx-data-shared-prod/glam_etl/dataset_metadata.yaml
Due: validate-sql

Fix bigconfig file
  bigquery_etl/cli/monitoring.py
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/bigconfig.yml
Due: validate-bqetl, validate-sql

new expiration_days must be nested under time_partitioning
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/clients_last_seen_joined.metadata.yaml
  sql_generators/glean_usage/templates/metrics_clients_daily.metadata.yaml
Due: validate-sql

feat: remove the condition resulting in exception if no metric_type value is defined
  bigquery_etl/cli/monitoring.py
Due: validate-bqetl

feat: remove the condition resulting in exception if no metric_type value is defined (#6552)
  bigquery_etl/cli/monitoring.py
Due: validate-bqetl

[ci skip] Deployed ed8e313189 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

expand typed_metadata to be legacy_decisions_labels, policy_map and escalation_details
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/query.py
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/schema.yaml
Due: validate-sql

Set client project in shredder_targets (#6541)
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
Due: validate-sql
