Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

feat: move app_name field up in the query
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
Due: validate-sql

feat: add IFNULL validation to mozfun.bits28.days_since_seen result
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
Due: validate-sql

Apply suggestions from code review
  sql_generators/glean_usage/templates/cross_channel.view.sql
Due: validate-sql

feat: add activity fields to support KPI metrics to last_seen views
  sql_generators/glean_usage/templates/baseline_clients_daily.view.sql
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
Due: validate-sql

featL: move baseline_clients_last_seen modifications to cross_channel template
  sql_generators/glean_usage/templates/baseline_clients_last_seen.metadata.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
  sql_generators/glean_usage/templates/cross_channel.view.sql
Due: validate-sql

updating filter on tables to pull most recent and adding acoustic event data
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/query.sql
Due: validate-sql

fixing snapshot schema
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/schema.yaml
Due: validate-sql

feat: add is_init() to clients_last_seen_joined and metrics_clients_last_seen to make sure they get deployed in stage
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.query.sql
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
  sql_generators/glean_usage/templates/metrics_clients_last_seen.query.sql
Due: validate-sql

[ci skip] Deployed 792eb24ec2 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

formatting and refactoring
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
Due: validate-sql

Revert "Deploy referenced views to stage (#5497)"
  bigquery_etl/cli/stage.py
Due: validate-bqetl

Revert "Deploy referenced views to stage (#5497)" (#5510)
  bigquery_etl/cli/stage.py
Due: validate-bqetl

feat: add meta_attribution_app field to firefox_android_clients
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/schema.yaml
Due: validate-sql

feat: add meta_attribution_app__ping_datetime to schema
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/schema.yaml
Due: validate-sql

fix: fix firefox_android_clients_v1 tests
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/fenix.first_session.schema.json
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_channels/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_channels/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_channels/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_no_first_session_with_activations/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_no_first_session_with_activations/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_no_first_session_with_activations/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_no_baseline/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_no_baseline/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_no_baseline/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_seq/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_seq/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_seq/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_only_metrics_ping/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_only_metrics_ping/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_only_metrics_ping/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 90df262c1c with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

feat: add meta_attribution_app field to firefox_android_clients (#5404)
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/fenix.first_session.schema.json
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_channels/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_channels/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_channels/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_no_first_session_with_activations/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_no_first_session_with_activations/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_no_first_session_with_activations/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_no_baseline/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_no_baseline/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_no_baseline/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_seq/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_seq/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_first_session_seq/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_only_metrics_ping/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_only_metrics_ping/fenix.first_session.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_only_metrics_ping/moz-fx-data-shared-prod.fenix_derived.firefox_android_clients_v1.yaml
Due: validate-bqetl, validate-sql

removing schema files to prevent future failures
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/schema.yaml
Due: validate-sql

formatting
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed f59fdf6354 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/firefox_android_clients/schema.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/schema.yaml
Due: validate-sql

fixing snapshot schema (#5507)
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/schema.yaml
Due: validate-sql

[ci skip] Deployed 13d177532e with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
Due: validate-sql

adding checks to all models (#5500)
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/checks.sql
Due: validate-sql

[ci skip] Deployed 1e307e423f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

updating format and adding comments
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_braze.py
  dags/bqetl_marketing_suppression_list.py
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/attributable_clients_v2/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/firefox_android_clients/schema.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/checks.sql
Due: validate-sql

removing time filter
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/query.sql
Due: validate-sql

fix alias
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
Due: validate-sql

reverting waitlists code back to original
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
Due: validate-sql

add lower() to waitlists platform and source
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/test_braze_waitlists/moz-fx-data-shared-prod.ctms_braze.ctms_waitlists.yaml
Due: validate-bqetl, validate-sql

ading inner join to users
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
Due: validate-sql

Deploy affected downstream artifacts to stage
  bigquery_etl/cli/stage.py
Due: validate-bqetl

fix test_braze_subscriptions
  tests/sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/test_braze_subscriptions/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/test_braze_subscriptions/moz-fx-data-shared-prod.braze_derived.subscriptions_map_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/test_braze_subscriptions/moz-fx-data-shared-prod.braze_derived.user_profiles_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/test_braze_subscriptions/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
Due: validate-bqetl, validate-sql

fix test_braze_waitlists
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/test_braze_waitlists/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/test_braze_waitlists/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/test_braze_waitlists/moz-fx-data-shared-prod.ctms_braze.ctms_waitlists.yaml
Due: validate-bqetl, validate-sql

DS-3501 initial commit
  sql/moz-fx-data-shared-prod/apple_ads/ios_app_campaign_stats/view.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/schema.yaml
Due: validate-sql

DS-3501 add new dag
  dags.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
