Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Add MDN to product result mapping (#5276)
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

feat: convert KPI source query checks from fail to warn (#5303)
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_funnel_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/clients_activation_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/firefox_ios_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_activation_v2/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/unified_metrics_v1/checks.sql
Due: validate-sql

Add configs for funnels including service dimension (#5294)
  sql_generators/funnels/configs/email_first_reg_login_funnels_by_service.toml
  sql_generators/funnels/configs/login_funnels_by_service.toml
  sql_generators/funnels/configs/pwd_reset_funnels_by_service.toml
  sql_generators/funnels/configs/registration_funnels_by_service.toml
Due: validate-sql

DENG-3263 - create cloudflare datasets - derived & view (#5292)
  sql/moz-fx-data-shared-prod/cloudflare/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/dataset_metadata.yaml
Due: validate-sql

Deng 3287 move acoustic data from marketing to shared prod (#5316)
  dags.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact/view.sql
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/view.sql
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/view.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/query.sql
Due: validate-sql

Remove init.sql files for fenix and use is_init() instead (#5295)
  sql/moz-fx-data-shared-prod/fenix_derived/attributable_clients_v1/init.sql
  sql/moz-fx-data-shared-prod/fenix_derived/attributable_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/attributable_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/clients_yearly_v1/init.sql
  sql/moz-fx-data-shared-prod/fenix_derived/clients_yearly_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/clients_yearly_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/init.sql
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/migrated_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/migrated_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/migrated_clients_v1/schema.yaml
Due: validate-sql

DENG-3112 fix data types from date to numeric (#5298)
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/schema.yaml
Due: validate-sql

DENG-3265 cloudflare os usage (#5313)
  sql/moz-fx-data-shared-prod/cloudflare/os_usage/view.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/schema.yaml
Due: validate-sql

Have Jinja in generated SQL (#5249)
  .circleci/workflows.yml
  bigquery_etl/cli/query.py
  bigquery_etl/cli/stage.py
Due: validate-bqetl, validate-sql, validate-routines

DENG-3113 new browser usage cloudflare table (#5312)
  sql/moz-fx-data-shared-prod/cloudflare/browser_usage/view.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/schema.yaml
Due: validate-sql

DENG-3151 create acoustic_external dataset in BigQuery (#5315)
  sql/moz-fx-data-shared-prod/acoustic_external/dataset_metadata.yaml
Due: validate-sql

Dry run skip experiment_enrollment_cumulative_population_estimate_v1 (#5297)
  bqetl_project.yaml
Due: validate-sql, validate-routines

`newtab_visits` backfill to Nov 2022 (#5310)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

[AD-278] Added new column to detail country market tier as defined by Mozilla Ads (#5321)
  sql/moz-fx-data-shared-prod/static/country_codes_v1/data.csv
  sql/moz-fx-data-shared-prod/static/country_codes_v1/schema.json
Due: validate-sql

Update source fir distribution_id, add sampke_id, fix error with IFNULL.
  sql/moz-fx-data-shared-prod/telemetry/active_users/view.sql
Due: validate-sql

fix: DENG-3287 change dataset_base_acl to derived for acoustic_derived (#5317)
  sql/moz-fx-data-shared-prod/acoustic_derived/dataset_metadata.yaml
Due: validate-sql

Complete backfill (#5320)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

Skip dry run for acoustic contact_raw_v1 (#5328)
  bqetl_project.yaml
Due: validate-sql, validate-routines

[DENG-2854] Search glean per-app derived datasets in shredder (#5165)
  bigquery_etl/shredder/config.py
  tests/shredder/test_config.py
Due: validate-bqetl

Fix meta_attribution_country_counts_v1 (#5318)
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/query.sql
Due: validate-sql

Remove search query init.sql (#5306)
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/acer_cohort_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/aggregated_search_terms_daily_v1/init.sql
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/search_derived.mobile_search_clients_daily_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/search_derived.mobile_search_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/test_day_bit_shifting/search_derived.mobile_search_clients_daily_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/test_day_bit_shifting/search_derived.mobile_search_clients_last_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/search_derived.search_clients_daily_v8.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/search_derived.search_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/search_derived.search_clients_daily_v8.ndjson
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/search_derived.search_clients_last_seen_v1.ndjson
Due: validate-bqetl, validate-sql

feat(DENG-3212): add views for data-observability-dev test datasets (#5314)
  bigquery_etl/cli/stage.py
  sql/data-observability-dev/fenix/clients_last_seen_joined/view.sql
  sql/data-observability-dev/fenix/dataset_metadata.yaml
  sql/data-observability-dev/fenix/event_types/view.sql
  sql/data-observability-dev/fenix/events_daily/view.sql
  sql/data-observability-dev/fenix/firefox_android_clients/view.sql
  sql/data-observability-dev/fenix/metrics_clients_last_seen/view.sql
  sql/data-observability-dev/org_mozilla_firefox/dataset_metadata.yaml
  sql/data-observability-dev/org_mozilla_firefox/event_monitoring_live/view.sql
  sql/data-observability-dev/telemetry/dataset_metadata.yaml
Due: validate-bqetl, validate-sql

DENG-3281 add new distribution_model_ga_metrics UDF
  sql/mozfun/norm/distribution_model_ga_metrics/metadata.yaml
  sql/mozfun/norm/distribution_model_ga_metrics/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add missing END
  sql/mozfun/norm/distribution_model_installs/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add new partner_org_clients UDF
  sql/mozfun/norm/partner_org_clients/metadata.yaml
  sql/mozfun/norm/partner_org_clients/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 3705f4e1d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DENG-3281 add new partner_org_installs UDF
  sql/mozfun/norm/partner_org_installs/metadata.yaml
  sql/mozfun/norm/partner_org_installs/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/firefox_android_clients/schema.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/schema.yaml
Due: validate-sql

DENG-3281 update metadata for distribution_model_ga_metrics and add new UDF for partner_org_ga_metrics
  sql/mozfun/norm/distribution_model_ga_metrics/metadata.yaml
  sql/mozfun/norm/partner_org_ga_metrics/metadata.yaml
  sql/mozfun/norm/partner_org_ga_metrics/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add tests for norm.distribution_model_clients
  sql/mozfun/norm/distribution_model_clients/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add test for norm.distribution_model_ga_metrics UDF
  sql/mozfun/norm/distribution_model_ga_metrics/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add test for new UDF partner_org_ga_metrics
  sql/mozfun/norm/partner_org_ga_metrics/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add tests for new UDF mozfun.norm.partner_org_clients
  sql/mozfun/norm/partner_org_clients/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add tests for new UDF partner_org_installs
  sql/mozfun/norm/partner_org_installs/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add tests
  sql/mozfun/norm/partner_org_installs/udf.sql
Due: validate-sql, validate-routines

[DENG-3277] Add query and tables for updated public hardware report
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_v1/metadata.yaml
Due: validate-sql

DENG-3281 add tests for new funnel_derived_installs UDF
  sql/mozfun/norm/funnel_derived_installs/udf.sql
Due: validate-sql, validate-routines

DENG-3281 add test case to funnel derived installs
  sql/mozfun/norm/funnel_derived_installs/udf.sql
Due: validate-sql, validate-routines

Add schemas
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_v1/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
