Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/query.sql
Due: validate-sql

Add comment
  sql_generators/glean_usage/templates/event_monitoring_live_v1.materialized_view.sql
Due: validate-sql

Exclude Mozilla-supplied ads from amp reports
  sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/udf.sql
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/test_single_day/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/test_single_day/moz-fx-data-shared-prod.search_terms_derived.suggest_impression_sanitized_v3.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/test_single_day/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/test_single_day/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/test_single_day/moz-fx-data-shared-prod.search_terms_derived.suggest_impression_sanitized_v3.yaml
Due: validate-bqetl, validate-sql, validate-routines

Simplify regex a tiny bit, and document
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/udf.sql
Due: validate-sql, validate-routines

Match host exactly for Moz-supplied urls, and add a check for unknown urls
  sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/checks.sql
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/udf.sql
Due: validate-sql, validate-routines

[SPONS-324] Exclude Mozilla-supplied ads interactions from AMP reports (#9896)
  sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/checks.sql
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/udf.sql
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/test_single_day/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/test_single_day/moz-fx-data-shared-prod.search_terms_derived.suggest_impression_sanitized_v3.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/test_single_day/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/test_single_day/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/test_single_day/moz-fx-data-shared-prod.search_terms_derived.suggest_impression_sanitized_v3.yaml
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/checks.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/is_moz_supplied_suggestion/udf.sql
Due: validate-sql, validate-routines

Replace udf usage from event_monitoring_live (#9918)
  sql_generators/glean_usage/templates/event_monitoring_live_v1.materialized_view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/metadata.yaml
Due: validate-sql

Fix CI stage deploy commit lookup and test fixture renaming
  .github/workflows/build.yml
  bigquery_etl/cli/deploy.py
  tests/util/test_target.py
Due: validate-bqetl

[HNT-3433] Map NEW_TAB_EN_INTL to IN for Merino engagement and priors
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/query.sql
  sql/mozfun/newtab/surface_id_country/udf.sql
Due: validate-sql, validate-routines

add test changes
  sql/moz-fx-data-shared-prod/contextual_services/quicksuggest_impression/view.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/query.sql
Due: validate-sql

Revert "add test changes"
  sql/moz-fx-data-shared-prod/contextual_services/quicksuggest_impression/view.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/query.sql
Due: validate-sql

feat(schema): Add `force_nullable_mode` parameter to schema include tags.
  bigquery_etl/schema/__init__.py
  docs/reference/schema_includes.md
  tests/data/test_sql/moz-fx-data-test-project/test/nested_fields_v1/schema.yaml
  tests/schema/test_schema.py
Due: validate-bqetl

Bug 1990006 - Address review comments.
  dags.yaml
  sql_generators/gecko_trace/__init__.py
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/backfill.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/backfill.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/backfill.yaml
Due: validate-sql

Bug 1990006 - Change signatures table to view and allow aggregating per app.
  sql_generators/gecko_trace/README.md
  sql_generators/gecko_trace/templates/aggregates/signatures/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/view.sql
  sql_generators/gecko_trace/templates/aggregates/spans/view.sql
  sql_generators/gecko_trace/templates/aggregates/traces/view.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/backfill.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/schema.yaml
Due: validate-sql

Bug 1990006 - Create an initial ETL workflow for gecko-trace component
  dags.yaml
  sql/mozfun/gecko_trace/build_root_span/README.md
  sql/mozfun/gecko_trace/build_root_span/metadata.yaml
  sql/mozfun/gecko_trace/build_root_span/udf.sql
  sql/mozfun/gecko_trace/calculate_signature/README.md
  sql/mozfun/gecko_trace/calculate_signature/metadata.yaml
  sql/mozfun/gecko_trace/calculate_signature/udf.sql
  sql_generators/gecko_trace/README.md
  sql_generators/gecko_trace/__init__.py
  sql_generators/gecko_trace/templates/aggregates/dataset_metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/view.sql
  sql_generators/gecko_trace/templates/aggregates/spans/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/spans/view.sql
  sql_generators/gecko_trace/templates/aggregates/traces/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/traces/view.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/schema.yaml
Due: validate-sql, validate-routines

Bug 1990006 - Clarify submission timestamp and date columns.
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/schema.yaml
Due: validate-sql

chore: update owner email in gecko-trace ETL files
  dags.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/spans/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/traces/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/metadata.yaml
Due: validate-sql

Bug 1990006 - Apply SQL formatting to gecko trace queries.
  sql_generators/gecko_trace/templates/aggregates/events/view.sql
  sql_generators/gecko_trace/templates/aggregates/trace_events/view.sql
  sql_generators/gecko_trace/templates/aggregates/traces/view.sql
  sql_generators/gecko_trace/templates/derived/_shared/trace_chain_ctes.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/script.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/script.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/script.sql
Due: validate-sql

Bug 1990006 - Escape dotted attribute keys in JSONPath expressions.
  sql_generators/gecko_trace/templates/derived/_shared/event_ctes.sql
Due: validate-sql

Bug 1990006 - Read spans from metrics.object.gecko_trace_traces_data.
  sql_generators/gecko_trace/templates/derived/_shared/event_ctes.sql
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_events_daily_v1/moz-fx-data-shared-prod.firefox_desktop_stable.gecko_trace_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_events_daily_v1/test_single_day/moz-fx-data-shared-prod.firefox_desktop_stable.gecko_trace_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_traces_daily_v1/moz-fx-data-shared-prod.firefox_desktop_stable.gecko_trace_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_traces_daily_v1/test_single_day/moz-fx-data-shared-prod.firefox_desktop_stable.gecko_trace_v1.yaml
Due: validate-bqetl, validate-sql

Bug 1990006 - Handle UDF corner cases.
  sql/mozfun/gecko_trace/build_root_span/udf.sql
  sql/mozfun/gecko_trace/calculate_signature/udf.sql
Due: validate-sql, validate-routines

Bug 1990006 - Drop time partitioning on accumulator tables, cluster on MERGE keys.
  sql_generators/gecko_trace/templates/aggregates/signatures/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/view.sql
  sql_generators/gecko_trace/templates/aggregates/spans/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/spans/view.sql
  sql_generators/gecko_trace/templates/derived/_shared/trace_chain_ctes.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/script.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/script.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/schema.yaml
Due: validate-sql

Bug 1990006 - Store aggregated event and trace data.
  sql_generators/gecko_trace/templates/derived/_shared/trace_chain_ctes.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/backfill.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/script.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/backfill.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/backfill.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/script.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/script.sql
Due: validate-sql

Bug 1990006 - Start the gecko trace DAG today and stop retry emails.
  dags.yaml
Due: validate-sql

Bug 1990006 - Move the gecko trace DAG start_date to 2026-09-24.
  dags.yaml
Due: validate-sql

Bug 1990006 - Create an initial ETL workflow for gecko-trace component (#9753)
  dags.yaml
  sql_generators/gecko_trace/README.md
  sql_generators/gecko_trace/__init__.py
  sql_generators/gecko_trace/templates/aggregates/dataset_metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/events/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/events/view.sql
  sql_generators/gecko_trace/templates/aggregates/events_daily/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/events_daily/view.sql
  sql_generators/gecko_trace/templates/aggregates/trace_events/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/trace_events/view.sql
  sql_generators/gecko_trace/templates/aggregates/traces/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/traces/view.sql
  sql_generators/gecko_trace/templates/aggregates/traces_daily/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/traces_daily/view.sql
  sql_generators/gecko_trace/templates/derived/_shared/event_ctes.sql
  sql_generators/gecko_trace/templates/derived/_shared/trace_chain_ctes.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_daily_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_daily_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_daily_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_events_v1/script.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_trace_events_v1/script.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_daily_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_daily_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_daily_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/script.sql
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_events_daily_v1/moz-fx-data-shared-prod.firefox_desktop_stable.gecko_trace_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_events_daily_v1/test_single_day/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_events_daily_v1/test_single_day/moz-fx-data-shared-prod.firefox_desktop_stable.gecko_trace_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_events_daily_v1/test_single_day/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_traces_daily_v1/moz-fx-data-shared-prod.firefox_desktop_stable.gecko_trace_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_traces_daily_v1/test_single_day/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_traces_daily_v1/test_single_day/moz-fx-data-shared-prod.firefox_desktop_stable.gecko_trace_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/gecko_trace_traces_daily_v1/test_single_day/query_params.yaml
Due: validate-bqetl, validate-sql

feat: mark all amo_prod and amo_dev queries as deprecated and remove scheduling
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_dev/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/desktop_addons_by_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/fenix_addons_by_client_v1/metadata.yaml
Due: validate-sql

feat: delete query files from amo_prod and amo_dev
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/query.sql
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_v2/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/desktop_addons_by_client_v1/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/fenix_addons_by_client_v1/query.sql
Due: validate-sql

feat: mark desktop_addons_by_client as deprecated and remove scheduling for amo_stats_installs_v3
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/desktop_addons_by_client_v1/metadata.yaml
Due: validate-sql

feat: add missing schema to amo_dev and amo_prod queries
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/schema.yaml
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/schema.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/schema.yaml
Due: validate-sql

feat(DENG-11645): mark all amo_prod and amo_dev queries as deprecated + remove scheduling (#9907)
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/query.sql
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/schema.yaml
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/query.sql
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/schema.yaml
  sql/moz-fx-data-shared-prod/amo_dev/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_v2/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/schema.yaml
  sql/moz-fx-data-shared-prod/amo_prod/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/desktop_addons_by_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/desktop_addons_by_client_v1/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/fenix_addons_by_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/fenix_addons_by_client_v1/query.sql
Due: validate-sql

feat: drop redundant branch when setting oldversion
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/firefox_whatsnew_summary_v2/query.sql
Due: validate-sql

fix: in rare cases oldversion value reported in the URL is extremely long and causes an error, drop the value in such cases
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/firefox_whatsnew_summary_v2/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/query.sql
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_dau_v2/schema.yaml
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/query.sql
  sql/moz-fx-data-shared-prod/amo_dev/amo_stats_installs_v3/schema.yaml
  sql/moz-fx-data-shared-prod/amo_dev/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_dau_v2/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/amo_stats_installs_v3/schema.yaml
  sql/moz-fx-data-shared-prod/amo_prod/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/desktop_addons_by_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/desktop_addons_by_client_v1/query.sql
  sql/moz-fx-data-shared-prod/amo_prod/fenix_addons_by_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_prod/fenix_addons_by_client_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_enterprise_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_enterprise_desktop_derived/event_monitoring_live_v1/metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/firefoxdotcom_derived/firefox_whatsnew_summary_v2/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/firefox_whatsnew_summary_v2/query.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
