Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/static/cx_product_mappings_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/freshness_metrics_base_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_engagement_sessions_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/metadata.yaml
Due: validate-sql

feat: add backfill entry 2026-04-27 to amo_stats_dau_* queries due to upstream query change (#9266)
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_combined_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_combined_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_v1/backfill.yaml
Due: validate-sql

Add tables to syndicated kitsune tables.
  sql/moz-fx-data-shared-prod/sumo_syndicate/dataset_metadata.yaml
Due: validate-sql

feat(ads): add Bigeye monitoring for ads_client_operations_and_errors_hourly_v1
  sql/moz-fx-data-shared-prod/ads_derived/ads_client_operations_and_errors_hourly_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/ads_derived/ads_client_operations_and_errors_hourly_v1/metadata.yaml
Due: validate-sql

Fix circular import in sql generators
  sql_generators/baseline_clients_city_seen_v1/__init__.py
Due: validate-sql

set status to Complete (#9257)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v2/backfill.yaml
Due: validate-sql

use syndicate tables in shared-prod and enhance query.
  sql/moz-fx-data-shared-prod/customer_experience_derived/kitsune_retrieval_index_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v2/backfill.yaml
Due: validate-sql

Add WebSerial use counters (#9261)
  sql_generators/use_counters/templates/templating.yaml
Due: validate-sql

Set query file priority for deploys (#9268)
  bigquery_etl/cli/deploy.py
  tests/cli/test_cli_deploy.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix_derived/fenix_use_counters_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/firefox_desktop_use_counters_v2/query.sql
Due: validate-sql

[DENG-10973] Fix timedelta template in copy dedupe ExternalTaskMarker
  bigquery_etl/query_scheduling/templates/copy_deduplicate_task_markers.j2
  tests/query_scheduling/test_copy_deduplicate_task_markers.py
Due: validate-bqetl, validate-sql

[DENG-10973] Fix timedelta template in copy dedupe ExternalTaskMarker (#9272)
  bigquery_etl/query_scheduling/templates/copy_deduplicate_task_markers.j2
  tests/query_scheduling/test_copy_deduplicate_task_markers.py
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  dags/copy_deduplicate_task_markers.py
Due: none

Refactor: improve GCS upload fixture and update gitignore
  .gitignore
Due: none

Refactor: improve GCS upload fixture and update gitignore
  .gitignore
  conftest.py
Due: none

feat: addons_derived/amo_stats_dau_* 2026-04-27 mark backfill entry Complete
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_combined_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_v1/backfill.yaml
Due: validate-sql

feat: addons_derived/amo_stats_dau_* 2026-04-27 mark backfill entry Complete (#9274)
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_combined_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_v1/backfill.yaml
Due: validate-sql

add litellm_llm_proxy dataset
  sql/moz-fx-data-shared-prod/litellm_proxy_litellm/dataset_metadata.yaml
Due: validate-sql

[DENG-10934] Fix last_seen table deployment for new glean apps (#9256)
  bigquery_etl/cli/stage.py
  bqetl_project.yaml
  sql_generators/glean_usage/templates/metrics_clients_last_seen.metadata.yaml
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_glean_usage.py
  sql/moz-fx-data-shared-prod/burnham_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_echo_show_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_reality_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_reality_pc_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/focus_android_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/focus_ios_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_android_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_ios_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/lockwise_android_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozphab_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozregression_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/reference_browser_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter/clients_last_seen_joined/metadata.yaml
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter/clients_last_seen_joined/view.sql
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter/metrics_clients_last_seen/metadata.yaml
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter/metrics_clients_last_seen/view.sql
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter_derived/clients_last_seen_joined_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter_derived/metrics_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter_derived/metrics_clients_last_seen_v1/query.sql
Due: validate-sql

Fix circular import in sql generators (#9271)
  sql_generators/baseline_clients_city_seen_v1/__init__.py
Due: validate-sql

feat(ads): add Bigeye monitoring for ads_client_operations_and_errors_hourly_v1 (#9270)
  sql/moz-fx-data-shared-prod/ads_derived/ads_client_operations_and_errors_hourly_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/ads_derived/ads_client_operations_and_errors_hourly_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_ads_hourly.py
  sql/moz-fx-data-shared-prod/ads_derived/ads_client_operations_and_errors_hourly_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/ads_derived/ads_client_operations_and_errors_hourly_v1/metadata.yaml
Due: validate-sql

fix(nimbus): update query template to use source_table.type instead of is_events_stream
  sql_generators/nimbus_feature_monitoring/templates/nimbus_feature_monitoring_v1/query.sql
Due: validate-sql

revert(nimbus): remove telemetry-alerts from bqetl_marketing_analysis email list
  dags.yaml
Due: validate-sql

feat(nimbus): Nimbus feature monitoring
  dags.yaml
  sql_generators/nimbus_feature_monitoring/__init__.py
Due: validate-sql

feat(nimbus): bump mozilla-metric-config-parser to 2026.4.3
  requirements.in
Due: none

fix(nimbus): update featmon to use FeatmonConfig.spec.* accessors and fix stale urlbar view
  sql_generators/nimbus_feature_monitoring/__init__.py
Due: validate-sql

feat(nimbus): Nimbus feature monitoring
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

feat(nimbus): update mozilla-metric-config-parser to 2026.4.3 in requirements.txt
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

fix(nimbus): fix filter_labels -> label_in and ratios -> feature.ratios in query template
  sql_generators/nimbus_feature_monitoring/templates/nimbus_feature_monitoring_v1/query.sql
Due: validate-sql

feat(nimbus): Nimbus feature monitoring
  sql_generators/nimbus_feature_monitoring/__init__.py
  sql_generators/nimbus_feature_monitoring/templates/firefox_desktop.yaml
Due: validate-sql

feat(nimbus): remove --config-repo option, auto-clone metric-hub via from_github_repo
  sql_generators/nimbus_feature_monitoring/__init__.py
Due: validate-sql

fix(nimbus): rename unused feat_name to _feat_name
  sql_generators/nimbus_feature_monitoring/__init__.py
Due: validate-sql

fix(nimbus): rename event_stream to events_stream, add ratios from config, add tests
  requirements.in
  sql_generators/nimbus_feature_monitoring/__init__.py
  sql_generators/nimbus_feature_monitoring/templates/nimbus_feature_monitoring_v1/query.sql
  sql_generators/nimbus_feature_monitoring/tests/test_generate_queries.py
Due: validate-sql
