Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

DSRE-1774 fix workgroup names
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/static/country_codes_v1/metadata.yaml
Due: validate-sql

Adding 5 new countries with sponsored tiles as of 10/3 (#6360)
  sql/moz-fx-data-shared-prod/static/country_codes_v1/data.csv
Due: validate-sql

DSRE-1774 fix workgroup names (#6366)
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/static/country_codes_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed 241d4e8066 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/static/country_codes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Backfill mobile_search_clients_daily_v1 from Aug 2024
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/backfill.yaml
Due: validate-sql

Add missing last_modified_date to bigquery_tables_inventory
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_tables_inventory_v1/query.py
Due: validate-sql

Add missing last_modified_date to bigquery_tables_inventory (#6367)
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_tables_inventory_v1/query.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_tables_inventory_v1/query.py
  sql/moz-fx-data-shared-prod/sumo_ga/analytics_432581103/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Delete sql_generators/funnels/configs/iOS_onboarding.toml
  sql_generators/funnels/configs/iOS_onboarding.toml
Due: validate-sql

feat: remove locale from dimension list, it does not exist in the source table
  sql_generators/funnels/configs/iOS_onboarding.toml
Due: validate-sql

Update iOS_onboarding.toml
  sql_generators/funnels/configs/iOS_onboarding.toml
Due: validate-sql

Create iOS_onboarding.toml
  sql_generators/funnels/configs/iOS_onboarding.toml
Due: validate-sql

Create ios_onboarding.toml
  sql_generators/funnels/configs/ios_onboarding.toml
Due: validate-sql

chore: switch to v2 workgroups for dataplatform access
  sql/moz-fx-data-shared-prod/mozilla_vpn_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/stripe_external/dataset_metadata.yaml
Due: validate-sql

Change date data type to string
  sql/moz-fx-data-shared-prod/monitoring_derived/outerbounds_gpu_hours_v1/schema.yaml
Due: validate-sql

Change date data type to string (#6369)
  sql/moz-fx-data-shared-prod/monitoring_derived/outerbounds_gpu_hours_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 12470a846e with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add new view for mobile_search_clients_daily
  sql/moz-fx-data-shared-prod/search/mobile_search_clients_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/search/mobile_search_clients_daily/view.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/backfill.yaml
Due: validate-sql

Update view.sql
  sql/moz-fx-data-shared-prod/search/mobile_search_clients_daily/view.sql
Due: validate-sql

Fix detected shredder sources for tables not in shredder config
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
Due: validate-sql

Remove pioneer/rally special cases
  bigquery_etl/shredder/config.py
  bigquery_etl/shredder/delete.py
  bqetl_project.yaml
  docs/reference/configuration.md
  sql_generators/glean_usage/common.py
Due: validate-bqetl, validate-sql, validate-routines

Add shell completion script for bqetl
  docs/bqetl.md
  script/.bqetl_complete.zsh
  script/bqetl_complete
Due: none

[ci skip] Deployed a4b9a7d361 with MkDocs version: 1.6.1
  404.html
  bqetl/index.html
  cookbooks/common_workflows/index.html
  cookbooks/creating_a_derived_dataset/index.html
  cookbooks/testing/index.html
  index.html
  moz-fx-data-shared-prod/udf/index.html
  moz-fx-data-shared-prod/udf_js/index.html
  mozfun/about/index.html
  mozfun/addons/index.html
  mozfun/assert/index.html
  mozfun/bits28/index.html
  mozfun/bytes/index.html
  mozfun/event_analysis/index.html
  mozfun/ga/index.html
  mozfun/glam/index.html
  mozfun/glean/index.html
  mozfun/google_ads/index.html
  mozfun/google_search_console/index.html
  mozfun/hist/index.html
  mozfun/iap/index.html
  mozfun/json/index.html
  mozfun/ltv/index.html
  mozfun/map/index.html
  mozfun/marketing/index.html
  mozfun/mobile_search/index.html
  mozfun/norm/index.html
  mozfun/serp_events/index.html
  mozfun/stats/index.html
  mozfun/utils/index.html
  mozfun/vpn/index.html
  reference/airflow_tags/index.html
  reference/configuration/index.html
  reference/data_checks/index.html
  reference/incremental/index.html
  reference/public_data/index.html
  reference/recommended_practices/index.html
  reference/scheduling/index.html
  reference/stage-deploys-continuous-integration/index.html
  sitemap.xml.gz
Due: none

fix: SUM after join error in fxci_derived.task_run_costs_v1
  sql/moz-fx-data-shared-prod/fxci_derived/task_run_costs_v1/query.sql
Due: validate-sql

Add shell completion script for bqetl (#6372)
  docs/bqetl.md
  script/.bqetl_complete.zsh
  script/bqetl_complete
Due: none

Fix detected shredder sources for tables not in shredder config (#6371)
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
Due: validate-sql

fix: SUM after join error in fxci_derived.task_run_costs_v1 (#6374)
  sql/moz-fx-data-shared-prod/fxci_derived/task_run_costs_v1/query.sql
Due: validate-sql

[ci skip] Deployed 09d1ee7ca5 with MkDocs version: 1.6.1
  bqetl/index.html
  search/search_index.json
Due: none

Convert activity_date from string timestamp to unix seconds int64 value
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
Due: validate-sql

Add another column with just timestamp
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
Due: validate-sql
