Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Add multi country support for propensity
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v2/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v2/query.py
  tests/newtab_merino_propensity/test_query.py
Due: validate-bqetl, validate-sql

fix comment
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v2/query.py
Due: validate-sql

Add performance tracking and fix nested ARRAY column detection in field_profiler
  script/metadata/field_profiler.py
Due: none

feat: Add three phase BQ field profiling and metadata description pipeline
  script/metadata/description_reconciler.py
  script/metadata/field_profiler.py
  script/metadata/lineage_probe_fetcher.py
Due: none

refactor(metadata): update scripts to support configurable classification project and dataset
  script/metadata/README.md
  script/metadata/classify_dataset.sh
  script/metadata/field_classifier.py
  script/metadata/lineage_probe_fetcher.py
Due: none

Add script for exporting classified field list
  script/metadata/classification/.gitignore
  script/metadata/classification/build_taxonomy.py
  script/metadata/classification/export_to_sheet.py
  script/metadata/field_classifier.py
Due: none

Allow model choice
  requirements.in
  requirements.txt
  script/metadata/README.md
  script/metadata/classification/compare_models.py
  script/metadata/field_classifier.py
Due: validate-bqetl, validate-sql, validate-routines

docs: consolidate classification design into README; add productionization + FxA plans
  script/metadata/README.md
  script/metadata/classification/fxa_classification_plan.md
  script/metadata/classification/profiler_productionization_plan.md
Due: none

Add data collection category to classifier output
  script/metadata/README.md
  script/metadata/classification/compare_models.py
  script/metadata/classify_table.sh
  script/metadata/field_classifier.py
Due: none

refactor(metadata): switch classification to the productionized profiler
  script/metadata/README.md
  script/metadata/classification/column_profiles_schema.json
  script/metadata/classification/fxa_classification_plan.md
  script/metadata/classification/profiler_productionization_plan.md
  script/metadata/classify_dataset.sh
  script/metadata/classify_table.sh
  script/metadata/description_reconciler.py
  script/metadata/field_classifier.py
  script/metadata/field_profiler.py
  script/metadata/lineage_probe_fetcher.py
Due: none

PoC data classification
  script/metadata/README.md
  script/metadata/classification/.gitignore
  script/metadata/classification/build_taxonomy.py
  script/metadata/field_classifier.py
  script/metadata/field_profiler.py
  script/metadata/lineage_probe_fetcher.py
Due: none

feat(classification): add warning for unprofiled tables in classify_table.sh
  script/metadata/README.md
  script/metadata/classify_table.sh
Due: none

feat(classification): classify Glean metrics, populate data_sensitivity, add REFRESH, drop collection category
  script/metadata/README.md
  script/metadata/classification/compare_models.py
  script/metadata/classification/export_to_sheet.py
  script/metadata/classification/fxa_classification_plan.md
  script/metadata/classify_dataset.sh
  script/metadata/classify_table.sh
  script/metadata/field_classifier.py
  script/metadata/lineage_probe_fetcher.py
Due: none

docs(classification): correct the sample_id NULL-cause wording
  script/metadata/classification/upstream_profiler_sampling_fix.md
Due: none

feat(metadata): feed existing BigQuery column descriptions into the classifier
  script/metadata/README.md
  script/metadata/field_classifier.py
Due: none

fix(classification): handle non-Glean and all-NULL sample_id tables
  script/metadata/field_classifier.py
Due: none

docs(classification): TODO for upstreaming the profiler sample_id fix
  script/metadata/classification/upstream_profiler_sampling_fix.md
Due: none

chore(classification): add anthropic and google-cloud-dlp dependencies
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

fix(classification): scope probe lookup by Glean app, honor profiles-table override
  script/metadata/classify_dataset.sh
  script/metadata/classify_table.sh
  script/metadata/field_classifier.py
  script/metadata/lineage_probe_fetcher.py
Due: none

feat(classification): scrub sample values with DLP before classifying
  script/metadata/field_classifier.py
  script/metadata/sanitizer.py
Due: none

fix(classification): add missing docstring in build_taxonomy.main (pydocstyle D103)
  script/metadata/classification/build_taxonomy.py
Due: none

feat(DENG-11282): add field descriptions for subscription_platform_derived (#9677)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/active_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/exchange_rates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/nonprod_apple_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/nonprod_google_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/nonprod_stripe_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/nonprod_stripe_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_flow_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subscription_platform_derived.yaml
Due: validate-sql

chore(DENG-11021): initiate tier 1 backfills for rolling_cohorts (#9680)
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/rolling_cohorts_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/rolling_cohorts_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/events_stream/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/backfill.yaml
Due: validate-sql

fix(data_governance_metadata): match camelCase and compound PII column names
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

feat(classification): suppress high-cardinality samples; forward DLP project in wrappers
  script/metadata/classify_dataset.sh
  script/metadata/classify_table.sh
  script/metadata/field_classifier.py
Due: none

fix(data_governance_metadata): match camelCase and compound PII column names (#9682)
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

feat(DENG-11298): Drop parse_campaign_name parsing logic (#9644)
  bigquery_etl/cli/deploy.py
  bigquery_etl/routine/parse_routine.py
  sql/moz-fx-data-shared-prod/udf/marketing_parse_campaign_name/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/marketing_parse_campaign_name/udf.sql
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-bqetl, validate-sql, validate-routines

feat(classification): retry transient model errors and scope identifier labels
  script/metadata/field_classifier.py
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/udf/marketing_parse_campaign_name/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/marketing_parse_campaign_name/udf.sql
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-sql, validate-routines

Bug 2053422 - Switch to v2 table for subsequent shredder column removal runs
  bigquery_etl/shredder/delete.py
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_rows_deleted_v1/query.py
  tests/shredder/test_delete.py
Due: validate-bqetl, validate-sql

Revert "feat: Use shredder to backfill `event_id` in the largest `events_stre…"
  bigquery_etl/shredder/delete.py
Due: validate-bqetl

DENG-11283-firefox_desktop_derived-base-schema
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/firefox_desktop_derived.yaml
Due: validate-sql

updates
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/firefox_desktop_derived.yaml
Due: validate-sql

updating descriptions
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_daily_interactions_aggregates_v1/schema.yaml
Due: validate-sql

updating descriptions
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_hardware_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_user_activity_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/remote_content_uptake_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/sponsored_tiles_clients_daily_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/suggest_clients_daily_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/summed_hist_fix/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/urlbar_clients_daily_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for telemetry_derived.newtab_visits_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/schema.yaml
Due: validate-sql
