Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

test(monitoring): Improve the BigConfig update tests.
  tests/cli/test_cli_monitoring.py
Due: validate-bqetl

feat(monitoring): Centrally configure Bigeye collections (DENG-9600).
  bigquery_etl/cli/monitoring.py
  bqetl_project.yaml
  docs/reference/bigconfig.md
Due: validate-bqetl, validate-sql, validate-routines

removing payload table as it is set to deprecated
  sql/moz-fx-data-shared-prod/contextual_services_derived/request_payload_suggest_v2/query.sql
Due: validate-sql

fix(monitoring): Clear the BigConfig validation context in tests to avoid errors when calling `BigConfig.load()`.
  tests/cli/test_cli_monitoring.py
Due: validate-bqetl

feat(nimbus): Run population sizing hourly (#9933)
  dags.yaml
  sql/moz-fx-data-experiments/monitoring/experiment_population_estimates_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/experiment_population_estimates_v1/query.py
  tests/experiment_population_estimates/test_experiment_population_estimates.py
Due: validate-bqetl, validate-sql

refactor(marketing): Use map.get_key for GA4 event params and document table overlap
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/metadata.yaml
Due: validate-sql

[DENG-11717] Create stmo object owner and views views
  sql/moz-fx-data-shared-prod/stmo/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/stmo/object_owners/metadata.yaml
  sql/moz-fx-data-shared-prod/stmo/object_owners/view.sql
  sql/moz-fx-data-shared-prod/stmo/object_views_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/stmo/object_views_daily/view.sql
  sql/moz-fx-data-shared-prod/stmo/query_dashboards/metadata.yaml
  sql/moz-fx-data-shared-prod/stmo/query_dashboards/view.sql
  sql/moz-fx-data-shared-prod/stmo/table_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/stmo/table_usage/view.sql
  sql/moz-fx-data-shared-prod/stmo_external/dataset_metadata.yaml
Due: validate-sql

Backfill event_aggregates_suggest_v1 table (#10006)
  sql/moz-fx-data-shared-prod/ads_derived/event_aggregates_suggest_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/ads_derived/event_aggregates_suggest_v1/backfill.yaml
Due: validate-sql

chore(schema): add field descriptions for search_derived (#9958)
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v2/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for subscription_platform_derived.stripe_subscriptions_history_v1 (#9961)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v1/schema.yaml
Due: validate-sql

Remove deprecated iprospect and marketing tables
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/query.sql
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/query.py
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/query.py
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/schema.yaml
Due: validate-sql

Update metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/metadata.yaml
Due: validate-sql

Update metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigquery_usage/metadata.yaml
Due: validate-sql

chore(schema): add field descriptions for fxci_derived.worker_usage_v1
  sql/moz-fx-data-shared-prod/fxci_derived/worker_usage_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for fxci_derived.worker_costs_v1
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for fxci_derived.task_runs_v1
  sql/moz-fx-data-shared-prod/fxci_derived/task_runs_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for fxci_derived.worker_metrics_v1
  sql/moz-fx-data-shared-prod/fxci_derived/worker_metrics_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for fxci_derived.task_run_costs_v1
  sql/moz-fx-data-shared-prod/fxci_derived/task_run_costs_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v2/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v1/schema.yaml
Due: validate-sql

feat(marketing): Add GA4 firefox.com events, downloads and sessions aggregate tables (#10007)
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for search_terms_derived.search_terms_daily_v1
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/schema.yaml
Due: validate-sql

chore(schema): apply source include tags for search_terms_derived.search_terms_daily_v1
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/schema.yaml
Due: validate-sql

fix: DENG-11712 re-arranging coalesce to prefer client country for OHTTP (#9987)
  sql/moz-fx-data-shared-prod/ads_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.fenix.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop.quick_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.firefox_ios.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.fenix.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.firefox_desktop.quick_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.firefox_ios.fx_suggest.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/ads_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
Due: validate-sql

Remove deprecated iprospect and marketing tables (#10009)
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/query.sql
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/query.py
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/query.py
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/schema.yaml
Due: validate-sql

Addressed comments
  sql_generators/baseline_clients_city_seen_v1/templates/bigconfig.yml
  sql_generators/baseline_clients_city_seen_v1/templates/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/query.sql
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/query.py
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/query.py
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/schema.yaml
Due: validate-sql

feat(monitoring): Validate Bigeye monitoring metadata (DENG-9600).
  bigquery_etl/cli/monitoring.py
  tests/cli/test_cli_monitoring.py
Due: validate-bqetl

chore(monitoring): Add config for Bigeye collection "Marketing Metrics".
  bqetl_project.yaml
Due: validate-sql, validate-routines

Creating google_play_store_derived/vitals_slow_start_rate_v1
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_slow_start_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_slow_start_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_slow_start_rate_v1/schema.yaml
Due: validate-sql

fix(monitoring): Guard against possible null config values.
  bigquery_etl/cli/monitoring.py
Due: validate-bqetl

Fixed CI failure
  sql_generators/baseline_clients_city_seen_v1/templates/bigconfig.yml
Due: validate-sql

Add more documentation on null redash users
  sql/moz-fx-data-shared-prod/stmo/object_views_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/stmo/object_views_daily/view.sql
Due: validate-sql
