Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/eng_workflow/bmobugs/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Create fx_health_ind_bookmarks_by_os_version_v1
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os_version/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/schema.yaml
Due: validate-sql

Create fx_health_ind_bookmarks_by_country_v1
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_country/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/schema.yaml
Due: validate-sql

Add new columns to schemas
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/schema.yaml
Due: validate-sql

Add additional column to all 3 bookmark tables
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/query.sql
Due: validate-sql

fix: Update pre-commit dependencies to match `requirements.txt`
  .pre-commit-config.yaml
Due: none

Remove client level table expiration check
  bigquery_etl/metadata/validate_metadata.py
Due: validate-bqetl

Fix CI issues
  bigquery_etl/metadata/validate_metadata.py
Due: validate-bqetl

fix: Remove `types-attrs` from pre-commit dependencies.
  .pre-commit-config.yaml
Due: none

Update sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/query.py
  sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/query.py
Due: validate-sql

Update sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/schema.yaml
  sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/schema.yaml
Due: validate-sql

fix: Update pre-commit dependencies to match `requirements.txt` (#6723)
  .pre-commit-config.yaml
Due: none

Temp remove client level code (#6724)
  bigquery_etl/metadata/validate_metadata.py
Due: validate-bqetl

fix: remove shredder_mitigation lavel from telemetry_derived/addon_aggregates_v2 as this is client_level table (#6721)
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/eng_workflow/bmobugs/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Create fx_health_ind_bookmarks_by_os_v1, by_os_version, and by country (#6722)
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_country/view.sql
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os/view.sql
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os_version/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_fx_health_ind_dashboard.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_country/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_country/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_country/view.sql
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os/view.sql
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os_version/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os_version/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_health_ind_bookmarks_by_os_version/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_country_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_bookmarks_by_os_version_v1/schema.yaml
Due: validate-sql

Add 2 new columns to event_aggregates_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/event_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/event_aggregates_v1/schema.yaml
Due: validate-sql

feat: exclude some apps from including bigconfig in glean_usage generator (#6708)
  bqetl_project.yaml
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.metadata.yaml
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/metrics_clients_daily.metadata.yaml
  sql_generators/glean_usage/templates/metrics_clients_last_seen.metadata.yaml
Due: validate-sql, validate-routines

Add 2 new columns to event_aggregates_v1 (#6725)
  sql/moz-fx-data-shared-prod/telemetry_derived/event_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/event_aggregates_v1/schema.yaml
Due: validate-sql

fix(code):Add locale field
  sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/query.py
  sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/schema.yaml
Due: validate-sql

fix(code):Trailing spaces
  sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/schema.yaml
Due: validate-sql

[DENG-6891] Reduce shredder memory usage by not storing full job objects
  bigquery_etl/shredder/delete.py
Due: validate-bqetl

Jira BigQuery - Add new fields to User table (#6720)
  sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/query.py
  sql/moz-fx-data-shared-prod/jira_service_desk_derived/user_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/event_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/event_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/event_aggregates_v1/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
