Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

feat: move country tier into a separate column
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_marketing_funnel_v1/query.sql
Due: validate-sql

Fix sampled_metrics to reflect experiment's new logic (#8954)
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
  tests/sampled_metrics/test_query.py
Due: validate-bqetl, validate-sql

chore: rename some workgroups
  sql/moz-fx-data-shared-prod/backfills_staging_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/bugzilla_metrics/users/metadata.yaml
  sql/moz-fx-data-shared-prod/crash_ping_ingest_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_crashreporter/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/glean_ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/glean_gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/forecasts_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/snowplow_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/static/country_codes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stripe_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/taskclusteretl/person_mozilla_com/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/socorro_crash/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/socorro_crash_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/events_live/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/dataset_metadata.yaml
  tests/data/test_sql/moz-fx-data-test-project/test/non_incremental_query_v1/metadata.yaml
  tests/metadata/test_parse_metadata.py
Due: validate-bqetl, validate-sql, validate-routines

fix(deng-10610): round to 9 decimal places for numeric data type in big query (#8951)
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/query.py
Due: validate-sql

take out sample_id filter as per Richard's comment
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/query.py
Due: validate-sql

fix: baseline_active_users_aggregates_v2 integration tests
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/moz-fx-data-shared-prod.firefox_desktop_derived.baseline_active_users_aggregates_v2.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/test_aggregation/moz-fx-data-shared-prod.firefox_desktop.baseline_active_users.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/test_init/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/test_init/moz-fx-data-shared-prod.firefox_desktop.baseline_active_users.yaml
Due: validate-bqetl, validate-sql

feat: add policies_is_enterprise to baseline daily, first_seen, and last_seen + baseline_active_users and baseline_active_users_aggregates_v2
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/view.sql
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

fix(deng-10725): change to correct setting for syndicate tables
  sql/moz-fx-data-shared-prod/sumo_syndicate/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/zendesk_syndicate/dataset_metadata.yaml
Due: validate-sql

fix(deng-10725): change to correct setting for syndicate tables (#8955)
  sql/moz-fx-data-shared-prod/sumo_syndicate/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/zendesk_syndicate/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/sumo_syndicate/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/zendesk_syndicate/dataset_metadata.yaml
Due: validate-sql

fix: Remove dependencies on the `mozdata` project from ETLs and views (#8921)
  sql/moz-fx-data-bq-performance/release_criteria/rc_flattened_test_data_v1/query.sql
  sql/moz-fx-data-shared-prod/ads_derived/nt_visits_to_sessions_conversion_factors_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_external/gplay_installs_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/profile_restore_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_product_result_type_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v2/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_mau_per_tier1_country_v1/query.sql
  sql_generators/funnels/README.md
  sql_generators/funnels/configs/account_pref_delete_funnel.toml
  sql_generators/funnels/configs/accounts_pref_engagement.toml
  sql_generators/funnels/configs/email_first_reg_login_funnels_by_service.toml
  sql_generators/funnels/configs/example-funnel-config.toml.example
  sql_generators/funnels/configs/login_engagement_funnel.toml
  sql_generators/funnels/configs/login_funnels_by_entrypoint.toml
  sql_generators/funnels/configs/login_funnels_by_service.toml
  sql_generators/funnels/configs/monitor_dashboard_user_journey_funnels.toml
  sql_generators/funnels/configs/monitor_mozilla_accounts_funnels.toml
  sql_generators/funnels/configs/pwd_reset_funnels_by_service.toml
  sql_generators/funnels/configs/reg_engagement_funnel.toml
  sql_generators/funnels/configs/registration_funnels_by_service.toml
  sql_generators/funnels/configs/registration_funnels_legacy_events.toml
  sql_generators/funnels/tests/test_funnel
  sql_generators/funnels/tests/test_funnels.py
  sql_generators/rust_component_metrics/templates/counter/query.sql
  sql_generators/rust_component_metrics/templates/distribution/query.sql
  sql_generators/rust_component_metrics/templates/event/query.sql
  sql_generators/rust_component_metrics/templates/labeled-distribution/query.sql
Due: validate-sql

Stage deploy for queries if schema.yaml changed
  bigquery_etl/cli/stage.py
Due: validate-bqetl

.gitignore targets.yaml
  .gitignore
Due: none

Update tests
  bigquery_etl/cli/query.py
  bigquery_etl/util/target.py
  tests/test_run_query.py
Due: validate-bqetl

Address review comments
  .gitignore
  bigquery_etl/cli/__init__.py
  bigquery_etl/cli/query.py
  bigquery_etl/util/target.py
  docs/cookbooks/development_workflows.md
  targets.yaml.example
Due: validate-bqetl

[DENG-10697] Add support for targets and use in query run
  .gitignore
  bigquery_etl/cli/__init__.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/utils.py
  bigquery_etl/util/target.py
  bqetl_project.yaml
  docs/cookbooks/development_workflows.md
  targets.yaml
  tests/util/test_target.py
Due: validate-bqetl, validate-sql, validate-routines

Fix duplicate prefixes
  bigquery_etl/cli/query.py
Due: validate-bqetl

chore: rename some workgroups (#8892)
  sql/moz-fx-data-shared-prod/backfills_staging_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/bugzilla_metrics/users/metadata.yaml
  sql/moz-fx-data-shared-prod/crash_ping_ingest_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_crashreporter/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/glean_ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/glean_gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/forecasts_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/glam_etl/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/crash/metadata.yaml
  sql/moz-fx-data-shared-prod/snowplow_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/static/country_codes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stripe_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/taskclusteretl/person_mozilla_com/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/socorro_crash/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/socorro_crash_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/events_live/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/dataset_metadata.yaml
  tests/data/test_sql/moz-fx-data-test-project/test/non_incremental_query_v1/metadata.yaml
  tests/metadata/test_parse_metadata.py
Due: validate-bqetl, validate-sql, validate-routines

add more columns from firefox_desktop_derived.baseline_active_users_aggregates_v1 to active_users_agg_tou_desktop table
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/schema.yaml
Due: validate-sql

remove stored_content category
  sql_generators/stable_views_redacted/__init__.py
Due: validate-sql

feat(DENG-8905): add policies_is_enterprise to glean_telemetry.active_users_aggregates (#8934)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/view.sql
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/moz-fx-data-shared-prod.firefox_desktop_derived.baseline_active_users_aggregates_v2.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/test_aggregation/moz-fx-data-shared-prod.firefox_desktop.baseline_active_users.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/test_init/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_aggregates_v2/test_init/moz-fx-data-shared-prod.firefox_desktop.baseline_active_users.yaml
Due: validate-bqetl, validate-sql

fix: specify which data source to pull policies_is_enterprise column from
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/query.sql
Due: validate-sql

fix: specify which data source to pull policies_is_enterprise column from (#8959)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/events_stream/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/query.sql
Due: validate-sql

fix typo
  dags.yaml
Due: validate-sql

chore: change to true for fivetran managed dataset
  sql/moz-fx-data-shared-prod/zendesk_syndicate/dataset_metadata.yaml
Due: validate-sql

Simplify and harden Claude review workflow
  .github/workflows/claude-review.yml
Due: none

Remove CLAUDE_REVIEW_TEST_PLAN.md
  .github/CLAUDE_REVIEW_TEST_PLAN.md
Due: none

Add test
  tests/sql_generators/stable_views_redacted/test_stable_views_redacted.py
Due: validate-bqetl

take out unnecessary DATE transformation on filter for submission_date
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/query.sql
Due: validate-sql

Test
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_services_daily_v1/query.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
