Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed 02832581ba with MkDocs version: 1.5.3
  mozfun/ltv/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

DENG-4201 add backticks around date and switch owner
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/query.sql
Due: validate-sql

DENG-4201 Create www_site_downloads_v1, www_site_events_metrics_v1, www_site_metrics_summary_v1, and www_site_landing_page_metrics_v1 in shared prod (#5880)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed ede864e6d4 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

chore(data-privacy-mapping): DSRE-1690 - ignore event_stream_v1 due to RECORD type
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/event_monitoring_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/monitor_dashboard_user_journey_funnels_v1/metadata.yaml
Due: validate-sql

Revert non workgroup metadata changes
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/event_monitoring_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/monitor_dashboard_user_journey_funnels_v1/metadata.yaml
Due: validate-sql

chore(data-privacy-mapping): DSRE-1690 - ignore tables contaiing RECORD type (#5916)
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/event_monitoring_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/monitor_dashboard_user_journey_funnels_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed 5dd4c45ab5 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/event_monitoring_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/events_stream_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/monitor_dashboard_user_journey_funnels_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

DENG-4201 remove blogs_goals_v1 since now in shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_goals_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_goals_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_goals_v1/schema.yaml
Due: validate-sql

DENG-4201 remove blogs_sessions_v1 from mktg prod since now in shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_sessions_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_sessions_v1/schema.yaml
Due: validate-sql

DENG-4201 remove www_site_hits_v1 from mktg prod since now in shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_hits_v1/schema.yaml
Due: validate-sql

DENG-4201 remove firefox_whatsnew_summary_v1 from mktg prod since now in shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/firefox_whatsnew_summary_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/firefox_whatsnew_summary_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/firefox_whatsnew_summary_v1/schema.yaml
Due: validate-sql

DENG-4201 remove www_site_downloads_v1 from mktg prod since now in shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_downloads_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_downloads_v1/schema.yaml
Due: validate-sql

DENG-4201 remove www_site_events_metrics_v1 from mktg prod since now moved to shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_events_metrics_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_events_metrics_v1/schema.yaml
Due: validate-sql

DENG-4201 remove www_site_landing_page_metrics_v1 from mktg prod since now moved to shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_landing_page_metrics_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_landing_page_metrics_v1/schema.yaml
Due: validate-sql

DENG-4201 remove www_site_page_metrics_v1 from mktg prod since now moved to shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_page_metrics_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_page_metrics_v1/schema.yaml
Due: validate-sql

DENG-4201 remove blogs_daily_summary_v1 from mktg prod since now moved to shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_daily_summary_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_daily_summary_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_daily_summary_v1/schema.yaml
Due: validate-sql

DENG-4201 remove blogs_landing_page_summary_v1 from mktg prod since now moved to shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_landing_page_summary_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_landing_page_summary_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_landing_page_summary_v1/schema.yaml
Due: validate-sql

DENG-4201 remove blogs_empty_check_v1
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_empty_check_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/blogs_empty_check_v1/query.sql
Due: validate-sql

DENG-4201 remove www_site_empty_check_v1
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_empty_check_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_empty_check_v1/query.sql
Due: validate-sql

DENG-4201 remove www_site_metrics_summary_v1 from mktg prod since now moved to shared prod
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_metrics_summary_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_metrics_summary_v1/schema.yaml
Due: validate-sql

[DENG-4268] Add client_id clustering to events stream tables
  sql_generators/glean_usage/templates/events_stream_v1.metadata.yaml
Due: validate-sql

DENG-4201 remove dl with attr v1 and v2 from mktg prod since now in shared prod instead
  sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/checks.sql
  sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/schema.yaml
Due: validate-sql

DENG-4201 move blogs_daily_summary_v1 to shared prod
  sql/moz-fx-data-shared-prod/mozilla_org/blogs_daily_summary/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/schema.yaml
Due: validate-sql

DENG-4201 move blogs_landing_page_summary_v1 to shared prod
  sql/moz-fx-data-shared-prod/mozilla_org/blogs_landing_page_summary/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/schema.yaml
Due: validate-sql

DENG-4201 remove tests from mktg prod since tables no longer live in mktg prod
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/moz-fx-data-marketing-prod.65789850.ga_sessions_20230214.schema.json
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/moz-fx-stubattribut-prod-32a5.stubattribution_prod.stdout.schema.json
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/test_exception/expect.ndjson
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/test_exception/moz-fx-data-marketing-prod.65789850.ga_sessions_20230214.ndjson
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/test_exception/moz-fx-data-shared-prod.static.country_names_v1.ndjson
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/test_exception/moz-fx-stubattribut-prod-32a5.stubattribution_prod.stdout.ndjson
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v1/test_exception/query_params.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/moz-fx-data-marketing-prod.65789850.ga_sessions_20230331.schema.json
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/moz-fx-data-marketing-prod.65789850.ga_sessions_20230401.schema.json
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/moz-fx-data-marketing-prod.65789850.ga_sessions_20230402.schema.json
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/moz-fx-data-marketing-prod.65789850.ga_sessions_20230403.schema.json
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/moz-fx-stubattribut-prod-32a5.stubattribution_prod.stdout.schema.json
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_exception/expect.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_exception/moz-fx-data-marketing-prod.65789850.ga_sessions_20230402.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_exception/moz-fx-data-shared-prod.static.country_names_v1.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_exception/moz-fx-stubattribut-prod-32a5.stubattribution_prod.stdout.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_exception/query_params.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_missing_ga_client/expect.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_missing_ga_client/moz-fx-data-marketing-prod.65789850.ga_sessions_20230402.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_missing_ga_client/moz-fx-data-shared-prod.static.country_names_v1.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_missing_ga_client/moz-fx-stubattribut-prod-32a5.stubattribution_prod.stdout.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_missing_ga_client/query_params.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_multiday/expect.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_multiday/moz-fx-data-marketing-prod.65789850.ga_sessions_20230331.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_multiday/moz-fx-data-marketing-prod.65789850.ga_sessions_20230401.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_multiday/moz-fx-data-marketing-prod.65789850.ga_sessions_20230402.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_multiday/moz-fx-data-marketing-prod.65789850.ga_sessions_20230403.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_multiday/moz-fx-data-shared-prod.static.country_names_v1.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_multiday/moz-fx-stubattribut-prod-32a5.stubattribution_prod.stdout.yaml
  tests/sql/moz-fx-data-marketing-prod/ga_derived/downloads_with_attribution_v2/test_multiday/query_params.yaml
Due: validate-bqetl, validate-sql

DENG-4201 update references to new location
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/query.sql
Due: validate-sql

DENG-4201 Create blogs_daily_summary_v1 and blogs_landing_page_summary_v1 in shared prod (to prep for removing from mktg prod) (#5919)
  sql/moz-fx-data-shared-prod/mozilla_org/blogs_daily_summary/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org/blogs_landing_page_summary/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/schema.yaml
Due: validate-sql

Create mozfun.ltv.get_state_desktop_v1
  sql/mozfun/ltv/get_state_desktop_v1/metadata.yaml
  sql/mozfun/ltv/get_state_desktop_v1/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 8e65702362 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Update metadata.yaml
  sql/mozfun/ltv/get_state_desktop_v1/metadata.yaml
Due: validate-sql, validate-routines

Fix trailing space in yaml
  sql/mozfun/ltv/get_state_desktop_v1/metadata.yaml
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived.py
  sql/moz-fx-data-shared-prod/mozilla_org/blogs_daily_summary/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/blogs_daily_summary/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org/blogs_landing_page_summary/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/blogs_landing_page_summary/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Add 1 more test
  sql/mozfun/ltv/get_state_desktop_v1/udf.sql
Due: validate-sql, validate-routines

[DENG-4268] Add client_id clustering to events stream tables (#5918)
  sql_generators/glean_usage/templates/events_stream_v1.metadata.yaml
Due: validate-sql

[ci skip] Deployed 237937e5af with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
