Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

refactor(nimbus): separate per-app client pool ETL from COUNTIF aggregation
  sql/moz-fx-data-experiments/monitoring/experiment_population_estimates_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/experiment_population_estimates_v1/query.py
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_desktop_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_desktop_v1/query.sql
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_fenix_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_fenix_v1/query.sql
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_ios_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_ios_v1/query.sql
Due: validate-sql

style(nimbus): apply bqetl format to sizing client SQL files
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_desktop_v1/query.sql
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_fenix_v1/query.sql
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_ios_v1/query.sql
Due: validate-sql

docs(airflow_tags): add impact/tier_0 and update tier SLA descriptions
  docs/reference/airflow_tags.md
Due: none

fix(data_governance): use the DLP name for the lat/long infoType
  bigquery_etl/data_governance/classification/sanitize.py
Due: validate-bqetl

fix(data_governance): use the DLP name for the lat/long infoType (#9837)
  bigquery_etl/data_governance/classification/sanitize.py
Due: validate-bqetl

feat(data_governance): expose column classifications without sample values
  sql/moz-fx-data-shared-prod/data_governance_metadata/column_classifications/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata/column_classifications/view.sql
  sql/moz-fx-data-shared-prod/data_governance_metadata/dataset_metadata.yaml
Due: validate-sql

Address review feedback
  sql/moz-fx-data-shared-prod/data_governance_metadata/column_classifications/view.sql
Due: validate-sql

feat(data_governance): expose column classifications without sample values (#9838)
  sql/moz-fx-data-shared-prod/data_governance_metadata/column_classifications/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata/column_classifications/view.sql
  sql/moz-fx-data-shared-prod/data_governance_metadata/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/data_governance_metadata/column_classifications/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata/column_classifications/view.sql
  sql/moz-fx-data-shared-prod/data_governance_metadata/dataset_metadata.yaml
Due: validate-sql

style(nimbus): add trailing newline to sizing client SQL files
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_desktop_v1/query.sql
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_fenix_v1/query.sql
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_ios_v1/query.sql
Due: validate-sql

fix: read every date on the client's own calendar via local_date_of
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/README.md
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/ctes/03_sap_events_with_client_info.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/ctes/05_sap_aggregates.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/ctes/08_serp_events_with_client_info.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/ctes/10_serp_aggregates_base.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/query.sql
Due: validate-sql

fix: derive os_version_major and os_version_minor after the coalesce
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/README.md
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/ctes/03_sap_events_with_client_info.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/ctes/08_serp_events_with_client_info.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/ctes/13_join_sap_serp.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/ctes/14_final.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/query.sql
Due: validate-sql

Add user-facing person_api_staff_members view
  sql/moz-fx-data-shared-prod/mozcloud/person_api_staff_members/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/person_api_staff_members/view.sql
Due: validate-sql

Add user-facing person_api_staff_members view (#9839)
  sql/moz-fx-data-shared-prod/mozcloud/person_api_staff_members/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/person_api_staff_members/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/mozcloud/person_api_staff_members/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/person_api_staff_members/view.sql
Due: validate-sql

Upgrade looker-sdk
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

fix: update partner_code mode
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_glean_v1/schema.yaml
Due: validate-sql

Upgrade looker-sdk (#9840)
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

Fix stage deploys with only routines
  bigquery_etl/cli/deploy.py
  bigquery_etl/util/target.py
Due: validate-bqetl

Address review feedback
  bigquery_etl/cli/deploy.py
  tests/util/test_target.py
Due: validate-bqetl

fix(deploy): pull routine dependencies into isolated deploys (#9841)
  bigquery_etl/cli/deploy.py
  bigquery_etl/util/target.py
  tests/util/test_target.py
Due: validate-bqetl

chore(schema): create dataset_schema.yaml with shared field descriptions
  sql/moz-fx-data-shared-prod/mozilla_org_derived/dataset_schema.yaml
Due: validate-sql

chore(schema): update dataset_schema.yaml with shared field descriptions
  sql/moz-fx-data-shared-prod/mozilla_org_derived/dataset_schema.yaml
Due: validate-sql

chore(schema): create dataset_schema.yaml with shared field descriptions
  sql/moz-fx-data-shared-prod/search_derived/dataset_schema.yaml
Due: validate-sql

chore(schema): update dataset_schema.yaml with shared field descriptions
  sql/moz-fx-data-shared-prod/search_derived/dataset_schema.yaml
Due: validate-sql

fix(schema): wrap long description lines to satisfy yamllint
  sql/moz-fx-data-shared-prod/mozilla_org_derived/dataset_schema.yaml
Due: validate-sql

[DENG-11456] Support external data subscriptions (#9830)
  AGENTS.md
  bigquery_etl/metadata/parse_metadata.py
  bigquery_etl/metadata/validate_metadata.py
  docs/reference/external_sharing.md
  tests/metadata/test_parse_metadata.py
  tests/metadata/test_validate_metadata.py
Due: validate-bqetl

Support workgroups in external sharing (#9829)
  bigquery_etl/metadata/parse_metadata.py
  bigquery_etl/metadata/validate_metadata.py
  docs/reference/external_sharing.md
  tests/metadata/test_parse_metadata.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_backend/events/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_enterprise_desktop/newtab/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_enterprise_desktop/search_with/schema.yaml
Due: validate-sql

chore(schema): address review feedback on search_derived base schema
  sql/moz-fx-data-shared-prod/search_derived/dataset_schema.yaml
Due: validate-sql

chore(schema): address review feedback on mozilla_org_derived base schema
  sql/moz-fx-data-shared-prod/mozilla_org_derived/dataset_schema.yaml
Due: validate-sql

refactor(nimbus): add Jinja2 template generator for per-app sizing client tables
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_desktop_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/nimbus_sizing_clients_ios_v1/metadata.yaml
  sql_generators/nimbus_population_sizing/__init__.py
  sql_generators/nimbus_population_sizing/apps.yaml
  sql_generators/nimbus_population_sizing/templates/nimbus_sizing_clients_v1/metadata.yaml
  sql_generators/nimbus_population_sizing/templates/nimbus_sizing_clients_v1/query.sql
Due: validate-sql

refactor(nimbus): integrate sizing client tables into experiment_monitoring generator
  sql/moz-fx-data-experiments/firefox_desktop_derived/nimbus_sizing_clients_v1/metadata.yaml
  sql/moz-fx-data-experiments/firefox_desktop_derived/nimbus_sizing_clients_v1/query.sql
  sql/moz-fx-data-experiments/monitoring/experiment_population_estimates_v1/query.py
  sql/moz-fx-data-experiments/org_mozilla_fenix_derived/nimbus_sizing_clients_v1/metadata.yaml
  sql/moz-fx-data-experiments/org_mozilla_fenix_derived/nimbus_sizing_clients_v1/query.sql
  sql/moz-fx-data-experiments/org_mozilla_ios_firefox_derived/nimbus_sizing_clients_v1/metadata.yaml
  sql/moz-fx-data-experiments/org_mozilla_ios_firefox_derived/nimbus_sizing_clients_v1/query.sql
  sql_generators/experiment_monitoring/__init__.py
  sql_generators/experiment_monitoring/templates/nimbus_sizing_clients_v1/metadata.yaml
  sql_generators/experiment_monitoring/templates/nimbus_sizing_clients_v1/query.sql
  sql_generators/experiment_monitoring/templates/templating.yaml
  sql_generators/nimbus_population_sizing/__init__.py
  sql_generators/nimbus_population_sizing/apps.yaml
  sql_generators/nimbus_population_sizing/templates/nimbus_sizing_clients_v1/metadata.yaml
Due: validate-sql

fix(nimbus): update experiment_population_estimates_v1 metadata to reference new sizing table paths
  sql/moz-fx-data-experiments/monitoring/experiment_population_estimates_v1/metadata.yaml
Due: validate-sql

fix(nimbus): use Jinja2 whitespace control to eliminate leading blank lines in generated output
  sql_generators/experiment_monitoring/templates/nimbus_sizing_clients_v1/metadata.yaml
  sql_generators/experiment_monitoring/templates/nimbus_sizing_clients_v1/query.sql
Due: validate-sql

fix(dryrun): Run authenticated dryrun queries in `mozdata` rather than the target project.
  bigquery_etl/dryrun.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
