Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_search_console.py
Due: none

Apply suggestion from @chelseybeck
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/metadata.yaml
Due: validate-sql

docs: Correct docs for ETL dependencies on table/partition existence.
  docs/reference/scheduling.md
Due: none

newline
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/metadata.yaml
Due: validate-sql

docs: Correct docs for ETL dependencies on table/partition existence. (#8729)
  docs/reference/scheduling.md
Due: none

[ci skip] Deployed 6fd79b9120 with MkDocs version: 1.6.1
  reference/scheduling/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix: update bqetl_firefox_ios_choice_screen DAG start date to 2026
  dags.yaml
Due: validate-sql

fix: update bqetl_firefox_ios_choice_screen DAG start date to 2026 (#8730)
  dags.yaml
Due: validate-sql

Add --test-dir parameter for stage deploy command (#8726)
  bigquery_etl/cli/stage.py
Due: validate-bqetl

feat: update apple_ads views to point to apple_ads_syndicate
  sql/moz-fx-data-shared-prod/apple_ads/ad_group_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/campaign_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/keyword_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/organization_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/search_term_report/view.sql
Due: validate-sql

feat: update firefox_ios/ad_activation_performance view to use update field names to select the same data
  sql/moz-fx-data-shared-prod/firefox_ios/ad_activation_performance/view.sql
Due: validate-sql

feat: delete apple_ads_external namespace as no longer needed
  sql/moz-fx-data-shared-prod/apple_ads_external/ad_group_report_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/ad_group_report_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ad_group_report_v1/schema.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/campaign_report_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/campaign_report_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/campaign_report_v1/schema.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/keyword_report_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/keyword_report_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/keyword_report_v1/schema.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/organization_report_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/organization_report_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/organization_report_v1/schema.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/search_term_report_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/search_term_report_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/search_term_report_v1/schema.yaml
Due: validate-sql

feat: delete bqetl_fivetran_apple_ads DAG definition as there are no more queries associated with it
  dags.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_firefox_ios_choice_screen.py
Due: none

feat: delete reference from apple_ads_external in bqetl config and docs
  bqetl_project.yaml
  docs/reference/configuration.md
Due: validate-sql, validate-routines

[DENG-10558] Ignore glean v2 schemas in stable_views
  sql_generators/stable_views/__init__.py
Due: validate-sql

[DENG-10558] Ignore glean v2 schemas in stable_views (#8733)
  sql_generators/stable_views/__init__.py
Due: validate-sql

[SVCSE-4076] Change GCS for UDF .js files to moz-fx-data-prod-bigquery-etl
  sql/moz-fx-data-shared-prod/udf_js/bootstrap_percentile_ci/udf.sql
  sql/moz-fx-data-shared-prod/udf_js/gunzip/udf.sql
Due: validate-sql, validate-routines

[SVCSE-4076] Change GCS for UDF .js files to moz-fx-data-prod-bigquery-etl (#8734)
  sql/moz-fx-data-shared-prod/udf_js/bootstrap_percentile_ci/udf.sql
  sql/moz-fx-data-shared-prod/udf_js/gunzip/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/udf_js/bootstrap_percentile_ci/udf.sql
  sql/moz-fx-data-shared-prod/udf_js/gunzip/udf.sql
Due: validate-sql, validate-routines

Add section item processing in BigQuery (#8686)
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/query.sql
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/schema.yaml
Due: validate-sql

fix: Ignore Glean v2 schemas in `get_stable_table_schemas()` (DENG-10558).
  bigquery_etl/schema/stable_table_schema.py
  sql_generators/stable_views/__init__.py
Due: validate-bqetl, validate-sql

fix: Ignore Glean v2 schemas in `get_stable_table_schemas()` (DENG-10558). (#8735)
  bigquery_etl/schema/stable_table_schema.py
  sql_generators/stable_views/__init__.py
Due: validate-bqetl, validate-sql

[ci skip] Deployed 83710797bf with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add AGENTS.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

feat(DENG-10546): update apple_ads views to point to apple_ads_syndicate (#8731)
  sql/moz-fx-data-shared-prod/apple_ads/ad_group_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/campaign_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/keyword_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/organization_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/search_term_report/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios/ad_activation_performance/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/apple_ads/ad_group_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/ad_group_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/campaign_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/campaign_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/keyword_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/keyword_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/organization_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/organization_report/view.sql
  sql/moz-fx-data-shared-prod/apple_ads/search_term_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/search_term_report/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/events/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/messaging_system/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/update/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/ad_activation_performance/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/metrics/schema.yaml
Due: validate-sql

complete backfills
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

run sql_generators tests
  .circleci/config.yml
Due: validate-bqetl, validate-sql, validate-routines

Revert "run sql_generators tests"
  .circleci/config.yml
Due: validate-bqetl, validate-sql, validate-routines

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
