Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

[ci skip] Deployed 3b7cb02949 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-8594] Replace desktop_crashes view with firefox_crashes table (#7687)
  bigquery_etl/shredder/config.py
  dags.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/metadata.yaml
  sql_generators/desktop_crashes/templates/desktop_crashes.view.sql
  sql_generators/firefox_crashes/README.md
  sql_generators/firefox_crashes/__init__.py
  sql_generators/firefox_crashes/templates/firefox_crashes.query.sql
Due: validate-bqetl, validate-sql

Update bigquery_etl/shredder/config.py
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Bug 1957735 - Add search-with table to shredder
  bigquery_etl/shredder/config.py
Due: validate-bqetl

fix: metadata CODEOWNERS metadata validation in CI (#7730)
  CODEOWNERS
  bigquery_etl/metadata/validate_metadata.py
  tests/cli/test_cli_metadata.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_crashes.py
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/view.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_echo_show/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/schema.yaml
Due: validate-sql

[DENG-8594] Add desktop_crashes view back
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_crashes/view.sql
Due: validate-sql

oops
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/view.sql
Due: validate-sql

[DENG-8594] Add desktop_crashes view back (#7741)
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_crashes/view.sql
  sql/moz-fx-data-shared-prod/firefox_echo_show/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
Due: validate-sql

feat(DENG-9068): Create conversion_event_categorization_v2, add new table to shredder, update firefox.com gclid conversions to use conversion event categorization v2 (#7735)
  bigquery_etl/shredder/config.py
  sql/moz-fx-data-shared-prod/firefoxdotcom/desktop_conversion_events/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_desktop_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/gclid_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/gclid_conversions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v2/checks.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v2/query.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v2/schema.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed ee6497554a with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add deletion_request_v1
  bigquery_etl/shredder/config.py
Due: validate-bqetl

updating table name to accommodate upstream changes (#7377)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_interactions_hourly_v1/query.sql
Due: validate-sql

Bug 1957735 - Add search-with table to shredder (#7740)
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/gclid_conversions/schema.yaml
  sql/moz-fx-data-shared-prod/mach/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_interactions_hourly_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_interactions_hourly_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

[DENG-8594] Update workgroup access for telemetry.firefox_crashes
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

[DENG-8594] Update workgroup access for telemetry.firefox_crashes (#7743)
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_crashes/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat: build search_clients_daily_v9
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/query.sql
Due: validate-sql

fix: pass the params as multiple types (string and column name) into the composite_key check to work correctly with Bigeye query generation (#7739)
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.bigconfig.yml
Due: validate-sql

[ci skip] Deployed 00cadb60a3 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql
