Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

GLAM remove more unsupported pings
  script/glam/generate_glean_sql
Due: none

GLAM remove more unsupported pings (#8537)
  script/glam/generate_glean_sql
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/tls13_middlebox_repetition/schema.yaml
Due: validate-sql

Add placeholder query.py. Make schema descriptions required
  sql/moz-fx-data-shared-prod/forecasts_derived/mart_mozaic_daily_forecast_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/forecasts_derived/mart_mozaic_daily_forecast_v1/query.py
Due: validate-sql

Remove query.py as an attempt to fix circle ci error
  sql/moz-fx-data-shared-prod/forecasts_derived/mart_mozaic_daily_forecast_v1/query.py
Due: validate-sql

Revert "Remove query.py as an attempt to fix circle ci error"
  sql/moz-fx-data-shared-prod/forecasts_derived/mart_mozaic_daily_forecast_v1/query.py
Due: validate-sql

Try to fix circle ci error by removing view
  sql/moz-fx-data-shared-prod/forecasts/mart_mozaic_daily_forecast/view.sql
Due: validate-sql

chore(metadata-completeness): Add view level object descriptions
  sql/moz-fx-data-shared-prod/firefoxdotcom/ga_sessions/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads/android_app_campaign_stats/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads/glean_conversion_event_categorization/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/accessibility_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates_attribution/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates_device/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_rollup_shredder/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_names/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/adm_engagements_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/applications/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/crashes_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/daily_active_users_by_product_category/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_new_profiles/metadata.yaml
Due: validate-sql

chore(metadata-completeness): Add metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/ga_clients/metadata.yaml
Due: validate-sql

feat(DENG-10255): Delete mozilla_org.gclid_conversions & source tables since no longer used (#8531)
  sql/moz-fx-data-shared-prod/mozilla_org/gclid_conversions/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/gclid_conversions/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v3/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v3/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v3/schema.yaml
Due: validate-sql

chore(metadata-completeness): Add view level object descriptions (#8539)
  sql/moz-fx-data-shared-prod/firefoxdotcom/ga_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/ga_sessions/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads/android_app_campaign_stats/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads/glean_conversion_event_categorization/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/accessibility_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates_attribution/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates_device/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_rollup_shredder/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_names/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/adm_engagements_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/applications/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/crashes_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/daily_active_users_by_product_category/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_new_profiles/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_tables.py
  dags/bqetl_desktop_conv_evnt_categorization.py
  dags/bqetl_google_analytics_derived_ga4.py
  dags/bqetl_main_summary.py
  dags/bqetl_mozilla_org_derived.py
  sql/moz-fx-data-shared-prod/mozilla_org/gclid_conversions/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/gclid_conversions/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v3/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v3/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v3/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/tls13_middlebox_repetition/schema.yaml
Due: validate-sql

Added missing client id test
  tests/test_copy_deduplicate.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/ga_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/ga_sessions/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads/android_app_campaign_stats/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads/glean_conversion_event_categorization/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/accessibility_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates_attribution/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates_device/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_rollup_shredder/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_names/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/addons_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/adm_engagements_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/applications/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/crashes_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/daily_active_users_by_product_category/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_new_profiles/metadata.yaml
Due: validate-sql

Fix "day" to "date" in metadata
  sql/moz-fx-data-shared-prod/forecasts_derived/mart_mozaic_daily_forecast_v1/metadata.yaml
Due: validate-sql

initialize hourly model
  sql/moz-fx-data-shared-prod/firefox_desktop/report_content_live/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/report_content_live/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/report_content_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/report_content_live_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/report_content_live_v1/schema.yaml
Due: validate-sql

Change date column to DATE format
  sql/moz-fx-data-shared-prod/forecasts_derived/mart_mozaic_daily_forecast_v1/schema.yaml
Due: validate-sql

Bump pip-tools from 7.5.1 to 7.5.2
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

Add validator for level to Metadata class definitions.
  bigquery_etl/metadata/parse_metadata.py
  bigquery_etl/metadata/validate_metadata.py
  tests/cli/test_cli_metadata.py
Due: validate-bqetl

Support for deploying syndicated views to stage
  bigquery_etl/cli/stage.py
Due: validate-bqetl

test app store view deploys
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/app_store/firefox_app_store_territory_source_type_report/view.sql
Due: validate-sql, validate-routines

Don't publish or replace references of syndicate views in stage deploys
  bigquery_etl/cli/stage.py
Due: validate-bqetl

Address review feedback
  bigquery_etl/cli/stage.py
  bigquery_etl/view/__init__.py
Due: validate-bqetl

Formatting
  bigquery_etl/metadata/parse_metadata.py
  bigquery_etl/metadata/validate_metadata.py
  tests/cli/test_cli_metadata.py
Due: validate-bqetl

chore(metadata-completeness): Add metadata.yaml files for views
  sql/moz-fx-data-shared-prod/apple_ads/ad_group_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/campaign_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/organization_report/metadata.yaml
  sql/moz-fx-data-shared-prod/default_browser_agent/default_browser_agg/metadata.yaml
  sql/moz-fx-data-shared-prod/default_browser_agent/default_browser_agg_by_os/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/clients_yearly/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/feature_usage_events/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/firefox_android_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/locale_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/ltv_android_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/ltv_state_values/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/nimbus_recorded_targeting_context/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/enterprise_metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/locale_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/new_profiles_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research/fxqur_viewpoint_desktop/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research/fxqur_viewpoint_mobile/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/cohort_daily_churn/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/cohort_daily_statistics/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/cohort_weekly_statistics/metadata.yaml
  sql/moz-fx-data-shared-prod/stripe/itemized_tax_transactions/metadata.yaml
Due: validate-sql

Formatting
  tests/cli/test_cli_metadata.py
Due: validate-bqetl

feat(DENG-9088): Delete unused pocket related shared-prod datasets
  sql/moz-fx-data-shared-prod/pocket_dbt_facts/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/pocket_dbt_intermediate_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/pocket_dbt_scratch_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/pocket_dbt_snowplow_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/pocket_dbt_snowplow_manifest_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/pocket_dbt_snowplow_seed_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/pocket_dbt_staging_derived/dataset_metadata.yaml
Due: validate-sql

get schemas for tables that aren't in the repo
  bigquery_etl/cli/stage.py
Due: validate-bqetl

undo app store test
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/app_store/firefox_app_store_territory_source_type_report/view.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 0475354d35 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore(metadata-completeness): Add metadata.yaml files for views (#8541)
  sql/moz-fx-data-shared-prod/apple_ads/ad_group_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/campaign_report/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/organization_report/metadata.yaml
  sql/moz-fx-data-shared-prod/default_browser_agent/default_browser_agg/metadata.yaml
  sql/moz-fx-data-shared-prod/default_browser_agent/default_browser_agg_by_os/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/clients_yearly/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/feature_usage_events/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/firefox_android_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/locale_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/ltv_android_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/ltv_state_values/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/nimbus_recorded_targeting_context/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/enterprise_metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/locale_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/new_profiles_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research/fxqur_viewpoint_desktop/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research/fxqur_viewpoint_mobile/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/cohort_daily_churn/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/cohort_daily_statistics/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/cohort_weekly_statistics/metadata.yaml
  sql/moz-fx-data-shared-prod/stripe/itemized_tax_transactions/metadata.yaml
Due: validate-sql

feat: add back scheduling settings for firefox_ios_derived/app_store_choice_screen_selection_v1
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_selection_v1/metadata.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
