Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/stmo_external/events_v1/backfill.yaml
Due: validate-sql

Transfer table ownership from wichan to match DAG owners
  sql/moz-fx-data-shared-prod/default_browser_agent/default_browser_agg/metadata.yaml
  sql/moz-fx-data-shared-prod/default_browser_agent/default_browser_agg_by_os/metadata.yaml
  sql/moz-fx-data-shared-prod/default_browser_agent_derived/default_browser_agg_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/default_browser_agent_derived/default_browser_agg_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/pageload_1pct/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/pageload_nightly/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_defaultagent/default_agent_agg/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_defaultagent_derived/default_agent_agg_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_1pct_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_nightly_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigquery_table_storage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigquery_table_storage_timeline_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigquery_tables_inventory/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigquery_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_table_storage_timeline_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_table_storage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_tables_inventory_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_agg_by_default_browser_lifecycle_stage/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_agg_by_default_browser_lifecycle_stage_v1/metadata.yaml
  sql_generators/baseline_clients_city_seen_v1/templates/metadata.yaml
Due: validate-sql

Check last_seen_* nulls on rows updated each day
  sql_generators/baseline_clients_city_seen_v1/templates/bigconfig.yml
Due: validate-sql

fix(monitoring): Don't pass `warehouse_id` argument to `bigquery_bigeye_check` function. (#10000)
  bigquery_etl/query_scheduling/dag.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/data/dags/python_script_test_dag
Due: validate-bqetl, validate-sql

reference/scheduling: Document DAG tags field for impact/triage tracking
  docs/reference/scheduling.md
Due: none

reference/stage-deploys-continuous-integration: Note CI moved from CircleCI to GitHub Actions
  docs/reference/stage-deploys-continuous-integration.md
Due: none

mozfun/newtab: Note v1 lacks support for newer POSTNOVA layout types
  sql/mozfun/newtab/determine_tiles_per_row_v1/README.md
Due: validate-sql, validate-routines

mozfun/customer_experience: List all four current UDFs including cx_normalize_product
  sql/mozfun/customer_experience/README.md
Due: validate-sql, validate-routines

docs(DENG-11076): State onboarding_completed_clients coverage in the present tense
  sql/moz-fx-data-shared-prod/fenix/onboarding_completed_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/metadata.yaml
Due: validate-sql

docs(DENG-11076): State onboarding_completed_clients coverage in the present tense (#10001)
  sql/moz-fx-data-shared-prod/fenix/onboarding_completed_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/onboarding_completed_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/metadata.yaml
Due: validate-sql

remove file change checks and always run after sql generation
  .github/workflows/build.yml
Due: none

refactor(util): Change `resolve_project_file_path` to `resolve_project_subpath`.
  bigquery_etl/schema/__init__.py
  bigquery_etl/util/common.py
Due: validate-bqetl

fix(generate): Resolve the `sql_generators` directory path.
  bigquery_etl/cli/generate.py
Due: validate-bqetl

fix(generate): Allow for `default.sql_generators_dir` being set to an absolute path.
  bigquery_etl/cli/generate.py
Due: validate-bqetl

refactor(generate): Optimize `sql_generators` directory resolution for the common case of running `bqetl` commands in an ETL repo root.
  bigquery_etl/cli/generate.py
Due: validate-bqetl

fix(generate): Resolve the `sql_generators` directory path (#10003)
  bigquery_etl/cli/generate.py
  bigquery_etl/schema/__init__.py
  bigquery_etl/util/common.py
Due: validate-bqetl

[DENG-11704] Add views for stmo usage monitoring
  sql/moz-fx-data-shared-prod/monitoring/bigquery_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_query_dashboards/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_query_dashboards/view.sql
  sql/moz-fx-data-shared-prod/monitoring/stmo_table_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_table_usage/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/schema.yaml
Due: validate-sql

7
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/backfill.yaml
Due: validate-sql

90
  sql/moz-fx-data-shared-prod/monitoring/stmo_table_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_table_usage/view.sql
Due: validate-sql

Deng 10787 add google play store derived /vitals excessive wakeup rate v1 (#9991)
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_excessive_wakeup_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_excessive_wakeup_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_excessive_wakeup_rate_v1/schema.yaml
Due: validate-sql

[DENG-11704] Add views for stmo usage monitoring (#10002)
  sql/moz-fx-data-shared-prod/monitoring/bigquery_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_query_dashboards/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_query_dashboards/view.sql
  sql/moz-fx-data-shared-prod/monitoring/stmo_table_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_table_usage/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/events_stream/schema.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_excessive_wakeup_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_excessive_wakeup_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_excessive_wakeup_rate_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring/bigquery_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_query_dashboards/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_query_dashboards/view.sql
  sql/moz-fx-data-shared-prod/monitoring/stmo_table_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/stmo_table_usage/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/schema.yaml
Due: validate-sql

updated field import name from country to query
  sql/moz-fx-data-shared-prod/search_terms_derived/merino_queries_daily_v1/schema.yaml
Due: validate-sql

updated to use v4 view
  sql/moz-fx-data-shared-prod/search_terms_derived/merino_queries_daily_v1/query.sql
Due: validate-sql

[DENG-11704] Complete bigquery_usage_v2 backfill
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/backfill.yaml
Due: validate-sql

feat: DENG-11696 added new table and metadata for daily merino queries (#9979)
  sql/moz-fx-data-shared-prod/search_terms_derived/merino_queries_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/merino_queries_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/merino_queries_daily_v1/schema.yaml
Due: validate-sql

[DENG-11704] Complete bigquery_usage_v2 backfill (#10005)
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/backfill.yaml
Due: validate-sql

Backfill event_aggregates_suggest_v1 table
  sql/moz-fx-data-shared-prod/ads_derived/event_aggregates_suggest_v1/backfill.yaml
Due: validate-sql

chore: always run deprecated metadata check after sql generation (#9990)
  .github/workflows/build.yml
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/backfill.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/merino_queries_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/merino_queries_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/merino_queries_daily_v1/schema.yaml
Due: validate-sql

feat(marketing): Add GA4 firefox.com events, downloads and sessions aggregate tables
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_download_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_events_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/schema.yaml
Due: validate-sql

fix(marketing): Write ga4_sessions_metrics_v1 with a 3 day lag
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga4_sessions_metrics_v1/metadata.yaml
Due: validate-sql

refactor(monitoring): Restructure the monitoring config to support multiple settings per Bigeye workspace.
  bigquery_etl/cli/monitoring.py
  bigquery_etl/metadata/parse_metadata.py
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/bigeye_derived/collection_service_v1/query.py
  sql/moz-fx-data-shared-prod/bigeye_derived/dashboard_service_v1/query.py
  sql/moz-fx-data-shared-prod/bigeye_derived/issue_service_v1/query.py
  sql/moz-fx-data-shared-prod/bigeye_derived/metric_service_v1/query.py
  sql/moz-fx-data-shared-prod/bigeye_derived/virtual_table_service_v1/query.py
Due: validate-bqetl, validate-sql, validate-routines

refactor(monitoring): Change `_update_bigconfig` to `_add_default_metrics`.
  bigquery_etl/cli/monitoring.py
Due: validate-bqetl

fix(monitoring): Correct `test_update_existing_bigconfig` test.
  tests/cli/test_cli_monitoring.py
Due: validate-bqetl

test(monitoring): Test the Bigeye collection config logic (DENG-9600).
  tests/cli/test_cli_monitoring.py
  tests/data/test_sql/moz-fx-data-test-project/test/incremental_query_v1/metadata.yaml
Due: validate-bqetl
