Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

chore(DENG-11021): initiate remaining four tier 2 backfills
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_daily_churn_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_cfs_staging_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_churn_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_cfs_staging_v1/backfill.yaml
Due: validate-sql

chore(schema): add field descriptions for firefox_ios_derived (#9692)
  sql/moz-fx-data-shared-prod/firefox_ios_derived/baseline_clients_yearly_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/feature_usage_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/firefox_ios_derived.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/ltv_ios_aggregates_v1/schema.yaml
Due: validate-sql

DENG-11320: profile the most recent non-empty partition (last 12 months)
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

[DENG-10877] Support v1 glean tables that use the v2 schema (#9233)
  bigquery_etl/schema/stable_table_schema.py
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/event_error_monitoring.py
  sql_generators/stable_views/__init__.py
  sql_generators/stable_views_redacted/__init__.py
  tests/sql_generators/stable_views_redacted/test_stable_views_redacted.py
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/events/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_stable/baseline_v1/schema.yaml
  sql/moz-fx-data-shared-prod/pine/baseline/schema.yaml
  sql/moz-fx-data-shared-prod/pine/events/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/schema.yaml
Due: validate-sql

fix(search_terms_derived): resolve resources-exceeded in search_terms_daily_v1
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/query.sql
Due: validate-sql

fix(search_terms_derived): bound source window and document data gap
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/query.sql
Due: validate-sql

fix(search_terms_derived): resolve resources-exceeded in search_terms_daily_v1 (#9713)
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/search_terms_daily_v1/query.sql
Due: validate-sql

docs(backfill): update docs to illustrate when backfill is not needed
  docs/cookbooks/backfilling_a_table.md
Due: none

docs(backfill): clarify offset is unset
  docs/cookbooks/backfilling_a_table.md
Due: none

docs(backfill): update heading to clarify intent
  docs/cookbooks/backfilling_a_table.md
Due: none

Add desktop test
  tests/sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/test_carry_forward/moz-fx-data-shared-prod.fenix_derived.metrics_clients_last_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/moz-fx-data-shared-prod.firefox_desktop.metrics_clients_daily.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/moz-fx-data-shared-prod.firefox_desktop_derived.metrics_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/test_carry_forward/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/test_carry_forward/moz-fx-data-shared-prod.firefox_desktop.metrics_clients_daily.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/test_carry_forward/moz-fx-data-shared-prod.firefox_desktop_derived.metrics_clients_last_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/test_carry_forward/query_params.yaml
Due: validate-bqetl, validate-sql

fix(DENG-11397): restore carry-forward in metrics_clients_last_seen (#9707)
  sql_generators/glean_usage/templates/metrics_clients_last_seen.query.sql
  tests/sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/moz-fx-data-shared-prod.fenix.metrics_clients_daily.schema.json
  tests/sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/moz-fx-data-shared-prod.fenix_derived.metrics_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/test_carry_forward/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/test_carry_forward/moz-fx-data-shared-prod.fenix.metrics_clients_daily.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/test_carry_forward/moz-fx-data-shared-prod.fenix_derived.metrics_clients_last_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/test_carry_forward/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/moz-fx-data-shared-prod.firefox_desktop.metrics_clients_daily.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/moz-fx-data-shared-prod.firefox_desktop_derived.metrics_clients_last_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/test_carry_forward/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/test_carry_forward/moz-fx-data-shared-prod.firefox_desktop.metrics_clients_daily.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/test_carry_forward/moz-fx-data-shared-prod.firefox_desktop_derived.metrics_clients_last_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/test_carry_forward/query_params.yaml
Due: validate-bqetl, validate-sql

no longer consider surface in query
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/schema.yaml
Due: validate-sql

just de
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/schema.yaml
Due: validate-sql

chore(DENG-11344): complete backfill for fenix_derived.metrics_clients_daily_v1
  sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_daily_v1/backfill.yaml
Due: validate-sql

update UDF to account for different Nova variants
  sql/mozfun/newtab/determine_grid_layout_v1/README.md
  sql/mozfun/newtab/determine_grid_layout_v1/udf.sql
  sql/mozfun/newtab/determine_tiles_per_row_v1/README.md
  sql/mozfun/newtab/determine_tiles_per_row_v1/udf.sql
Due: validate-sql, validate-routines

robo comments
  sql/mozfun/newtab/determine_tiles_per_row_v1/README.md
  sql/mozfun/newtab/determine_tiles_per_row_v1/udf.sql
Due: validate-sql, validate-routines

chore(DENG-11344): complete backfill for fenix_derived.metrics_clients_daily_v1 (#9716)
  sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_daily_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_daily_v1/backfill.yaml
Due: validate-sql

docs(backfill): tighten and add clarification about specific table type
  docs/cookbooks/backfilling_a_table.md
Due: none

feat(DENG-11344): Aggregate Fenix [marketing] notifications allowed into `metrics_clients_last_seen`.
  sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/backfill.yaml
Due: validate-sql

docs(backfill): document when backfill is not required (#9710)
  docs/cookbooks/backfilling_a_table.md
Due: none

chore: add fxa passkeys (#9684)
  sql/moz-fx-data-shared-prod/accounts_backend_derived/monitoring_db_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_passkeys_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_passkeys_v1/query.sql
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_passkeys_v1/schema.yaml
Due: validate-sql

Add labels to jobs_by_organization
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/schema.yaml
Due: validate-sql

Fix various bugs in the shredder_progress view
  sql/moz-fx-data-shared-prod/monitoring/shredder_progress/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_backend/events_stream/view.sql
  sql/moz-fx-data-shared-prod/accounts_backend_derived/monitoring_db_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_backend_derived/monitoring_db_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_passkeys_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_passkeys_v1/query.sql
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_passkeys_v1/schema.yaml
Due: validate-sql

feat(DENG-11344): Aggregate Fenix [marketing] notifications allowed into `metrics_clients_last_seen`. (#9718)
  sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/backfill.yaml
Due: validate-sql

feat:Add fxa_multi_device_account_shape_daily_v1
  sql/moz-fx-data-shared-prod/firefox_accounts/fxa_multi_device_account_shape_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts/fxa_multi_device_account_shape_daily/view.sql
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_multi_device_account_shape_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_multi_device_account_shape_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_multi_device_account_shape_daily_v1/schema.yaml
Due: validate-sql

add start date to schedule
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_multi_device_account_shape_daily_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/backfill.yaml
Due: validate-sql

Get labels from jobs_by_org in bigquery_usage
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/query.sql
Due: validate-sql

Add labels to jobs_by_organization (#9719)
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/schema.yaml
Due: validate-sql

partition discovery skipped in dry-run
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/column_profiles_v1/query.py
Due: validate-sql

Fix sample query join
  sql/moz-fx-data-shared-prod/monitoring/shredder_progress/view.sql
Due: validate-sql

Update schemas for shredder sampling when copy fails
  bigquery_etl/shredder/delete.py
  tests/shredder/test_delete.py
Due: validate-bqetl

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
