Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Remove unnecessary pre-2025 logic
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/wwww_site_metrics_summary_v1/query.sql
Due: validate-sql

chore(SubPlat): Update view and ETL descriptions to mention Stripe data loss incident (DENG-754).
  sql/moz-fx-data-shared-prod/subscription_platform/daily_active_logical_subscriptions/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/daily_active_service_subscriptions/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/logical_subscription_events/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/logical_subscriptions/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/monthly_active_logical_subscriptions/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/monthly_active_service_subscriptions/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscription_events/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscriptions/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_daily_active_logical_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_daily_active_service_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_logical_subscription_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_monthly_active_logical_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_monthly_active_service_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_service_subscription_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_v2/metadata.yaml
Due: validate-sql

feat(DENG-8676): Build ga_sessions for Firefox.com (#7566)
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_sessions_v1/script.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/wwww_site_metrics_summary_v1/query.sql
Due: validate-sql

add www to view name and source table
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_hits/view.sql
Due: validate-sql

add files for firefox.com www_site_hits (#7565)
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_hits/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_hits_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_hits_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_ga4_firefoxdotcom.py
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_sessions_v1/script.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/wwww_site_metrics_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

initial add of files
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_landing_page_metrics/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_landing_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_landing_page_metrics_v1/schema.yaml
Due: validate-sql

DENG-8758-Add app_name for newtab views
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/view.sql
Due: validate-sql

feat: create glean-only v2 versions of experiment datasets (#7557)
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_cumulative_population_estimate_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_cumulative_population_estimate_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_other_events_overall_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_other_events_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_overall_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_unenrollment_overall_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_unenrollment_overall_v2/view.sql
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v2/metadata.yaml
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v2/query.sql
  sql_generators/experiment_monitoring/templates/templating.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_ga4_firefoxdotcom.py
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/deletion_request/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/deletion_request/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_hits/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_hits/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_hits/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_sessions_v1/script.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_hits_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_hits_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/wwww_site_metrics_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

initial add of files
  sql/moz-fx-data-shared-prod/firefoxdotcom/gclid_conversions/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/gclid_conversions_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/gclid_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/gclid_conversions_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_experiments_daily.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/experiment_events_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/experiment_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/deletion_request/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/deletion_request/view.sql
  sql/moz-fx-data-shared-prod/firefox_reality_pc/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_cumulative_population_estimate_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_cumulative_population_estimate_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_other_events_overall_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_other_events_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_overall_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_unenrollment_overall_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_unenrollment_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiments_daily_active_clients_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiments_daily_active_clients_v2/query.sql
Due: validate-sql

Remove status badge from README (#7500)
  README.md
Due: none

[ci skip] Deployed 53341f26df with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat: add README to mobile_kpi_support_metrics generator (#7518)
  sql_generators/mobile_kpi_support_metrics/README.md
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

DENG-8758-Add app_name for newtab views (#7569)
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_clients_daily_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/view.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Add UDF approx_percentile_distinct_disc
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_explores_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_models_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_unused_explores_v1/schema.yaml
  sql/moz-fx-data-shared-prod/udf/looker_approx_percentile_distinct_disc/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/looker_approx_percentile_distinct_disc/udf.sql
Due: validate-sql, validate-routines

feat: Glean Dictionary - add auto page_load events for FxA
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/daily_auto_events_metadata_v1/query.sql
Due: validate-sql

Add formatted pageload events with allow-list
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/daily_auto_events_metadata_v1/query.sql
Due: validate-sql

[DENG-8625] Add views for Looker usage tables (#7563)
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_explores/view.sql
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_models/view.sql
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_unused_explores/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_explores_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_explores_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_models_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_models_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_unused_explores_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_unused_explores_v1/schema.yaml
  sql/moz-fx-data-shared-prod/udf/looker_approx_percentile_distinct_disc/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/looker_approx_percentile_distinct_disc/udf.sql
Due: validate-sql, validate-routines

initial add of files (#7568)
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_landing_page_metrics/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_landing_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_landing_page_metrics_v1/schema.yaml
Due: validate-sql

feat: add final views for enrollment dashboard fully glean
  sql/moz-fx-data-shared-prod/telemetry/experiment_enrollment_cumulative_population_estimate_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/experiment_enrollment_daily_active_population_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/experiment_enrollment_other_events_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/experiment_enrollment_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/experiment_unenrollment_overall_v2/view.sql
Due: validate-sql

add files for firefoxdotcom.www_site_page_metrics_v1 and view
  sql/moz-fx-data-shared-prod/firefoxdotcom/www_site_page_metrics/view.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_page_metrics_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 5532fd7a5c with MkDocs version: 1.6.1
  moz-fx-data-shared-prod/udf/index.html
  search/search_index.json
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_explores/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_explores/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_explores/view.sql
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_models/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_models/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_models/view.sql
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_unused_explores/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_unused_explores/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/looker_usage_unused_explores/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_explores_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_explores_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_models_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_models_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_unused_explores_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_usage_unused_explores_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/udf/looker_approx_percentile_distinct_disc/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/looker_approx_percentile_distinct_disc/udf.sql
Due: validate-sql, validate-routines

feat: add final views for enrollment dashboard fully glean (#7572)
  sql/moz-fx-data-shared-prod/telemetry/experiment_enrollment_cumulative_population_estimate_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/experiment_enrollment_daily_active_population_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/experiment_enrollment_other_events_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/experiment_enrollment_overall_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/experiment_unenrollment_overall_v2/view.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
