Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

feat(mdn): add legacy_{action,page}_v1 views
  sql/moz-fx-data-shared-prod/mdn/legacy_action_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_action_v1/query.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_page_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_page_v1/query.sql
Due: validate-sql

chore(mdn): refine descriptions
  sql/moz-fx-data-shared-prod/mdn/events_stream_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_action_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_page_v1/metadata.yaml
Due: validate-sql

fix(mdn): use event_extra.type for extra source
  sql/moz-fx-data-shared-prod/mdn/legacy_action_v1/query.sql
Due: validate-sql

feat(DENG-9583): Enumerate clients_daily_joined_v1 columns
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

rename to view.sql and remove v1
  sql/moz-fx-data-shared-prod/mdn/events_stream/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/events_stream/view.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_action/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_action/view.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_page/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_page/view.sql
Due: validate-sql

fix(mdn/legacy_action): name is clicked, not click
  sql/moz-fx-data-shared-prod/mdn/legacy_action/view.sql
Due: validate-sql

retrieve only records with non-null profile_group_ids
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

feat(mdn): add events_stream + legacy_action + legacy_page views (#8054)
  sql/moz-fx-data-shared-prod/mdn/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/events_stream/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/events_stream/view.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_action/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_action/view.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_page/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_page/view.sql
Due: validate-sql

[ci skip] Deployed 974fb79ea8 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-9520] Add * event extra to event monitoring and create backfill
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/backfill_deng9520.sql
  sql_generators/glean_usage/templates/event_monitoring_aggregates_v1.query.sql
  sql_generators/glean_usage/templates/event_monitoring_live_v1.materialized_view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/mdn/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/events_stream/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/events_stream/schema.yaml
  sql/moz-fx-data-shared-prod/mdn/events_stream/view.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_action/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_action/schema.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_action/view.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_page/metadata.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_page/schema.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_page/view.sql
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Correct field name in request_payload_suggest_v2
  sql/moz-fx-data-shared-prod/contextual_services_derived/request_payload_suggest_v2/query.sql
Due: validate-sql

[DENG-9520] Add * event extra to event monitoring and create backfill (#8063)
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/backfill_deng9520.sql
  sql_generators/glean_usage/templates/event_monitoring_aggregates_v1.query.sql
  sql_generators/glean_usage/templates/event_monitoring_live_v1.materialized_view.sql
Due: validate-sql

Correct field name in request_payload_suggest_v2 (#8064)
  sql/moz-fx-data-shared-prod/contextual_services_derived/request_payload_suggest_v2/query.sql
Due: validate-sql

[DENG-9426] Use local schemas for glean_app_ping_views and implement retry mechanism to get schema
  sql_generators/glean_usage/glean_app_ping_views.py
Due: validate-sql

Add base client_info.{attribution|distribution} to events_stream
  sql_generators/glean_usage/templates/events_stream_v1.query.sql
Due: validate-sql

feat(monitoring): Make Bigeye freshness & volume monitoring configurable (DENG-9443).
  bigquery_etl/cli/monitoring.py
  bigquery_etl/metadata/parse_metadata.py
Due: validate-bqetl

Add base client_info.{attribution|distribution} to events_stream (#8066)
  sql_generators/glean_usage/templates/events_stream_v1.query.sql
Due: validate-sql

[DENG-7005] Update qualify_table_references to work with newer sqlglot
  bigquery_etl/util/common.py
  tests/util/test_common.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/contextual_services_derived/request_payload_suggest_v2/query.sql
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

up sqlglot
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

Update sql_generators/glean_usage/glean_app_ping_views.py
  sql_generators/glean_usage/glean_app_ping_views.py
Due: validate-sql

add table to config
  bqetl_project.yaml
Due: validate-sql, validate-routines

update all code to include only allowed apps
  sql_generators/glean_usage/events_first_seen.py
Due: validate-sql

change url field name to match previous table
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/corpus_items_current_v1/view.sql
Due: validate-sql

feat(monitoring): Make Bigeye freshness & volume monitoring configurable (DENG-9443). (#8067)
  bigquery_etl/cli/monitoring.py
  bigquery_etl/metadata/parse_metadata.py
Due: validate-bqetl

fix(monitoring): Remove SubPlat ETLs' Bigeye freshness and volume metrics (DENG-9400).
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_changelog_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_changelog_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_history_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_changelog_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_changelog_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_attribution_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_attribution_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_attribution_v2/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_attribution_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_service_subscriptions_attribution_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_service_subscriptions_attribution_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_service_subscriptions_attribution_v2/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_service_subscriptions_attribution_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/metadata.yaml
Due: validate-sql

Add support for unquoted hyphenated project names in sql formatter
  bigquery_etl/format_sql/tokenizer.py
  tests/format_sql/qualified_table_name/expect.sql
  tests/format_sql/qualified_table_name/input.sql
Due: validate-bqetl

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
