Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

[DENG-10249] Filter out false positives in shredder_targets
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_new_mismatched_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
Due: validate-sql

[DENG-10249] Filter out false positives in shredder_targets (#8511)
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_new_mismatched_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
Due: validate-sql

feat(DENG-10253): Delete mozilla_org.desktop_conversion_events view since no longer needed
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_new_mismatched_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
Due: validate-sql

Fix YAML formatting
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/metadata.yaml
Due: validate-sql

Fix YAML formatting
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_frames_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_symbolicated_v1/metadata.yaml
Due: validate-sql

feat(DENG-10254): Delete mozilla_org_derived.ga_desktop_conversions_v1
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/schema.yaml
Due: validate-sql

Change datasets to tmp versions
  sql/moz-fx-data-shared-prod/tmp_forecasts/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/tmp_forecasts_derived/dataset_metadata.yaml
Due: validate-sql

feat(DENG-10253): Delete mozilla_org.desktop_conversion_events view (#8512)
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_frames_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_symbolicated_v1/metadata.yaml
Due: validate-sql

Remove forecast, which I thought already happened
  sql/moz-fx-data-shared-prod/forecasts/dataset_metadata.yaml
Due: validate-sql

feat(DENG-10254): Delete mozilla_org_derived.ga_desktop_conversions_v1 (#8513)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/schema.yaml
Due: validate-sql

[DENG-10266] Speed up query formatting by caching config
  bigquery_etl/format_sql/format.py
Due: validate-bqetl

trigger formatting
  sql/moz-fx-data-shared-prod/accounts_backend/accounts/view.sql
Due: validate-sql

Undo formatting
  sql/moz-fx-data-shared-prod/accounts_backend/accounts/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
Due: validate-sql

[DENG-10266] Speed up query formatting by caching config (#8514)
  bigquery_etl/format_sql/format.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_census_feed.py
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_desktop_conversions_v1/schema.yaml
Due: validate-sql

feat: remove submission_date field to avoid confusion, tou date is the field we want to use as a date field
  sql_generators/terms_of_use/templates/terms_of_use_status_v1/bigconfig.yml.jinja
  sql_generators/terms_of_use/templates/terms_of_use_status_v1/metadata.yaml.jinja
  sql_generators/terms_of_use/templates/terms_of_use_status_v1/query.sql.jinja
  sql_generators/terms_of_use/templates/terms_of_use_status_v1/schema.yaml.jinja
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/firefox_desktop_derived/terms_of_use_status_v1/bigconfig.yml
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/firefox_desktop_derived/terms_of_use_status_v1/metadata.yaml
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/firefox_desktop_derived/terms_of_use_status_v1/query.sql
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/firefox_desktop_derived/terms_of_use_status_v1/schema.yaml
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/firefox_ios_derived/terms_of_use_status_v1/bigconfig.yml
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/firefox_ios_derived/terms_of_use_status_v1/metadata.yaml
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/firefox_ios_derived/terms_of_use_status_v1/query.sql
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/firefox_ios_derived/terms_of_use_status_v1/schema.yaml
Due: validate-bqetl, validate-sql

feat: update the new_profile_clients view template to use materialized table instead of doing the processing itself
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.view.sql
Due: validate-sql

fix: add additional spelling of country name for code ST
  sql/moz-fx-data-shared-prod/static/country_names_v1/data.csv
Due: validate-sql

fix: add new name for country code ST inside country_code_lookup generator
  sql_generators/country_code_lookup/aliases.yaml
Due: validate-sql

feat: delete country_names_v1/data.csv to avoid confusion, this file is generated by country_code_lookup generator
  sql/moz-fx-data-shared-prod/static/country_names_v1/data.csv
  sql/moz-fx-data-shared-prod/static/country_names_v1/metadata.yaml
Due: validate-sql

fix: add new name for country code ST inside country_code_lookup generator (#8518)
  sql_generators/country_code_lookup/aliases.yaml
Due: validate-sql

[ci skip] Deployed 683f17af2a with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[run-tests] Fix get_table_schemas for views
  bigquery_etl/dryrun.py
  bigquery_etl/schema/__init__.py
  sql_generators/README.md
  sql_generators/glean_usage/glean_app_ping_views.py
Due: validate-bqetl, validate-sql

[run-tests] undo schema changes
  bigquery_etl/dryrun.py
  bigquery_etl/schema/__init__.py
  bigquery_etl/schema/stable_table_schema.py
  tests/test_dryrun.py
Due: validate-bqetl

Address feedback
  .circleci/workflows.yml
  bigquery_etl/dryrun.py
Due: validate-bqetl, validate-sql, validate-routines

Fix for_table to use caching
  bigquery_etl/dryrun.py
  bigquery_etl/schema/__init__.py
  bigquery_etl/schema/stable_table_schema.py
  tests/test_dryrun.py
Due: validate-bqetl

[run-tests] Dryrun get query and table schema
  bigquery_etl/dryrun.py
Due: validate-bqetl

Dryrun caching
  bigquery_etl/cli/query.py
  bigquery_etl/dryrun.py
  bigquery_etl/schema/__init__.py
  bigquery_etl/schema/stable_table_schema.py
  bqetl_project.yaml
  sql_generators/glean_usage/glean_app_ping_views.py
  tests/test_dryrun.py
Due: validate-bqetl, validate-sql, validate-routines

feat: delete country_names_v1/data.csv to avoid confusion, this file is generated by country_code_lookup generator (#8519)
  sql/moz-fx-data-shared-prod/static/country_names_v1/data.csv
  sql/moz-fx-data-shared-prod/static/country_names_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed 1df9c76779 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat: update the new_profile_clients view template to use materialized table instead of doing the processing itself (#8516)
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.view.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
