Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/remote_settings_logs_agggregates_syndicate/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

fixup: feat(DENG-8567): create a dataset syndicate for Remote Settings CDN logs aggregates
  sql/moz-fx-data-shared-prod/remote_settings_logs_agggregates_syndicate/dataset_metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/remote_settings_logs_agggregates_syndicate/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/remote_settings_logs_agggregates_syndicate/dataset_metadata.yaml
Due: validate-sql

fixup: feat(DENG-8567): create a dataset syndicate for Remote Settings CDN logs aggregates (#7586)
  sql/moz-fx-data-shared-prod/remote_settings_logs_agggregates_syndicate/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/remote_settings_logs_agggregates_syndicate/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

fix(DENG-8567): fix remote settings syndicate dataset name
  sql/moz-fx-data-shared-prod/remote_settings_logs_aggregates_syndicate/dataset_metadata.yaml
Due: validate-sql

fix(DENG-8567): fix remote settings syndicate dataset name (#7588)
  sql/moz-fx-data-shared-prod/remote_settings_logs_aggregates_syndicate/dataset_metadata.yaml
Due: validate-sql

chore(SubPlat): Update comments about waiting for bqetl_subplat_hourly DAG tasks for clarity.
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/funnel_product_page_to_subscribed_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v1/metadata.yaml
Due: validate-sql

update date, dag name, descriptions
  dags.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/new_profiles_aggregates_v1/metadata.yaml
Due: validate-sql

Add people project
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/query.py
Due: validate-sql

Add poke_interval and timeout option to task sensors
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_per_job_stats_v1/metadata.yaml
  tests/query_scheduling/test_task.py
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/remote_settings_logs_aggregates_syndicate/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

feat(DENG-8498): build firefox_desktop_derived.new_profiles_aggregates_v1 table (#7574)
  dags.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/new_profiles_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/new_profiles_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/new_profiles_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/new_profiles_aggregates_v1/schema.yaml
Due: validate-sql

Add people project (#7589)
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/query.py
Due: validate-sql

Remove test changes
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_usage_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_per_job_stats_v1/metadata.yaml
Due: validate-sql

feat(DENG-8339): migrate stg_reviewed_corpus_items from snowflake
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/stg_reviewed_corpus_items_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/stg_reviewed_corpus_items_v1/query.sql
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/stg_reviewed_corpus_items_v1/schema.yaml
Due: validate-sql

Add poke_interval and timeout option to task sensors (#7590)
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/query_scheduling/test_task.py
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_tables.py
  dags/bqetl_firefox_desktop_new_profiles_aggregates.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/new_profiles_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/new_profiles_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/new_profiles_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/new_profiles_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/new_profiles_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/jobs_by_organization_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/new_profiles_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
Due: validate-sql

feat: add --ignore-missing-metadata to the hook args
  .pre-commit-config.yaml
Due: none

feat: add validate_multiple() to backfill.yaml and corresponding tests to allow for pre-commit hook to work with multiple backfill.yaml changes
  .pre-commit-config.yaml
  bigquery_etl/cli/backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

feat: update backfill validate to not use exit(1) sys calls and instead raise exceptions, remove --no-exit flag
  bigquery_etl/backfill/validate.py
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

feat: add bqetl_backfill_validate pre-commit hook
  .pre-commit-config.yaml
  bigquery_etl/cli/backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

feat: revert argument naming and add a comment to include context for the additional logic
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

feat: add validate_multiple() to backfill.yaml and corresponding tests to allow for pre-commit hook to work with multiple backfill.yaml changes
  bigquery_etl/cli/backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

feat: update the file pattern used to detect on which files to run bqetl_backfill_validate pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: add back exclude line to the bqetl_format hook (was removed accidentally)
  .pre-commit-config.yaml
Due: none

feat: add bqetl_backfill_validate pre-commit hook (#7477)
  .pre-commit-config.yaml
  bigquery_etl/backfill/validate.py
  bigquery_etl/cli/backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

[ci skip] Deployed 2c5241889f with MkDocs version: 1.6.1
  bqetl/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none
