Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/services_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

feat(DENG-9817): Add search_count_all to firefox_desktop.metrics_clients_daily (#8210)
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql

bug: replace spoc tile id reference to current table
  sql/moz-fx-data-shared-prod/activity_stream/impression_stats_by_experiment/view.sql
  sql/moz-fx-data-shared-prod/activity_stream/impression_stats_flat/view.sql
Due: validate-sql

Add new Amazon Prime days (#8214)
  sql/moz-fx-data-shared-prod/external/holidays/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat(DENG-9816): Add search_count_all to firefox_desktop_derived.metrics_clients_last_seen_v1"
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/schema.yaml
  sql_generators/glean_usage/templates/metrics_clients_last_seen.query.sql
Due: validate-sql

chore(metadata-completeness): Add schema.yaml and metadata.yaml for mozilla_org.desktop_conversion_events
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/external/holidays/view.sql
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat(DENG-9816): Add search_count_all to firefox_desktop_derived.metrics_clients_last_seen_v1" (#8216)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/schema.yaml
  sql_generators/glean_usage/templates/metrics_clients_last_seen.query.sql
Due: validate-sql

Update query
  sql/moz-fx-data-shared-prod/google_ads_derived/glean_conversion_event_categorization_v1/query.sql
Due: validate-sql

Undo accidental change
  sql/moz-fx-data-shared-prod/google_ads_derived/glean_conversion_event_categorization_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

fix(SubPlat): Incorporate PayPal refunds in logical subscription `has_refunds` column logic (DENG-9799).
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/query.sql
Due: validate-sql

DO-2075 Added fenix and desktop baseline city seen tables (#7974)
  bqetl_project.yaml
  dags.yaml
  sql_generators/baseline_clients_city_seen_v1/__init__.py
  sql_generators/baseline_clients_city_seen_v1/templates/metadata.yaml
  sql_generators/baseline_clients_city_seen_v1/templates/query.sql
  sql_generators/baseline_clients_city_seen_v1/templates/schema.yaml
  sql_generators/baseline_clients_city_seen_v1/templates/view.sql
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/moz-fx-data-shared-prod.firefox_desktop_derived.baseline_clients_city_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/moz-fx-data-shared-prod.firefox_desktop_live.baseline_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/moz-fx-data-shared-prod.firefox_desktop_stable.baseline_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_derived.baseline_clients_city_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_live.baseline_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/test_aggregation/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/test_init/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/test_init/moz-fx-data-shared-prod.firefox_desktop_stable.baseline_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/test_init/query_params.yaml
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_baseline_clients_city_seen.py
  sql/moz-fx-data-shared-prod/fenix/baseline_clients_city_seen/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/baseline_clients_city_seen/view.sql
  sql/moz-fx-data-shared-prod/fenix_derived/baseline_clients_city_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/baseline_clients_city_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/baseline_clients_city_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_clients_city_seen/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_clients_city_seen/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_city_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Apply suggestion from @caugner
  sql/moz-fx-data-shared-prod/mdn_yari_derived/mdn_popularities_v1/query.py
Due: validate-sql

chore(mdn_popularities): use mdn.event_stream view (#8032)
  sql/moz-fx-data-shared-prod/mdn_yari_derived/mdn_popularities_v1/query.py
Due: validate-sql

chore(mdn): coalesce some NULL values into empty string (#8101)
  sql/moz-fx-data-shared-prod/mdn/legacy_action/view.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_page/view.sql
Due: validate-sql

[ci skip] Deployed 0334d358e3 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/mdn/legacy_action/view.sql
  sql/moz-fx-data-shared-prod/mdn/legacy_page/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

work in progress
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/glean_gclid_conversions_v1/query.sql
Due: validate-sql

Add more columns to global.yaml
  bigquery_etl/schema/global.yaml
Due: validate-bqetl

Add adjust_network to global.yaml
  bigquery_etl/schema/global.yaml
Due: validate-bqetl

adding initial files for claude - bigquery-etl PoC
  .claude/settings.json
  CLAUDE.md
  HACK_WEEK_SLACK_CONTENT.md
  README-CLAUDE-CODE.md
Due: none

deleting slack content file
  HACK_WEEK_SLACK_CONTENT.md
Due: none

Add column descriptions to review_checker_events_v1
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/review_checker_events_v1/schema.yaml
Due: validate-sql

skip dry run due to permissioning
  bqetl_project.yaml
Due: validate-sql, validate-routines

fix(Google Search Console): Wait an extra day before expecting Google Search Console export data to exist.
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v2/metadata.yaml
Due: validate-sql

bug: replace spoc tile id reference to current table (#8215)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/activity_stream/impression_stats_by_experiment/view.sql
  sql/moz-fx-data-shared-prod/activity_stream/impression_stats_flat/view.sql
Due: validate-sql, validate-routines

fix(Google Search Console): Wait an extra day before expecting Google Search Console export data to exist. (#8220)
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v2/metadata.yaml
Due: validate-sql

chore(metadata-completeness): Add column descriptions
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_items_daily_v1/schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

add app_store_funnel to dry run skip list
  bqetl_project.yaml
Due: validate-sql, validate-routines
