Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Disable monitoring for this backfill dataset (#7033)
  sql/moz-fx-data-shared-prod/backfills_staging_derived/baseline_clients_last_seen_v1_20211130/metadata.yaml
Due: validate-sql

Add legacy sources to rolling_cohorts_v2 delete sources - shredder mitigation (#7034)
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Update dag name
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/metadata.yaml
Due: validate-sql

formatting
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/query.sql
Due: validate-sql

Update metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/backfills_staging_derived/baseline_clients_last_seen_v1_20211130/bigconfig.yml
  sql/moz-fx-data-shared-prod/backfills_staging_derived/baseline_clients_last_seen_v1_20211130/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat: tweaks for desktop views to be generated correctly
  sql_generators/usage_reporting/__init__.py
  sql_generators/usage_reporting/templates/channel.view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

DENG-7859 - Desktop MozillaOnline for Baseline Clients Daily (#7021)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/schema.yaml
Due: validate-sql

Update rolling_cohorts_v2
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/schema.yaml
Due: validate-sql

Fix schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/schema.yaml
Due: validate-sql

Remove trailing space in metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_tables.py
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events/apps_auto_events_metadata/schema.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events/daily_auto_events_metadata/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Add Focus additional deletions to rolling_cohorts_v2 shredder mitigation config
  bigquery_etl/shredder/config.py
Due: validate-bqetl

DENG-7859 - Backfill Legacy to GLEAN distribution ID mapping table
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/backfill.yaml
Due: validate-sql

Fix comment
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
Due: validate-sql

fix: Mark `bqetl` as not compatible with Python 3.12 or later (#7025)
  README.md
  bqetl
  pyproject.toml
Due: none

fix(DENG-2986) Minor tweaks to new rolling_cohorts_v2 and cohort_daily_statistics_v2 tables (#7035)
  bigquery_etl/shredder/config.py
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/schema.yaml
Due: validate-bqetl, validate-sql

Clean up redundant code from backfill cli tests
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

DENG-7859 - Backfill Legacy to GLEAN distribution ID mapping table (#7036)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Clean up redundant code from backfill cli tests (#7037)
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_cohort_retention.py
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/schema.yaml
Due: validate-sql

Add dataset for Looker dashboard performance
  sql/moz-fx-data-shared-prod/monitoring/looker_dashboard_load_times/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_dashboard_load_times_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_dashboard_load_times_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_dashboard_load_times_v1/schema.yaml
Due: validate-sql

Add fog_decision_support_percentiles_v1 to dry run skip
  bqetl_project.yaml
Due: validate-sql, validate-routines

Create new DAG
  dags.yaml
Due: validate-sql

Add to exclusion list
  bqetl_project.yaml
Due: validate-sql, validate-routines

Add to shredder mitigation
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

DENG-7859 - Complete backfill for Legacy to GLEAN distribution ID mapping table
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed e456eda6ce with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
