Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

feat(DENG-8120): model various schedule rates over time and surface
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/scheduled_articles_report_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/scheduled_articles_report_v1/query.sql
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/scheduled_articles_report_v1/schema.yaml
Due: validate-sql

feat(DENG-8889): increase snowflake migration DAG frequency to hourly
  dags.yaml
Due: validate-sql

query fix to preserve left join
  sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/query.sql
Due: validate-sql

updating query to respect GBQ partitions
  sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/adm_daily_dma_aggregates_v1/test_single_day/moz-fx-data-shared-prod.search_terms_derived.suggest_impression_sanitized_v3.yaml
Due: validate-bqetl, validate-sql

refactor(CI): Have `generate-dags` job generate and persist all DAGs.
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

feat(SubPlat): Implement `apple_subscriptions_changelog_v1` ETL.
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_changelog_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_changelog_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_changelog_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_changelog_v1/schema.yaml
Due: validate-sql, validate-routines

Revert "Skip generating event monitoring for sync pings (#7659)"
  bqetl_project.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed 548f994144 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Revert "Skip generating event monitoring for sync pings (#7659)" (#7667)
  bqetl_project.yaml
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

[DENG-7602] Add row counts to stable_and_derived_table_sizes
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/query.py
Due: validate-sql

[ci skip] Deployed 1ca294525f with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-7602] Add row counts to stable_and_derived_table_sizes (#7668)
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/query.py
Due: validate-sql

Add Amazon Prime Summer Sale 2025
  sql/moz-fx-data-shared-prod/external/holidays/view.sql
Due: validate-sql

Set default dest project in stable_and_derived_table_sizes
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/query.py
Due: validate-sql

Cancel expired new_profile_activation_clients_v1 backfill
  bigquery_etl/backfill/parse.py
  sql/moz-fx-data-shared-prod/fenix_derived/new_profile_activation_clients_v1/backfill.yaml
Due: validate-bqetl, validate-sql

Cancel expired new_profile_activation_clients_v1 backfill (#7671)
  bigquery_etl/backfill/parse.py
  sql/moz-fx-data-shared-prod/fenix_derived/new_profile_activation_clients_v1/backfill.yaml
Due: validate-bqetl, validate-sql

Set default dest project in stable_and_derived_table_sizes (#7670)
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/query.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/fenix_derived/new_profile_activation_clients_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Add depends_on option for Fivetran tasks
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/data/dags/simple_test_dag
  tests/query_scheduling/test_dag_collection.py
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/stable_and_derived_table_sizes/schema.yaml
Due: validate-sql

Add trigger_rule support for Fivetran tasks
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/data/dags/simple_test_dag
  tests/query_scheduling/test_dag_collection.py
Due: validate-bqetl, validate-sql

fix(GLAM): Histogram probe_counts collapse on range_min and max
  bigquery_etl/glam/templates/probe_counts_v1.sql
Due: validate-bqetl

fix(GLAM): Histogram probe_counts collapse on range_min and max (#7673)
  bigquery_etl/glam/templates/probe_counts_v1.sql
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Add Amazon Prime Summer Sale 2025 (#7665)
  sql/moz-fx-data-shared-prod/external/holidays/view.sql
Due: validate-sql
