Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

feat: add app_store_choice_screen_engagement_v1 query to firefox_ios_derived
  requirements.in
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/query.py
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/schema.yaml
Due: validate-sql

feat: add app_store_choice_screen_engagement_v1 query to firefox_ios_derived (#6525)
  requirements.in
  requirements.txt
  sql/moz-fx-data-shared-prod/firefox_ios/app_store_choice_screen_engagement/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/query.py
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/schema.yaml
Due: validate-bqetl, validate-sql, validate-routines

fix: update mdn_yari_derived/mdn_popularities_v1
  sql/moz-fx-data-shared-prod/mdn_yari_derived/mdn_popularities_v1/query.py
Due: validate-sql

Update query.py
  bigquery_etl/cli/query.py
Due: validate-bqetl

Fix formatting
  bigquery_etl/cli/query.py
Due: validate-bqetl

add override retention range
  tests/cli/test_cli_query.py
Due: validate-bqetl

Add new place for testing new retention limit
  tests/cli/test_cli_retention.py
Due: validate-bqetl

Add override retention = true for old tests
  tests/cli/test_cli_query.py
Due: validate-bqetl

fix formatting
  tests/cli/test_cli_query.py
Due: validate-bqetl

Fix last test in test_cli_query
  tests/cli/test_cli_query.py
Due: validate-bqetl

test updating test_cli_backfill test
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

remove old comments
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

remove change that didn't work
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

fix: update mdn_yari_derived/mdn_popularities_v1 (#6563)
  sql/moz-fx-data-shared-prod/mdn_yari_derived/mdn_popularities_v1/query.py
Due: validate-sql

Add overwrite parameter to managed backfills.
  bigquery_etl/backfill/parse.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

fix: remove trailing slash and add issued at to payload
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/query.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/mdn_yari_derived/mdn_popularities_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

fix: remove trailing slash and add issued at to payload (#6564)
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/query.py
Due: validate-sql

Fix backfill.py formatting
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

Fix parse.py formatting
  bigquery_etl/backfill/parse.py
Due: validate-bqetl

Fix query.py formatting
  bigquery_etl/cli/query.py
Due: validate-bqetl

update test_parse_backfill.py
  tests/backfill/test_parse_backfill.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/ads/fakespot_daily_events_rollup/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

mess with tests
  tests/backfill/test_parse_backfill.py
Due: validate-bqetl

remove comment
  tests/backfill/test_parse_backfill.py
Due: validate-bqetl

chore: fix app_store_choice_screen_engagement_v1 secrets
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/metadata.yaml
Due: validate-sql

Initial commit, work in progress
  bigquery_etl/backfill/parse.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  tests/cli/test_cli_backfill.py
  tests/cli/test_cli_query.py
Due: validate-bqetl

fix: replace escaped new line char with new line char
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/query.py
Due: validate-sql

chore: fix app_store_choice_screen_engagement_v1 secrets (#6565)
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_choice_screen_engagement_v1/metadata.yaml
Due: validate-sql

Update test to show new expected override retention limit is false by default when not specified
  tests/backfill/test_parse_backfill.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

update test_to_yaml expected results to include new override_retention_limit
  tests/backfill/test_parse_backfill.py
Due: validate-bqetl

Update test_backfill_str test to include new flag
  tests/backfill/test_parse_backfill.py
Due: validate-bqetl
