Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  dags/bqetl_sync_metrics.py
  dags/copy_deduplicate_task_markers.py
Due: none

fix formatting for schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_product_result_type_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_product_result_type_v1/schema.yaml
Due: validate-sql

fix(sumo_metrics): make running_backlog count all open bugs (#9501)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/query.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/schema.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_bugzilla_kpis/view.sql
Due: validate-sql

Backfill Kitsune retrieval table. (#9508)
  sql/moz-fx-data-shared-prod/customer_experience_derived/kitsune_retrieval_index_v1/backfill.yaml
Due: validate-sql

Backfill Zendesk retrieval table. (#9509)
  sql/moz-fx-data-shared-prod/customer_experience_derived/zendesk_retrieval_index_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/query.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/schema.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_bugzilla_kpis/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/customer_experience_derived/kitsune_retrieval_index_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/customer_experience_derived/zendesk_retrieval_index_v1/backfill.yaml
Due: validate-sql

Add norm.is_mozillaonline UDF and fix desktop_active_users view
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/view.sql
  sql/mozfun/norm/is_mozillaonline/README.md
  sql/mozfun/norm/is_mozillaonline/metadata.yaml
  sql/mozfun/norm/is_mozillaonline/udf.sql
Due: validate-sql, validate-routines

removing global updates
  bigquery_etl/schema/global.yaml
Due: validate-bqetl

removing base schema
  bigquery_etl/schema/telemetry_derived.yaml
Due: validate-bqetl

Address review feedback on norm.is_mozillaonline UDF
  sql/mozfun/norm/is_mozillaonline/udf.sql
Due: validate-sql, validate-routines

reverting formatting on existing descriptions
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_attribution_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_device_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/addons_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cfs_ga4_attr_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_event_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_joined_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_scalar_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_28_days_later_v1/schema.yaml
Due: validate-sql

Add --target support for backfills
  bigquery_etl/backfill/utils.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  docs/cookbooks/backfilling_a_table.md
  docs/cookbooks/development_workflows.md
  tests/cli/test_cli_backfill.py
  tests/cli/test_cli_query.py
Due: validate-bqetl

fix(sumo_metrics): Complete Backfill for Bugzilla data
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/backfill.yaml
Due: validate-sql

removing single quote
  sql/moz-fx-data-shared-prod/telemetry_derived/cfs_ga4_attr_v1/schema.yaml
Due: validate-sql

adding description for nested column
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_joined_v1/schema.yaml
Due: validate-sql

feat(FxA): Reschedule new `bqetl_accounts_db` DAG to run every three hours.
  dags.yaml
  sql/moz-fx-data-shared-prod/accounts_backend_derived/monitoring_db_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_derived/accounts_aggregates_v1/metadata.yaml
Due: validate-sql

chore(FxA): Assign new ETLs added in #9339 and #9466 to the `bqetl_accounts_db*` DAGs.
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_deleted_accounts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_domain_blocklist_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_email_blocklist_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_oauth_account_authorizations_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_nonprod_external/fxa_deleted_accounts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_nonprod_external/fxa_domain_blocklist_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_nonprod_external/fxa_email_blocklist_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_db_nonprod_external/fxa_oauth_account_authorizations_v1/metadata.yaml
Due: validate-sql

chore(FxA): Update the start dates of the `bqetl_accounts_db*` DAGs.
  dags.yaml
Due: validate-sql

fix(sumo_metrics): Complete Backfill for Bugzilla data (#9515)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/backfill.yaml
Due: validate-sql

chore(schema): add field descriptions for telemetry_derived (#9511)
  sql/moz-fx-data-shared-prod/telemetry_derived/accessibility_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_attribution_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_device_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/addons_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cfs_ga4_attr_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_event_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_joined_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_scalar_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_28_days_later_v1/schema.yaml
Due: validate-sql

Add norm.is_mozillaonline UDF and fix desktop_active_users view (#9514)
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/view.sql
  sql/mozfun/norm/is_mozillaonline/README.md
  sql/mozfun/norm/is_mozillaonline/metadata.yaml
  sql/mozfun/norm/is_mozillaonline/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/bugzilla_tickets_base_v1/backfill.yaml
Due: validate-sql

chore(schema): add field descriptions for telemetry_derived.clients_histogram_aggregates_v2
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v2/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for telemetry_derived.clients_histogram_bucket_counts_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_bucket_counts_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for telemetry_derived.clients_last_seen_event_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_event_v1/schema.yaml
Due: validate-sql

clean up tests
  bigquery_etl/cli/backfill.py
  bigquery_etl/util/target.py
  tests/cli/test_cli_backfill.py
  tests/cli/test_cli_query.py
  tests/util/test_target.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/accessibility_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_attribution_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_device_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/addons_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cfs_ga4_attr_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_event_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_joined_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_scalar_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_28_days_later_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/view.sql
  sql/mozfun/norm/is_mozillaonline/README.md
  sql/mozfun/norm/is_mozillaonline/metadata.yaml
  sql/mozfun/norm/is_mozillaonline/udf.sql
Due: validate-sql, validate-routines

chore(schema): add field descriptions for telemetry_derived.clients_last_seen_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for telemetry_derived.clients_last_seen_joined_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_joined_v1/schema.yaml
Due: validate-sql

chore(schema): add field descriptions for telemetry_derived.clients_last_seen_v2
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/schema.yaml
Due: validate-sql
