Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

fix(schema): correct fenix_derived field descriptions flagged in review
  sql/moz-fx-data-shared-prod/fenix_derived/ltv_android_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/nimbus_recorded_targeting_context_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/profile_dau_metrics_marketing_geo_testing_v1/schema.yaml
Due: validate-sql

experiment name and region are set in a struct at the top of the query
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/schema.yaml
Due: validate-sql

Fix various bugs in the shredder_progress view (#9720)
  sql/moz-fx-data-shared-prod/monitoring/shredder_progress/view.sql
Due: validate-sql

Add overview to managed backfill doc
  docs/cookbooks/backfilling_a_table.md
Due: none

fix
  docs/cookbooks/backfilling_a_table.md
Due: none

Add example PR and mention bqetl backfill create interactive cli
  docs/cookbooks/backfilling_a_table.md
Due: none

Add overview to managed backfill doc (#9733)
  docs/cookbooks/backfilling_a_table.md
Due: none

feat(nimbus): write dated + latest GCS files with v1 versioning
  bigquery_etl/nimbus_sizing/__init__.py
  tests/nimbus_sizing/test_nimbus_sizing.py
Due: validate-bqetl

feat(jira): add event schema and changelog/comment mapping
  bigquery_etl/jira/events.py
  tests/jira/test_events_mapping.py
Due: validate-bqetl

feat(jira): fetch changelog and comment events per issue
  bigquery_etl/jira/events.py
  tests/jira/test_events_api.py
Due: validate-bqetl

refactor(jira): extract shared JiraClient with retry and pagination
  bigquery_etl/jira/client.py
  bigquery_etl/jira/issues.py
  tests/jira/__init__.py
  tests/jira/test_client.py
  tests/jira/test_issues.py
Due: validate-bqetl

feat(jira): stream events to BigQuery via temp NDJSON
  bigquery_etl/jira/events.py
  tests/jira/test_events_load.py
Due: validate-bqetl

refactor(jira): move srein_events_v1 into its own jira_events_derived dataset
  sql/moz-fx-data-shared-prod/jira_events_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/query.py
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/schema.yaml
Due: validate-sql

feat(jira): add srein_events_v1 ticket events table
  sql/moz-fx-data-shared-prod/jira_tickets_derived/srein_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/jira_tickets_derived/srein_events_v1/query.py
  sql/moz-fx-data-shared-prod/jira_tickets_derived/srein_events_v1/schema.yaml
Due: validate-sql

fix(jira): close data-loss and duplication holes in the events integration
  bigquery_etl/jira/client.py
  bigquery_etl/jira/events.py
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/query.py
  tests/jira/test_client.py
  tests/jira/test_events_api.py
  tests/jira/test_events_load.py
  tests/jira/test_events_mapping.py
  tests/jira/test_events_run.py
  tests/jira/test_schema_contract.py
Due: validate-bqetl, validate-sql

feat(jira): add events integration entry point with seed and daily modes
  bigquery_etl/jira/__init__.py
  bigquery_etl/jira/events.py
  tests/jira/test_events_run.py
Due: validate-bqetl

fix(jira): require explicit write disposition for bounded seed runs
  bigquery_etl/jira/events.py
  tests/jira/test_events_run.py
Due: validate-bqetl

fix(nimbus): address bot review — all issues and suggestions
  bigquery_etl/cli/__init__.py
  bigquery_etl/nimbus_sizing/__init__.py
  sql/moz-fx-data-shared-prod/experimenter/nimbus_draft_sizing_v1/metadata.yaml
  tests/nimbus_sizing/test_nimbus_sizing.py
Due: validate-bqetl, validate-sql

fix(nimbus): fix linter failures — black, flake8, mypy, pydocstyle
  bigquery_etl/nimbus_sizing/__init__.py
  tests/nimbus_sizing/__init__.py
  tests/nimbus_sizing/test_nimbus_sizing.py
Due: validate-bqetl

fix(nimbus): fix black/isort — merge docstring, merge google.cloud import
  bigquery_etl/nimbus_sizing/__init__.py
Due: validate-bqetl

Update __init__.py
  bigquery_etl/nimbus_sizing/__init__.py
Due: validate-bqetl

style(nimbus): apply black formatting
  bigquery_etl/nimbus_sizing/__init__.py
Due: validate-bqetl

refactor(nimbus): write snapshot of current run only — Experimenter owns staleness
  bigquery_etl/nimbus_sizing/__init__.py
  tests/nimbus_sizing/test_nimbus_sizing.py
Due: validate-bqetl

fix(test): check copy_blob for latest path, not bucket.blob call_args
  tests/nimbus_sizing/test_nimbus_sizing.py
Due: validate-bqetl

Remove Bigeye check for n_metrics_ping
  sql_generators/glean_usage/templates/metrics_clients_last_seen.bigconfig.yml
Due: validate-sql

fix(jira): address PR review feedback on the events integration
  bigquery_etl/jira/__init__.py
  bigquery_etl/jira/client.py
  bigquery_etl/jira/events.py
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/query.py
  tests/jira/test_client.py
  tests/jira/test_events_mapping.py
  tests/jira/test_events_run.py
Due: validate-bqetl, validate-sql

feat: add version column to fct_suggest_impressions_daily_v1 (#9730)
  sql/moz-fx-data-shared-prod/search_terms_derived/fct_suggest_impressions_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/fct_suggest_impressions_daily_v1/schema.yaml
Due: validate-sql

Remove Bigeye check for n_metrics_ping (#9737)
  sql_generators/glean_usage/templates/metrics_clients_last_seen.bigconfig.yml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/search_terms_derived/fct_suggest_impressions_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/fct_suggest_impressions_daily_v1/schema.yaml
Due: validate-sql

fix(jira): remove unreachable raise left by hoisting the jql guard
  bigquery_etl/jira/events.py
Due: validate-bqetl

refactor(jira): drop the --jql flag instead of guarding it
  bigquery_etl/jira/events.py
  tests/jira/test_events_run.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix_derived/metrics_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update_derived/metrics_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/metrics_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter_derived/metrics_clients_last_seen_v1/bigconfig.yml
Due: validate-sql

refactor(jira): remove chunked seeding and the write-disposition flags
  bigquery_etl/jira/events.py
  tests/jira/test_events_load.py
  tests/jira/test_events_run.py
Due: validate-bqetl

feat(jira): store comment bodies and stop redacting description changes
  bigquery_etl/jira/adf.py
  bigquery_etl/jira/events.py
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/jira_events_derived/srein_events_v1/schema.yaml
  tests/jira/test_adf.py
  tests/jira/test_events_mapping.py
Due: validate-bqetl, validate-sql

feat(DENG-11237): export referral totals CSV to GCS
  bigquery_etl/referral_export/__init__.py
  dags.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_to_gcs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_to_gcs_v1/query.py
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_to_gcs_v1/schema.yaml
Due: validate-bqetl, validate-sql

refactor(DENG-11237): move data checks to Bigeye; scope totals filter to 2026
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_v1/query.sql
Due: validate-sql

fix(DENG-11237): address review on referral GCS export
  bigquery_etl/referral_export/__init__.py
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_to_gcs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_to_gcs_v1/schema.yaml
Due: validate-bqetl, validate-sql

feat(DENG-11237): add Firefox Referral Program install-counts pipeline (#9724)
  dags.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/test_desktop_referral/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/test_desktop_referral/moz-fx-data-shared-prod.firefox_desktop_derived.baseline_clients_first_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/test_desktop_referral/moz-fx-data-shared-prod.firefox_desktop_derived.baseline_clients_first_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/test_desktop_referral/moz-fx-data-shared-prod.stub_attribution_service_derived.dl_token_ga_attribution_lookup_v2.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/test_desktop_referral/moz-fx-data-shared-prod.stub_attribution_service_derived.dl_token_ga_attribution_lookup_v2.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/test_desktop_referral/moz-fx-data-shared-prod.telemetry.ga4_sessions_firefoxcom_mozillaorg_combined.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/test_desktop_referral/moz-fx-data-shared-prod.telemetry.ga4_sessions_firefoxcom_mozillaorg_combined.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_daily_v1/test_desktop_referral/query_params.yaml
Due: validate-bqetl, validate-sql

fix(DENG-11237): drop schema.yaml + destination_table:null for GCS export
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_to_gcs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_referral_derived/referral_installs_totals_to_gcs_v1/schema.yaml
Due: validate-sql
