Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

fix(CI): Don't use SQL from `deploy-changes-to-stage` CI job in `validate-metadata` CI job.
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

fix(CI): Don't use SQL from `deploy-changes-to-stage` CI job in `validate-metadata` CI job. (#8684)
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

feat: update addons_by_clients to use the new addons ping
  sql/moz-fx-data-shared-prod/amo_glean/addons/metatada.yaml
  sql/moz-fx-data-shared-prod/amo_glean/addons/view.sql
  sql/moz-fx-data-shared-prod/amo_glean_derived/fenix_addons_by_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_glean_derived/fenix_addons_by_client_v1/query.sql
  sql/moz-fx-data-shared-prod/amo_glean_derived/fenix_addons_by_client_v1/schema.yaml
  sql/moz-fx-data-shared-prod/amo_glean_derived/firefox_desktop_addons_by_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/amo_glean_derived/firefox_desktop_addons_by_client_v1/query.sql
  sql/moz-fx-data-shared-prod/amo_glean_derived/firefox_desktop_addons_by_client_v1/schema.yaml
  sql/moz-fx-data-shared-prod/amo_glean_derived/stats_dau_v1/query.sql
Due: validate-sql

Update active_users_aggregates level for Desktop (#8643)
  sql_generators/active_users_aggregates_v4/templates/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/metadata.yaml
Due: validate-sql

DENG-4097 - Remove references to main_v4 and its variants
  bigquery_etl/query_scheduling/task.py
Due: validate-bqetl, validate-sql

DENG-4097 - Remove references to main_v4 and its variants (#8685)
  bigquery_etl/query_scheduling/task.py
Due: validate-bqetl, validate-sql

Add allow_field_addition option to metadata
  bigquery_etl/cli/query.py
  bigquery_etl/metadata/parse_metadata.py
  docs/reference/recommended_practices.md
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/docker_fxa_admin_server_sanitized_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/docker_fxa_customs_sanitized_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_auth_bounce_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_auth_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_content_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_oauth_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_stdout_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/daily_ad_group_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/daily_ad_group_stats_v1/schema.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/daily_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/daily_campaign_stats_v1/schema.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
Due: validate-sql

Remove google ads syndication
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/docker_fxa_admin_server_sanitized_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/docker_fxa_customs_sanitized_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/daily_ad_group_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/daily_ad_group_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/daily_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/daily_campaign_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/google_ads_syndicate/dataset_metadata.yaml
Due: validate-sql

Update tests
  bigquery_etl/cli/view.py
  bigquery_etl/view/__init__.py
  tests/view/test_view.py
Due: validate-bqetl

Add section item processing
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/section_items_v1/schema.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/query.sql
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/schema.yaml
Due: validate-sql

fix type issue with deactivated_at
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/query.sql
Due: validate-sql

chore(shredder): use nimbus user id metric to shred cirrus
  bigquery_etl/shredder/config.py
Due: validate-bqetl

chore(shredder): use nimbus user id metric to shred cirrus (#8688)
  bigquery_etl/shredder/config.py
Due: validate-bqetl

histogram_generate_linear_buckets: Ensure the 0 bucket is not created twice
  sql/mozfun/glam/histogram_generate_linear_buckets/udf.sql
Due: validate-sql, validate-routines

complete reported content backfill
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_content_reported_content_v1/backfill.yaml
Due: validate-sql

add started_reason field
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/schema.yaml
Due: validate-sql

complete reported content backfill (#8691)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_content_reported_content_v1/backfill.yaml
Due: validate-sql

move level inside labels.
  bigquery_etl/metadata/parse_metadata.py
  bigquery_etl/metadata/validate_metadata.py
  tests/cli/test_cli_metadata.py
Due: validate-bqetl

[ci skip] Deployed cf83dba664 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat: add paid_vs_organic_gclid to the attribution_clients.view tempalte
  sql_generators/mobile_kpi_support_metrics/templates/attribution_clients.view.sql
Due: validate-sql

Address review feedback
  bigquery_etl/cli/query.py
  bigquery_etl/metadata/parse_metadata.py
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_beta_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_nightly_v1/metadata.yaml
Due: validate-bqetl, validate-sql

fxa allow_field_additions
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/recent_fxa_gcp_stderr_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/recent_fxa_gcp_stdout_events_v1/metadata.yaml
Due: validate-sql

fix metadata derived_from
  bigquery_etl/metadata/parse_metadata.py
Due: validate-bqetl

Update sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
