Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Fixes for auto-approving forks
  .github/workflows/build.yml
  .github/workflows/fork-gate.yml
Due: none

[DENG-4042] Delete backfill test tables
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/schema.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/query.sql
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/schema.yaml
Due: validate-sql

resolve merge conflicts
  .github/workflows/build.yml
Due: none

Fix "
  .github/workflows/build.yml
Due: none

Address claude review
  .github/workflows/build.yml
Due: none

Update codeowners to add more coverage for search terms
  CODEOWNERS
Due: none

add new package to enable: DENG-11081
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

add new package to enable: DENG-11081 (#9364)
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

Fixes for auto-approving forks (#9362)
  .github/workflows/build.yml
  .github/workflows/fork-gate.yml
Due: none

[DENG-4042] Delete backfill test tables (#9363)
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/schema.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/query.sql
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/schema.yaml
Due: validate-sql

feat(DENG-10722): add to/enhance urlbar_events_v2 (#9246)
  sql_generators/urlbar_events/templates/desktop_query.sql
  sql_generators/urlbar_events/templates/schema.yaml
  sql_generators/urlbar_events/templates/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/backfill_test_v1/schema.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/query.sql
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/backfill_test_v1/schema.yaml
Due: validate-sql

Undo test changes
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/query.sql
  sql/moz-fx-data-shared-prod/customer_experience/kitsune_retrieval_index/view.sql
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

Update codeowners to add more coverage for search terms (#9365)
  CODEOWNERS
Due: none

Skip fork CI tasks
  .github/workflows/build.yml
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/urlbar_events/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/schema.yaml
Due: validate-sql

Use target-based deploys for stage deploys (#9350)
  .github/workflows/build.yml
  bigquery_etl/cli/__init__.py
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/routine.py
  bigquery_etl/cli/target.py
  bigquery_etl/util/target.py
  tests/util/test_target.py
Due: validate-bqetl

feat(nimbus): Experiment enrollment funnel data
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_funnel_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_funnel_v1/query.py
Due: validate-sql

address review: fix partition pruning, mozdata ref, date param, dedup CTEs
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_funnel_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_funnel_v1/query.py
Due: validate-sql

skip stage deploy for GCS exporter query.py scripts in moz-fx-data-experiments/monitoring
  bqetl_project.yaml
Due: validate-sql, validate-routines

add schema.yaml so stage deploy uses schema directly instead of dry-running query.py
  bqetl_project.yaml
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_funnel_v1/schema.yaml
Due: validate-sql, validate-routines

update backfill end_date
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

update reason
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

fix(enrollment-funnel): add app_name to PARTITION BY and guard empty min_start_date
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_funnel_v1/query.py
Due: validate-sql

fix(enrollment-funnel): add _v1 suffix to GCS output filenames
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_funnel_v1/query.py
Due: validate-sql

fix(enrollment-funnel): use normandy_slug instead of experimenter_slug for join
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_funnel_v1/query.py
Due: validate-sql

Update end_date for backfill in YAML file
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

Update backfill date in urlbar_events_v2 YAML
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

feat: initiate backfill for firefox_desktop nimbus feature monitoring tables
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_aboutwelcome_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_address_autofill_feature_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_backgroundtaskmessage_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_featurecallout_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_bmb_button_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_16_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_1_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_20_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_21_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_22_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_7_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_infobar_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabadsizingexperiment_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabinferredpersonalization_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabmerinoohttp_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabprivateping_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabpromocard_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabsectionsexperiment_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabsponsoredcontent_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabtrainhop_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabtrainhopaddon_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_pocketnewtab_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_preonboarding_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_urlbar_v1/backfill.yaml
Due: validate-sql

fix: update backfill end_date to 2026-05-13 to close date gap
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_aboutwelcome_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_address_autofill_feature_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_backgroundtaskmessage_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_featurecallout_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_bmb_button_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_16_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_1_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_20_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_21_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_22_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_fxms_message_7_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_infobar_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabadsizingexperiment_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabinferredpersonalization_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabmerinoohttp_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabprivateping_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabpromocard_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabsectionsexperiment_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabsponsoredcontent_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabtrainhop_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_newtabtrainhopaddon_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_pocketnewtab_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_preonboarding_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/nimbus_feature_monitoring_urlbar_v1/backfill.yaml
Due: validate-sql

feat(fxci): add worker usage data
  sql/moz-fx-data-shared-prod/fxci/worker_costs/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci/worker_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci/worker_usage/view.sql
  sql/moz-fx-data-shared-prod/fxci_derived/worker_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_usage_v1/query.sql
  sql/moz-fx-data-shared-prod/fxci_derived/worker_usage_v1/schema.yaml
Due: validate-sql

feat(fxci): attribute task costs across clouds
  sql/moz-fx-data-shared-prod/fxci_derived/task_run_costs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/task_run_costs_v1/query.sql
  sql/moz-fx-data-shared-prod/fxci_derived/task_run_costs_v1/schema.yaml
Due: validate-sql

feat: add primary and foreign key functionality
  bigquery_etl/deploy.py
  bigquery_etl/schema/__init__.py
  docs/cookbooks/creating_a_derived_dataset.md
  tests/schema/test_schema.py
Due: validate-bqetl

update view to remove precomuted percentages and add fields that can be aggregated in Looker Studio
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_zendesk_sla_kpis/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_zendesk_sla_kpis/view.sql
Due: validate-sql

feat(DENG-11100): Create new base table zendesk_ticket_sla_v1 + KPI View (#9338)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_zendesk_sla_kpis/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_zendesk_sla_kpis/view.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_ticket_sla_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_ticket_sla_v1/query.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_ticket_sla_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_sumo_metrics.py
Due: none

uncomment out projects that were pending merging of PR-9091 which has since been merged
  sql/moz-fx-data-shared-prod/github_derived/pr_embeddings_v1/metadata.yaml
Due: validate-sql

chore(DENG-10722): initiate backfill for urlbar_events_v2 (#9258)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql
