Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/query.sql
Due: validate-sql

[ci skip] Deployed e77c8ff90d with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

DENG-9744: Add support to boolean type to GLAM
  sql/moz-fx-glam-prod/glam_etl/glam_fenix_beta_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fenix_nightly_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fenix_release_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fog_beta_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fog_nightly_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fog_release_aggregates/view.sql
Due: validate-sql

DENG-9744: Add support to boolean type to GLAM (#8160)
  sql/moz-fx-glam-prod/glam_etl/glam_fenix_beta_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fenix_nightly_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fenix_release_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fog_beta_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fog_nightly_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_fog_release_aggregates/view.sql
Due: validate-sql

deng_9513 initial add of files for glean cohort_weekly_statistics
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/schema.yaml
Due: validate-sql

deng_9513 initial add of files for glean cohort_weekly_statistics (#8161)
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_cohort_retention.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_telemetry_derived/cohort_weekly_statistics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

reworking win10 users to handle duplication and create braze sync table
  sql/moz-fx-data-shared-prod/braze_derived/fxa_win10_users_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/fxa_win10_users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/win10_users_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/win10_users_sync_v1/query.sql
Due: validate-sql

Bug 1990074 - Exclude deprecated apps from event monitoring
  bqetl_project.yaml
  sql_generators/glean_usage/event_monitoring_live.py
Due: validate-sql, validate-routines

removed depends on
  sql_generators/baseline_clients_city_seen_v1/templates/metadata.yaml
Due: validate-sql

Update sql_generators/baseline_clients_city_seen_v1/__init__.py
  sql_generators/baseline_clients_city_seen_v1/__init__.py
Due: validate-sql

changes
  sql_generators/glean_usage/event_monitoring_live.py
Due: validate-sql

Added allow apps in config
  bqetl_project.yaml
  sql_generators/baseline_clients_city_seen_v1/__init__.py
Due: validate-sql, validate-routines

Bug 1990074 - Exclude deprecated apps from event monitoring (#8162)
  bqetl_project.yaml
  sql_generators/glean_usage/event_monitoring_live.py
Due: validate-sql, validate-routines

Add column descriptions to glean_telemetry.active_users view
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users/view.sql
  sql_generators/glean_usage/event_monitoring_live.py
Due: validate-sql, validate-routines

[ci skip] Deployed 713dc60e7c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1990006 - Create an initial ETL workflow for gecko-trace component
  dags.yaml
  sql/mozfun/gecko_trace/build_root_span/README.md
  sql/mozfun/gecko_trace/build_root_span/metadata.yaml
  sql/mozfun/gecko_trace/build_root_span/udf.sql
  sql/mozfun/gecko_trace/calculate_signature/README.md
  sql/mozfun/gecko_trace/calculate_signature/metadata.yaml
  sql/mozfun/gecko_trace/calculate_signature/udf.sql
  sql_generators/gecko_trace/README.md
  sql_generators/gecko_trace/__init__.py
  sql_generators/gecko_trace/templates/aggregates/dataset_metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/view.sql
  sql_generators/gecko_trace/templates/aggregates/spans/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/spans/view.sql
  sql_generators/gecko_trace/templates/aggregates/traces/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/traces/view.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/schema.yaml
Due: validate-sql, validate-routines

fix(MO-2386): Delete deprecated ios_app_campaign_stats_v1 table & associated view
  sql/moz-fx-data-shared-prod/apple_ads/ios_app_campaign_stats/view.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/schema.yaml
Due: validate-sql

fix(MO-2386): Delete deprecated ios_app_campaign_stats_v1 table & associated view (#8164)
  sql/moz-fx-data-shared-prod/apple_ads/ios_app_campaign_stats/view.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/schema.yaml
Due: validate-sql

chore(metadata-completeness): Add column descriptions for glean_telemetry.active_users view
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users/schema.yaml
Due: validate-sql

[DENG-6243] Use event_monitoring_live in aggregates query
  sql_generators/glean_usage/event_monitoring_live.py
  sql_generators/glean_usage/templates/event_monitoring_aggregates_v1.metadata.yaml
  sql_generators/glean_usage/templates/event_monitoring_aggregates_v1.query.sql
Due: validate-sql

Add metadata.yaml for glean_telemetry.active_users
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users/metadata.yaml
Due: validate-sql

Add column descriptions to telemetry.active_users
  sql/moz-fx-data-shared-prod/telemetry/active_users/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users/schema.yaml
Due: validate-sql

change user initiated logic
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/query.sql
Due: validate-sql

Add metadata for desktop_active_users
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/metadata.yaml
Due: validate-sql

Add column descriptions for telemetry.desktop_active_users view
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/schema.yaml
Due: validate-sql

[ci skip] Deployed d448911673 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add MLK Jr Day to final view
  sql/moz-fx-data-shared-prod/external/holidays/view.sql
Due: validate-sql

Add Dia De Los Muertos
  sql/moz-fx-data-shared-prod/external/holidays/view.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
