Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Fix CI error
  bqetl_project.yaml
Due: validate-sql, validate-routines

feat(glam): support labeled distributions (#6600)
  bigquery_etl/glam/clients_daily_histogram_aggregates.py
  bigquery_etl/glam/templates/clients_daily_histogram_aggregates_v1.sql
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

feat(DENG-6550): Create new aggregate table and corresponding DAG
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_installer_aggregates/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/schema.yaml
Due: validate-sql

Add clustering fields
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/metadata.yaml
Due: validate-sql

feat(DENG-6550): Create new Firefox Installer Aggregate table (#6602)
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_installer_aggregates/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_firefox_installer_aggregates.py
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_installer_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_installer_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/firefox_installer_aggregates/view.sql
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/schema.yaml
Due: validate-sql

feat: move all bigeye metric definition under the same definition as the same collection is used
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.bigconfig.yml
Due: validate-sql

feat: move all bigeye metric definition under the same definition as the same collection is used (#6606)
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.bigconfig.yml
Due: validate-sql

[ci skip] Deployed e505d031f3 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

fix: reduce lookback window for COUNT_DUPLICATES metric, it looks like with interval 1 we look at two submission_dates
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.bigconfig.yml
Due: validate-sql

fix: reduce lookback window for COUNT_DUPLICATES metric, it looks like with interval 1 we look at two submission_dates (#6607)
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.bigconfig.yml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_defaultagent_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/net_thunderbird_android_beta_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/net_thunderbird_android_daily_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/net_thunderbird_android_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_connect_firefox_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_klar_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_lockbox_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_klar_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_reference_browser_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_social_nightly_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_tv_firefox_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_vrbrowser_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/pine_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop_derived/baseline_clients_last_seen_v1/bigconfig.yml
Due: validate-sql

feat: Remove org_mozilla_ios_focus_derived bigconfig as it is now part of the generator
  sql/moz-fx-data-shared-prod/org_mozilla_ios_focus_derived/baseline_clients_last_seen_v1/bigconfig.yml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat: Remove org_mozilla_ios_focus_derived bigconfig as it is now part of the generator (#6609)
  sql/moz-fx-data-shared-prod/org_mozilla_ios_focus_derived/baseline_clients_last_seen_v1/bigconfig.yml
Due: validate-sql

Update checks.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/checks.sql
Due: validate-sql

Change ownership from Frank to Katie for DAG
  dags.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_focus_derived/baseline_clients_last_seen_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Update dags.yaml
  dags.yaml
Due: validate-sql

Update checks.sql for android_app_campaign_stats_v1 since this was changed to run incrementally (#6610)
  dags.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/checks.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_fivetran_google_ads.py
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/checks.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Add requirements to integrate/test Ads data using Kevel's api.
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

Add requirements to integrate/test Ads data using Kevel's api. (#6611)
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

temporarily remove bigeye checks until we can write a new bigconfig yaml file with the 28 day lag needed
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/checks.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/metadata.yaml
Due: validate-sql

Temporarily remove from ios_campaign_stats_v1 since needs a fix with 28 day lag
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
Due: validate-sql

fix: Temporarily remove bigeye checks on android_app_campaign_stats_v1 & ios_app_campaign_stats_v1 until we can update with 28 day lookback (#6612)
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/checks.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_fivetran_google_ads.py
  dags/bqetl_ios_campaign_reporting.py
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/checks.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

Adding first_seen tables to retention exclusion list (#6601)
  bqetl_project.yaml
Due: validate-sql, validate-routines
