Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

chore: remove snowplow external dataset DBT access
  sql/moz-fx-data-shared-prod/snowplow_external/dataset_metadata.yaml
Due: validate-sql

chore: remove snowplow external dataset DBT access (#8592)
  sql/moz-fx-data-shared-prod/snowplow_external/dataset_metadata.yaml
Due: validate-sql

add windows_build_number since normalized_os_version is 10.0 for Win 10 and 11
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/events_first_seen_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/moz-fx-data-shared-prod.firefox_desktop_derived.events_first_seen_v1.schema.json
Due: validate-bqetl, validate-sql

Add new schema.yaml file on glean_telemetry.active_users_aggregates & bronze label
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/schema.yaml
Due: validate-sql

Add additional descriptions to the new schema.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/schema.yaml
Due: validate-sql

deng_10311 Add files for crash_aggregates_v1 (#8590)
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/README.md
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/schema.yaml
Due: validate-sql

Add more info to metadata.yaml for glean_telemetry.active_users_aggregates
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/snowplow_external/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_crashes.py
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/README.md
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/schema.yaml
Due: validate-sql

Add schema.yaml to glean_telemetry.active_users_aggregates view (#8593)
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/schema.yaml
Due: validate-sql

fix(SubPlat): Handle `plan_change_date` values with milliseconds (bug 2005610).
  sql/moz-fx-data-shared-prod/subscription_platform_derived/nonprod_stripe_subscriptions_history_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_telemetry/active_users_aggregates/schema.yaml
Due: validate-sql

fix(SubPlat): Handle `plan_change_date` values with milliseconds (bug 2005610). (#8594)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/nonprod_stripe_subscriptions_history_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/subscription_platform_derived/nonprod_stripe_subscriptions_history_v1/query.sql
Due: validate-sql

Add normalization and checks for null/0
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v1/query.sql
Due: validate-sql

feat(events_stream): Add `document_event_number` column to `events_stream_v1` tables (DENG-9800).
  sql_generators/glean_usage/templates/events_stream_v1.query.sql
Due: validate-sql

feat(events_stream): Add `event_id` column to `events_stream` views.
  sql_generators/glean_usage/templates/cross_channel_events_stream.query.sql
  sql_generators/glean_usage/templates/events_stream.view.sql
Due: validate-sql

initiate reported content backfill
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_content_reported_content_v1/backfill.yaml
Due: validate-sql

initiate reported content backfill (#8597)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_content_reported_content_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed dad3ae9c4c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

change date
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v1/query.sql
Due: validate-sql

fix: Don't try to fetch table metadata when updating query schema.
  bigquery_etl/cli/query.py
Due: validate-bqetl

Add --sub-daily option
  bigquery_etl/cli/query.py
  tests/cli/test_cli_query.py
Due: validate-bqetl

remove both submission_date and event_first_seen_date columns and partition on first_submission_timestamp instead
  sql_generators/glean_usage/templates/events_first_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/events_first_seen_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/moz-fx-data-shared-prod.firefox_desktop_derived.events_first_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_derived.events_first_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_init/expect.yaml
Due: validate-bqetl, validate-sql

feat: use correct source tracking for usage reporting and make sure client_id field does not exist in the usage reporting schema prior to usage_reporting being added as deletion source
  bigquery_etl/shredder/config.py
Due: validate-bqetl

fix: Don't try to fetch table metadata when updating query schema. (#8598)
  bigquery_etl/cli/query.py
Due: validate-bqetl

fix syntax errors in bigconfig.yml files
  sql_generators/active_users_aggregates_v3/templates/bigconfig.yml
  sql_generators/active_users_aggregates_v4/templates/bigconfig.yml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
Due: validate-sql

feat: mark exact_mau28 and firefox_desktop_usage queries as deprecated
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_exact_mau28_by_client_count_dimensions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_exact_mau28_by_dimensions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_exact_mau28_by_dimensions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_nondesktop_day_2_7_activation_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_nondesktop_exact_mau28_by_client_count_dimensions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_nondesktop_exact_mau28_v1/metadata.yaml
Due: validate-sql

feat: add deletion_date value to datasets getting marked as deprecated
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_exact_mau28_by_client_count_dimensions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_exact_mau28_by_dimensions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_exact_mau28_by_dimensions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_nondesktop_day_2_7_activation_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_nondesktop_exact_mau28_by_client_count_dimensions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_nondesktop_exact_mau28_v1/metadata.yaml
Due: validate-sql

feat: mark fxa_users_services_last_seen_v2 and fxa_users_services_first_seen_v1 as deprecated
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/metadata.yaml
Due: validate-sql

feat: mark fxa_users_services_last_seen_v2 and fxa_users_services_first_seen_v1 as deprecated (#8601)
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/metadata.yaml
Due: validate-sql

fix: update active_users_aggregates v3 and v4 bigconfig.yml template to generate valid bigconfig
  sql_generators/active_users_aggregates_v3/templates/bigconfig.yml
  sql_generators/active_users_aggregates_v4/templates/bigconfig.yml
Due: validate-sql

feat(DENG-10328): Delete mozilla_org_derived.www_site_page_metrics_v1
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
