Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

[DENG-4256] Search for shredder targets using table lineage (#6289)
  dags.yaml
  requirements.in
  requirements.txt
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/schema.yaml
Due: validate-bqetl, validate-sql, validate-routines

Add table to record GPU hours used
  sql/moz-fx-data-shared-prod/monitoring_derived/outerbounds_gpu_hours_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/outerbounds_gpu_hours_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_shredder_monitoring.py
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/search/search_revenue_levers_daily/schema.yaml
Due: validate-sql

Formatting
  sql/moz-fx-data-shared-prod/monitoring_derived/outerbounds_gpu_hours_v1/schema.yaml
Due: validate-sql

add newline
  sql/moz-fx-data-shared-prod/monitoring_derived/outerbounds_gpu_hours_v1/schema.yaml
Due: validate-sql

Add related files to set Freshness and Volume on all glean tables
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.bigconfig.yml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.metadata.yaml
Due: validate-sql

feat(Cloudflare): Switch to using GSM secrets instead of airflow vars (#6280)
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/query.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_cloudflare_browser_market_share.py
  dags/bqetl_cloudflare_device_market_share.py
  dags/bqetl_cloudflare_os_market_share.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/query.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Update Bigeye warehouse ID
  bigquery_etl/query_scheduling/dag.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

Update test bigeye warehouse ID
  tests/data/dags/python_script_test_dag
Due: validate-bqetl

Fix based on review
  bigquery_etl/cli/monitoring.py
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/releases_v1/bigconfig.yml
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.bigconfig.yml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Update Bigeye warehouse ID (#6297)
  bigquery_etl/query_scheduling/dag.py
  bqetl_project.yaml
  tests/data/dags/python_script_test_dag
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_releases.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Change shredder_targets dataset to monitoring_derived
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
Due: validate-sql

Change shredder_targets dataset to monitoring_derived (#6298)
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_shredder_monitoring.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Add bqetl CLI command for setting partition columns
  bigquery_etl/cli/monitoring.py
  bigquery_etl/metadata/parse_metadata.py
  bigquery_etl/query_scheduling/dag.py
  bqetl_project.yaml
  requirements.txt
  sql/moz-fx-data-shared-prod/telemetry/releases/metadata.yaml
  tests/data/dags/python_script_test_dag
  tests/sql/glam-fenix-dev/glam_etl/org_mozilla_fenix_glam_nightly__histogram_bucket_counts_v1/test_minimal/glam-fenix-dev.glam_etl.org_mozilla_fenix_glam_nightly__clients_histogram_aggregates_v1.yaml
  tests/sql/glam-fenix-dev/glam_etl/org_mozilla_fenix_glam_nightly__scalar_bucket_counts_v1/test_minimal/glam-fenix-dev.glam_etl.org_mozilla_fenix_glam_nightly__clients_scalar_aggregates_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/expect.ndjson
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/moz-fx-data-shared-prod.search_derived.search_clients_daily_v8.ndjson
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/test_aggregation/moz-fx-data-shared-prod.telemetry_derived.clients_scalar_aggregates_v1.yaml
  tests/validation/data/hmac_sha256_validation.json
Due: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed 44b3967072 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Fix tests
  requirements.txt
  tests/sql/glam-fenix-dev/glam_etl/org_mozilla_fenix_glam_nightly__histogram_bucket_counts_v1/test_minimal/glam-fenix-dev.glam_etl.org_mozilla_fenix_glam_nightly__clients_histogram_aggregates_v1.yaml
  tests/sql/glam-fenix-dev/glam_etl/org_mozilla_fenix_glam_nightly__scalar_bucket_counts_v1/test_minimal/glam-fenix-dev.glam_etl.org_mozilla_fenix_glam_nightly__clients_scalar_aggregates_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/expect.ndjson
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_last_seen_v1/test_single_day/moz-fx-data-shared-prod.search_derived.search_clients_daily_v8.ndjson
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/test_aggregation/moz-fx-data-shared-prod.telemetry_derived.clients_scalar_aggregates_v1.yaml
  tests/validation/data/hmac_sha256_validation.json
Due: validate-bqetl, validate-sql, validate-routines

Add bqetl CLI command for setting partition columns (#6302)
  bigquery_etl/cli/monitoring.py
  bigquery_etl/metadata/parse_metadata.py
  sql/moz-fx-data-shared-prod/telemetry/releases/metadata.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/releases_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases/bigconfig.yml
  sql/moz-fx-data-shared-prod/telemetry/releases/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

[MC-1458] Add newtab_merino_priors DAG
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_to_gcs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_to_gcs_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/schema.yaml
Due: validate-sql

Disable Bigeye monitoring for telemetry.releases
  sql/moz-fx-data-shared-prod/telemetry/releases/metadata.yaml
Due: validate-sql

date of distribution_id addition to metadata
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_events_v1/metadata.yaml
Due: validate-sql

Add distribution_id to feature_usage_events_v1 (#6277)
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_events_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_events_v1/schema.yaml
Due: validate-sql

add window size and pocket list card telemetry
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/schema.yaml
Due: validate-sql
