Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

test CTR observation normalization
  tests/newtab_merino_ctrpred/test_ctrpred_utils.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_crashes_v1/query.sql
Due: validate-sql

make CTR postprocessing self protecting
  bigquery_etl/newtab_merino/__init__.py
  tests/newtab_merino_ctrpred/test_export.py
Due: validate-bqetl

feat(DENG-11590): complete the cohort backfill
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/backfill.yaml
Due: validate-sql

fix CTR prediction lint errors
  bigquery_etl/newtab_merino/ctrpred/infer_ctr.py
  bigquery_etl/newtab_merino/ctrpred/pseudo_counts.py
Due: validate-bqetl

feat(DENG-11590): complete the cohort backfill (#9873)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/backfill.yaml
Due: validate-sql

feat(DENG-8178): add stub for new udf (#9872)
  sql/moz-fx-data-shared-prod/udf/normalize_search_engine_glean/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/normalize_search_engine_glean/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/udf/normalize_search_engine_glean/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/normalize_search_engine_glean/udf.sql
Due: validate-sql, validate-routines

fix: clear Bigeye file index between execute_bigconfig calls
  bigquery_etl/cli/monitoring.py
  tests/cli/test_cli_monitoring.py
Due: validate-bqetl

fix: clear Bigeye file index between execute_bigconfig calls (#9874)
  bigquery_etl/cli/monitoring.py
  tests/cli/test_cli_monitoring.py
Due: validate-bqetl

Speed up view deploys
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/view.py
  bigquery_etl/deploy.py
  bigquery_etl/schema/__init__.py
  bigquery_etl/util/client_queue.py
  bigquery_etl/view/__init__.py
  tests/cli/test_cli_deploy.py
  tests/schema/test_schema.py
  tests/view/test_view.py
Due: validate-bqetl

feat(DENG-11076): add app_version at onboarding completion
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/schema.yaml
  sql_generators/mobile_kpi_support_metrics/templates/retention_clients.view.sql
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/moz-fx-data-shared-prod.fenix.events_stream.schema.json
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_daily_run/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_daily_run/moz-fx-data-shared-prod.fenix.events_stream.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_repeat_completion/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_repeat_completion/moz-fx-data-shared-prod.fenix.events_stream.yaml
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/fenix/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/firefox_ios/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/focus_android/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/klar_android/retention_clients/view.sql
Due: validate-bqetl, validate-sql

docs(DENG-11076): fold app_version into the table description
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
Due: validate-sql

docs(DENG-11076): correct comments and README
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
  sql_generators/mobile_kpi_support_metrics/templates/retention_clients.view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/fenix/retention_clients/view.sql
Due: validate-bqetl, validate-sql

feat(DENG-11076): limit app_version_at_onboarding_completion to the day-27 window
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
  sql_generators/mobile_kpi_support_metrics/templates/retention_clients.view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/fenix/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/firefox_ios/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/focus_android/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/klar_android/retention_clients/view.sql
Due: validate-bqetl, validate-sql

docs(DENG-11076): future-tense the view's coverage claim
  sql/moz-fx-data-shared-prod/fenix/onboarding_completed_clients/metadata.yaml
Due: validate-sql

fix(DENG-11076): break app_version ties by submission order
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_daily_run/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_daily_run/moz-fx-data-shared-prod.fenix.events_stream.yaml
Due: validate-bqetl, validate-sql

chore(DENG-11590): restore the shredder_mitigation label on the aggregates table
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/metadata.yaml
Due: validate-sql

chore(DENG-11590): restore the shredder_mitigation label on the aggregates table (#9875)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/metadata.yaml
Due: validate-sql

replaced model with actrssm, also added pseduo_counts conversion
  bigquery_etl/newtab_merino/ctrpred/infer_ctr.py
  bigquery_etl/newtab_merino/ctrpred/pseudo_counts.py
  bigquery_etl/newtab_merino/ctrpred/timeline.py
Due: validate-bqetl

added config
  bigquery_etl/newtab_merino/__init__.py
  bigquery_etl/newtab_merino/ctrpred/config.py
  bigquery_etl/newtab_merino/ctrpred/pseudo_counts.py
  bigquery_etl/newtab_merino/ctrpred/timeline.py
  bigquery_etl/newtab_merino/ctrpred/utils.py
Due: validate-bqetl

timelines are adjusted_imprssions
  bigquery_etl/newtab_merino/ctrpred/timeline.py
  bigquery_etl/newtab_merino/ctrpred/utils.py
Due: validate-bqetl

remove pub constraint experiment, add ctrpred experiment
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v3/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_priors_v1/query.sql
Due: validate-sql

everything is in impression space here
  bigquery_etl/newtab_merino/__init__.py
  bigquery_etl/newtab_merino/ctrpred/__init__.py
  bigquery_etl/newtab_merino/ctrpred/infer_ctr.py
  bigquery_etl/newtab_merino/ctrpred/timeline.py
  bigquery_etl/newtab_merino/ctrpred/utils.py
Due: validate-bqetl

write integer CTR artifact counts
  bigquery_etl/newtab_merino/ctrpred/utils.py
  tests/newtab_merino_ctrpred/test_ctrpred_utils.py
Due: validate-bqetl

document temporary CTR model constants
  bigquery_etl/newtab_merino/ctrpred/config.py
Due: validate-bqetl

limit CTR postprocessing to engagement exports
  bigquery_etl/newtab_merino/__init__.py
Due: validate-bqetl

share the timeline window timestamp
  bigquery_etl/newtab_merino/__init__.py
  bigquery_etl/newtab_merino/ctrpred/timeline.py
  tests/newtab_merino_ctrpred/test_export.py
  tests/newtab_merino_ctrpred/test_timeline.py
Due: validate-bqetl

handle artifacts with missing replacement fields
  bigquery_etl/newtab_merino/__init__.py
  bigquery_etl/newtab_merino/ctrpred/utils.py
  tests/newtab_merino_ctrpred/test_export.py
Due: validate-bqetl

fix pytest test module discovery
  tests/newtab_merino_ctrpred/__init__.py
  tests/newtab_merino_ctrpred/test_utils.py
Due: validate-bqetl

remove local run options
  bigquery_etl/newtab_merino/__init__.py
Due: validate-bqetl

fall back when CTR postprocessing fails
  bigquery_etl/newtab_merino/__init__.py
  tests/newtab_merino_ctrpred/test_export.py
Due: validate-bqetl

numerical failures on poisson update dont kill the job
  bigquery_etl/newtab_merino/ctrpred/infer_ctr.py
Due: validate-bqetl

added docstrings
  bigquery_etl/newtab_merino/ctrpred/infer_ctr.py
Due: validate-bqetl

centralize CTR experiment identity
  bigquery_etl/newtab_merino/__init__.py
  bigquery_etl/newtab_merino/ctrpred/__init__.py
  bigquery_etl/newtab_merino/ctrpred/config.py
  tests/newtab_merino_ctrpred/test_export.py
Due: validate-bqetl

added tests
  bigquery_etl/newtab_merino/__init__.py
  tests/newtab_merino_ctrpred/test_export.py
  tests/newtab_merino_ctrpred/test_infer_ctr.py
  tests/newtab_merino_ctrpred/test_pseudo_counts.py
  tests/newtab_merino_ctrpred/test_timeline.py
  tests/newtab_merino_ctrpred/test_utils.py
Due: validate-bqetl
