Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

backfill end_date
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

Give reader role to dry run account for datasets in stage
  bigquery_etl/cli/stage.py
  bigquery_etl/dryrun.py
Due: validate-bqetl

remove backfill
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

event_monitoring partitioning on submission_date; additional clustering
  sql_generators/glean_usage/templates/event_monitoring_live.view.sql
  sql_generators/glean_usage/templates/event_monitoring_live_v1.materialized_view.sql
Due: validate-sql

initiate backfill
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

add sql changes to deploy
  sql/moz-fx-data-shared-prod/monitoring/shredder_run_stats/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_per_job_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/udf/combine_days_seen_maps/udf.sql
Due: validate-sql, validate-routines

Add serp events to levers daily (#6276)
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/event_monitoring_live/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention/view.sql
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_clients/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry/mobile_engagement_clients/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_new_profile_clients/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention_clients/schema.yaml
Due: validate-sql

hardcode service accounts
  bigquery_etl/cli/stage.py
  bigquery_etl/dryrun.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

Revert "add sql changes to deploy"
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/monitoring/shredder_run_stats/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_per_job_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/udf/combine_days_seen_maps/udf.sql
Due: validate-sql, validate-routines

Remove func in dryrun
  bigquery_etl/cli/stage.py
  bigquery_etl/dryrun.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_search_dashboard.py
  dags/bqetl_serp.py
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/schema.yaml
Due: validate-sql

end date
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

f
  bigquery_etl/cli/stage.py
Due: validate-bqetl

search_levers_daily initiate backfill (#6287)
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

[DENG-4256] Search for shredder targets using table lineage
  dags.yaml
  requirements.in
  requirements.txt
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/schema.yaml
Due: validate-bqetl, validate-sql, validate-routines

Give reader role to dry run account for datasets in stage (#6288)
  bigquery_etl/cli/stage.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Fix Bigeye DAG generation and move configuration to bqetl_project.yaml
  bigquery_etl/query_scheduling/dag.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  bqetl_project.yaml
  tests/query_scheduling/test_generate_airflow_dags.py
Due: validate-bqetl, validate-sql, validate-routines

Add partitioning and clustering for event_monitoring materialized views (#6286)
  sql_generators/glean_usage/templates/event_monitoring_live.view.sql
  sql_generators/glean_usage/templates/event_monitoring_live_v1.materialized_view.sql
Due: validate-sql

Reformatting; test fixing
  bigquery_etl/query_scheduling/dag.py
  tests/data/dags/python_script_test_dag
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
Due: validate-sql

DSRE-1755 switch to v2 workgroup for stripe
  sql/moz-fx-data-shared-prod/stripe_external/dataset_metadata.yaml
Due: validate-sql

Install Airflow override requirements
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

feat(DENG-4602): add BigEye RunMetricOperator to DAG generation (#6285)
  .circleci/workflows.yml
  bigquery_etl/query_scheduling/dag.py
  bigquery_etl/query_scheduling/dag_collection.py
  bigquery_etl/query_scheduling/formatters.py
  bigquery_etl/query_scheduling/generate_airflow_dags.py
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  bqetl_project.yaml
  tests/data/dags/python_script_test_dag
  tests/data/dags/simple_test_dag
  tests/data/dags/test_dag_duplicate_dependencies
  tests/data/dags/test_dag_external_check_dependency
  tests/data/dags/test_dag_external_dependency
  tests/data/dags/test_dag_with_bigquery_table_sensors
  tests/data/dags/test_dag_with_check_dependencies
  tests/data/dags/test_dag_with_check_table_dependencies
  tests/data/dags/test_dag_with_dependencies
  tests/data/dags/test_dag_with_secrets
  tests/data/test_sql/moz-fx-data-test-project/test/python_script_query_v1/bigconfig.yml
  tests/query_scheduling/test_dag_collection.py
  tests/query_scheduling/test_generate_airflow_dags.py
Due: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed 4257698cc8 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Fix backfill date
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

Update secret names to match naming convention used in GSM
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
Due: validate-sql

Remove backfill entry
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

Fix backfill date (#6294)
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql
