Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  dags/bqetl_crashes.py
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_counts_aggregates_v1/README.md
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_counts_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_counts_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_counts_aggregates_v1/schema.yaml
Due: validate-sql

remove unused files
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/README.md
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/schema.yaml
Due: validate-sql

remove unused files (#8641)
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/README.md
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/schema.yaml
Due: validate-sql

fix(DENG-8427): Exclude new columns from downstream query
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/query.sql
Due: validate-sql

fix(DENG-8427): Exclude new columns from downstream query (#8642)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/query.sql
Due: validate-sql

[ci skip] Deployed 53c0853d0f with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/baseline_active_users_v1/query.sql
Due: validate-sql

Unittests for active_users_aggregates_v4 - Desktop (#8618)
  sql_generators/active_users_aggregates_v4/__init__.py
  sql_generators/active_users_aggregates_v4/templates/desktop_unittests_templates.yaml
  sql_generators/active_users_aggregates_v4/templates/mobile_query.sql
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_active_users_combinations/desktop_active_users.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_active_users_combinations/expect.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_active_users_combinations/query_params.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_city_and_activity_segment/desktop_active_users.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_city_and_activity_segment/expect.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_city_and_activity_segment/query_params.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_country_and_first_seen_year/desktop_active_users.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_country_and_first_seen_year/expect.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_country_and_first_seen_year/query_params.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_os_version_build/desktop_active_users.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_os_version_build/expect.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_os_version_build/query_params.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_os_version_major_minor/desktop_active_users.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_os_version_major_minor/expect.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop/test_os_version_major_minor/query_params.yaml
  sql_generators/active_users_aggregates_v4/templates/unittests/desktop_active_users.schema.json
Due: validate-sql

Add level gold to active_users_aggregates.
  sql_generators/active_users_aggregates_v4/templates/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/first_startup/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/moz-fx-data-shared-prod.telemetry.desktop_active_users.schema.json
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_active_users_combinations/expect.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_active_users_combinations/moz-fx-data-shared-prod.telemetry.desktop_active_users.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_active_users_combinations/query_params.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_city_and_activity_segment/expect.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_city_and_activity_segment/moz-fx-data-shared-prod.telemetry.desktop_active_users.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_city_and_activity_segment/query_params.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_country_and_first_seen_year/expect.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_country_and_first_seen_year/moz-fx-data-shared-prod.telemetry.desktop_active_users.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_country_and_first_seen_year/query_params.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_os_version_build/expect.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_os_version_build/moz-fx-data-shared-prod.telemetry.desktop_active_users.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_os_version_build/query_params.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_os_version_major_minor/expect.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_os_version_major_minor/moz-fx-data-shared-prod.telemetry.desktop_active_users.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_v4/test_os_version_major_minor/query_params.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta/events_stream/view.sql
  sql/moz-fx-data-shared-prod/pine/metrics/schema.yaml
Due: validate-sql

chore(metadata): Add medallion labels
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_installs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_cert_error_unique_users_normalized_channel_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_cert_error_unique_users_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_antivirus_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_first_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/metadata.yaml
Due: validate-sql

chore(metadata): Add medallion labels
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_churn_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_acquisition_funnel_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_ordered_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_ratio_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_ratio_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_account_signed_in_status_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_addon_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_attr_src_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_browser_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_isp_v1/metadata.yaml
Due: validate-sql

chore(metadata-completeness): Add labels
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_os_ver_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_on_day_of_install_by_account_signed_in_status_v1/metadata.yaml
Due: validate-sql

Add unitttests for active_users_aggregates Mobile (#8616)
  sql_generators/active_users_aggregates_v3/__init__.py
  sql_generators/active_users_aggregates_v3/templates/mobile_query.sql
  sql_generators/active_users_aggregates_v3/templates/mobile_unittests_templates.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/active_users.schema.json
  sql_generators/active_users_aggregates_v3/templates/unittests/firefox_android_clients.schema.json
  sql_generators/active_users_aggregates_v3/templates/unittests/firefox_ios_clients.schema.json
  sql_generators/active_users_aggregates_v3/templates/unittests/metrics_clients_last_seen.schema.json
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_active_users_combinations/active_users.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_active_users_combinations/expect.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_active_users_combinations/firefox_android_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_active_users_combinations/firefox_ios_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_active_users_combinations/metrics_clients_last_seen.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_active_users_combinations/query_params.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_city_and_activity_segment/active_users.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_city_and_activity_segment/expect.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_city_and_activity_segment/firefox_android_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_city_and_activity_segment/firefox_ios_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_city_and_activity_segment/metrics_clients_last_seen.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_city_and_activity_segment/query_params.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_country_and_first_seen_year/active_users.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_country_and_first_seen_year/expect.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_country_and_first_seen_year/firefox_android_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_country_and_first_seen_year/firefox_ios_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_country_and_first_seen_year/metrics_clients_last_seen.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_country_and_first_seen_year/query_params.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_build/active_users.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_build/expect.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_build/firefox_android_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_build/firefox_ios_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_build/metrics_clients_last_seen.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_build/query_params.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_major_minor/active_users.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_major_minor/expect.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_major_minor/firefox_android_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_major_minor/firefox_ios_clients.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_major_minor/metrics_clients_last_seen.yaml
  sql_generators/active_users_aggregates_v3/templates/unittests/mobile/test_os_version_major_minor/query_params.yaml
Due: validate-sql

[ci skip] Deployed 01bdd560f6 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Cache results for get_dependency_graph()
  bigquery_etl/dependency.py
Due: validate-bqetl

[DENG-9669] Add field removal and backfill functionality to shredder
  bigquery_etl/shredder/config.py
  bigquery_etl/shredder/delete.py
  tests/shredder/test_delete.py
Due: validate-bqetl

[ci skip] Deployed 7749ba67e2 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

explain excluded categories
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

use YAML block scalars for all criteria SQL values
  sql_generators/glean_usage/templates/events_first_seen_templating.yaml
Due: validate-sql

reorder field attributes
  sql_generators/glean_usage/templates/events_first_seen_v1.schema.yaml
Due: validate-sql

clarify that the app_id value is for the dataset
  sql_generators/glean_usage/events_first_seen.py
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

Update owner of bqetl_search_terms_daily
  dags.yaml
Due: validate-sql

[DENG-10379] Add --skip-existing option to updating schemas
  bigquery_etl/cli/query.py
Due: validate-bqetl

chore: rename ads workgroup
  sql/moz-fx-data-shared-prod/ads/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_backend/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_backend_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_dap_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/shepherd/dataset_metadata.yaml
Due: validate-sql

chore: rename contextual-services workgroup
  sql/moz-fx-data-shared-prod/contextual_services/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/contextual_services_derived/dataset_metadata.yaml
Due: validate-sql

[DENG-10380] Trigger schema updates on existing views when publishing
  bigquery_etl/cli/view.py
  bigquery_etl/view/__init__.py
Due: validate-bqetl

Update tests
  bigquery_etl/cli/view.py
  tests/view/test_view.py
Due: validate-bqetl

feat(DENG-10285): Deprecate telemetry_derived.desktop_acquisition_funnel_aggregates_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_acquisition_funnel_aggregates_v1/metadata.yaml
Due: validate-sql

feat(DENG-9987): Add country_code to firefox_desktop_derived.metrics_clients_daily_v1
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_daily_v1/schema.yaml
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql

chore(metadata-completeness): Add medallion labels
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/adclick_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_page_reloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/ltv_states_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/firefox_whatsnew_summary_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_sessions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/wwww_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/android_app_campaign_stats_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/slow_startup_events_by_startup_type_and_version_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/slow_startup_events_by_startup_type_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/slow_startup_events_by_startup_type_version_and_device_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blog_performance_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_installer_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/network_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/prvt_brwsng_mode_retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_default_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_distribution_id_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_by_dlsource_v1/metadata.yaml
Due: validate-sql
