Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Add topic selection fields to newtab_visits
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_stable.newtab_v1.yaml
Due: validate-bqetl, validate-sql

Remove duplicate from schema
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/schema.yaml
Due: validate-sql

Fix search_revenue_levers_daily to pull from aggregates table for shredder mitigation
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
Due: validate-sql

[ci skip] Deployed 3c03641886 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

isort & docstrings.
  bigquery_etl/backfill/shredder_mitigation.py
  tests/backfill/test_shredder_mitigation.py
Due: validate-bqetl

Apply flake8 to test file.
  tests/cli/test_cli_utils.py
Due: validate-bqetl

Remove variable assignment to different types.
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/cli/utils.py
Due: validate-bqetl

Add PPA measurements w/o advertiser view
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_wo_advertiser/metadata.yaml
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_wo_advertiser/view.sql
Due: validate-sql

Update metadata
  sql/moz-fx-data-shared-prod/ads/ppa_measurements/metadata.yaml
Due: validate-sql

Add new metric to test schema
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/moz-fx-data-shared-prod.firefox_desktop_stable.newtab_v1.schema.json
Due: validate-bqetl, validate-sql

Fix event name in test yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_stable.newtab_v1.yaml
Due: validate-bqetl, validate-sql

DENG-3096 add uniqueness checks to all 6 cloudflare tables
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/checks.sql
Due: validate-sql

Test yaml fix
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/expect.yaml
Due: validate-bqetl, validate-sql

DENG-3096 add uniqueness checks to all 6 cloudflare tables (#6008)
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/checks.sql
Due: validate-sql

[DENG-577] Create monitoring table for stable table expiration
  bqetl_project.yaml
  sql_generators/table_partition_expirations/__init__.py
  sql_generators/table_partition_expirations/templates/metadata.yaml
  sql_generators/table_partition_expirations/templates/schema.yaml
  sql_generators/table_partition_expirations/templates/table_partition_expirations.sql
Due: validate-sql, validate-routines

Add visit id to test case
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_stable.newtab_v1.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 7665cbd321 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Add new PPA view to dry run skip list
  bqetl_project.yaml
Due: validate-sql, validate-routines

Should be an authorized view
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_wo_advertiser/metadata.yaml
Due: validate-sql

Rename table to _limited
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_limited/metadata.yaml
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_limited/view.sql
Due: validate-sql, validate-routines

[DENG-577] Create monitoring table for stable table expiration (#6009)
  bqetl_project.yaml
  sql_generators/table_partition_expirations/__init__.py
  sql_generators/table_partition_expirations/templates/metadata.yaml
  sql_generators/table_partition_expirations/templates/schema.yaml
  sql_generators/table_partition_expirations/templates/table_partition_expirations.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 73f0f49df7 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_monitoring.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/schema.yaml
Due: validate-sql

AD-437 Add PPA measurements w/o advertiser view (#6006)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_limited/metadata.yaml
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_limited/view.sql
Due: validate-sql, validate-routines

Simplify approach to consuming OIDC
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed 7127641f7c with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_limited/metadata.yaml
  sql/moz-fx-data-shared-prod/ads/ppa_measurements_limited/view.sql
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
Due: validate-sql

add this branch to exception list
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

try the build in workflow to really simplify things
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

drop context to see if nothing changes
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Re-add context this SHOULD take precedence
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Get rid of command line params so tests work
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/query.py
Due: validate-sql

Update device usage to remove cmd line flags so new tests work
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/query.py
Due: validate-sql

DENG-3096 remove cmd line args to make tests function
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/query.py
Due: validate-sql

Remove eligible markets, reduce group bys
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/query.sql
Due: validate-sql

DENG-3096 - remove tests since they do not work with the python flags being passed in for the cloudflare logic
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/checks.sql
Due: validate-sql

DENG-3096 - remove tests since they do not work with the python flags being passed in for the cloudflare logic (#6012)
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_errors_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/checks.sql
Due: validate-sql

[ci skip] Deployed f0bfb0df8e with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none
