Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Deprecate and unschedule org_mozilla_ios_firefox.unified_metrics
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/unified_metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/unified_metrics/query.py
Due: validate-sql

[ci skip] Deployed 87674839eb with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat: remove submission_date from the dau_reporting_first_seen template
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.schema.yaml
Due: validate-sql

feat: add dau_reporting template
  sql_generators/glean_usage/__init__.py
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/dau_reporting_clients_daily.py
  sql_generators/glean_usage/dau_reporting_clients_first_seen.py
  sql_generators/glean_usage/dau_reporting_clients_last_seen.py
  sql_generators/glean_usage/templates/cross_channel.view.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_daily.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_daily.view.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen.view.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.schema.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen.view.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.schema.yaml
Due: validate-sql

feat: improve comments documenting why duration based fields are commented out at the moment.
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.schema.yaml
Due: validate-sql

chore: final code cleanup
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.query.sql
Due: validate-sql

fix: correct clusting for the dau_reporting_daily to use locale instead of country which does not exist in the result
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.query.sql
Due: validate-sql

feat: add field descriptions to schema.yaml, and remove sample_id as it does not existing in the source ping table
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.schema.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.schema.yaml
Due: validate-sql

fix: invalid query dau_reporting_clients_daily_v1
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.query.sql
Due: validate-sql

feat: final tweaks based on the PR reviews
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.query.sql
Due: validate-sql

Update warn checks for net_thunderbird_android_daily_derived
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/net_thunderbird_android_daily_derived/baseline_clients_last_seen_v1/checks.sql
Due: validate-sql, validate-routines

feat: remove client_id from the templates
  sql_generators/glean_usage/templates/dau_reporting_clients_daily.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_first_seen_v1.schema.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.query.sql
  sql_generators/glean_usage/templates/dau_reporting_clients_last_seen_v1.schema.yaml
Due: validate-sql

[DENG-6279] Deprecate legacy tables in org_mozilla_firefox_derived (#6448)
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/unified_metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/unified_metrics/query.py
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_mobile_core_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_mobile_core_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_mobile_event_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_mobile_event_counts_v2/metadata.yaml
Due: validate-sql

Create `synthetic_plan_change` changelogs from subscription "Remaining time" invoice line items.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/query.sql
Due: validate-sql

Guard against conflicting changelog records in Stripe history ETLs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_firefox_ios.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/unified_metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/unified_metrics/query.py
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/unified_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_mobile_core_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_mobile_core_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_mobile_event_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/legacy_mobile_event_counts_v2/metadata.yaml
Due: validate-sql

Add checks to catch any duplicate IDs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/checks.sql
Due: validate-sql

Fix subscription changelog conflicts (#6458)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/query.sql
Due: validate-sql

Add skip list
  bigquery_etl/shredder/config.py
  tests/shredder/test_config.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_subplat.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/checks.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/query.sql
Due: validate-sql

Initiate backfill of `subscription_platform_derived.logical_subscription_events_v1`.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
Due: validate-sql

Initiate backfill of `subscription_platform_derived.stripe_subscriptions_revised_changelog_v1`.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/backfill.yaml
Due: validate-sql

Initiate backfill of `subscription_platform_derived.daily_active_logical_subscriptions_v1`.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
Due: validate-sql

Initiate backfill of `subscription_platform_derived.stripe_subscriptions_revised_changelog_v1`. (#6460)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/backfill.yaml
Due: validate-sql

Complete backfill of `subscription_platform_derived.stripe_subscriptions_revised_changelog_v1`.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/backfill.yaml
Due: validate-sql

Initiate backfill of `subscription_platform_derived.monthly_active_logical_subscriptions_v1`.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed b47710ac9f with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Update view.sql
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates/view.sql
Due: validate-sql

Update query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/query.sql
Due: validate-sql

Update query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_interactions_v1/query.sql
Due: validate-sql

Update query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/query.sql
Due: validate-sql

Add logging to stage clean and fix --delete-expired
  bigquery_etl/cli/stage.py
Due: validate-bqetl

Update warn checks for net_thunderbird_android_daily_derived (#6457)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/net_thunderbird_android_daily_derived/baseline_clients_last_seen_v1/checks.sql
Due: validate-sql, validate-routines

Add logging to stage clean and fix --delete-expired (#6466)
  bigquery_etl/cli/stage.py
Due: validate-bqetl
