Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Remove coalesce statements so it keeps original value
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
Due: validate-sql

Make less verbose by switching to USING for some joins
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
Due: validate-sql

Rewrite group by as select distinct so it's more clear how the logic is working
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/query.sql
Due: validate-sql

Uppercase STRING data type
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
Due: validate-sql

Add aggregate table label
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/metadata.yaml
Due: validate-sql

Rename DAG from bqetl_daily_retention to bqetl_cohort_retention per Kik's suggestion
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/metadata.yaml
Due: validate-sql

fix: Mark `bqetl` as not compatible with Python 3.12 or later.
  pyproject.toml
Due: none

Leave is_default_browser as null for mobile, will re-add when they build new feature to better analyze
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
Due: validate-sql

Fix query
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
Due: validate-sql

feat(DENG-2986): Create rolling_cohorts_v2 & cohort_daily_statistics_v2 (#7024)
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_cohort_retention.py
  dags/bqetl_core.py
  dags/bqetl_main_summary.py
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v2/schema.yaml
Due: validate-sql

[DENG-6770]: create fx_quant_user_research datasets
  sql/moz-fx-data-shared-prod/fx_quant_user_research/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research/fxqur_2024okr_desktop/view.sql
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_2024okr_desktop_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_2024okr_desktop_v1/query.sql
Due: validate-sql

initial commit - add rolling_cohorts_v2 to desktop delete
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Format config.py
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Add new table telemetry_derived.rolling_cohorts_v2 to shredder_mitigation config
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Add focus_android to rolling cohorts v2 shredder config delete sources list
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Add rolling_cohorts_v2 to shredder config (#7027)
  bigquery_etl/shredder/config.py
Due: validate-bqetl

[DENG-6770]: drop query files
  sql/moz-fx-data-shared-prod/fx_quant_user_research/fxqur_2024okr_desktop/view.sql
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_2024okr_desktop_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_2024okr_desktop_v1/query.sql
Due: validate-sql

[DENG-6770]: create fx_quant_user_research datasets (#7026)
  sql/moz-fx-data-shared-prod/fx_quant_user_research/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

renaming table name with version
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/schema.yaml
Due: validate-sql

Fix pre-commit `mypy` errors (#7012)
  .pre-commit-config.yaml
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

Initial commit
  sql/moz-fx-data-shared-prod/telemetry/fxa_accounts_active_daily_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fxa_accounts_active_daily_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fxa_accounts_active_daily_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fxa_accounts_active_daily_clients_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

Add clustering field
  sql/moz-fx-data-shared-prod/telemetry_derived/fxa_accounts_active_daily_clients_v1/metadata.yaml
Due: validate-sql

Update Python version note in `README.txt`.
  README.md
Due: none

Add Python version check to `./bqetl bootstrap`.
  bqetl
Due: none

Remove typo from table and view name
  sql/moz-fx-data-shared-prod/telemetry/fx_accounts_active_daily_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/schema.yaml
Due: validate-sql

Create new DAG and add to retention exclusion list
  bqetl_project.yaml
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/metadata.yaml
Due: validate-sql, validate-routines

Fix formatting
  dags.yaml
Due: validate-sql

Add new table telemetry_derived.fx_accounts_active_daily_clients_v1 to shredder_mitigation
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Fix typo in renamed viewname
  sql/moz-fx-data-shared-prod/telemetry/fx_accounts_active_daily_clients/view.sql
Due: validate-sql
