Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

DS-3501 update metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
Due: validate-sql

DS-3501 - update metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
Due: validate-sql

DS-3501 add backticks around column named date
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/query.sql
Due: validate-sql

DENG-3615 QA Fixes for Braze models (#5508)
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/query.sql
  sql/mozfun/datetime_util/README.md
  sql/mozfun/datetime_util/fxa_parse_date/README.md
  sql/mozfun/datetime_util/fxa_parse_date/metadata.yaml
  sql/mozfun/datetime_util/fxa_parse_date/udf.sql
  tests/sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/test_braze_subscriptions/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/test_braze_subscriptions/moz-fx-data-shared-prod.braze_derived.subscriptions_map_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/test_braze_subscriptions/moz-fx-data-shared-prod.braze_derived.user_profiles_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/test_braze_subscriptions/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/test_braze_waitlists/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/test_braze_waitlists/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/test_braze_waitlists/moz-fx-data-shared-prod.ctms_braze.ctms_waitlists.yaml
Due: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed 3df6f02cdb with MkDocs version: 1.5.3
  404.html
  bqetl/index.html
  cookbooks/common_workflows/index.html
  cookbooks/creating_a_derived_dataset/index.html
  cookbooks/testing/index.html
  index.html
  moz-fx-data-shared-prod/udf/index.html
  moz-fx-data-shared-prod/udf_js/index.html
  mozfun/about/index.html
  mozfun/addons/index.html
  mozfun/assert/index.html
  mozfun/bits28/index.html
  mozfun/bytes/index.html
  mozfun/datetime_util/index.html
  mozfun/event_analysis/index.html
  mozfun/ga/index.html
  mozfun/glam/index.html
  mozfun/glean/index.html
  mozfun/google_ads/index.html
  mozfun/google_search_console/index.html
  mozfun/hist/index.html
  mozfun/iap/index.html
  mozfun/json/index.html
  mozfun/ltv/index.html
  mozfun/map/index.html
  mozfun/mobile_search/index.html
  mozfun/norm/index.html
  mozfun/stats/index.html
  mozfun/utils/index.html
  mozfun/vpn/index.html
  reference/airflow_tags/index.html
  reference/configuration/index.html
  reference/data_checks/index.html
  reference/incremental/index.html
  reference/public_data/index.html
  reference/recommended_practices/index.html
  reference/scheduling/index.html
  reference/stage-deploys-continuous-integration/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_acoustic_contact_export.py
  dags/bqetl_acoustic_raw_recipient_export.py
  dags/bqetl_braze.py
  dags/bqetl_subplat.py
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/query.sql
  sql/mozfun/datetime_util/README.md
  sql/mozfun/datetime_util/fxa_parse_date/README.md
  sql/mozfun/datetime_util/fxa_parse_date/metadata.yaml
  sql/mozfun/datetime_util/fxa_parse_date/udf.sql
Due: validate-sql, validate-routines

DS-3501 - Create New iOS App Campaign Reporting Table (#5515)
  dags.yaml
  sql/moz-fx-data-shared-prod/apple_ads/ios_app_campaign_stats/view.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/schema.yaml
Due: validate-sql

feat: add baseline_clients_last_seen_enriched containing new activity fields to support KPI supporting metrics
  sql/moz-fx-data-shared-prod/fenix/baseline_clients_last_seen_extended_activity/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios/baseline_clients_last_seen_extended_activity/view.sql
Due: validate-sql

Channel conditional must be a parameter; PR fixes
  bigquery_etl/glam/generate.py
  bigquery_etl/glam/models.py
  bigquery_etl/glam/templates/histogram_bucket_counts_v1.sql
  bigquery_etl/glam/templates/macros.sql
  bigquery_etl/glam/templates/probe_counts_v1.sql
Due: validate-bqetl

[ci skip] Deployed 7ad70e29e7 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

feat: add baseline_clients_last_seen_enriched containing new activity fields to support KPI supporting metrics (#5511)
  sql/moz-fx-data-shared-prod/fenix/baseline_clients_last_seen_extended_activity/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios/baseline_clients_last_seen_extended_activity/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_firefox_ios.py
  dags/bqetl_fivetran_apple_ads.py
  dags/bqetl_ios_campaign_reporting.py
  sql/moz-fx-data-shared-prod/apple_ads/ios_app_campaign_stats/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads/ios_app_campaign_stats/view.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/query.sql
  sql/moz-fx-data-shared-prod/apple_ads_external/ios_app_campaign_stats_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 1c9f8153d8 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/baseline_clients_last_seen_extended_activity/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/baseline_clients_last_seen_extended_activity/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios/baseline_clients_last_seen_extended_activity/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/baseline_clients_last_seen_extended_activity/view.sql
Due: validate-sql

Update templating.yaml
  sql_generators/experiment_monitoring/templates/templating.yaml
Due: validate-sql

DENG-3658 braze add unit test for users_v1
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/moz-fx-data-shared-prod.acoustic_external.raw_recipient_raw_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.acoustic_external.contact_raw_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.acoustic_external.raw_recipient_raw_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.ctms_braze.ctms_emails.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.ctms_braze.ctms_fxa.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.ctms_braze.ctms_newsletters.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.ctms_braze.ctms_waitlists.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.marketing_suppression_list_derived.main_suppression_list_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.subscription_platform.logical_subscriptions.yaml
Due: validate-bqetl, validate-sql

add more tests
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.acoustic_external.contact_raw_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.acoustic_external.raw_recipient_raw_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.ctms_braze.ctms_emails.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/test_braze_users/moz-fx-data-shared-prod.ctms_braze.ctms_newsletters.yaml
Due: validate-bqetl, validate-sql

Update templating.yaml (#5514)
  sql_generators/experiment_monitoring/templates/templating.yaml
Due: validate-sql

GLAM fix replace_dataset to account for already fully qualified datasets in query
  script/glam/run_glam_sql
Due: none

[ci skip] Deployed ab80b43472 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/apple_ads/ios_app_campaign_stats/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_search_events_live_v1/materialized_view.sql
Due: validate-sql

GLAM fix replace_dataset to account for already fully qualified datasets in query (#5517)
  script/glam/run_glam_sql
Due: none

[ci skip] Deployed ef947b6b2d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Exclude ETL `query.py` files from mypy pre-commit checks.
  .pre-commit-config.yaml
Due: none

Exclude ETL `query.py` files from mypy pre-commit checks. (#5519)
  .pre-commit-config.yaml
Due: none

fix a typo
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_firefox_unsubscribe_v1/query.py
Due: validate-sql

[ci skip] Deployed c7fa5d0cec with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DSRE-1620 Update Treeherder syndicated datasets
  sql/moz-fx-data-shared-prod/treeherder_db/dataset_metadata.yaml
Due: validate-sql

feat: remove sample_id from clustering
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/metadata.yaml
Due: validate-sql

feat: use first_seen_date as filter when retrieving previous records. This has no impact as first_seen_date is the same as submission_date
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
Due: validate-sql

Update description, partitioning and clustering setting for fenix_derived.firefox_android_clients_v1
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/metadata.yaml
Due: validate-sql

adding back parameter settings
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/metadata.yaml
Due: validate-sql

making sure _previous only includes entries older than the submission_date
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
Due: validate-sql

Update sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/metadata.yaml
Due: validate-sql

fix: fix firefox_android_clients_v1/test_baseline_no_first_session_with_activations test
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_no_first_session_with_activations/expect.yaml
Due: validate-bqetl, validate-sql

feat(): Update description, partitioning and clustering setting for fenix_derived.firefox_android_clients_v1 (#4965)
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/test_baseline_no_first_session_with_activations/expect.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 7db864b0c9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
