Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

refactor(SubPlat): Use schema includes in service subscription ETLs and views.
  sql/moz-fx-data-shared-prod/subscription_platform/daily_active_service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/monthly_active_service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscription_events/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_daily_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_monthly_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_service_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_v1/schema.yaml
Due: validate-sql

refactor(SubPlat): Use schema includes in logical subscription ETLs and views.
  sql/moz-fx-data-shared-prod/subscription_platform/daily_active_logical_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/logical_subscription_events/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/logical_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/monthly_active_logical_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/provider_logical_subscriptions_history_v1_schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_daily_active_logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_logical_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_monthly_active_logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/schema.yaml
Due: validate-sql

refactor(SubPlat): Use schema includes for the subscription revenue fields.
  sql/moz-fx-data-shared-prod/subscription_platform/daily_active_logical_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/daily_active_service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/logical_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/monthly_active_logical_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/monthly_active_service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/subscription_revenue_fields_schema.yaml
Due: validate-sql

fix(EXP-6599): add missing date arg
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/metadata.yaml
Due: validate-sql

Enrollment alert data (#9045)
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/metadata.yaml
Due: validate-sql

Deng 10840 GitHub prs refactor (#9044)
  bigquery_etl/github/__init__.py
  sql/moz-fx-data-shared-prod/github_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/github_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/schema.yaml
Due: validate-bqetl, validate-sql

feat: add global_v2.yaml and generation scripts for column description inheritance
  bigquery_etl/schema/global_v2.review.csv
  bigquery_etl/schema/global_v2.yaml
  script/generate_global_yaml/00_column_table_map.sql
  script/generate_global_yaml/01_glean_column_descriptions.sql
  script/generate_global_yaml/02_bqetl_column_descriptions.sql
  script/generate_global_yaml/03_column_descriptions_aggregated.sql
  script/generate_global_yaml/generate_global_yaml_descriptions.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_github.py
  sql/moz-fx-data-shared-prod/github_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/github_derived/github_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/github_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/schema.yaml
Due: validate-sql

Fix copy_blob call to use Blob object instead of string path
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/query.py
Due: validate-sql

mark backfill for 2026-03-19 as complete
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/backfill.yaml
Due: validate-sql

Enrollment alert data (#9049)
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/query.py
Due: validate-sql

mark backfill for 2026-03-19 as complete (#9050)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/query.py
Due: validate-sql

backfill from 2026-03-18 back to 2025-04-01
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/backfill.yaml
Due: validate-sql

fix(CI): Don't create GitHub Actions deployments when using environments for CI checks.
  .github/workflows/build.yml
Due: none

backfill from 2026-03-18 back to 2025-04-01 (#9051)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/backfill.yaml
Due: validate-sql

fix(CI): Don't create GitHub Actions deployments when using environments for CI checks. (#9052)
  .github/workflows/build.yml
Due: none

feat: Add support for including YAML from other files in `schema.yaml` files (DENG-9946) (#9035)
  .github/workflows/build.yml
  bigquery_etl/cli/query.py
  bigquery_etl/cli/stage.py
  bigquery_etl/schema/__init__.py
  bigquery_etl/schema/stable_table_schema.py
  bigquery_etl/util/common.py
  docs/cookbooks/common_workflows.md
  docs/mkdocs.yml
  docs/reference/schema_includes.md
  requirements.in
  tests/data/test_sql/moz-fx-data-test-project/test/nested_fields_v1/schema.yaml
  tests/schema/test_schema.py
Due: validate-bqetl

chore(CI): Uncomment the `bqetl query schema render` commands in the `main-generate-sql-and-dags` job (DENG-9946).
  .github/workflows/build.yml
Due: none

chore(CI): Uncomment the `bqetl query schema render` commands in the `main-generate-sql-and-dags` job (DENG-9946). (#9053)
  .github/workflows/build.yml
Due: none

refactor(SubPlat): Use schema includes in Stripe subscription ETLs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_v2/schema.yaml
Due: validate-sql

refactor(SubPlat): Use schema includes in Apple subscription ETLs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_v2/schema.yaml
Due: validate-sql

refactor(SubPlat): Use schema includes in Google subscription ETLs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_v2/schema.yaml
Due: validate-sql

fix(SubPlat): Restore description of `subscription.customer` field in `stripe_subscriptions_history_v2`.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_v2/schema.yaml
Due: validate-sql

docs: Fix formatting of schema includes documentation (DENG-9946).
  docs/reference/schema_includes.md
Due: none

docs: Fix formatting of schema includes documentation (DENG-9946). (#9054)
  docs/reference/schema_includes.md
Due: none

deng_10290 add files for acct front end event streams + nimbus data
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/events_stream_nimbus_enrollments_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/events_stream_nimbus_enrollments_v1/query.sql
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/events_stream_nimbus_enrollments_v1/schema.yaml
Due: validate-sql

add descriptions for key/values and other fields
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/events_stream_nimbus_enrollments_v1/schema.yaml
Due: validate-sql

fix: update first day conversion events to use the correct date for calculation. and break day 1 and 2 apart for correct activity_date
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/fbclid_desktop_conversion_events_v1/query.sql
Due: validate-sql

feat: add authorized views for google play store installs_* tables
  sql/moz-fx-data-shared-prod/google_play_store/installs_app_version/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/installs_app_version/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/installs_carrier/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/installs_carrier/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/installs_country/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/installs_country/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/installs_device/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/installs_device/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/installs_language/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/installs_language/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/installs_os_version/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/installs_os_version/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/installs_overview/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/installs_overview/view.sql
Due: validate-sql

add lookup table for cx product mappings
  sql/moz-fx-data-shared-prod/static/cx_product_mappings_v1/data.csv
  sql/moz-fx-data-shared-prod/static/cx_product_mappings_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/static/cx_product_mappings_v1/schema.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/query.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/query.sql
Due: validate-sql

backfill: populate normalized_app_name_os for mobile_search_aggregates_v1 (2024-02-06 to 2024-06-30)
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/backfill.yaml
Due: validate-sql

set metadata.yaml to false
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/metadata.yaml
Due: validate-sql

fix: correct marketing opt-in condition
  sql/moz-fx-data-shared-prod/google_ads_derived/fenix_conversion_event_categorization_v1/query.sql
Due: validate-sql
