Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

copy code from marketing-prod to shared-prod, refactor query to pull from shared-prod, change owner in metadata (#6037)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v2/schema.yaml
Due: validate-sql

DENG-4481 add profile_group_id to telemetry_derived.clients_first_seen_v2
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/schema.yaml
Due: validate-sql

[ci skip] Deployed e91abe0a03 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

copy code from marketing-prod to shared-prod, refactor query to pull from shared-prod, change owner in metadata
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/schema.yaml
Due: validate-sql

copy code from marketing-prod to shared-prod, refactor query to pull from shared-prod, change owner in metadata (#6045)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/schema.yaml
Due: validate-sql

DENG-4481 update test to include profile_group_id
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_seen_dates/expect.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_seen_dates/moz-fx-data-shared-prod.telemetry.first_shutdown.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_seen_dates/moz-fx-data-shared-prod.telemetry.new_profile.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_seen_dates/moz-fx-data-shared-prod.telemetry_derived.clients_daily_v6.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_seen_dates/moz-fx-data-shared-prod.telemetry_derived.clients_first_seen_v2.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 5dfbb878dc with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DENG-4481 update test_source_pings for clients_first_seen_v2 to include profile_group_id
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_source_pings/expect.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_source_pings/moz-fx-data-shared-prod.telemetry.first_shutdown.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_source_pings/moz-fx-data-shared-prod.telemetry.new_profile.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_source_pings/moz-fx-data-shared-prod.telemetry_derived.clients_daily_v6.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/test_source_pings/moz-fx-data-shared-prod.telemetry_derived.clients_first_seen_v2.yaml
Due: validate-bqetl, validate-sql

copy code from marketing-prod to shared-prod, refactor query to pull from shared-prod, change owner in metadata (#6039)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v2/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_glean_usage.py
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/event_monitoring_live/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop/metrics_clients_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop/metrics_clients_daily/view.sql
  sql/moz-fx-data-shared-prod/thunderbird_desktop_derived/metrics_clients_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop_derived/metrics_clients_daily_v1/query.sql
Due: validate-sql

copy code from marketing-prod to shared-prod, refactor query to pull from shared-prod, change owner in metadata
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/schema.yaml
Due: validate-sql

[ci skip] Deployed 35d0a34ab8 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

DENG-4481 update test schemas
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/moz-fx-data-shared-prod.telemetry.first_shutdown.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/moz-fx-data-shared-prod.telemetry.new_profile.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/moz-fx-data-shared-prod.telemetry_derived.clients_daily_v6.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/moz-fx-data-shared-prod.telemetry_derived.clients_first_seen_v2.schema.json
Due: validate-bqetl, validate-sql

updating sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_aggregates_to_gcs/script.sql
Due: validate-sql

DENG-4481 update query
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/query.sql
Due: validate-sql

copy code from marketing-prod to shared-prod, refactor query to pull from shared-prod, change owner in metadata (#6046)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/schema.yaml
Due: validate-sql

removed deletion date
  sql/moz-fx-data-shared-prod/telemetry_derived/events_v1/metadata.yaml
Due: validate-sql

copy code from marketing-prod to shared-prod, refactor query to pull from shared-prod, change owner in metadata
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/schema.yaml
Due: validate-sql

[ci skip] Deployed 55b5a15ca9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

DENG-4491 part 1 - add profile_group_id to schema
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/schema.yaml
Due: validate-sql

copy code from marketing-prod to shared-prod, refactor query to pull from shared-prod, change owner in metadata (#6049)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/schema.yaml
Due: validate-sql

[ci skip] Deployed 0a181abc70 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DENG-4491 part 1 - add profile_group_id to schema (#6050)
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

[ci skip] Deployed 9449eb446b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/schema.yaml
Due: validate-sql

DENG-4481 switch to last profile group ID
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/query.sql
Due: validate-sql

DENG-4515 add profile_group_id to search_clients_daily_v8
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/schema.yaml
Due: validate-sql

Fix schema.yaml formatting
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/schema.yaml
Due: validate-sql

Update friendly name and description for `mozilla_vpn_derived.site_metrics_summary_v2`.
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v2/metadata.yaml
Due: validate-sql

DENG-4515 add column description for profile_group_id
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/schema.yaml
Due: validate-sql

DENG-4481 fix formatting
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_first_seen_v2/query.sql
Due: validate-sql

removed deletion date (#6048)
  sql/moz-fx-data-shared-prod/telemetry_derived/events_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed e0ecc25687 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_partition_expirations_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop/metrics_clients_daily/schema.yaml
Due: validate-sql

Add `mozilla_vpn_derived.funnel_ga_to_subscriptions_v2` ETL using GA4 data (bug 1905989) (#6033)
  sql/moz-fx-data-shared-prod/mozilla_vpn/funnel_ga_to_subscriptions/view.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn/site_metrics_summary/view.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn/site_metrics_summary_v2/view.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/funnel_ga_to_subscriptions_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/funnel_ga_to_subscriptions_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/funnel_ga_to_subscriptions_v2/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_empty_check_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v2/metadata.yaml
Due: validate-sql
