Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Apply suggestions from code review
  docs/cookbooks/creating_a_derived_dataset.md
  docs/reference/recommended_practices.md
Due: none

Additional doc updates
  docs/cookbooks/creating_a_derived_dataset.md
  docs/reference/recommended_practices.md
Due: none

docs: DENG-809 add instructions for managed backfills
  bigquery_etl/docs/bqetl/generate_bqetl_docs.py
  docs/cookbooks/creating_a_derived_dataset.md
  docs/reference/recommended_practices.md
Due: validate-bqetl

docs: DENG-809 add instructions for managed backfills (#5377)
  bigquery_etl/docs/bqetl/generate_bqetl_docs.py
  docs/cookbooks/creating_a_derived_dataset.md
  docs/reference/recommended_practices.md
Due: validate-bqetl

DENG-3186 add submission date to desktop_eng_client_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/query.sql
Due: validate-sql

Update sql/moz-fx-data-shared-prod/static/us_zip_code_prefixes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/static/us_zip_code_prefixes_v1/metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/static/normalized_os_version/metadata.yaml
  sql/moz-fx-data-shared-prod/static/normalized_os_version/metadata.yaml
Due: validate-sql

Removed description files
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/description.txt
  sql/moz-fx-data-shared-prod/static/ca_postal_districts_v1/description.txt
  sql/moz-fx-data-shared-prod/static/country_codes_v1/description.txt
  sql/moz-fx-data-shared-prod/static/country_names_v1/description.txt
  sql/moz-fx-data-shared-prod/static/iana_tls_cipher_suites/description.txt
  sql/moz-fx-data-shared-prod/static/normal_distribution/description.txt
  sql/moz-fx-data-shared-prod/static/normalized_os_name/description.txt
  sql/moz-fx-data-shared-prod/static/normalized_os_version/description.txt
  sql/moz-fx-data-shared-prod/static/third_party_standardized_country_names/description.txt
  sql/moz-fx-data-shared-prod/static/us_zip_code_prefixes_v1/description.txt
Due: validate-sql

Update sql/moz-fx-data-shared-prod/static/iana_tls_cipher_suites/metadata.yaml
  sql/moz-fx-data-shared-prod/static/iana_tls_cipher_suites/metadata.yaml
Due: validate-sql

Update metadata.yaml
  sql/moz-fx-data-shared-prod/stripe_external/pre_fivetran_customers_v1/metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/static/normalized_os_name/metadata.yaml
  sql/moz-fx-data-shared-prod/static/normalized_os_name/metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/metadata.yaml
Due: validate-sql

Capitalized CA
  sql/moz-fx-data-shared-prod/static/ca_postal_districts_v1/metadata.yaml
Due: validate-sql

Removed daily label
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/metadata.yaml
Due: validate-sql

Removed description logic
  bigquery_etl/static.py
Due: validate-bqetl

Added metadata yaml files
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/static/ca_postal_districts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/static/country_codes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/static/country_names_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/static/iana_tls_cipher_suites/metadata.yaml
  sql/moz-fx-data-shared-prod/static/normal_distribution/metadata.yaml
  sql/moz-fx-data-shared-prod/static/normalized_os_name/metadata.yaml
  sql/moz-fx-data-shared-prod/static/normalized_os_version/metadata.yaml
  sql/moz-fx-data-shared-prod/static/third_party_standardized_country_names/metadata.yaml
  sql/moz-fx-data-shared-prod/static/us_zip_code_prefixes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stripe_external/pre_fivetran_customers_v1/metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/stripe_external/pre_fivetran_customers_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stripe_external/pre_fivetran_customers_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed fbf989425 with MkDocs version: 1.5.3
  bqetl/index.html
  cookbooks/creating_a_derived_dataset/index.html
  reference/recommended_practices/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

DENG-3186 fix typo in query
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/query.sql
Due: validate-sql

[ci skip] Deployed fbf989425 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DENG-3186 desktop engagement model
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_eng_agg/view.sql
  sql/moz-fx-data-shared-prod/telemetry/desktop_eng_client/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/schema.yaml
Due: validate-sql

DENG-3186 update desktop eng client query
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/query.sql
Due: validate-sql

DENG-3186 update desktop_eng_client_v1 query aliases
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/query.sql
Due: validate-sql

Remove sqlglot workarounds which are no longer necessary (#5384)
  bigquery_etl/dependency.py
Due: validate-bqetl

DENG-3186 rename OS columns
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/schema.yaml
Due: validate-sql

Added publish metadata
  bigquery_etl/static.py
  tests/cli/test_cli_static.py
Due: validate-bqetl

DENG-3186 add normalized OS function and include submission date in join to clients daily v6
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/query.sql
Due: validate-sql

[ci skip] Deployed e7215801b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DENG-3186 fix data type for os version major
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/schema.yaml
Due: validate-sql

DENG-3186 fix data type for attribution DL source
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/schema.yaml
Due: validate-sql

Fixes #185 - Fix missing title error for broken-site-report-ml job (#186)
  jobs/broken-site-report-ml/broken_site_report_ml/main.py
Due: none

DENG-3186 - improve column descriptions on desktop_eng_agg
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_agg_v1/schema.yaml
Due: validate-sql

DENG-3186 add column descriptions to desktop_eng_client_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_eng_client_v1/schema.yaml
Due: validate-sql

Removing modified at timestamp from all schemas
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/schema.yaml
Due: validate-sql

Added cost field to usage view
  sql/moz-fx-data-shared-prod/monitoring/bigquery_usage/view.sql
Due: validate-sql

removing extra fxa table
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
Due: validate-sql

Removing modified at timestamp from all schemas (#5388)
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/schema.yaml
Due: validate-sql

Update bigquery_etl/cli/backfill.py
  bigquery_etl/cli/backfill.py
Due: validate-bqetl
