Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

feat: update status of firefox_ios_derived.retention_v1 to Complete (#5730)
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/backfill.yaml
Due: validate-sql

Hardcode normalized_os as iOS in event_aggregates (#5725)
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.firefox_ios.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.firefox_ios.fx_suggest.yaml
Due: validate-bqetl, validate-sql

Complete backfill of geckoview_versions (#5742)
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/backfill.yaml
Due: validate-sql

Create klar_android.active users aggregates (#5624)
  sql_generators/active_users_aggregates_v3/__init__.py
  sql_generators/active_users_aggregates_v3/templates/mobile_query.sql
  sql_generators/active_users_aggregates_v3/templates/mobile_view.sql
Due: validate-sql

Update schema for schema_error_counts_v2 (#5748)
  sql/moz-fx-data-shared-prod/monitoring_derived/schema_error_counts_v2/schema.yaml
Due: validate-sql

add backfill.yaml for managed backfill of desktop_retention_v1 aggregation table (#5727)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/backfill.yaml
Due: validate-sql

Added dataset id (#5721)
  bigquery_etl/backfill/utils.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

feat: make changes to generate retention and engagement for focus and klar products also (#5710)
  sql_generators/mobile_kpi_support_metrics/__init__.py
  sql_generators/mobile_kpi_support_metrics/templates/engagement.query.sql
  sql_generators/mobile_kpi_support_metrics/templates/engagement.schema.yaml
  sql_generators/mobile_kpi_support_metrics/templates/engagement_clients.view.sql
  sql_generators/mobile_kpi_support_metrics/templates/retention.query.sql
  sql_generators/mobile_kpi_support_metrics/templates/retention.schema.yaml
  sql_generators/mobile_kpi_support_metrics/templates/retention_clients.view.sql
  sql_generators/mobile_kpi_support_metrics/templates/union.view.sql
Due: validate-sql

add scheduling definition into parameter to fix error where data not … (#5716)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/metadata.yaml
Due: validate-sql

Fix `format_timedelta` function's parsing of negative timedeltas (#5740)
  bigquery_etl/query_scheduling/formatters.py
  bigquery_etl/query_scheduling/utils.py
  tests/query_scheduling/test_formatters.py
Due: validate-bqetl, validate-sql

removing uniqueness check from sync models (#5739)
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/checks.sql
Due: validate-sql

fix(geckoview_version): Replace geckoview.version field with valid gecko.version (#5736)
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/bootstrap.py
  tests/sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/metrics.schema.json
  tests/sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/org_mozilla_fenix.metrics.schema.json
  tests/sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/org_mozilla_fenix_nightly.metrics.schema.json
  tests/sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/org_mozilla_fennec_aurora.metrics.schema.json
  tests/sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/test_aggregation/org_mozilla_fenix.metrics.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/test_aggregation/org_mozilla_fenix_nightly.metrics.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/geckoview_version_v1/test_aggregation/org_mozilla_fennec_aurora.metrics.yaml
Due: validate-bqetl, validate-sql

Changes to active_users_aggregates query for Mobile (#5396)
  sql_generators/active_users_aggregates_v3/templates/focus_android_query.sql
  sql_generators/active_users_aggregates_v3/templates/focus_android_view.sql
  sql_generators/active_users_aggregates_v3/templates/metadata.yaml
  sql_generators/active_users_aggregates_v3/templates/mobile_checks.sql
  sql_generators/active_users_aggregates_v3/templates/mobile_query.sql
  sql_generators/active_users_aggregates_v3/templates/mobile_schema.yaml
Due: validate-sql

Exclude `accounts_cirrus` Glean app from baseline ping checks as it has no baseline pings (bug 1888718). (#5726)
  sql_generators/glean_usage/common.py
Due: validate-sql

change status from Intitiate to Complete (#5732)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/backfill.yaml
Due: validate-sql

The app_name is Firefox Desktop in all cases. (#5720)
  sql/moz-fx-data-shared-prod/telemetry/desktop_active_users/view.sql
Due: validate-sql

adding search with ads organic to mobile_search_aggregates and search_revenue_levers_daily table (#5682)
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/mobile_search_clients_daily_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/test_aggregation/mobile_search_clients_daily_v1.yaml
Due: validate-bqetl, validate-sql

adding builders application newsletter to map (#5708)
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

feat: add backfill.yaml for firefox_ios_derived.retention_v1 (#5728)
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/backfill.yaml
Due: validate-sql

Remove `external_downstream_tasks` metadata from `unified_metrics_v1`. (#5734)
  sql/moz-fx-data-shared-prod/telemetry_derived/unified_metrics_v1/metadata.yaml
Due: validate-sql

Add channel to schema_error_counts_v2 (#5744)
  requirements.in
  requirements.txt
  sql/moz-fx-data-shared-prod/monitoring_derived/schema_error_counts_v2/query.sql
Due: validate-bqetl, validate-sql, validate-routines

Add additional fields to data observability table to test schema changes (#5735)
  sql/data-observability-dev/fenix_derived/firefox_android_clients_v1/query.sql
Due: validate-sql

Add deprecation label to sql generators. (#5746)
  sql_generators/active_users_deletion_requests/templates/metadata_deletion_request.yaml
Due: validate-sql

[ci skip] Deployed 212516c41d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_aggregations.py
  dags/bqetl_glean_usage.py
  dags/bqetl_search_dashboard.py
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/klar_android/active_users_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users_aggregates/view.sql
  sql/moz-fx-data-shared-prod/klar_android_derived/active_users_aggregates_v3/checks.sql
  sql/moz-fx-data-shared-prod/klar_android_derived/active_users_aggregates_v3/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_android_derived/active_users_aggregates_v3/query.sql
  sql/moz-fx-data-shared-prod/klar_android_derived/active_users_aggregates_v3/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates_mobile/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates_mobile/view.sql
Due: validate-sql

Changes to active_users_aggregates view (#5395)
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates/view.sql
Due: validate-sql

Update sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/query.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/query.sql
Due: validate-sql

Remove poucave access
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_joined/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_v6/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/events_live/metadata.yaml
Due: validate-sql

[ci skip] Deployed 9f3c2a0972 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/active_users_aggregates/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/viu_politica_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

Update where clause
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/query.sql
Due: validate-sql

GROWTH-143 - apply logic changes to query and update schema (#5753)
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/query.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/schema.yaml
Due: validate-sql

fix percentile udf
  sql/mozfun/glam/percentile/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 657ccff0fa with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Fix typo
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_desktop_conv_evnt_categorization.py
  dags/bqetl_main_summary.py
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/google_ads/conversion_event_categorization/schema.yaml
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/query.sql
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/viu_politica_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

Fix typo (#5756)
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/query.sql
Due: validate-sql

Requires a filter on submission date in clients last seen raw
  sql/moz-fx-data-shared-prod/google_ads_derived/conversion_event_categorization_v1/query.sql
Due: validate-sql
