Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed 196690dc9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/mozilla_vpn/site_metrics_summary_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/site_metrics_summary_v2/view.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v2/schema.yaml
Due: validate-sql

DS-3104. Create view clients_last_seen to use v2.
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/view.sql
Due: validate-sql

Update udf.sql (#5229)
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed e926538ac with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/mozilla_vpn/site_metrics_summary_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

Add `locale` and non-search engage flag (#5224)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/expect.yaml
Due: validate-bqetl, validate-sql

DENG-2581 fix joins when certain parameters are null
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v2/query.sql
Due: validate-sql

[ci skip] Deployed 765865eaa with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/schema.yaml
Due: validate-sql

DENG-2581 fix joins when certain parameters are null (#5231)
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v2/query.sql
Due: validate-sql

Update bigquery_etl/metadata/parse_metadata.py
  bigquery_etl/metadata/parse_metadata.py
Due: validate-bqetl

Fixed deletion date
  bigquery_etl/cli/metadata.py
Due: validate-bqetl

[ci skip] Deployed b238fefea with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Fixed arguments optional
  bigquery_etl/cli/metadata.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/site_metrics_summary_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Added return back
  bigquery_etl/cli/metadata.py
Due: validate-bqetl

Field description and uricount > 0.
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/schema.yaml
Due: validate-sql

Update comment.
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.query.sql
Due: validate-sql

Add days_active_bits to clients_last_seen_v2 (#5228)
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_v2/schema.yaml
Due: validate-sql

Filter tables using the `glean-min` schema
  script/glam/generate_glean_sql
Due: none

[ci skip] Deployed 295900ba8 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

fix: incorrect type for event_timestamp raw_recipient_raw_v1
  sql/moz-fx-data-marketing-prod/acoustic/raw_recipient_raw_v1/schema.yaml
Due: validate-sql

fix: incorrect type for event_timestamp raw_recipient_raw_v1 (#5234)
  sql/moz-fx-data-marketing-prod/acoustic/raw_recipient_raw_v1/schema.yaml
Due: validate-sql

Update script/glam/generate_glean_sql
  script/glam/generate_glean_sql
Due: none

[ci skip] Deployed c4ff6ae41 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Don't freeze the supported schema version
  script/glam/generate_glean_sql
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-marketing-prod/acoustic/raw_recipient_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Filter tables using the `glean-min` schema (#5233)
  script/glam/generate_glean_sql
Due: none

[ci skip] Deployed b6f720d41 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

fix: using fully qualified source table name in fenix_derived.events_daily_v1 inside data-observabiolity project
  sql/data-observability-dev/fenix_derived/events_daily_v1/query.sql
Due: validate-sql

fix: correct event queries used to copy data into data-observability-dev project
  sql/data-observability-dev/fenix_derived/event_types_v1/query.sql
  sql/data-observability-dev/fenix_derived/events_daily_v1/query.sql
Due: validate-sql

feat: add fenix_derived test tables to the data-observability-dev project
  sql/data-observability-dev/fenix_derived/clients_last_seen_joined_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/clients_last_seen_joined_v1/query.sql
  sql/data-observability-dev/fenix_derived/event_types_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/event_types_v1/query.sql
  sql/data-observability-dev/fenix_derived/events_daily_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/events_daily_v1/query.sql
  sql/data-observability-dev/fenix_derived/firefox_android_clients_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/firefox_android_clients_v1/query.sql
  sql/data-observability-dev/fenix_derived/firefox_android_clients_v1/schema.yaml
  sql/data-observability-dev/fenix_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/metrics_clients_last_seen_v1/query.sql
Due: validate-sql

feat: add new temp DAG for running copy to data-observability-dev tasks
  dags.yaml
  sql/data-observability-dev/fenix_derived/clients_last_seen_joined_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/event_types_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/events_daily_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/firefox_android_clients_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/metrics_clients_last_seen_v1/metadata.yaml
  sql/data-observability-dev/org_mozilla_firefox_derived/event_monitoring_live_v1/metadata.yaml
Due: validate-sql

feat: add event_monitoring_live_v1 to data-observability-dev
  sql/data-observability-dev/org_mozilla_firefox_derived/event_monitoring_live_v1/init.sql
  sql/data-observability-dev/org_mozilla_firefox_derived/event_monitoring_live_v1/metadata.yaml
Due: validate-sql

[run-tests] Remove dry run skipping for restricted datasets
  bqetl_project.yaml
Due: validate-sql, validate-routines

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
