Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Add description to the bqetl_braze DAG
  dags.yaml
Due: validate-sql

Add fully qualified table name to tests
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/moz-fx-data-shared-prod.telemetry_derived.clients_histogram_bucket_counts_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/moz-fx-data-shared-prod.telemetry_derived.clients_non_norm_histogram_bucket_counts_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/test_aggregation/moz-fx-data-shared-prod.telemetry_derived.clients_histogram_bucket_counts_v1.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/test_aggregation/moz-fx-data-shared-prod.telemetry_derived.clients_non_norm_histogram_bucket_counts_v1.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/moz-fx-data-shared-prod.telemetry_derived.clients_scalar_aggregates_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/test_aggregation/moz-fx-data-shared-prod.telemetry_derived.clients_scalar_aggregates_v1.yaml
Due: validate-bqetl, validate-sql

fix(glam) add fully qualified table names in legacy telemetry queries (#5559)
  bigquery_etl/glam/templates/probe_counts_v1.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_new_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_bucket_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_non_norm_histogram_bucket_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_sample_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/histogram_percentiles_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/scalar_percentiles_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/moz-fx-data-shared-prod.telemetry_derived.clients_histogram_bucket_counts_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/moz-fx-data-shared-prod.telemetry_derived.clients_non_norm_histogram_bucket_counts_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/test_aggregation/moz-fx-data-shared-prod.telemetry_derived.clients_histogram_bucket_counts_v1.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/test_aggregation/moz-fx-data-shared-prod.telemetry_derived.clients_non_norm_histogram_bucket_counts_v1.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/moz-fx-data-shared-prod.telemetry_derived.clients_scalar_aggregates_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/test_aggregation/moz-fx-data-shared-prod.telemetry_derived.clients_scalar_aggregates_v1.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 8bd936e1bc with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_new_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_bucket_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_bucket_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_non_norm_histogram_bucket_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_sample_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_sample_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/histogram_percentiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/histogram_percentiles_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/scalar_percentiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/scalar_percentiles_v1/query.sql
Due: validate-sql

Rename test files
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.fenix.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.firefox_ios.fx_suggest.yaml
Due: validate-bqetl, validate-sql

Update expected values
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/expect.yaml
Due: validate-bqetl, validate-sql

Fix tests
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.fenix.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.firefox_ios.fx_suggest.yaml
Due: validate-bqetl, validate-sql

Omit null values from expect.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/expect.yaml
Due: validate-bqetl, validate-sql

AD-310 Add mobile suggest to event_aggregates and event_aggregates_suggest (#5565)
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.fenix.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.firefox_ios.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/expect.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.fenix.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.firefox_ios.fx_suggest.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 738de5198c with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
Due: validate-sql

move files from retention to desktop_retention, retention_clietns to desktop_retention_clients
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/query.sql
Due: validate-sql

Fix mobile suggest in event_aggregates_suggest
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
Due: validate-sql

Fix mobile suggest in event_aggregates_suggest (#5567)
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
Due: validate-sql

add newline to end of schema.yaml file
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 0df72ee54f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/main_nightly/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

reinstate retention_v1 deprecated folder/metadata.yaml file
  sql/moz-fx-data-shared-prod/telemetry_derived/retention_v1/metadata.yaml
Due: validate-sql

refactor desktop_retention_clients_v1/desktop_retention metadata.yaml - add in clustering, take out extra space indent
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/metadata.yaml
Due: validate-sql

refactor metadata.yaml, add schema.yaml, change query.sql to pull from telemetry_derived.desktop_retention_clients_v1 not view
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/schema.yaml
Due: validate-sql

add in metric_date for desktop_retention_v1 partition, take out require partition date filtering for both retention and retention_clients
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/metadata.yaml
Due: validate-sql

fix: correct the base_acl for data-observability-dev.org_mozilla_firefox_derived
  sql/data-observability-dev/org_mozilla_firefox_derived/dataset_metadata.yaml
Due: validate-sql

update is_weekly_user to use days_seen_bits instead of days_active_bits
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

fix: correct the base_acl for data-observability-dev.org_mozilla_firefox_derived (#5569)
  sql/data-observability-dev/org_mozilla_firefox_derived/dataset_metadata.yaml
Due: validate-sql

Remove first_seen_date and correct column name in desktop_query.sql
  sql_generators/active_users_aggregates_v3/templates/desktop_query.sql
Due: validate-sql

[ci skip] Deployed 82c8878c8e with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

update is_weekly_user to use days_seen_bits instead of days_active_bits (#5570)
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

[ci skip] Deployed edd6956a9d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

DENG-3186 skip dryrun for desktop engagement clients V1
  bqetl_project.yaml
Due: validate-sql, validate-routines

DENG-3186 skip dryrun for desktop engagement clients V1 (#5571)
  bqetl_project.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed bab46f14c8 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
Due: validate-sql

add desktop_retention_model to dags.yaml
  dags.yaml
Due: validate-sql

feat: add additional firefox android queries to simulate a data lineage/flow
  sql/data-observability-dev/fenix/firefox_android_aggregates/view.sql
  sql/data-observability-dev/fenix/firefox_android_anonymised/view.sql
  sql/data-observability-dev/fenix_derived/firefox_android_aggregates_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/firefox_android_aggregates_v1/query.sql
  sql/data-observability-dev/fenix_derived/firefox_android_aggregates_v1/schema.yaml
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/query.sql
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/schema.yaml
  sql/data-observability-dev/telemetry/firefox_aggregates/view.sql
  sql/data-observability-dev/telemetry_derived/firefox_aggregates_v1/metadata.yaml
  sql/data-observability-dev/telemetry_derived/firefox_aggregates_v1/query.sql
  sql/data-observability-dev/telemetry_derived/firefox_aggregates_v1/schema.yaml
Due: validate-sql

feat: add additional firefox android queries to simulate a data lineage/flow (#5568)
  sql/data-observability-dev/fenix/firefox_android_aggregates/view.sql
  sql/data-observability-dev/fenix/firefox_android_anonymised/view.sql
  sql/data-observability-dev/fenix_derived/firefox_android_aggregates_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/firefox_android_aggregates_v1/query.sql
  sql/data-observability-dev/fenix_derived/firefox_android_aggregates_v1/schema.yaml
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/metadata.yaml
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/query.sql
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/schema.yaml
  sql/data-observability-dev/telemetry/firefox_aggregates/view.sql
  sql/data-observability-dev/telemetry_derived/firefox_aggregates_v1/metadata.yaml
  sql/data-observability-dev/telemetry_derived/firefox_aggregates_v1/query.sql
  sql/data-observability-dev/telemetry_derived/firefox_aggregates_v1/schema.yaml
Due: validate-sql

DENG-3186 update shredder config to match updated table name
  bigquery_etl/shredder/config.py
Due: validate-bqetl
