Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/mozfun/marketing/parse_ad_group_name/udf.sql
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-sql, validate-routines

update extract_segments_from_campaign_names to work for more accounts
  sql/mozfun/google_ads/extract_segments_from_campaign_name/udf.sql
Due: validate-sql, validate-routines

refix typo
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-sql, validate-routines

Drafting backfill.yaml (#5891)
  sql/moz-fx-data-shared-prod/telemetry_derived/sponsored_tiles_clients_daily_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed 21949bcb79 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/sponsored_tiles_clients_daily_v1/backfill.yaml
Due: validate-sql

RS1247 - Mark the search client level tables backfill as complete (#5884)
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/backfill.yaml
Due: validate-sql

Backfill desktop search aggregates from 2022-01-01'
  sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/backfill.yaml
Due: validate-sql

[ci skip] Deployed 1ccc1b7ac1 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
Due: validate-sql

Backfill desktop search aggregates from 2022-01-01' (#5897)
  sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/backfill.yaml
Due: validate-sql

[ci skip] Deployed 1a547e5dc7 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
Due: validate-sql

Stub out removal of Circle CI context, add gcp OIDC config
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Removed duplicate executor declaration
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Set tagged deploy workflow to run on our PR branch for now
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

correct workflow to run our branch
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

bqetl format
  sql/mozfun/marketing/parse_campaign_name/udf.sql
Due: validate-sql, validate-routines

feat(fxci): add metadata / schemas for new fxci-etl tables
  sql/moz-fx-data-shared-prod/fxci_derived/task_runs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/task_runs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/tasks_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/tasks_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_metrics_v1/schema.yaml
Due: validate-sql

Update view.sql to point to prod source
  sql/moz-fx-data-shared-prod/ads/ppa_measurements/view.sql
Due: validate-sql

Update view.sql to point to prod source (#5900)
  sql/moz-fx-data-shared-prod/ads/ppa_measurements/view.sql
Due: validate-sql

[ci skip] Deployed 64ae537714 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Use anchor to reduce WET config
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

feat(fxci): add metadata / schemas for new fxci-etl tables (#5899)
  sql/moz-fx-data-shared-prod/fxci_derived/task_runs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/task_runs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/tasks_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/tasks_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_metrics_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 718a807212 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/task_runs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/task_runs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/tasks_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/tasks_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
Due: validate-sql

fix(glam_export): Update a task dep on task_group that forgot
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_nightly_v1/metadata.yaml
Due: validate-sql

Fix udf_js.gunzip to allow long payloads
  sql/moz-fx-data-shared-prod/udf_js/gunzip/udf.sql
Due: validate-sql, validate-routines

fix(glam_export): Update a task dep on task_group that forgot (#5901)
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_nightly_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed 1811b870fd with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_glam_export.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_nightly_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
Due: validate-sql

Switch to fromCharCode in chunks
  sql/moz-fx-data-shared-prod/udf_js/gunzip/udf.sql
Due: validate-sql, validate-routines

clean up tests
  sql/moz-fx-data-shared-prod/udf_js/gunzip/udf.sql
Due: validate-sql, validate-routines

format
  sql/moz-fx-data-shared-prod/udf_js/gunzip/udf.sql
Due: validate-sql, validate-routines

Fix udf_js.gunzip to allow very long inputs (#5902)
  sql/moz-fx-data-shared-prod/udf_js/gunzip/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 83e92f369b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

re-add missing dataset_base_acl
  sql/moz-fx-data-shared-prod/monitor_backend/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_backend_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_cirrus_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/dataset_metadata.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
