Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/www_site_downloads/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/www_site_downloads/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/www_site_downloads/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
Due: validate-sql

Include more versions of registration and login funnel (#5992)
  sql_generators/funnels/configs/login_funnels_by_service.toml
  sql_generators/funnels/configs/registration_funnels_by_service.toml
Due: validate-sql

[ci skip] Deployed 6abb4be937 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_generated_funnels.py
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/login_funnels_by_service_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/login_funnels_by_service_v1/query.sql
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/registration_funnels_by_service_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/main_1pct/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/main_nightly/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/main_remainder_1pct/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
Due: validate-sql

[DENG-4256] Search for shredder targets using table lineage
  bigquery_etl/shredder/search_v2.py
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

Fix event name to be correct
  sql_generators/funnels/configs/reg_engagement_funnel.toml
Due: validate-sql

DENG-4194 - add filter that was missed in copy from marketing-prod
  sql/moz-fx-data-shared-prod/mozilla_org/www_site_downloads/view.sql
Due: validate-sql

Fix event name to be correct (#5994)
  sql_generators/funnels/configs/reg_engagement_funnel.toml
Due: validate-sql

[ci skip] Deployed 80fd89c9b1 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_frontend/login_funnels_by_service/schema.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend/registration_funnels_by_service/schema.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend_derived/reg_engagement_funnel_v1/query.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

SVCSE-2120 create syndication file for phabricator_metrics
  sql/moz-fx-data-shared-prod/phabricator_prod_metrics/dataset_metadata.yaml
Due: validate-sql

SVCSE-2120 fixed phabricator_metrics folder name
  sql/moz-fx-data-shared-prod/phabricator_metrics/dataset_metadata.yaml
Due: validate-sql

SVCSE-2120 fixed syndicated dataset ref
  sql/moz-fx-data-shared-prod/phabricator_metrics/dataset_metadata.yaml
Due: validate-sql

SVCSE-2120 create syndication file for phabricator_metrics (#5996)
  sql/moz-fx-data-shared-prod/phabricator_metrics/dataset_metadata.yaml
Due: validate-sql

[ci skip] Deployed 2edef1f53e with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/phabricator_metrics/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Update accounts events checks
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_services_daily_v1/checks.sql
Due: validate-sql

Update accounts events checks (#5997)
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_services_daily_v1/checks.sql
Due: validate-sql

[ci skip] Deployed 82fb01d1e1 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Change fxa_carts amount to int in schema
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_carts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/accounts_db_nonprod_external/fxa_carts_v1/schema.yaml
Due: validate-sql

Change fxa_carts amount to int in schema (#5998)
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_carts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/accounts_db_nonprod_external/fxa_carts_v1/schema.yaml
Due: validate-sql

Give census access to this so we can filter on age of gclid
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
Due: validate-sql

[ci skip] Deployed bec5dbf5c2 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Separate DAU metrics
  sql/moz-fx-data-shared-prod/search/search_dau_aggregates/view.sql
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_db_external/fxa_carts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/accounts_db_nonprod_external/fxa_carts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Give census access to this so we can filter on age of gclid (#5999)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
Due: validate-sql

[ci skip] Deployed bd82d1d9b2 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/metadata.yaml
Due: validate-sql

Add normalized_default_search_engine column for mobile and desktop
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/schema.yaml
Due: validate-sql

Rearrange baseline_clients schemas to match prod order
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

Combine desktop + mobile DAU queries
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/schema.yaml
Due: validate-sql

Auxiliary functions required to generate the query for a backfill with shredder mitigation.
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/cli/utils.py
  tests/backfill/test_shredder_mitigation.py
  tests/cli/test_cli_utils.py
Due: validate-bqetl

Exception handling.
  bigquery_etl/cli/utils.py
Due: validate-bqetl

Fix test cases
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/query.sql
  tests/sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/test_aggregation/expect.ndjson
Due: validate-bqetl, validate-sql

DENG-4204 - move www_site_downloads from marketing-prod to shared-prod
  sql/moz-fx-data-marketing-prod/ga/www_site_downloads/view.sql
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_downloads_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_downloads_v2/query.sql
  sql/moz-fx-data-marketing-prod/ga_derived/www_site_downloads_v2/schema.yaml
Due: validate-sql

DENG-4194 - add filter that was missed in copy from marketing-prod (#5995)
  sql/moz-fx-data-shared-prod/mozilla_org/www_site_downloads/view.sql
Due: validate-sql

[ci skip] Deployed 3c03641886 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Fix CI failure
  CODEOWNERS
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_dau_aggregates_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/www_site_downloads/view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
