Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

#5830 Union default_table_workgroup_access with table-level workgroup_accesss in metadata generation logic (#6811)
  bigquery_etl/cli/metadata.py
  tests/cli/test_cli_metadata.py
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/metadata.yaml
Due: validate-bqetl, validate-sql

feat(org_mozilla_broken_site_report): Add mobile reports to the unified views.
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports_live/view.sql
Due: validate-sql

[ci skip] Deployed e4705e58ad with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-7513] Filter unexpectedload events from desktop derived events
  sql/moz-fx-data-shared-prod/telemetry_derived/event_events_v1/query.sql
  sql_generators/glean_usage/templates/events_stream_v1.query.sql
Due: validate-sql

[DENG-7513] Filter unexpectedload events from desktop derived events (#6833)
  sql/moz-fx-data-shared-prod/telemetry_derived/event_events_v1/query.sql
  sql_generators/glean_usage/templates/events_stream_v1.query.sql
Due: validate-sql

feat(org_mozilla_broken_site_report): Add mobile reports to the unified views. (#6828)
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports_live/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_stream_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/event_events_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports_live/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_broken_site_report/user_reports_live/view.sql
Due: validate-sql

Add mock data for quick_suggest_v1 to fix tests
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/moz-fx-data-shared-prod.contextual_services_stable.quicksuggest_impression_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/moz-fx-data-shared-prod.firefox_desktop_stable.quick_suggest_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/moz-fx-data-shared-prod.search_terms_derived.merino_log_sanitized_v3.yaml
Due: validate-bqetl, validate-sql

feat(dryrun): Pass all query parameters when dry-running queries.
  bigquery_etl/dryrun.py
Due: validate-bqetl

Fix expected data
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/expect.yaml
Due: validate-bqetl, validate-sql

More fixes to expected data
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/expect.yaml
Due: validate-bqetl, validate-sql

Add quick_suggest_ping_type, and a click that should be ignored
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/moz-fx-data-shared-prod.firefox_desktop_stable.quick_suggest_v1.yaml
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/moz-fx-data-shared-prod.search_terms_derived.merino_log_sanitized_v3.yaml
Due: validate-bqetl, validate-sql

Update bigquery_etl/dryrun.py
  bigquery_etl/dryrun.py
Due: validate-bqetl

Move quick_suggest_context_id to uuid
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/moz-fx-data-shared-prod.firefox_desktop_stable.quick_suggest_v1.yaml
Due: validate-bqetl, validate-sql

Add accounts health lighthouse data
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_lighthouse_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_lighthouse_v1/schema.yaml
Due: validate-sql

work in progress
  bigquery_etl/check_desc.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

DENG-6441 Handle usage_deletion_request in Shredder (#6707)
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Deprecate telemetry_derived.clients_profile_per_install_affected_v1
  bigquery_etl/shredder/config.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_profile_per_install_affected_v1/metadata.yaml
Due: validate-bqetl, validate-sql

Update logic to align report date for metrics ping
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_metrics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/feature_usage_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/feature_usage_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/feature_usage_metrics_v2/schema.yaml
Due: validate-sql

fix: wrong struct value set as normalized_app_name_os
  sql/moz-fx-data-shared-prod/search/mobile_search_clients_daily/view.sql
Due: validate-sql

fix: make sure the correct filter is applied when selecting search counts when calculating profile activation
  sql/moz-fx-data-shared-prod/fenix_derived/new_profile_activation_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_activation_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_activation_v2/query.sql
Due: validate-sql

Deprecate telemetry_derived.clients_profile_per_install_affected_v1 (#6838)
  bigquery_etl/shredder/config.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_profile_per_install_affected_v1/metadata.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed ba5c4ea936 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Update logic to align report date for metrics ping (#6834)
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/feature_usage_metrics_v2/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/feature_usage_metrics_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/feature_usage_metrics_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/feature_usage_metrics_v2/schema.yaml
Due: validate-sql
