Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

ci: fix template injections and cache poisoning in build workflow [DENG-10780] (#8974)
  .github/workflows/build.yml
Due: none

Update README.md
  README.md
Due: none

ci: gate build job behind external-fork environment for fork PRs [DENG-10780]
  .github/workflows/build.yml
Due: none

ci: explicitly gate previously transitively-gated jobs [DENG-10780]
  .github/workflows/build.yml
Due: none

ci: gate build job behind external-fork environment for fork PRs [DEN… (#8976)
  .github/workflows/build.yml
Due: none

Uncomment parameter to fix dryrun
  sql/moz-fx-data-shared-prod/braze_external/braze_sends_combined_v1/metadata.yaml
Due: validate-sql

feat: add google_play_store_derived/vitals_crash_rate_v1
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_crash_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_crash_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_crash_rate_v1/schema.yaml
Due: validate-sql

Add test comments to dryrun.py and clients_daily_v6 to test CI
  bigquery_etl/dryrun.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/query.sql
Due: validate-bqetl, validate-sql

Add test comments to dryrun.py and clients_daily_v6 to test CI
  bigquery_etl/cli/dryrun.py
  sql/moz-fx-data-shared-prod/telemetry_derived/accessibility_clients_v1/query.sql
Due: validate-bqetl, validate-sql

Uncomment parameter to fix dryrun (#8977)
  sql/moz-fx-data-shared-prod/braze_external/braze_sends_combined_v1/metadata.yaml
Due: validate-sql

feat: add google_play_store_derived/vitals_anr_rate_v1
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_anr_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_anr_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_anr_rate_v1/schema.yaml
Due: validate-sql

feat: add google_play_store_derived/vitals_lmk_rate_v1
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_lmk_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_lmk_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_lmk_rate_v1/schema.yaml
Due: validate-sql

cast to numeric data type and add dag_name property
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_costs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_costs_v1/query.sql
Due: validate-sql

Update Newtab Visits Daily with Scalabale Widgets
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/schema.yaml
Due: validate-sql

feat: add google_play_store_derived/vitals_lmk_rate_v1 (#8982)
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_lmk_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_lmk_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_lmk_rate_v1/schema.yaml
Due: validate-sql

feat: add google_play_store_derived/vitals_anr_rate_v1 (#8980)
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_anr_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_anr_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_anr_rate_v1/schema.yaml
Due: validate-sql

feat: add google_play_store_derived/vitals_crash_rate_v1 (#8978)
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_crash_rate_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_crash_rate_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_crash_rate_v1/schema.yaml
Due: validate-sql

Update Newtab Visits Daily with Scalabale Widgets
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/schema.yaml
Due: validate-sql

feat: add views for new vitals queries and update metadata for existing ones
  sql/moz-fx-data-shared-prod/google_play_store/slow_startup_events_by_startup_type/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/slow_startup_events_by_startup_type_and_version/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_anr_rate/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_anr_rate/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/vitals_crash_rate/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_crash_rate/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/vitals_error_count/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_error_count/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/view.sql
Due: validate-sql

feat: add schema.yaml for the new vitals_ views
  sql/moz-fx-data-shared-prod/google_play_store/vitals_anr_rate/schema.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_crash_rate/schema.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_error_count/schema.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/schema.yaml
Due: validate-sql

fix: description typo and friendly name casing
  sql/moz-fx-data-shared-prod/google_play_store/vitals_anr_rate/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/metadata.yaml
Due: validate-sql

test(SubPlat): Add tests for `stripe_external.subscriptions_changelog_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.coupon_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.plan_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.product_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.subscription_discount_v2.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.subscription_history_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.subscription_item_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.subscription_tax_rate_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.subscriptions_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/moz-fx-data-shared-prod.stripe_external.tax_rate_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/test_subscriptions_history_with_plan_ids/expect.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/test_subscriptions_history_with_plan_ids/moz-fx-data-shared-prod.stripe_external.plan_v1.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/test_subscriptions_history_with_plan_ids/moz-fx-data-shared-prod.stripe_external.product_v1.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/test_subscriptions_history_with_plan_ids/moz-fx-data-shared-prod.stripe_external.subscription_history_v1.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/test_subscriptions_history_with_plan_ids/moz-fx-data-shared-prod.stripe_external.subscription_item_v1.yaml
  tests/sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/test_subscriptions_history_with_plan_ids/moz-fx-data-shared-prod.stripe_external.subscriptions_changelog_v1.yaml
Due: validate-bqetl, validate-sql

test(SubPlat): Add tests for `stripe_subscriptions_revised_changelog_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/moz-fx-data-shared-prod.stripe_external.invoice_line_item_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/moz-fx-data-shared-prod.stripe_external.subscriptions_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/moz-fx-data-shared-prod.subscription_platform_derived.stripe_plans_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/moz-fx-data-shared-prod.subscription_platform_derived.stripe_products_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/test_adjusted_subscription_end/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/test_adjusted_subscription_end/moz-fx-data-shared-prod.stripe_external.subscriptions_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/test_adjusted_subscription_end/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/test_adjusted_subscription_start/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/test_adjusted_subscription_start/moz-fx-data-shared-prod.stripe_external.subscriptions_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/test_adjusted_subscription_start/query_params.yaml
Due: validate-bqetl, validate-sql

add files for tou_mobile, also add gold label to desktop and mobile tou aua
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_mobile_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_mobile_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_mobile_v1/schema.yaml
Due: validate-sql

test(SubPlat): Add tests for `stripe_customers_revised_changelog_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/moz-fx-data-shared-prod.stripe_external.customers_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/moz-fx-data-shared-prod.stripe_external.pre_fivetran_customers_v2.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/moz-fx-data-shared-prod.stripe_external.subscriptions_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/test_adjusted_customer_creation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/test_adjusted_customer_creation/moz-fx-data-shared-prod.stripe_external.customers_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/test_adjusted_customer_creation/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/test_synthetic_customer_creation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/test_synthetic_customer_creation/moz-fx-data-shared-prod.stripe_external.customers_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/test_synthetic_customer_creation/query_params.yaml
Due: validate-bqetl, validate-sql

take out gold level label for present. will add back in future PR
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_mobile_v1/metadata.yaml
Due: validate-sql

test(SubPlat): Add tests for `apple_logical_subscriptions_history_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/moz-fx-data-shared-prod.static.country_codes_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_history_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.services_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.stripe_plans_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.stripe_products_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/test_subscriptions_history_periods/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/test_subscriptions_history_periods/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_history_v1.yaml
Due: validate-bqetl, validate-sql

Update sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/metadata.yaml
Due: validate-sql

feat(DENG-10585): add google play store vitals add user views (#8985)
  sql/moz-fx-data-shared-prod/google_play_store/slow_startup_events_by_startup_type/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/slow_startup_events_by_startup_type_and_version/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_anr_rate/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_anr_rate/schema.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_anr_rate/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/vitals_crash_rate/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_crash_rate/schema.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_crash_rate/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/vitals_error_count/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_error_count/schema.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_error_count/view.sql
  sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/schema.yaml
  sql/moz-fx-data-shared-prod/google_play_store/vitals_lmk_rate/view.sql
Due: validate-sql

add level: silver to metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/metadata.yaml
Due: validate-sql

update, reorder fields and create view schema
  sql/moz-fx-data-shared-prod/firefox_desktop/urlbar_events_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/urlbar_events_daily/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/query.sql
Due: validate-sql

update app_display_version
  sql_generators/urlbar_events/templates/desktop_query.sql
  sql_generators/urlbar_events/templates/schema.yaml
  sql_generators/urlbar_events/templates/view.sql
Due: validate-sql

add unit tests
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/query.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/test_aggregation_by_date_and_product/expect.yaml
  tests/sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/test_aggregation_by_date_and_product/moz-fx-data-shared-prod.sumo_syndicate.kitsune_questions.yaml
  tests/sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/test_product_normalization/expect.yaml
  tests/sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/test_product_normalization/moz-fx-data-shared-prod.sumo_syndicate.kitsune_questions.yaml
Due: validate-bqetl, validate-sql

add bigconfig checks
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/bigconfig.yml
Due: validate-sql

change structure of bigconfig.yml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/bigconfig.yml
Due: validate-sql

test(SubPlat): Add tests for `google_logical_subscriptions_history_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_history_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.services_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.stripe_plans_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.stripe_products_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/test_subscriptions_history_periods/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/test_subscriptions_history_periods/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_history_v1.yaml
Due: validate-bqetl, validate-sql

fix(glam_fog_release): split scalar_bucket_counts
  bigquery_etl/glam/generate.py
  bigquery_etl/glam/templates/scalar_bucket_counts_v1.sql
Due: validate-bqetl

test(SubPlat): Add tests for `stripe_logical_subscriptions_history_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.card_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.charge_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.coupon_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.invoice_discount_v2.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.invoice_line_item_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.invoice_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.payment_method_card_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.payment_method_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.promotion_code_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.stripe_external.refund_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.services_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.stripe_subscriptions_history_v2.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/test_active_subscriptions_history/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/test_active_subscriptions_history/moz-fx-data-shared-prod.subscription_platform_derived.stripe_subscriptions_history_v2.yaml
Due: validate-bqetl, validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
