Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Events stream: Pick glean_timestamp if available
  sql_generators/glean_usage/templates/events_stream_v1.query.sql
Due: validate-sql

[ci skip] Deployed 3779a9cdf with MkDocs version: 1.5.3
  mozfun/bytes/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/bedrock_derived/events_stream_v1/query.sql
  sql/moz-fx-data-shared-prod/debug_ping_view_derived/events_stream_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_dictionary_derived/events_stream_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/events_stream_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/events_stream_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_stream_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/mozfun/bytes/extract_bits/udf.sql
Due: validate-sql, validate-routines

feat: tweak accounts_backend.users_services_daily to include previous FxA data and update first_seen to use is_init()
  sql/moz-fx-data-shared-prod/accounts_backend/users_services_daily/view.sql
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_services_first_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_services_first_seen_v1/query.sql
Due: validate-sql

feat: remove accounts_backend_derived/users_services_first_seen_v1/init.sql
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_services_first_seen_v1/init.sql
Due: validate-sql

updating format
  sql/moz-fx-data-shared-prod/braze_external/dataset_metadata.yaml
Due: validate-sql

Grant backfill SAs write access to backfills_staging_derived
  sql/moz-fx-data-shared-prod/backfills_staging_derived/dataset_metadata.yaml
Due: validate-sql

Add MDN to product result mapping
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

Add cloud_pricing_export to billing_syndicate
  sql/moz-fx-data-shared-prod/billing_syndicate/dataset_metadata.yaml
Due: validate-sql

Fix renaming test files on stage deploys
  bigquery_etl/cli/stage.py
Due: validate-bqetl

Fix renaming test files on stage deploys (#5275)
  bigquery_etl/cli/stage.py
Due: validate-bqetl

[ci skip] Deployed 4bffcd265 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_backend/users_services_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Filter out clients with too many pings * addons in clients_daily
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/query.sql
Due: validate-sql

Add cloud_pricing_export to billing_syndicate (#5277)
  sql/moz-fx-data-shared-prod/billing_syndicate/dataset_metadata.yaml
Due: validate-sql

[ci skip] Deployed 866883d93 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Add initialization logic
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_first_seen_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/billing_syndicate/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Filter out clients with too many pings * addons in clients_daily (#5272)
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/query.sql
Due: validate-sql

[ci skip] Deployed 9fe062a65 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_backend/users_services_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/query.sql
Due: validate-sql

Resolves DENG-3134 to create a dataset for Braze ingestions (#5265)
  sql/moz-fx-data-shared-prod/braze_external/dataset_metadata.yaml
Due: validate-sql

[ci skip] Deployed 0004ac084 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/braze_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Grant backfill SAs write access to backfills_staging_derived (#5274)
  sql/moz-fx-data-shared-prod/backfills_staging_derived/dataset_metadata.yaml
Due: validate-sql

[ci skip] Deployed 0f7a16dc9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/backfills_staging_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Update bigquery_etl/cli/backfill.py
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

Update bigquery_etl/backfill/utils.py
  bigquery_etl/backfill/utils.py
Due: validate-bqetl

Email first conversion rates
  sql_generators/funnels/configs/email_first_reg_login_funnels.toml
Due: validate-sql

Registration conversion funnel config
  sql_generators/funnels/configs/registration_funnels.toml
Due: validate-sql

Monitor user journey dashboard conversion toml
  sql_generators/funnels/configs/monitor_dashboard_user_journey_funnels.toml
Due: validate-sql

Pass a fixed list of fields to main_summary_active_addons
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/query.sql
  sql/moz-fx-data-shared-prod/udf_js/main_summary_active_addons/udf.sql
Due: validate-sql, validate-routines

fix arguments
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/query.sql
Due: validate-sql

Pass a fixed list of fields to main_summary_active_addons in clients_daily (#5278)
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/query.sql
  sql/moz-fx-data-shared-prod/udf_js/main_summary_active_addons/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 5a8e8c5d7 with MkDocs version: 1.5.3
  moz-fx-data-shared-prod/udf_js/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Monitor user journey dashboard conversion toml (#5281)
  sql_generators/funnels/configs/monitor_dashboard_user_journey_funnels.toml
Due: validate-sql

[ci skip] Deployed dc1107016 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none
