Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed 7cc941a5cb with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

remove monthly run and add the new table to bqetl_ads
  dags.yaml
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/metadata.yaml
Due: validate-sql

DENG-4754 add 2 new columns to table
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
Due: validate-sql

DENG-4754 fix CTE name
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
Due: validate-sql

DENG-4754 make compatible data types for ga_session_id join
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
Due: validate-sql

DENG-4754 update formatting
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
Due: validate-sql

DENG-4754 Add 2 new columns to ga_sessions_v2 (#6167)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
Due: validate-sql

DENG-4754 adjust logic for query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
Due: validate-sql

[ci skip] Deployed 93597594a9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DENG-4754 update logic
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/mozilla_org/ga_sessions_v2/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

DENG-4754 update ga sessions v2 logic (#6168)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
Due: validate-sql

[ci skip] Deployed 08f9ad97ec with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v2/script.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Add CLI commands to deploy BigConfig files
  .gitignore
  bigquery_etl/cli/__init__.py
  bigquery_etl/cli/monitoring.py
  requirements.in
  requirements.txt
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/releases_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/releases_v1/metadata.yaml
Due: validate-bqetl, validate-sql, validate-routines

add CTEs, change join to get all the data, add coalesce for is_dau
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

add CTEs, change join to get all the data, add coalesce for is_dau (#6170)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

[ci skip] Deployed a86a7ff632 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

Improve getting collumn dtypes by including the schema files. Change custom_query for custom_query_path for readibility.
  bigquery_etl/backfill/parse.py
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/util/common.py
  tests/backfill/test_parse_backfill.py
  tests/backfill/test_shredder_mitigation.py
Due: validate-bqetl

reformat query file
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

reformat query file (#6171)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

[ci skip] Deployed 7a4c673c99 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Apply suggestions from code review
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/query.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/schema.yaml
Due: validate-sql

fix name change in schema
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/schema.yaml
Due: validate-sql

DSRE-1681 create 2 new datasets, sumo_ga_derived and sumo_ga
  sql/moz-fx-data-shared-prod/sumo_ga/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_ga_derived/dataset_metadata.yaml
Due: validate-sql

DENG_4733. Improve getting column dtypes by including the schema files. Change custom_query for custom_query_path for readibility.
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

remove first_seen_year from query and schema
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/schema.yaml
Due: validate-sql

take out commented out column
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

format query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

remove first_seen_year from query and schema (#6175)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 97ec89723d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

updating udf.sql with fakespot suggest results
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

DSRE-1681 add full name for SUMO
  sql/moz-fx-data-shared-prod/sumo_ga/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_ga_derived/dataset_metadata.yaml
Due: validate-sql

format updates
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
