Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

work in progress
  sql/moz-fx-data-shared-prod/google_play_store/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store/metrics/view.sql
  sql/moz-fx-data-shared-prod/google_play_store_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/metrics_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/metrics_v1/schema.yaml
Due: validate-sql

[DENG-7974]: format files
  bigquery_etl/alchemer/response.schema.json
  bigquery_etl/alchemer/survey.py
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_desktop_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_desktop_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_mobile_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_mobile_v1/schema.yaml
  tests/alchemer/test_survey.py
Due: validate-bqetl, validate-sql

[DENG-7974]: add default flag
  bigquery_etl/alchemer/survey.py
Due: validate-bqetl

[DENG-7974]: update flag
  bigquery_etl/cli/alchemer.py
Due: validate-bqetl

[DENG-7974]: add flag
  bigquery_etl/cli/alchemer.py
Due: validate-bqetl

Define schema for `service_subscriptions_history_v1` ETL.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/schema.yaml
Due: validate-sql

feat: add release channel to usage_reporting fenix and ios configuration
  bqetl_project.yaml
Due: validate-sql, validate-routines

feat: add composite_active_users_aggregates template to the usage_reporting generator
  sql_generators/usage_reporting/__init__.py
  sql_generators/usage_reporting/templates/composite_active_users_aggregates.view.sql.jinja
Due: validate-sql

[ci skip] Deployed a7f96300b2 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat: mark old retention related datasets as deprecated (#7050)
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_clients_week_2_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_clients_week_2_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_clients_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_clients_week_4_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_week_4_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/new_profile_activation_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/new_profile_activation_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_clients_week_2_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_clients_week_2_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_clients_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_clients_week_4_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_week_4_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_activation_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_activation_v2/metadata.yaml
Due: validate-sql

Move static_combos to end of glam histogram buckets query
  bigquery_etl/glam/templates/histogram_bucket_counts_v1.sql
  bigquery_etl/glam/templates/macros.sql
Due: validate-bqetl

Set additional_deletion_requests_v1 retention to 775 days (#6901)
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta_derived/additional_deletion_requests_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_derived/additional_deletion_requests_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly_derived/additional_deletion_requests_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta_derived/additional_deletion_requests_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_derived/additional_deletion_requests_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly_derived/additional_deletion_requests_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

Move to be a table instead of a view
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/schema.yaml
Due: validate-sql

Update view to point at table
  sql/moz-fx-data-shared-prod/telemetry/cohort_weekly_statistics/view.sql
Due: validate-sql

Remove trailing space in metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
Due: validate-sql

Add clustering
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/query.sql
Due: validate-sql

feat(DENG-7970): Create cohort_weekly_statistics_v1 (#7132)
  sql/moz-fx-data-shared-prod/telemetry/cohort_weekly_statistics/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/schema.yaml
Due: validate-sql

DENG-7966 Set phabricator-metrics/external workgroup access on phabricator_metrics dataset
  sql/moz-fx-data-shared-prod/phabricator_metrics/dataset_metadata.yaml
Due: validate-sql

feat(DENG-7982): Create fx_accounts_linked_clients_staging_v1
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_accounts_linked_clients_staging/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/schema.yaml
Due: validate-sql, validate-routines

feat(DENG-7982): Do not expose via view since a staging table intended to be used to create final table
  sql/moz-fx-data-shared-prod/telemetry/fx_accounts_linked_clients_staging/view.sql
Due: validate-sql

feat(DENG-7982): Add uniqueness check
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/checks.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_cohort_retention.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/cohort_weekly_statistics/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/cohort_weekly_statistics/view.sql
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_weekly_statistics_v1/schema.yaml
Due: validate-sql

The stage version does not need to be on retention exclusion list, only the final one
  bqetl_project.yaml
Due: validate-sql, validate-routines

Update metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/metadata.yaml
Due: validate-sql

[DENG-7974]: format file
  bigquery_etl/alchemer/response.schema.json
  bigquery_etl/alchemer/survey.py
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_desktop_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_mobile_v1/schema.yaml
Due: validate-bqetl, validate-sql

[DENG-7974]: update variable name
  bigquery_etl/alchemer/survey.py
Due: validate-bqetl

[DENG-7974]: update docstring
  bigquery_etl/alchemer/survey.py
Due: validate-bqetl

Deng 7974 implement support for extracting url variables from alchemer (#7120)
  bigquery_etl/alchemer/response.schema.json
  bigquery_etl/alchemer/survey.py
  bigquery_etl/cli/alchemer.py
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_desktop_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_desktop_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_mobile_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fx_quant_user_research_derived/fxqur_viewpoint_mobile_v1/schema.yaml
  tests/alchemer/test_survey.py
Due: validate-bqetl, validate-sql

feat(DENG-7983): Create fx_accounts_linked_clients_staging_v1 (#7135)
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_linked_clients_staging_v1/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
