Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

remove hard coded date
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/query.sql
Due: validate-sql

DENG 3182 braze ingestion fixes (#5552)
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_external.users_previous_day_snapshot_v2.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/firefox_desktop_use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/funnel_fxa_login_to_protected/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/survey_recommend/schema.yaml
  sql/moz-fx-data-shared-prod/relay_backend/events_unnested/metadata.yaml
  sql/moz-fx-data-shared-prod/relay_backend/events_unnested/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/ssl_ratios_v1/schema.yaml
Due: validate-sql

updating subscription map and adding to dag
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

removing unrelated check
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/checks.sql
Due: validate-sql

[ci skip] Deployed 12e8b30788 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_braze.py
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/firefox_desktop_use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/funnel_fxa_login_to_protected/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/survey_recommend/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/ssl_ratios_v1/schema.yaml
Due: validate-sql

Create mobile retention views with Firefox iOS and Android
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention/view.sql
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention_clients/view.sql
Due: validate-sql

updating subscription map and adding to dag (#5553)
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

adding filter
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
Due: validate-sql

[ci skip] Deployed 44a764f2c7 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_braze.py
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

adding filter (#5555)
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
Due: validate-sql

[ci skip] Deployed 07798d7db3 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Deng-3472 sync suppression list to mofo (#5503)
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/query.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/schema.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/send_suppression_list_update_to_campaign_monitor_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/send_suppression_list_update_to_campaign_monitor_v1/query.py
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/test_new_suppressions_for_mofo/expect.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/test_new_suppressions_for_mofo/moz-fx-data-shared-prod.marketing_suppression_list_derived.main_suppression_list_v1.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/test_new_suppressions_for_mofo/moz-fx-data-shared-prod.marketing_suppression_list_external.campaign_monitor_suppression_list_v1.yaml
Due: validate-bqetl, validate-sql

[DENG-3720] Skip relay_backend in glean_usage generator
  bqetl_project.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed 982698b991 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[DENG-3720] Skip relay_backend in glean_usage generator (#5556)
  bqetl_project.yaml
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_marketing_suppression_list.py
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/query.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/new_suppression_list_entries_for_mofo_v1/schema.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/send_suppression_list_update_to_campaign_monitor_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/send_suppression_list_update_to_campaign_monitor_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/relay_backend/events_stream/metadata.yaml
  sql/moz-fx-data-shared-prod/relay_backend/events_stream/view.sql
Due: validate-sql

Remove fields in metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend/email_first_reg_login_funnels_by_service/metadata.yaml
Due: validate-sql

Remove fields in metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend/login_funnels_by_service/metadata.yaml
Due: validate-sql

Remove fields in metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend/registration_funnels_by_service/metadata.yaml
Due: validate-sql

[ci skip] Deployed 74c65529fa with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_glean_usage.py
  sql/moz-fx-data-shared-prod/monitoring/event_monitoring_live/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/event_monitoring_live/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_error_monitoring_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_error_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_flow_monitoring_aggregates_v1/script.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/relay_backend/events_stream/metadata.yaml
  sql/moz-fx-data-shared-prod/relay_backend/events_stream/view.sql
  sql/moz-fx-data-shared-prod/relay_backend/events_unnested/metadata.yaml
  sql/moz-fx-data-shared-prod/relay_backend/events_unnested/view.sql
  sql/moz-fx-data-shared-prod/relay_backend_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/relay_backend_derived/event_monitoring_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/relay_backend_derived/events_stream_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/relay_backend_derived/events_stream_v1/query.sql
Due: validate-sql

fix DENG-3472 add empty schema
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/send_suppression_list_update_to_campaign_monitor_v1/schema.yaml
Due: validate-sql

Create mobile retention views with Firefox iOS and Android (#5554)
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention/view.sql
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention_clients/view.sql
Due: validate-sql

adding about-addons subscription
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

Update bigquery_etl/backfill/utils.py
  bigquery_etl/backfill/utils.py
Due: validate-bqetl

moving around
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

[ci skip] Deployed 0543806ecc with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

fix(glam) fix table names to fully qualified
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_new_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_bucket_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_probe_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_non_norm_histogram_bucket_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_scalar_probe_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_sample_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/histogram_percentiles_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/scalar_percentiles_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention/view.sql
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/mobile_retention_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Include authorized views when deploying to stage.
  bigquery_etl/cli/stage.py
Due: validate-bqetl

Include authorized views when deploying to stage. (#5560)
  bigquery_etl/cli/stage.py
Due: validate-bqetl

removing extra block
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

removing the correct duplicate block
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

[ci skip] Deployed 362422ae75 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Add view files for funnel data (#5547)
  sql/moz-fx-data-shared-prod/accounts_frontend/email_first_reg_login_funnels_by_service/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend/email_first_reg_login_funnels_by_service/view.sql
  sql/moz-fx-data-shared-prod/accounts_frontend/login_funnels_by_service/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend/login_funnels_by_service/view.sql
  sql/moz-fx-data-shared-prod/accounts_frontend/registration_funnels_by_service/metadata.yaml
  sql/moz-fx-data-shared-prod/accounts_frontend/registration_funnels_by_service/view.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
