Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

revert view only files
  sql/moz-fx-data-shared-prod/firefox_desktop/urlbar_events_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/urlbar_events_daily/view.sql
Due: validate-sql

update schema
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/schema.yaml
Due: validate-sql

update schema
  sql/moz-fx-data-shared-prod/firefox_desktop/urlbar_events_daily/schema.yaml
Due: validate-sql

feat(DENG-10720): add new fields to urlbar_events_daily (#8950)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/schema.yaml
Due: validate-sql

initiate backfill
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

initiate backfill
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/backfill.yaml
Due: validate-sql

Update sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/metadata.yaml
Due: validate-sql

feat: Add experiment enrollment alert data export with v1 versioning
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/query.py
Due: validate-sql

feat: Add data for enrollment alerts (#9003)
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/metadata.yaml
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/query.py
Due: validate-sql

initiate backfill (#9038)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/content_decoding_error/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/content_decoding_error/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/content_decoding_error/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
  sql/moz-fx-data-shared-prod/focus_android/content_decoding_error/metadata.yaml
  sql/moz-fx-data-shared-prod/focus_android/content_decoding_error/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/content_decoding_error/view.sql
  sql/moz-fx-data-shared-prod/klar_android/content_decoding_error/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_android/content_decoding_error/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/content_decoding_error/view.sql
Due: validate-sql

[fix] add @submission_date to query for partition, add metric_date to query and schema.yaml, update descriptions in schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/schema.yaml
Due: validate-sql

docs: Update description of the `!include-fields` tag's `field_replacements` parameter.
  docs/reference/schema_includes.md
Due: none

docs: Update description of an example for the `!include-fields` tag's `field_replacements` parameter.
  docs/reference/schema_includes.md
Due: none

change group by from numbers to actual column names, update description of submission_date
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/schema.yaml
Due: validate-sql

Add Win11 26H1 and 26H2 releases to aggregates
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/view.sql
Due: validate-sql

feat: Add `new_type`, `new_mode`, and `new_description` parameters to the `!include-field` tag.
  bigquery_etl/schema/__init__.py
  docs/reference/schema_includes.md
  tests/schema/test_schema.py
Due: validate-bqetl

test: Add `test_include_specific_fields_in_different_order` test.
  tests/schema/test_schema.py
Due: validate-bqetl

add cluster column and alternative config format
  sql_generators/nimbus_feature_monitoring/__init__.py
  sql_generators/nimbus_feature_monitoring/templates/firefox_desktop.yaml
  sql_generators/nimbus_feature_monitoring/templates/nimbus_feature_monitoring_v1/metadata.yaml
  sql_generators/nimbus_feature_monitoring/templates/nimbus_feature_monitoring_v1/query.sql
  sql_generators/nimbus_feature_monitoring/templates/nimbus_feature_monitoring_v1/view.sql
Due: validate-sql

[fix] add @submission_date to query for partition, add metric_date to… (#9040)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/resurrection_week_2_retention_v1/schema.yaml
Due: validate-sql

moving bqetl_braze dag to no triage and adding stephen herrera to alert
  dags.yaml
Due: validate-sql

Fix tag
  dags.yaml
Due: validate-sql

moving bqetl_braze dag to no triage and adding stephen herrera to alert (#9042)
  dags.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_braze.py
Due: none

feat: Add a `new_fields` parameter to the `!include-field` tag.
  bigquery_etl/schema/__init__.py
  docs/reference/schema_includes.md
  tests/schema/test_schema.py
Due: validate-bqetl

refactor github_prs_v1 to use shared github_derived module. Rename to bqetl_prs_v1
  sql/moz-fx-data-shared-prod/github_derived/bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_derived/bqetl_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_derived/bqetl_prs_v1/schema.yaml
Due: validate-sql

refactor github_prs_v1 to use shared github_derived module. Rename to bqetl_prs_v1
  sql/moz-fx-data-shared-prod/github_derived/bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_derived/bqetl_prs_v1/query.py
Due: validate-sql

DENG-10840: Add shared github_derived module for PR ingestion
  bigquery_etl/github_derived/__init__.py
Due: validate-bqetl

DENG-10840: add private_bqetl_prs_v1 table for mozilla/private-bigquery-etl
  sql/moz-fx-data-shared-prod/github_derived/private_bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_derived/private_bqetl_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_derived/private_bqetl_prs_v1/schema.yaml
Due: validate-sql

DENG-10840: rename github_derived to github_external, rename Python module to bigquery_etl/github
  bigquery_etl/github/__init__.py
  sql/moz-fx-data-shared-prod/github_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_external/bqetl_prs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/github_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/query.py
  sql/moz-fx-data-shared-prod/github_external/private_bqetl_prs_v1/schema.yaml
Due: validate-bqetl, validate-sql

Add --date argument to experiment enrollment alert data task
  sql/moz-fx-data-experiments/monitoring/experiment_enrollment_alert_data_v1/metadata.yaml
Due: validate-sql

fix: Use a custom YAML dumper for schemas to avoid aliases in the output.
  bigquery_etl/schema/__init__.py
Due: validate-bqetl

refactor(SubPlat): Use schema includes in Apple subscription ETLs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_v2/schema.yaml
Due: validate-sql

refactor(SubPlat): Use schema includes in Google subscription ETLs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_v2/schema.yaml
Due: validate-sql

refactor(SubPlat): Use schema includes in Stripe subscription ETLs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_customers_revised_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_v2/schema.yaml
Due: validate-sql
