Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Add tests
  AGENTS.md
  bigquery_etl/cli/__init__.py
  bigquery_etl/util/common.py
  bigquery_etl/util/target.py
  bqetl_project.yaml
  bqetl_targets.yaml.example
  docs/cookbooks/development_workflows.md
  tests/util/test_common.py
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v2/backfill.yaml
Due: validate-sql

feat(glam): support labeled_memory_distribution
  bigquery_etl/glam/clients_daily_histogram_aggregates.py
Due: validate-bqetl

feat(DENG-11222): add KB search success rate base table and view (#9585)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/query.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/schema.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_search_success_kpis/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_search_success_kpis/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/query.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/schema.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_search_success_kpis/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/sumo_search_success_kpis/view.sql
Due: validate-sql

apply suggestions
  AGENTS.md
  bigquery_etl/util/common.py
  bqetl_project.yaml
  docs/cookbooks/development_workflows.md
Due: validate-bqetl, validate-sql, validate-routines

rename SA
  bqetl_targets.yaml.example
  docs/cookbooks/development_workflows.md
Due: none

feat(glam): support labeled_memory_distribution (#9593)
  bigquery_etl/glam/clients_daily_histogram_aggregates.py
Due: validate-bqetl

Fix impersonation for run commands on maintain ownership
  bigquery_etl/cli/__init__.py
  bigquery_etl/util/common.py
  bigquery_etl/util/target.py
  tests/util/test_common.py
Due: validate-bqetl

fix mypy
  bigquery_etl/util/common.py
Due: validate-bqetl

chore(DENG-11222): Complete Backfill for ga4_search_success_sessions_base_v1
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/backfill.yaml
Due: validate-sql

chore(DENG-11222): Complete Backfill for ga4_search_success_sessions_base_v1 (#9594)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_search_success_sessions_base_v1/backfill.yaml
Due: validate-sql

Bug 2034599 - Backfill glean_per_metric_logical_bytes_stored_v1 (last 90 days) (#9590)
  sql/moz-fx-data-shared-prod/monitoring_derived/glean_per_metric_logical_bytes_stored_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring_derived/glean_per_metric_logical_bytes_stored_v1/backfill.yaml
Due: validate-sql

chore: move firefox install to final run command installing dependencies, currently does not seem to always install
  Dockerfile
Due: none

chore: move firefox install to final run command installing dependencies, currently does not seem to always install (#9595)
  Dockerfile
Due: none

chore(schema): create telemetry_derived.yaml with shared field descriptions
  sql/moz-fx-data-shared-prod/telemetry_derived/telemetry_derived.yaml
Due: validate-sql

chore(schema): update telemetry_derived.yaml with shared field descriptions
  sql/moz-fx-data-shared-prod/telemetry_derived/telemetry_derived.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_ios/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta/events_stream/view.sql
Due: validate-sql

feat: remove deps (#9574)
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

formatting yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/telemetry_derived.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta/events_stream/view.sql
Due: validate-sql
