Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

feat(backfill): Add `ignore_date_partition_offset` backfill option. (#7510)
  bigquery_etl/backfill/parse.py
  bigquery_etl/cli/backfill.py
  tests/backfill/test_parse_backfill.py
Due: validate-bqetl

Update schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_aggregates_v1/schema.yaml
Due: validate-sql

fix(SubPlat): Enable `ignore_date_partition_offset` option for backfills added in #7496 (DENG-975).
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

fix(SubPlat): Enable `ignore_date_partition_offset` option for backfills added in #7496 (DENG-975). (#7522)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

undo MD auto-formatting
  docs/cookbooks/creating_a_derived_dataset.md
  docs/reference/scheduling.md
Due: none

chore(docs): add info on enabling new DAGs (#7521)
  docs/cookbooks/creating_a_derived_dataset.md
  docs/reference/scheduling.md
Due: none

feat(DENG-8400 & DENG-8404): Add uniqueness checks and min row count
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_clients_v1/checks.sql
Due: validate-sql

Add default access to ads_derived dataset to ads WG (#7493)
  sql/moz-fx-data-shared-prod/ads_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/nt_visits_to_sessions_conversion_factors_daily_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_engagement_clients/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat(DENG-8400 & DENG-8404): Add uniqueness checks and min row count (#7523)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_clients_v1/checks.sql
Due: validate-sql

[ci skip] Deployed 67c60a0a5b with MkDocs version: 1.6.1
  cookbooks/creating_a_derived_dataset/index.html
  reference/scheduling/index.html
  search/search_index.json
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/ads_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/nt_visits_to_sessions_conversion_factors_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

feat(DENG-8405): Create desktop_engagement_aggregates_v1 (#7512)
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_engagement_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_aggregates_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_desktop_engagement_model.py
  dags/bqetl_desktop_retention_model.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_desktop_engagement_model.py
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_engagement_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_engagement_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_engagement_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat(DENG-8401): Create firefox_desktop_derived.desktop_retention_aggregates_v1 (#7511)
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_retention_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_aggregates_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 6fd09a45bd with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1968753 - add app inclusion filter to event_flow_monitoring generator
  bqetl_project.yaml
  sql_generators/glean_usage/event_flow_monitoring.py
Due: validate-sql, validate-routines

feat: add new_profile_clients query to the mobile_kpi_support_metrics generator
  sql_generators/mobile_kpi_support_metrics/__init__.py
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.bigconfig.yml
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.metadata.yaml
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.query.sql
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.schema.yaml
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.view.sql
Due: validate-sql

feat: mark firefox_ios_clients and firefox_android_clients as deprecated
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/firefox_ios_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/firefox_ios_clients_v1/metadata.yaml
Due: validate-sql

feat: add backfill config along with initial entry for new_profile_clients_v1
  sql/moz-fx-data-shared-prod/fenix_derived/new_profile_clients_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_clients_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/focus_android_derived/new_profile_clients_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/focus_ios_derived/new_profile_clients_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/klar_android_derived/new_profile_clients_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/klar_ios_derived/new_profile_clients_v1/backfill.yaml
Due: validate-sql

feat: update firefox_android_clients and firefox_ios_clients to use the new_profile_clients and new_profile_activation_clients tables (generated with the mobile_kpi_metrics generator)
  sql/moz-fx-data-shared-prod/fenix/firefox_android_clients/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios/firefox_ios_clients/view.sql
Due: validate-sql

Bug 1968753 - add app inclusion filter to event_flow_monitoring generator (#7527)
  bqetl_project.yaml
  sql_generators/glean_usage/event_flow_monitoring.py
Due: validate-sql, validate-routines

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
