Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

fix tests
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/test_client_aggregation/expect.yaml
Due: validate-bqetl, validate-sql

chore(CI): tighten Claude review summary-body guidance (#9428)
  .github/workflows/claude-review.yml
Due: none

stash
  sql_generators/fxa_fastly_logs/templates/metadata.yaml
Due: validate-sql

Create placeholder field in empty target deploy schemas
  sql/moz-fx-data-shared-prod/telemetry/buildhub2/view.sql
Due: validate-sql

Fix isolated deploy for schema-only deps and stub dedup
  bigquery_etl/cli/deploy.py
  bigquery_etl/util/target.py
  tests/util/test_target.py
Due: validate-bqetl

Create placeholder field in empty target deploy schemas
  bigquery_etl/util/target.py
  tests/util/test_target.py
Due: validate-bqetl

move test change
  sql/moz-fx-data-shared-prod/telemetry/buildhub2/view.sql
Due: validate-sql

chore(DENG-10722): complete backfill for urlbar_events_v2
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

add test, comments
  bigquery_etl/util/target.py
  tests/util/test_target.py
Due: validate-bqetl

Fix isolated deploy for schema-only deps and stub dedup (#9432)
  bigquery_etl/cli/deploy.py
  bigquery_etl/util/target.py
  tests/util/test_target.py
Due: validate-bqetl

Create placeholder field in empty target deploy schemas (#9431)
  bigquery_etl/util/target.py
  tests/util/test_target.py
Due: validate-bqetl

owners
  sql_generators/fxa_fastly_logs/templates/metadata.yaml
Due: validate-sql

DENG-11155 - Newtab Widget aggregation table Update
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_widgets_daily_v1/README.md
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_widgets_daily_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_widgets_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_widgets_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_widgets_daily_v1/schema.yaml
Due: validate-sql

chore(DENG-10722): complete backfill for urlbar_events_v2 (#9433)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_v2/backfill.yaml
Due: validate-sql

Move product normalization to the view and temporarily use a CASE statement while normalization is completed.
  sql/moz-fx-data-shared-prod/customer_experience/kitsune_retrieval_index/schema.yaml
  sql/moz-fx-data-shared-prod/customer_experience/kitsune_retrieval_index/view.sql
  sql/moz-fx-data-shared-prod/customer_experience/zendesk_retrieval_index/schema.yaml
  sql/moz-fx-data-shared-prod/customer_experience/zendesk_retrieval_index/view.sql
  sql/moz-fx-data-shared-prod/customer_experience_derived/kitsune_retrieval_index_v1/README.md
  sql/moz-fx-data-shared-prod/customer_experience_derived/kitsune_retrieval_index_v1/query.sql
  sql/moz-fx-data-shared-prod/customer_experience_derived/zendesk_retrieval_index_v1/README.md
  sql/moz-fx-data-shared-prod/customer_experience_derived/zendesk_retrieval_index_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/kitsune_retrieval_index_v1/test_spam_filter_no_ai/moz-fx-data-shared-prod.static.cx_product_mappings_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/zendesk_retrieval_index_v1/test_deleted_status_no_ai/moz-fx-data-shared-prod.static.cx_product_mappings_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/zendesk_retrieval_index_v1/test_partition_filter_no_ai/moz-fx-data-shared-prod.static.cx_product_mappings_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/zendesk_retrieval_index_v1/test_sumo_test_group_no_ai/moz-fx-data-shared-prod.static.cx_product_mappings_v1.yaml
Due: validate-bqetl, validate-sql

Add retrieval index table for Kitsune Knowledge Base with embeddings and sentiment
  sql/moz-fx-data-shared-prod/customer_experience/knowledge_base_retrieval_index/metadata.yaml
  sql/moz-fx-data-shared-prod/customer_experience/knowledge_base_retrieval_index/schema.yaml
  sql/moz-fx-data-shared-prod/customer_experience/knowledge_base_retrieval_index/view.sql
  sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/README.md
  sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/query.sql
  sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_document_plus.schema.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_revision.schema.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_archived_filter_no_ai/expect.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_archived_filter_no_ai/moz-fx-data-shared-prod.customer_experience_derived.knowledge_base_retrieval_index_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_archived_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_document_plus.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_archived_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_revision.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_category_filter_no_ai/expect.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_category_filter_no_ai/moz-fx-data-shared-prod.customer_experience_derived.knowledge_base_retrieval_index_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_category_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_document_plus.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_category_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_revision.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_happy_path_no_ai/expect.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_happy_path_no_ai/moz-fx-data-shared-prod.customer_experience_derived.knowledge_base_retrieval_index_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_happy_path_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_document_plus.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_happy_path_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_revision.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_redirect_filter_no_ai/expect.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_redirect_filter_no_ai/moz-fx-data-shared-prod.customer_experience_derived.knowledge_base_retrieval_index_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_redirect_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_document_plus.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_redirect_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_revision.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_thunderbird_filter_no_ai/expect.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_thunderbird_filter_no_ai/moz-fx-data-shared-prod.customer_experience_derived.knowledge_base_retrieval_index_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_thunderbird_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_document_plus.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_thunderbird_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_revision.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_translation_filter_no_ai/expect.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_translation_filter_no_ai/moz-fx-data-shared-prod.customer_experience_derived.knowledge_base_retrieval_index_v1.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_translation_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_document_plus.yaml
  tests/sql/moz-fx-data-shared-prod/customer_experience_derived/knowledge_base_retrieval_index_v1/test_translation_filter_no_ai/moz-fx-data-shared-prod.sumo_syndicate.kitsune_wiki_revision.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_tables.py
Due: none

feat(DENG-11157): Initiate Backfill
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_engagement_sessions_daily_v1/backfill.yaml
Due: validate-sql

feat(DENG-11157): Initiate Backfill (#9435)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_engagement_sessions_daily_v1/backfill.yaml
Due: validate-sql

Filter out metrics no longer covered
  bigquery_etl/glam/client_side_sampled_metrics.py
Due: validate-bqetl

comments
  bqetl_project.yaml
  sql_generators/fxa_fastly_logs/templates/view.sql
Due: validate-sql, validate-routines

[DENG-11143] Create fxa_fastly_logs dataset and sql generator (#9429)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/dataset_metadata.yaml
  sql_generators/fxa_fastly_logs/__init__.py
  sql_generators/fxa_fastly_logs/templates/metadata.yaml
  sql_generators/fxa_fastly_logs/templates/view.sql
Due: validate-sql, validate-routines

feat(DENG-11157): Complete Backfill for GA4 Table
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_engagement_sessions_daily_v1/backfill.yaml
Due: validate-sql

Scope sampled-metrics lookup to one product
  bigquery_etl/glam/client_side_sampled_metrics.py
  bigquery_etl/glam/clients_daily_histogram_aggregates.py
  bigquery_etl/glam/clients_daily_scalar_aggregates.py
  tests/glam/__init__.py
  tests/glam/test_client_side_sampled_metrics.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_api_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_api_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_eventbroker/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_eventbroker/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_oauth/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_oauth/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_api/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_api/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_next/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_next/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_profile/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_profile/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_api_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_api_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_eventbroker/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_eventbroker/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_oauth/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_oauth/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_api/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_api/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_next/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_next/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_profile/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_profile/view.sql
Due: validate-sql

feat(DENG-11157): Complete Backfill for GA4 Table (#9436)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_engagement_sessions_daily_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/ga4_engagement_sessions_daily_v1/backfill.yaml
Due: validate-sql

partition sampled metrics by os
  bigquery_etl/glam/client_side_sampled_metrics.py
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/schema.yaml
  tests/glam/test_client_side_sampled_metrics.py
  tests/sampled_metrics/test_query.py
Due: validate-bqetl, validate-sql

Address PR issues
  bigquery_etl/glam/client_side_sampled_metrics.py
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
  tests/glam/test_client_side_sampled_metrics.py
Due: validate-bqetl, validate-sql

Change os order
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/schema.yaml
Due: validate-sql

bug 2041536 fix(sampled_metrics): filter GLAM tombstones and track per-OS sampling (#9437)
  bigquery_etl/glam/client_side_sampled_metrics.py
  bigquery_etl/glam/clients_daily_histogram_aggregates.py
  bigquery_etl/glam/clients_daily_scalar_aggregates.py
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/schema.yaml
  tests/glam/__init__.py
  tests/glam/test_client_side_sampled_metrics.py
  tests/sampled_metrics/test_query.py
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/schema.yaml
Due: validate-sql

[DENG-11143] Disable `fxa_fastly_logs` generator
  sql_generators/fxa_fastly_logs/__init__.py.disabled
Due: validate-sql

[bug 2042189] Backfill to fix inflated metrics due to core_clients_last_seen duplicates
  sql/moz-fx-data-shared-prod/focus_android_derived/active_users_aggregates_v3/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/core_clients_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/unified_metrics_v1/backfill.yaml
Due: validate-sql

[DENG-11143] Disable `fxa_fastly_logs` generator (#9438)
  sql_generators/fxa_fastly_logs/__init__.py.disabled
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_api_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_api_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_eventbroker/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_eventbroker/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_oauth/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_oauth/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_api/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_api/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_next/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_next/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_profile/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_profile/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_api_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_api_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_eventbroker/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_eventbroker/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_oauth/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_oauth/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_api/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_api/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_next/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_next/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_profile/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_profile/view.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
