Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

DENG-3371 add partnership udfs to firefox install (#5360)
  sql/moz-fx-data-shared-prod/udf/distribution_model_installs/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/distribution_model_installs/udf.sql
  sql/moz-fx-data-shared-prod/udf/funnel_derived_installs/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/funnel_derived_installs/udf.sql
  sql/moz-fx-data-shared-prod/udf/partner_org_installs/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/partner_org_installs/udf.sql
  sql_generators/stable_views/__init__.py
Due: validate-sql, validate-routines

[ci skip] Deployed 7e90aed77 with MkDocs version: 1.5.3
  moz-fx-data-shared-prod/udf/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_installer/install/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_installer/install/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/udf/distribution_model_installs/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/distribution_model_installs/udf.sql
  sql/moz-fx-data-shared-prod/udf/funnel_derived_installs/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/funnel_derived_installs/udf.sql
  sql/moz-fx-data-shared-prod/udf/partner_org_installs/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/partner_org_installs/udf.sql
Due: validate-sql, validate-routines

DENG-3597 Marketing Suppression List remove ctms
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/query.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/expect.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.acoustic_external.suppression_list_v1.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.braze_external.hard_bounces_v1.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.braze_external.unsubscribes_v1.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.marketing_suppression_list_external.campaign_monitor_suppression_list_v1.yaml
Due: validate-bqetl, validate-sql

Remove pageload exp
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/schema.yaml
Due: validate-sql

Removed pageload exp view
  sql/moz-fx-data-shared-prod/firefox_desktop/pageload_experiments/view.sql
Due: validate-sql

DENG-3607 update braze_derived suppression list
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.acoustic_external.contact_raw_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.acoustic_external.suppression_list_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.ctms_braze.ctms_emails.yaml
Due: validate-bqetl, validate-sql

update table reference
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.marketing_suppression_list_derived.main_suppression_list_v1.yaml
Due: validate-bqetl, validate-sql

Remove code for deprecated query usage and cost
  bigquery_etl/cli/query.py
  sql/moz-fx-data-shared-prod/monitoring/bigquery_etl_scheduled_queries_cost/view.sql
  sql/moz-fx-data-shared-prod/monitoring/bigquery_etl_scheduled_query_usage/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_etl_scheduled_queries_cost_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_etl_scheduled_queries_cost_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_etl_scheduled_query_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/bigquery_etl_scheduled_query_usage_v1/query.py
Due: validate-bqetl, validate-sql

Added deletion dates
  sql/moz-fx-data-shared-prod/monitoring_derived/compressed_report_mozilla/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/deletion_request_volume_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_progress_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_table_sizes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/structured_distinct_docids_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/telemetry_distinct_docids_v1/metadata.yaml
Due: validate-sql

DENG-3607 update braze_derived suppression list (#5484)
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.acoustic_external.contact_raw_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.ctms_braze.ctms_emails.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/test_braze_suppression/moz-fx-data-shared-prod.marketing_suppression_list_derived.main_suppression_list_v1.yaml
Due: validate-bqetl, validate-sql

Deng 3597 marketing suppression list remove ctms (#5481)
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/query.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/expect.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.acoustic_external.suppression_list_v1.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.braze_external.hard_bounces_v1.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.braze_external.unsubscribes_v1.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.marketing_suppression_list_external.campaign_monitor_suppression_list_v1.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 38cab3f16 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_acoustic_contact_export.py
  dags/bqetl_acoustic_suppression_list.py
  dags/bqetl_braze.py
  dags/bqetl_marketing_suppression_list.py
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 4135c7adb with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/query.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

fixing schema mismatch
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
Due: validate-sql

formatting timestamps
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/query.sql
Due: validate-sql

updating source for subscription data
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
Due: validate-sql

adding subscription_counts and formatting timestamps
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/query.sql
Due: validate-sql

bringing email and subscribe outside of array and updating timestamp format
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
Due: validate-sql

updating to reflect firefox workspace
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_sync_v1/metadata.yaml
Due: validate-sql

moving to another pr
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
Due: validate-sql

Filter out empty sting session_flow_id's from login_funnels_email_confirmation_by_service
  sql_generators/funnels/configs/login_funnels_email_confirmation_by_service.toml
Due: validate-sql

Filter out empty sting session_flow_id's from login_funnels_email_confirmation_by_service (#5474)
  sql_generators/funnels/configs/login_funnels_email_confirmation_by_service.toml
Due: validate-sql

featL: move baseline_clients_last_seen modifications to cross_channel template
  sql_generators/glean_usage/templates/baseline_clients_last_seen.metadata.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
  sql_generators/glean_usage/templates/cross_channel.view.sql
Due: validate-sql

feat: add activity fields to support KPI metrics to last_seen views
  sql_generators/glean_usage/templates/baseline_clients_daily.view.sql
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
Due: validate-sql

feat: updated baseline_clients_last_seen view template
  sql_generators/glean_usage/templates/baseline_clients_daily.view.sql
  sql_generators/glean_usage/templates/baseline_clients_last_seen.metadata.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
Due: validate-sql

Apply suggestions from code review
  sql_generators/glean_usage/templates/cross_channel.view.sql
Due: validate-sql

feat: move app_name field up in the query
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
Due: validate-sql

feat: add IFNULL validation to mozfun.bits28.days_since_seen result
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
Due: validate-sql

feat: move activity fields to the baseline_clients_last_seen template
  sql_generators/glean_usage/templates/baseline_clients_last_seen.view.sql
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
  sql_generators/glean_usage/templates/cross_channel.view.sql
Due: validate-sql

feat: make sure the new fields are only excluded for apps to which these fields are added to
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

[ci skip] Deployed 435b438db with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

fix PR 5471 dryrun failure
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
Due: validate-sql

rename engagement for consistency
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement/view.sql
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/schema.yaml
Due: validate-sql

fix PR 5471 dryrun failure (#5488)
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 640e59bc3 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/urlbar_clients_daily/schema.yaml
Due: validate-sql
