Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

chore(monitor-plus-users): Created a sync table for monitor plus sync (#8429)
  dags.yaml
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_braze_monitor_plus_users_sync.py
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/query.sql
Due: validate-sql

feat: remove is_active fields from first_seen and last_seen, and fix last_seen query error
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.schema.yaml.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.schema.yaml.jinja
Due: validate-sql

add all daily fields to usage_reporting_clients_last_seen_v1 and usage_reporting_clients_first_seen_v1 to allow proper wau and mau segmentation
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.schema.yaml.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.schema.yaml.jinja
Due: validate-sql

feat: remove `date` from usage_reporting_active_users
  sql_generators/usage_reporting/templates/usage_reporting_active_users.view.sql.jinja
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_active_users/view.sql
Due: validate-bqetl, validate-sql

feat: update app_union usage_reporting_active_users to work with the assumption that first_seen and last_seen datasets have all fields
  sql_generators/usage_reporting/templates/app_union.view.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_active_users.view.sql.jinja
Due: validate-sql

fix: address CI failures
  sql_generators/usage_reporting/templates/usage_reporting_active_users.view.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_daily_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.schema.yaml.jinja
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_daily_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_daily_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_daily_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_daily_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
Due: validate-bqetl, validate-sql

fix: add missing description for usage_profile_id to daily and first_seen templates
  sql_generators/usage_reporting/templates/usage_reporting_clients_daily_v1.schema.yaml.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.schema.yaml.jinja
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_daily_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_daily_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_daily_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_daily_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/schema.yaml
Due: validate-bqetl, validate-sql

feat: update expected usage_reporting output in tests
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
Due: validate-bqetl

feat(DENG-10047): Add join to lookup table in firefox_whatsnew_summary view
  sql/moz-fx-data-shared-prod/firefoxdotcom/firefox_whatsnew_summary/view.sql
Due: validate-sql

fix(deps): Pin `setuptools` to v80.8.0 to avoid `pkg_resources` deprecation warnings from Google code. (#8431)
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

feat(DENG-10047): Add join to lookup table in firefox_whatsnew_summary view (#8437)
  sql/moz-fx-data-shared-prod/firefoxdotcom/firefox_whatsnew_summary/view.sql
Due: validate-sql

fix(monitor-users): fixed non-partitioned query
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/metadata.yaml
Due: validate-sql

feat(DENG-10182): Add xpcom_abi to firefox_desktop_derived.metrics_clients_daily_v1
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefoxdotcom/firefox_whatsnew_summary/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/firefox_whatsnew_summary/view.sql
Due: validate-sql

fix(monitor-users): fixed non-partitioned query (#8440)
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/metadata.yaml
Due: validate-sql

feat(DENG-10182): Add xpcom_abi to firefox_desktop_derived.metrics_clients_daily_v1 (#8441)
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql

fix(util): Have `import_google_sheet()` redeploy the table schema to add back field descriptions.
  bigquery_etl/util/google_sheets.py
Due: validate-bqetl

fix(util): Have `import_google_sheet()` redeploy the table schema to add back field descriptions. (#8442)
  bigquery_etl/util/google_sheets.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_braze_monitor_plus_users_sync.py
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_daily_v1/query.sql
Due: validate-sql

chore(monitor_plus): updated sync table to read from prod monitor table
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/query.sql
Due: validate-sql

feat(DENG-10183): Add 11 installation first seen fields to metrics_clients_daily since they only come in metrics ping and not in baseline
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql

chore(monitor_plus): updated sync table to read from prod monitor table (#8444)
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/query.sql
Due: validate-sql

fix(query): Have `bqetl query run` redeploy the table schema if necessary to add back field descriptions.
  bigquery_etl/cli/query.py
Due: validate-bqetl

refactor(schema): Refactor `Schema.deploy()` to not use a temp file.
  bigquery_etl/schema/__init__.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/monitor_plus_sync_v1/query.sql
Due: validate-sql

feat(DENG-10183): Add schema file
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_daily_v1/schema.yaml
Due: validate-sql
