Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/public_data_report_user_activity_v1/query.sql
Due: validate-sql

Fixed more test config request reference
  tests/shredder/test_config.py
Due: validate-bqetl

Update bigquery_etl/cli/utils.py
  bigquery_etl/cli/utils.py
Due: validate-bqetl

Update bqetl_project.yaml
  bqetl_project.yaml
Due: validate-sql, validate-routines

remove partner_code from cte 11
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/11_serp_aggregates.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/query.sql
Due: validate-sql

remove partner_code from cte 12
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/12_serp_final.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/query.sql
Due: validate-sql

remove partner_code from cte 13
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/13_join_sap_serp.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/query.sql
Due: validate-sql

update submission dates
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/query.sql
Due: validate-sql

filter out null submission_dates
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/14_consolidated.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/query.sql
Due: validate-sql

format intermediate sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/04_sap_events_clients_ad_enterprise.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/06_sap_final.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/09_serp_events_clients_ad_enterprise.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/12_serp_final.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/13_join_sap_serp.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/ctes/14_consolidated.sql
Due: validate-sql

update templating format
  sql_generators/glean_usage/templates/events_first_seen_templating.yaml
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

fix(SubPlat): Complete backfills of SubPlat ETLs (DENG-10213).
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

add new criteria to tests
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/expect.yaml
Due: validate-bqetl, validate-sql

rename to stable_tables_monitoring and add feature to skip deployments
  sql_generators/stable_tables_monitoring/README.md
  sql_generators/stable_tables_monitoring/__init__.py
  sql_generators/stable_tables_monitoring/stable_tables_monitoring.py
  sql_generators/stable_tables_monitoring/templates/stable_tables_monitoring.bigconfig.yml
  sql_generators/stable_tables_monitoring/templates/stable_tables_monitoring.metadata.yaml
Due: validate-sql

delete old directory
  sql_generators/stable_tables_targeted/README.md
  sql_generators/stable_tables_targeted/__init__.py
  sql_generators/stable_tables_targeted/templates/stable_tables_targeted.bigconfig.yml
  sql_generators/stable_tables_targeted/templates/stable_tables_targeted.metadata.yaml
Due: validate-sql

re add files
  bigquery_etl/cli/metadata.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

fix typo
  sql_generators/stable_tables_monitoring/__init__.py
Due: validate-sql

fix(SubPlat): Complete backfills of SubPlat ETLs (DENG-10213). (#8499)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

Basic query working
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/section_items_v1/query.sql
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/query.sql
Due: validate-sql

Add permissions for ML team
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed e6960dfc7c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

delete unused
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/sections_v1/query.sql
Due: validate-sql

use events_stream view instead of events_stream_v1 table
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

DENG 10243: Decommission GLAM Legacy ETL downstream
  dags.yaml
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_beta_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_beta_v1/query.sql
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_beta_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_nightly_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_nightly_v1/query.sql
  sql/moz-fx-data-shared-prod/glam_derived/client_probe_counts_firefox_desktop_nightly_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glam_derived/dataset_metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_beta_aggregates/metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_beta_aggregates/schema.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_beta_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_beta_aggregates_v1/metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_beta_aggregates_v1/schema.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_beta_aggregates_v1/script.sql
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_nightly_aggregates/metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_nightly_aggregates/schema.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_nightly_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_nightly_aggregates_v1/metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_nightly_aggregates_v1/schema.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_nightly_aggregates_v1/script.sql
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_release_aggregates/metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_release_aggregates/schema.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_release_aggregates/view.sql
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_release_aggregates_v1/metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_release_aggregates_v1/schema.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_desktop_release_aggregates_v1/script.sql
Due: validate-sql

feat(DENG-10235): Add app_build_id to firefox_desktop.clients_first_seen & clients_first_seen_28_days_later_v1 (#8497)
  sql/moz-fx-data-shared-prod/firefox_desktop/clients_first_seen/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_first_seen_28_days_later_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_first_seen_28_days_later_v1/schema.yaml
Due: validate-sql

fix: add missing surface field the schema template and make sure query select matches schema order.
  sql_generators/terms_of_use/templates/terms_of_use_events_v1/query.sql.jinja
  sql_generators/terms_of_use/templates/terms_of_use_events_v1/schema.yaml.jinja
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/fenix_derived/terms_of_use_events_v1/query.sql
  tests/sql_generators/terms_of_use/expected/moz-fx-data-shared-prod/fenix_derived/terms_of_use_events_v1/schema.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/clients_first_seen/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_first_seen_28_days_later_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_first_seen_28_days_later_v1/schema.yaml
Due: validate-sql

Add permissions for ML team (#8500)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v1/metadata.yaml
Due: validate-sql

finish up
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/section_items_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/section_items_v1/query.sql
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/section_items_v1/schema.yaml
Due: validate-sql

Updated ref to mapping method
  bigquery_etl/cli/utils.py
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/shredder/config.py
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_targets_v1/query.py
  tests/shredder/test_config.py
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v1/metadata.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
