Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

setting backfill for entire table history
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

Update backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

[RS-1158] Backfill of newtab_visits_v1 to include missing pref (#5369)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed e45bd355a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Classify queries in Google Search Console data.
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/view.sql
  sql/mozfun/google_search_console/README.md
  sql/mozfun/google_search_console/classify_query/README.md
  sql/mozfun/google_search_console/classify_query/metadata.yaml
  sql/mozfun/google_search_console/classify_query/udf.sql
Due: validate-sql, validate-routines

Annotate brand keywords in `classify_query` UDF.
  sql/mozfun/google_search_console/classify_query/udf.sql
Due: validate-sql, validate-routines

Remove some duplicative brand keywords in `classify_query` UDF.
  sql/mozfun/google_search_console/classify_query/udf.sql
Due: validate-sql, validate-routines

Split some compound brand keywords in `classify_query` UDF.
  sql/mozfun/google_search_console/classify_query/udf.sql
Due: validate-sql, validate-routines

Refactor repeated Google Search Console logic into UDFs.
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/query.sql
  sql/mozfun/google_search_console/extract_url_domain_name/README.md
  sql/mozfun/google_search_console/extract_url_domain_name/metadata.yaml
  sql/mozfun/google_search_console/extract_url_domain_name/udf.sql
  sql/mozfun/google_search_console/extract_url_path/README.md
  sql/mozfun/google_search_console/extract_url_path/metadata.yaml
  sql/mozfun/google_search_console/extract_url_path/udf.sql
  sql/mozfun/google_search_console/extract_url_path_segment/README.md
  sql/mozfun/google_search_console/extract_url_path_segment/metadata.yaml
  sql/mozfun/google_search_console/extract_url_path_segment/udf.sql
Due: validate-sql, validate-routines

Resolve conflicts with main branch.
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql, validate-routines

Adjust the dataset for view firefox_android_clients.
  sql/moz-fx-data-shared-prod/telemetry/active_users/view.sql
Due: validate-sql

View updates.
  sql/moz-fx-data-shared-prod/telemetry/active_users/view.sql
Due: validate-sql

Revert "View updates." This reverts commit c2ab9b0677eda934993673afea9a90f1d91cfa85.
  sql/moz-fx-data-shared-prod/telemetry/active_users/view.sql
Due: validate-sql

Add `language_codes_v1` static table.
  sql/moz-fx-data-shared-prod/static/language_codes_v1/data.csv
  sql/moz-fx-data-shared-prod/static/language_codes_v1/description.txt
  sql/moz-fx-data-shared-prod/static/language_codes_v1/schema.json
Due: validate-sql

Tweak some language names in `language_codes_v1` to be more readable.
  sql/moz-fx-data-shared-prod/static/language_codes_v1/data.csv
Due: validate-sql

Replace `page_path_segment_1` field with `localized_site_code` field, and add related derived fields.
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/schema.yaml
  sql/mozfun/google_search_console/extract_url_country_code/README.md
  sql/mozfun/google_search_console/extract_url_country_code/metadata.yaml
  sql/mozfun/google_search_console/extract_url_country_code/udf.sql
  sql/mozfun/google_search_console/extract_url_language_code/README.md
  sql/mozfun/google_search_console/extract_url_language_code/metadata.yaml
  sql/mozfun/google_search_console/extract_url_language_code/udf.sql
  sql/mozfun/google_search_console/extract_url_locale/README.md
  sql/mozfun/google_search_console/extract_url_locale/metadata.yaml
  sql/mozfun/google_search_console/extract_url_locale/udf.sql
Due: validate-sql, validate-routines

Rename `country_code` field `user_country_code`.
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/schema.yaml
Due: validate-sql

Bug 1890323 - Remove pocket_derived.events_v1 from DAG scheduling
  sql/moz-fx-data-shared-prod/pocket_derived/events_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed 78c324761 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

format sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_new_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_histogram_aggregates_v2/query.sql
Due: validate-sql

Skip dryrun
  bqetl_project.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed 5e6e49824 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Move UDFs to mozfun
  sql/mozfun/serp_events/README.md
  sql/mozfun/serp_events/ad_blocker_inferred/README.md
  sql/mozfun/serp_events/ad_blocker_inferred/metadata.yaml
  sql/mozfun/serp_events/ad_blocker_inferred/udf.sql
  sql/mozfun/serp_events/is_ad_component/README.md
  sql/mozfun/serp_events/is_ad_component/metadata.yaml
  sql/mozfun/serp_events/is_ad_component/udf.sql
  sql_generators/serp_events/templates/view.sql
Due: validate-sql, validate-routines

Update the schema for the sanitization_job_metadata_v2 table. (#5337)
  sql/moz-fx-data-shared-prod/search_terms_derived/sanitization_job_metadata_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/sanitization_job_metadata_v2/schema.yaml
Due: validate-sql

[ci skip] Deployed a26d94a07 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_klar/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/sanitization_job_metadata_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/search_terms_derived/sanitization_job_metadata_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

updating format
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/query.sql
Due: validate-sql

updating nullable fields
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/schema.yaml
Due: validate-sql

updating format
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/schema.yaml
Due: validate-sql

updating nullable fields
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/schema.yaml
Due: validate-sql

adding subscription map model
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/script.sql
Due: validate-sql

adding subscriptions model
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/schema.yaml
Due: validate-sql

adding user profiles model
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
Due: validate-sql

updating format
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/metadata.yaml
Due: validate-sql

formatting
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/metadata.yaml
Due: validate-sql

removing last modified date in favor of only timestamp
  dags.yaml
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
