Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

feat(DENG-8732): Rename view to be more explicit & add comments to sessions tables (#7921)
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_sessions_v2/script.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v3/script.sql
  sql/moz-fx-data-shared-prod/telemetry/ga4_sessions_firefoxcom_mozillaorg_combined/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom_derived/ga_sessions_v2/script.sql
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v3/script.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/ga4_sessions_firefoxcom_mozillaorg_combined/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/ga4_sessions_firefoxcom_mozillaorg_combined/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/ga4_sessions_firefoxcom_mozillaorg_combined/view.sql
Due: validate-sql

remove quotation marks
  sql/moz-fx-data-shared-prod/microsoft_derived/app_acquisitions_v1/bigconfig.yml
Due: validate-sql

add the quotes back in to fix circle ci failure
  sql/moz-fx-data-shared-prod/microsoft_derived/app_acquisitions_v1/bigconfig.yml
Due: validate-sql

deng_8326 add bigconfig files for microsoft_derived scripts, update m… (#7915)
  sql/moz-fx-data-shared-prod/microsoft_derived/app_acquisitions_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_acquisitions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_conversions_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_installs_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_installs_v1/metadata.yaml
Due: validate-sql

Remove Mofo GA4 view, moving to separate mofo project
  sql/moz-fx-data-shared-prod/mofo/analytics_321347134_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mofo/analytics_321347134_events/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_acquisitions_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_acquisitions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_conversions_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_installs_v1/bigconfig.yml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_installs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
Due: validate-sql

Remove Mofo GA4 view, moving to separate mofo project (#7922)
  sql/moz-fx-data-shared-prod/mofo/analytics_321347134_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mofo/analytics_321347134_events/view.sql
Due: validate-sql

feat(DENG-8732): Initial commit
  sql/moz-fx-data-shared-prod/firefox_desktop/cfs_ga4_attr/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/mofo/analytics_321347134_events/metadata.yaml
  sql/moz-fx-data-shared-prod/mofo/analytics_321347134_events/schema.yaml
  sql/moz-fx-data-shared-prod/mofo/analytics_321347134_events/view.sql
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Delete mofo & mofo_derived datasets
  sql/moz-fx-data-shared-prod/mofo/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mofo_derived/dataset_metadata.yaml
Due: validate-sql

Set @mozilla/data-platform-infra-wg on most files, except sql/, sql_generators/, dags.yaml
  CODEOWNERS
Due: none

Remove sql_generators/ from @mozilla/data-platform-infra-wg exception
  CODEOWNERS
Due: none

Delete mofo & mofo_derived datasets (#7924)
  sql/moz-fx-data-shared-prod/mofo/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mofo_derived/dataset_metadata.yaml
Due: validate-sql

Require review on dataset_metadata.yaml
  CODEOWNERS
Due: none

Set @mozilla/data-platform-infra-wg CODEOWNER on most files, except sql/, sql_generators/, dags.yaml (#7925)
  CODEOWNERS
Due: none

feat(DENG-9319): Create stub_attribution_service_derived.dl_token_ga_attribution_lookup_v2
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/checks.sql
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/query.sql
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/mofo/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mofo_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

feat(DENG-9319): Add new query to dryrun skip list
  bqetl_project.yaml
Due: validate-sql, validate-routines

feat(DENG-9319): Added the depends_on_past: true to the V1 job since it should be there but it's missing
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v1/metadata.yaml
Due: validate-sql

feat(DENG-9319): Add depends_on_past: True
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/metadata.yaml
Due: validate-sql

[ci skip] Deployed dfb66682cb with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat(DENG-9319): Make query more efficient
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/query.sql
Due: validate-sql

feat(DENG-9319): Fix bug in query.sql, force null to be empty string to enable correct comparison
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/query.sql
Due: validate-sql

feat(DENG-9319): Ensure column description consistency
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v1/schema.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/schema.yaml
Due: validate-sql

feat(DENG-9319): Create dl_token_ga_attribution_lookup_v2 (#7926)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/checks.sql
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/query.sql
  sql/moz-fx-data-shared-prod/stub_attribution_service_derived/dl_token_ga_attribution_lookup_v2/schema.yaml
Due: validate-sql, validate-routines

DENG-9321-UDF to determine number of tiles per row
  sql/mozfun/newtab/determine_tiles_per_row_v1/README.md
  sql/mozfun/newtab/determine_tiles_per_row_v1/metadata.yaml
  sql/mozfun/newtab/determine_tiles_per_row_v1/udf.sql
Due: validate-sql, validate-routines

add ended_reason column
  sql/moz-fx-data-shared-prod/stripe_external/subscription_history_v1/query.sql
  sql/moz-fx-data-shared-prod/stripe_external/subscription_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/query.sql
  sql/moz-fx-data-shared-prod/stripe_external/subscriptions_changelog_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_history_v2/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_subscriptions_revised_changelog_v1/schema.yaml
Due: validate-sql

readme
  sql/mozfun/newtab/determine_tiles_per_row_v1/README.md
Due: validate-sql, validate-routines

Use @mozilla/dataplatform-wg as CODEOWNER
  CODEOWNERS
Due: none
