Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Fix sql generation hanging on macOS
  bigquery_etl/util/process_pool.py
  sql_generators/derived_view_schemas/__init__.py
  sql_generators/glean_usage/__init__.py
  sql_generators/stable_views/__init__.py
  tests/util/test_process_pool.py
Due: validate-bqetl, validate-sql

fix(dryrun): Specify billing project for dryruns during deploys.
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/query.py
  bigquery_etl/deploy.py
Due: validate-bqetl

fix(dryrun): Don't fail dryruns if the dataset hasn't been deployed yet.
  bigquery_etl/dryrun.py
Due: validate-bqetl

fix(dryrun): Correct dataset labels fallback value.
  bigquery_etl/dryrun.py
Due: validate-bqetl

fix(dryrun): Run authenticated dryrun queries in `mozdata` rather than the target project (#9845)
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/query.py
  bigquery_etl/deploy.py
  bigquery_etl/dryrun.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

fix(dryrun): Don't fail dryruns if the dataset hasn't been deployed yet (#9846)
  bigquery_etl/dryrun.py
Due: validate-bqetl

Fix sql generation hanging on macOS
  bigquery_etl/util/process_pool.py
  sql_generators/derived_view_schemas/__init__.py
  sql_generators/glean_usage/__init__.py
  sql_generators/stable_tables_monitoring/stable_tables_monitoring.py
  sql_generators/stable_views/__init__.py
  tests/util/test_process_pool.py
Due: validate-bqetl, validate-sql

[DENG-11525] Add observability tables for agent runs, spans, and source coverage
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_runs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_runs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_spans_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_spans_v1/schema.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_source_coverage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_source_coverage_v1/schema.yaml
Due: validate-sql

cleanup
  bigquery_etl/cli/__init__.py
  bigquery_etl/util/common.py
  bigquery_etl/util/process_pool.py
  bigquery_etl/util/target.py
  tests/util/test_common.py
  tests/util/test_process_pool.py
Due: validate-bqetl

updating metadata
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_runs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_source_coverage_v1/metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_spans_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_spans_v1/metadata.yaml
Due: validate-sql

added schema_ prefix to agent_spans_v1 description
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_spans_v1/schema.yaml
Due: validate-sql

added view on top of schema_source_coverage_v1
  sql/moz-fx-data-shared-prod/data_governance_metadata/schema_source_coverage/metadata.yaml
  sql/moz-fx-data-shared-prod/data_governance_metadata/schema_source_coverage/view.sql
Due: validate-sql

added readme for additional context
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_source_coverage_v1/README.md
Due: validate-sql

Apply suggestion from @github-actions[bot]
  sql/moz-fx-data-shared-prod/data_governance_metadata/schema_source_coverage/metadata.yaml
Due: validate-sql

Apply suggestion from @github-actions[bot]
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_agent_spans_v1/metadata.yaml
Due: validate-sql

Apply suggestion from @github-actions[bot]
  sql/moz-fx-data-shared-prod/data_governance_metadata_derived/schema_source_coverage_v1/README.md
Due: validate-sql

Update docs/reference/airflow_tags.md
  docs/reference/airflow_tags.md
Due: none

docs(airflow_tags): add impact/tier_0 and update tier SLA descriptions (#9836)
  docs/reference/airflow_tags.md
Due: none

don't set spawn method for serial path and add test
  bigquery_etl/util/process_pool.py
  tests/util/test_process_pool.py
Due: validate-bqetl

chore(dags): recategorize Airflow impact tiers
  dags.yaml
Due: validate-sql

feat(DENG-11579): add utils.extract_params_from_url and utils.url_decode UDFs
  sql/mozfun/utils/extract_params_from_url/README.md
  sql/mozfun/utils/extract_params_from_url/metadata.yaml
  sql/mozfun/utils/extract_params_from_url/udf.sql
  sql/mozfun/utils/url_decode/README.md
  sql/mozfun/utils/url_decode/metadata.yaml
  sql/mozfun/utils/url_decode/udf.sql
Due: validate-sql, validate-routines

chore: remove committed generated nimbus_sizing_clients_v1 files
  sql/moz-fx-data-experiments/firefox_desktop_derived/nimbus_sizing_clients_v1/metadata.yaml
  sql/moz-fx-data-experiments/firefox_desktop_derived/nimbus_sizing_clients_v1/query.sql
  sql/moz-fx-data-experiments/org_mozilla_fenix_derived/nimbus_sizing_clients_v1/metadata.yaml
  sql/moz-fx-data-experiments/org_mozilla_fenix_derived/nimbus_sizing_clients_v1/query.sql
  sql/moz-fx-data-experiments/org_mozilla_ios_firefox_derived/nimbus_sizing_clients_v1/metadata.yaml
  sql/moz-fx-data-experiments/org_mozilla_ios_firefox_derived/nimbus_sizing_clients_v1/query.sql
Due: validate-sql

Fix sql generation hanging on macOS (#9847)
  bigquery_etl/cli/__init__.py
  bigquery_etl/util/common.py
  bigquery_etl/util/process_pool.py
  bigquery_etl/util/target.py
  sql_generators/derived_view_schemas/__init__.py
  sql_generators/glean_usage/__init__.py
  sql_generators/stable_tables_monitoring/stable_tables_monitoring.py
  sql_generators/stable_views/__init__.py
  tests/util/test_common.py
  tests/util/test_process_pool.py
Due: validate-bqetl, validate-sql

Addressed claude comments
  sql/mozfun/utils/extract_params_from_url/README.md
  sql/mozfun/utils/extract_params_from_url/udf.sql
Due: validate-sql, validate-routines

feat(DENG-11579): addextract_params_from_url and url_decode UDFs (#9850)
  sql/mozfun/utils/extract_params_from_url/README.md
  sql/mozfun/utils/extract_params_from_url/metadata.yaml
  sql/mozfun/utils/extract_params_from_url/udf.sql
  sql/mozfun/utils/url_decode/README.md
  sql/mozfun/utils/url_decode/metadata.yaml
  sql/mozfun/utils/url_decode/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/mozfun/utils/extract_params_from_url/README.md
  sql/mozfun/utils/extract_params_from_url/metadata.yaml
  sql/mozfun/utils/extract_params_from_url/udf.sql
  sql/mozfun/utils/url_decode/README.md
  sql/mozfun/utils/url_decode/metadata.yaml
  sql/mozfun/utils/url_decode/udf.sql
Due: validate-sql, validate-routines

feat(config): Support multiple config files.
  bigquery_etl/__init__.py
  bigquery_etl/cli/__init__.py
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/stage.py
  bigquery_etl/config.py
  bigquery_etl/util/target.py
  sql_generators/glean_usage/glean_app_ping_views.py
  tests/data/bqetl_project_2.yaml
  tests/sql_generators/mobile_kpi_support_metrics/test_mobile_kpi_support_metrics.py
  tests/sql_generators/terms_of_use/test_terms_of_use.py
  tests/sql_generators/usage_reporting/test_usage_reporting.py
  tests/test_config.py
  tests/util/test_target.py
Due: validate-bqetl, validate-sql

refactor(config): Avoid shadowing the built-in `dir` function.
  bigquery_etl/config.py
Due: validate-bqetl

test(config): Refactor `test_config_loader_multiple_files` to also exercise the `_ConfigLoader._find_config_files` method.
  tests/data/bqetl_project_2.yaml
  tests/test_config.py
Due: validate-bqetl

feat: upgrade base docker image to bookworm
  Dockerfile
Due: none

fix(DENG-11590): exclude automated new profiles from desktop dashboard tables
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen/view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
  sql/moz-fx-data-shared-prod/telemetry/desktop_new_profiles_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v2/query.sql
  sql/moz-fx-data-shared-prod/udf/is_suspicious_automation/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/is_suspicious_automation/udf.sql
Due: validate-sql, validate-routines

fix(DENG-11590): normalize os before comparison and document exclusions
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v2/metadata.yaml
Due: validate-sql

refactor(DENG-11590): rename UDF and flag to is_desktop_argument_profile_automation
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen/view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
  sql/moz-fx-data-shared-prod/telemetry/desktop_new_profiles_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_cohort_daily_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v2/query.sql
  sql/moz-fx-data-shared-prod/udf/is_desktop_argument_profile_automation/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/is_desktop_argument_profile_automation/udf.sql
  sql/moz-fx-data-shared-prod/udf/is_suspicious_automation/metadata.yaml
Due: validate-sql, validate-routines

fix(DENG-11590): remove non-ASCII character from UDF description
  sql/moz-fx-data-shared-prod/udf/is_desktop_argument_profile_automation/metadata.yaml
Due: validate-sql, validate-routines

chore(schema): add base schema for search_derived (#9843)
  sql/moz-fx-data-shared-prod/search_derived/dataset_schema.yaml
Due: validate-sql

chore(schema): add base schema for mozilla_org_derived (#9842)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/dataset_schema.yaml
Due: validate-sql

feat(DENG-11076): add onboarding_completed_by_day_27 to retention_clients
  sql/moz-fx-data-shared-prod/fenix/onboarding_completed_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/onboarding_completed_clients/view.sql
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/README.md
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/schema.yaml
  sql_generators/mobile_kpi_support_metrics/templates/retention_clients.view.sql
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/moz-fx-data-shared-prod.fenix.events_stream.schema.json
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_daily_run/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_daily_run/moz-fx-data-shared-prod.fenix.events_stream.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_daily_run/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_repeat_completion/expect.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_repeat_completion/moz-fx-data-shared-prod.fenix.events_stream.yaml
  tests/sql/moz-fx-data-shared-prod/fenix_derived/onboarding_completed_clients_v1/test_repeat_completion/query_params.yaml
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/fenix/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/firefox_ios/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/focus_android/retention_clients/view.sql
  tests/sql_generators/mobile_kpi_support_metrics/expected/moz-fx-data-shared-prod/klar_android/retention_clients/view.sql
Due: validate-bqetl, validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
