Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Update metadata
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/metadata.yaml
Due: validate-sql

GROWTH-143 update google click ID conversions with new event types
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

renable filters
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

GROWTH-143 fix query
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

GROWTH-143 fix formatting
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

Add new boolean to test JSON
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/moz-fx-data-shared-prod.firefox_desktop_stable.newtab_v1.schema.json
Due: validate-bqetl, validate-sql

feat(ci): Use CircleCI OIDC for artifact deployment. (#5291)
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

GROWTH-143 fix where filter
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

GROWTH-143 fix client ID
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

GROWTH-143 fix column name
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

[ci skip] Deployed 044702503f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
  sql/moz-fx-data-shared-prod/viu_politica_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

Fix tests
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/expect.yaml
Due: validate-bqetl, validate-sql

Add category metric to test values
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_stable.newtab_v1.yaml
Due: validate-bqetl, validate-sql

test
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/test_aggregation/expect.yaml
Due: validate-bqetl, validate-sql

Update sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

GROWTH-143 add ifnull logic
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

GROWTH-143 cast null to boolean
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v2/query.sql
Due: validate-sql

fix(glam): add a more robust way to fetch glean tables
  script/glam/generate_glean_sql
Due: none

Add jq to image
  Dockerfile
Due: none

Remove useless space
  script/glam/generate_glean_sql
Due: none

fix(glam): add a more robust way to fetch glean tables (#5787)
  Dockerfile
  script/glam/generate_glean_sql
Due: none

[ci skip] Deployed e71fa15800 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Update dataset_metadata.yaml workgroup
  sql/data-observability-dev/org_mozilla_firefox_derived/dataset_metadata.yaml
Due: validate-sql

DENG-3096 add OS uniqueness checks
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/checks.sql
Due: validate-sql

DENG-3096 add uniqueness checks to device usage cloudflare DAG
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/checks.sql
Due: validate-sql

DENG-3096 add uniqueness check to browser cloudflare DAG
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/checks.sql
Due: validate-sql

feat: Create new derived query for Firefox-CI worker costs
  dags.yaml
  sql/moz-fx-data-shared-prod/fxci/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fxci/worker_costs/view.sql
  sql/moz-fx-data-shared-prod/fxci_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/query.sql
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/schema.yaml
Due: validate-sql

DENG-3096 reformat new checks.sql files
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/checks.sql
Due: validate-sql

Update dataset_metadata.yaml workgroup (#5788)
  sql/data-observability-dev/org_mozilla_firefox_derived/dataset_metadata.yaml
Due: validate-sql

[ci skip] Deployed 4f35e63172 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

feat: Create new derived query for Firefox-CI worker costs (#5758)
  dags.yaml
  sql/moz-fx-data-shared-prod/fxci/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fxci/worker_costs/view.sql
  sql/moz-fx-data-shared-prod/fxci_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/query.sql
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 30197cb628 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_internal_tooling.py
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/fxci/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fxci/worker_costs/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci/worker_costs/view.sql
  sql/moz-fx-data-shared-prod/fxci_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/query.sql
  sql/moz-fx-data-shared-prod/fxci_derived/worker_costs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

DENG-3096 split into separate DAGs so I can run at different times of the day
  dags.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
Due: validate-sql

DENG-3096 Add QA checks & split into separate DAGs to schedule at different times (#5789)
  dags.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed df0ab14437 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_cloudflare_browser_market_share.py
  dags/bqetl_cloudflare_device_market_share.py
  dags/bqetl_cloudflare_os_market_share.py
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/checks.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/fxci/worker_costs/schema.yaml
  sql/moz-fx-data-shared-prod/gleanjs_docs/events_stream/metadata.yaml
  sql/moz-fx-data-shared-prod/gleanjs_docs/events_stream/schema.yaml
  sql/moz-fx-data-shared-prod/gleanjs_docs/events_stream/view.sql
  sql/moz-fx-data-shared-prod/gleanjs_docs/events_unnested/metadata.yaml
  sql/moz-fx-data-shared-prod/gleanjs_docs/events_unnested/schema.yaml
  sql/moz-fx-data-shared-prod/gleanjs_docs/events_unnested/view.sql
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/viu_politica_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql
