Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Ignore derived_view_schemas generator in CI (#8407)
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed 2e8f3dc312 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Rename subplat_cirrus to subscription_platform_backend_cirrus
  sql_generators/experiment_monitoring/templates/templating.yaml
Due: validate-sql

Update table names in DeleteTarget configurations
  bigquery_etl/shredder/config.py
Due: validate-bqetl

feat(DENG-10032): Move from view to table to improve performance
  sql/moz-fx-data-shared-prod/firefox_desktop/cfs_ga4_attr/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/cfs_ga4_attr/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/schema.yaml
Due: validate-sql

feat(DENG-10032): Move from view to table to improve performance (#8412)
  sql/moz-fx-data-shared-prod/firefox_desktop/cfs_ga4_attr/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/cfs_ga4_attr/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/schema.yaml
Due: validate-sql

Test blobless checkout
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Use docker convenience images
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_glean_usage.py
  dags/bqetl_google_analytics_derived_ga4.py
  sql/moz-fx-data-shared-prod/firefox_desktop/cfs_ga4_attr/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/cfs_ga4_attr/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/cfs_ga4_attr_v1/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/temp_fog_initial_state/view.sql
  sql/moz-fx-data-shared-prod/klar_android/pageload/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/temp_fog_initial_state/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta/temp_fog_initial_state/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar/pageload/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar/temp_fog_initial_state/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_vrbrowser/bookmarks_sync/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/heartbeat/schema.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop/gecko_trace/schema.yaml
Due: validate-sql

fix(dependency): Implement workaround for tobymao/sqlglot#6298.
  bigquery_etl/dependency.py
Due: validate-bqetl

Revert convenience image
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

fix(dependency): Only consider `CREATE [TEMP] TABLE` and `CREATE VIEW` statements for ignoring table references created in the query itself.
  bigquery_etl/dependency.py
Due: validate-bqetl

Convenience images
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

test(dependency): Add `extract_table_references()` tests for SQL with CTEs and UDFs.
  tests/test_dependency.py
Due: validate-bqetl

test(dependency): Add `extract_table_references()` test for SQL with temp tables.
  tests/test_dependency.py
Due: validate-bqetl

fix(SubPlat): Complete backfills of SubPlat ETLs (DENG-9565, DENG-4043). (#8408)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

fix(SubPlat): Calculate correct `valid_to` values for Apple & Google logical subscriptions history (DENG-9565). (#8409)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/query.sql
Due: validate-sql

feat(DENG-9984): Create fx_health_ind_searches_by_provider
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_searches_by_provider/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_searches_by_provider/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/schema.yaml
Due: validate-sql

feat(DENG-9984): Delete telemetry_derived.fx_health_ind_searches_by_provider_v2 since no one using it
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_searches_by_provider_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_searches_by_provider_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_searches_by_provider_v2/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

[DENG-9685] Speed up test_run_query_no_query_file integration test
  script/entrypoint
  tests/test_entrypoint.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/query.sql
Due: validate-sql

Update metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_searches_by_provider/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/metadata.yaml
Due: validate-sql

[DENG-10166] Blobless checkout in CI (#8413)
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

[DENG-9685] Speed up test_run_query_no_query_file integration test (#8415)
  script/entrypoint
  tests/test_entrypoint.py
Due: validate-bqetl

fix(format): Update `qualify_table_references_in_file()` to work with newer `sqlglot` versions (DENG-7005) (#8411)
  bigquery_etl/dependency.py
  bigquery_etl/util/common.py
  bqetl_project.yaml
  requirements.in
  requirements.txt
  tests/test_dependency.py
  tests/util/test_common.py
Due: validate-bqetl, validate-sql, validate-routines

feat(DENG-9984): Create fx_health_ind_searches_by_provider (#8414)
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_searches_by_provider/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_searches_by_provider/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_searches_by_provider_v2/query.sql
Due: validate-sql

[DENG-9396] Skip dry running query when getting table schema
  bigquery_etl/schema/__init__.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_fx_health_ind_dashboard.py
  dags/bqetl_glean_usage.py
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_searches_by_provider/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_searches_by_provider/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_searches_by_provider_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_health_ind_searches_by_provider_v2/query.sql
Due: validate-sql

[run-tests] Dryun parallelism 20
  bigquery_etl/cli/dryrun.py
Due: validate-bqetl

refactor(SubPlat): Refactor `stripe_logical_subscriptions_history_v1` ETL to avoid more complicated window function calculations.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/query.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
