Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Have CI run SQL generation if files in `sql/` were renamed. (#5823)
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Make use of `bq_dataset_family` channel app property.
  sql_generators/glean_usage/glean_app_ping_views.py
Due: validate-sql

Revert "Fix initialize logic for materialized views (#5640)"
  bigquery_etl/cli/query.py
Due: validate-bqetl

Satisfy flake8 and pydocstyle.
  sql_generators/glean_usage/glean_app_ping_views.py
Due: validate-sql

[ci skip] Deployed 92a8dba70e with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Revert "Fix initialize logic for materialized views (#5640)" (#5826)
  bigquery_etl/cli/query.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
Due: validate-sql

[ci skip] Deployed b64c845782 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
Due: validate-sql

Add funnel to model dictionary (#214)
  jobs/kpi-forecasting/kpi_forecasting.py
Due: none

Make uncategorized sessions have null category
  sql/moz-fx-data-shared-prod/firefox_desktop/serp_categorization_unnested/view.sql
Due: validate-sql

Try to fully specify `metrics` fields to select in Glean union views (#5800)
  sql_generators/glean_usage/glean_app_ping_views.py
Due: validate-sql

Temporarily add pass-through views in `moz-fx-data-marketing-prod` in place of Google Search Console ETL tables to avoid breaking existing reporting.
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/view.sql
Due: validate-sql

[ci skip] Deployed 5a909de4ba with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Remove event timestamp
  sql/moz-fx-data-shared-prod/firefox_desktop/serp_categorization_unnested/view.sql
Due: validate-sql

Move Google Search Console ETLs & views to `moz-fx-data-shared-prod` (DENG-1733) (#5822)
  bqetl_project.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/view.sql
  sql/moz-fx-data-shared-prod/google_search_console/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_page/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_page/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_site/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_site/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_site/view.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v1/query.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v1/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v2/query.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v2/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v1/query.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v1/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v2/query.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v2/schema.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed d5422b049f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_search_console.py
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_page/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_page/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_site/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_site/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console/search_impressions_by_site/view.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v1/query.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v1/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v2/query.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_page_v2/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v1/query.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v1/schema.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v2/query.sql
  sql/moz-fx-data-shared-prod/google_search_console_derived/search_impressions_by_site_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Add v1 to table names (#215)
  jobs/kpi-forecasting/kpi_forecasting/configs/search_forecasting_ad_clicks.yaml
  jobs/kpi-forecasting/kpi_forecasting/configs/search_forecasting_daily_active_users.yaml
  jobs/kpi-forecasting/kpi_forecasting/configs/search_forecasting_search_count.yaml
Due: none

DENG-3096 reduce timeouts
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/query.py
Due: validate-sql

DENG-3096 reduce timeouts (#5827)
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/query.py
Due: validate-sql

[ci skip] Deployed f4cd607e8e with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Add tests for desktop
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/telemetry.clients_daily.schema.json
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/test_access_point_probes/telemetry.clients_daily.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/test_aggregation/telemetry.clients_daily.yaml
Due: validate-bqetl, validate-sql

Add mobile OS breakouts
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/schema.yaml
Due: validate-sql

Add mobile OS breakouts
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/query.sql
Due: validate-sql

fix friendly name. This is Conversions, not acquisitions
  sql/moz-fx-data-shared-prod/microsoft_derived/app_conversions_v1/metadata.yaml
Due: validate-sql

fix friendly name. This is Conversions, not acquisitions (#5828)
  sql/moz-fx-data-shared-prod/microsoft_derived/app_conversions_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed aceb898d64 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/bounce_tracking_protection/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/bounce_tracking_protection/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/bounce_tracking_protection/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/bounce_tracking_protection/metadata.yaml
  sql/moz-fx-data-shared-prod/focus_android/bounce_tracking_protection/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/bounce_tracking_protection/view.sql
  sql/moz-fx-data-shared-prod/klar_android/bounce_tracking_protection/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_android/bounce_tracking_protection/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/bounce_tracking_protection/view.sql
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/microsoft_derived/app_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

Add mobile tests
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_ios_version_filter/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_namespace_union/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/test_overactive_filter/expect.yaml
Due: validate-bqetl, validate-sql

Fix tests
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/test_aggregation/telemetry.clients_daily.yaml
Due: validate-bqetl, validate-sql

Add new class to metadata file
  bigquery_etl/metadata/parse_metadata.py
Due: validate-bqetl

Add cloudflare secret to metadata.yaml files
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
Due: validate-sql

DENG-3096 remove passed in argument, replace with GSM from metadata
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/query.py
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/os_usage_v1/query.py
Due: validate-sql

Fix CI issue
  tests/sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/test_aggregation/expect.yaml
Due: validate-bqetl, validate-sql

[Bug 1904423] Support ohttp for generated app views
  sql_generators/glean_usage/glean_app_ping_views.py
  sql_generators/glean_usage/templates/app_ping_view.view.sql
Due: validate-sql

added fields that are needed to support expected aggregations, adjusted config json fields to remove unused fields and give a sense of where the values come from
  jobs/dap-collector-ppa-dev/dap_collector_ppa_dev/main.py
Due: none
