Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

[DENG-10541] Use copy deduplicate to populate glean v2 tables
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/schema/__init__.py
  bigquery_etl/shredder/config.py
  bigquery_etl/shredder/delete.py
Due: validate-bqetl

Copy v2 to v1
  bigquery_etl/copy_deduplicate.py
Due: validate-bqetl

unit tests
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/shredder/config.py
  bigquery_etl/shredder/delete.py
  tests/test_copy_deduplicate.py
Due: validate-bqetl

Handle null structs
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/schema/__init__.py
  tests/schema/test_schema.py
  tests/shredder/test_delete.py
Due: validate-bqetl

initial migration
  .github/workflows/build.yml
  .github/workflows/setup-main.yml
  .github/workflows/setup-pr.yml
  .github/workflows/setup-tag.yml
  .github/workflows/tagged-deploy.yml
  .yamllint.yaml
Due: none

feat: Try to prevent coding agents from running unsafe `bqetl` commands.
  bigquery_etl/cli/alchemer.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/metadata.py
  bigquery_etl/cli/monitoring.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/routine.py
  bigquery_etl/cli/stage.py
  bigquery_etl/cli/static.py
  bigquery_etl/cli/utils.py
  bigquery_etl/cli/view.py
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/glam/cli.py
  bigquery_etl/stripe/__init__.py
  bigquery_etl/subplat/apple.py
Due: validate-bqetl

chore: Apply `black` v26 formatting to modified Python files.
  bigquery_etl/cli/alchemer.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/metadata.py
  bigquery_etl/cli/monitoring.py
  bigquery_etl/cli/routine.py
  bigquery_etl/cli/stage.py
  bigquery_etl/cli/view.py
Due: validate-bqetl

remove use_cloud_function=false recommendation
  AGENTS.md
Due: none

Add AGENTS.md (#8736)
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

[ci skip] Deployed 148f87ab9c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

remove payment_method_id and add payment_method logic
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/query.sql
Due: validate-sql

feat: copy over amo_prod queries to addons_derived as part 1 towards redeploying amo_prod
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/schema.yaml
Due: validate-sql

feat: copy over amo_prod queries to addons_derived as part 1 towards redeploying amo_prod (#8772)
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/schema.yaml
Due: validate-sql

[fix] change sample rate to 10% for filled_address_clients
  sql/moz-fx-data-shared-prod/telemetry_derived/filled_address_clients_aggregates_v1/query.sql
Due: validate-sql

feat: Try to prevent coding agents from running unsafe `bqetl` commands (#8775)
  bigquery_etl/cli/alchemer.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/deploy.py
  bigquery_etl/cli/metadata.py
  bigquery_etl/cli/monitoring.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/routine.py
  bigquery_etl/cli/stage.py
  bigquery_etl/cli/static.py
  bigquery_etl/cli/utils.py
  bigquery_etl/cli/view.py
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/glam/cli.py
  bigquery_etl/stripe/__init__.py
  bigquery_etl/subplat/apple.py
Due: validate-bqetl

[DENG-10541] Use copy deduplicate to populate glean v2 tables (#8774)
  bigquery_etl/copy_deduplicate.py
  bigquery_etl/schema/__init__.py
  bigquery_etl/shredder/config.py
  bigquery_etl/shredder/delete.py
  tests/schema/test_schema.py
  tests/shredder/test_delete.py
  tests/test_copy_deduplicate.py
Due: validate-bqetl

remove profile_group_id conditional and update tests
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_derived.events_stream_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_init/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_init/moz-fx-data-shared-prod.firefox_desktop_derived.events_stream_v1.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_amo_stats.py
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_historical_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_dau_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/amo_stats_installs_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/fenix_addons_by_client_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/query.sql
  sql/moz-fx-data-shared-prod/addons_derived/firefox_desktop_addons_by_client_legacy_source_v1/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/view.sql
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/pine/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop/metrics/schema.yaml
Due: validate-sql

[fix] change sample rate to 10% for filled_address_clients (#8779)
  sql/moz-fx-data-shared-prod/telemetry_derived/filled_address_clients_aggregates_v1/query.sql
Due: validate-sql

[ci skip] Deployed 35f46b4041 with MkDocs version: 1.6.1
  bqetl/index.html
  search/search_index.json
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/filled_address_clients_aggregates_v1/query.sql
Due: validate-sql

add view for filled_credential_clients_aggregates
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/view.sql
Due: validate-sql

add view for filled_credential_clients_aggregates (#8781)
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/filled_credentials_aggregates/view.sql
Due: validate-sql

[ci skip] Deployed bdf5b775e5 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

add payment tables to stripe_external dataset and to downstream yaml files
  sql/moz-fx-data-shared-prod/stripe_external/payment_method_card_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stripe_external/payment_method_card_v1/query.sql
  sql/moz-fx-data-shared-prod/stripe_external/payment_method_card_v1/schema.yaml
  sql/moz-fx-data-shared-prod/stripe_external/payment_method_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/stripe_external/payment_method_v1/query.sql
  sql/moz-fx-data-shared-prod/stripe_external/payment_method_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_logical_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/google_logical_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_daily_active_logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_daily_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_logical_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_monthly_active_logical_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_monthly_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_service_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/stripe_logical_subscriptions_history_v1/schema.yaml
Due: validate-sql

Revert "Revert "GLAM process labeled_boolean (#8654)" (#8666)"
  bigquery_etl/glam/clients_daily_scalar_aggregates.py
Due: validate-bqetl

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
