Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

GLAM filter out versions above latest (#5868)
  bigquery_etl/glam/templates/clients_histogram_aggregates_v1.sql
  bigquery_etl/glam/templates/clients_scalar_aggregates_v1.sql
Due: validate-bqetl

[ci skip] Deployed 16a1d44cf7 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_backend/events_stream/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

RS 1247- Backfill search mobile client level table
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/backfill.yaml
Due: validate-sql

RS 1247- Backfill search mobile client level table (#5877)
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed 3f87ec7d96 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/accounts_frontend/events_stream/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

DENG-4201 - create new versions in shared prod, later on will remove mktg prod
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_empty_check_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_empty_check_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/schema.yaml
Due: validate-sql

DENG-4201 remove empty check for now
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_empty_check_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_empty_check_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
Due: validate-sql

DENG-4201 - Create blogs_goals_v1 & blogs_sessions_v1 in shared-prod (#5878)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed af4355fe03 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

DENG-4201 create www_site_hits_v1 in shared-prod
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/schema.yaml
Due: validate-sql

DENG-4201 add firefox_whatsnew_summary_v1 to shared prod
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/schema.yaml
Due: validate-sql

DENG-4201 fix schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/schema.yaml
Due: validate-sql

DENG-4201 create www_site_hits_v1 & firefox_whatsnew_summary_v1 in shared-prod (#5879)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/schema.yaml
Due: validate-sql

DENG-4201 add www_site_downloads_v1 to shared prod
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 54341c597f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Add more GA3 tables in shared prod to prepare to remove from mktg prod
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_google_analytics_derived.py
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

Add snowplow_external dataset
  sql/moz-fx-data-shared-prod/snowplow_external/dataset_metadata.yaml
Due: validate-sql

DENG-4201 add www_site_page_metrics_v1 to shared prod so we can remove from mktg prd
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/schema.yaml
Due: validate-sql

DENG-4201 add www_site_metrics_summary_v1 to shared prod so we can remove from mktg prod
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/schema.yaml
Due: validate-sql

fix: incorrect source in app_store_syndication views and limit the number of syndicated views created to reduce noise
  sql/moz-fx-data-shared-prod/app_store/firefox_app_store_territory_source_type_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_app_store_territory_web_referrer_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_downloads_territory_source_type_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_downloads_territory_web_referrer_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_usage_territory_source_type_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_usage_territory_web_referrer_report/view.sql
  sql/moz-fx-data-shared-prod/app_store_syndicate/dataset_metadata.yaml
Due: validate-sql

fix: incorrect source in app_store_syndication views and limit the number of syndicated views created to reduce noise (#5882)
  sql/moz-fx-data-shared-prod/app_store/firefox_app_store_territory_source_type_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_app_store_territory_web_referrer_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_downloads_territory_source_type_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_downloads_territory_web_referrer_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_usage_territory_source_type_report/view.sql
  sql/moz-fx-data-shared-prod/app_store/firefox_usage_territory_web_referrer_report/view.sql
  sql/moz-fx-data-shared-prod/app_store_syndicate/dataset_metadata.yaml
Due: validate-sql

[ci skip] Deployed a09f5179a7 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Add Windows 11 23H2 & 24H2 updates to aggregates
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/view.sql
Due: validate-sql

Update bigquery_etl/dsar/dsar_response.py
  bigquery_etl/dsar/dsar_response.py
Due: validate-bqetl

Mark the search client level tables backfill as complete
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v8/backfill.yaml
Due: validate-sql

reformat
  bigquery_etl/dsar/dsar_response.py
Due: validate-bqetl

Bug 1895503 - Add script to export telemetry data for DSARs (#5833)
  bigquery_etl/dsar/dsar_response.py
Due: validate-bqetl

Remove mobile from completion
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_daily_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed 7d06e5a1cf with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Remove GA3 tables
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/schema.yaml
Due: validate-sql

Add snowplow_external dataset (#5881)
  sql/moz-fx-data-shared-prod/snowplow_external/dataset_metadata.yaml
Due: validate-sql

[ci skip] Deployed a1291f5df8 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Example adding fides access to monitor_frontend{,derived}
  sql/moz-fx-data-shared-prod/monitor_frontend/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_frontend_derived/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/snowplow_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_build_distribution/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
