Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

DENG-3462 do not update clients last seen yet since backfill not done yet
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/view.sql
Due: validate-sql

Add the remaining missing fields
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

Fix format of view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

Update sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

complete backfills
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_1pct_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_nightly_v1/backfill.yaml
Due: validate-sql

Switch days_seen_bits to use days_active_bits for activity fields
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

Add new segment column
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

add is dau, is mau back
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

fix formatting
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

DENG-3462 Add columns to clients_last_seen_v2 view (#5431)
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
Due: validate-sql

Get activity segments from the views instead of hard-coding it. Query attribution only when neccesary to improve performance. Delay update by 1 day to get metrics ping's data.
  sql_generators/active_users_aggregates_v3/templates/desktop_query.sql
  sql_generators/active_users_aggregates_v3/templates/focus_android_query.sql
  sql_generators/active_users_aggregates_v3/templates/metadata.yaml
  sql_generators/active_users_aggregates_v3/templates/mobile_query.sql
Due: validate-sql

Get app_name from clients_last_seen_v2 view.
  sql_generators/active_users_aggregates_v3/templates/desktop_query.sql
Due: validate-sql

[ci skip] Deployed 12da7b047 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v2/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Get columns from Desktop's clients_last_seen_v2 and Mobile's baseline_clients_last_seen views.
  sql/moz-fx-data-shared-prod/telemetry/active_users/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/active_users/view.sql
Due: validate-sql

complete backfills (#5441)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_1pct_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_nightly_v1/backfill.yaml
Due: validate-sql

Handle Discover and Google News search impressions consistently.
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/view.sql
  sql/mozfun/google_search_console/classify_site_query/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 593f11a19 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_1pct_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_nightly_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Google Search Console revisions (DENG-1733) (#5424)
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_page/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console/search_impressions_by_site/view.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_page_v2/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v1/schema.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/metadata.yaml
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/query.sql
  sql/moz-fx-data-marketing-prod/google_search_console_derived/search_impressions_by_site_v2/schema.yaml
  sql/mozfun/google_search_console/README.md
  sql/mozfun/google_search_console/classify_site_query/README.md
  sql/mozfun/google_search_console/classify_site_query/metadata.yaml
  sql/mozfun/google_search_console/classify_site_query/udf.sql
  sql/mozfun/google_search_console/extract_url_country_code/README.md
  sql/mozfun/google_search_console/extract_url_country_code/metadata.yaml
  sql/mozfun/google_search_console/extract_url_country_code/udf.sql
  sql/mozfun/google_search_console/extract_url_domain_name/README.md
  sql/mozfun/google_search_console/extract_url_domain_name/metadata.yaml
  sql/mozfun/google_search_console/extract_url_domain_name/udf.sql
  sql/mozfun/google_search_console/extract_url_language_code/README.md
  sql/mozfun/google_search_console/extract_url_language_code/metadata.yaml
  sql/mozfun/google_search_console/extract_url_language_code/udf.sql
  sql/mozfun/google_search_console/extract_url_locale/README.md
  sql/mozfun/google_search_console/extract_url_locale/metadata.yaml
  sql/mozfun/google_search_console/extract_url_locale/udf.sql
  sql/mozfun/google_search_console/extract_url_path/README.md
  sql/mozfun/google_search_console/extract_url_path/metadata.yaml
  sql/mozfun/google_search_console/extract_url_path/udf.sql
  sql/mozfun/google_search_console/extract_url_path_segment/README.md
  sql/mozfun/google_search_console/extract_url_path_segment/metadata.yaml
  sql/mozfun/google_search_console/extract_url_path_segment/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 079fbe218 with MkDocs version: 1.5.3
  404.html
  bqetl/index.html
  cookbooks/common_workflows/index.html
  cookbooks/creating_a_derived_dataset/index.html
  cookbooks/testing/index.html
  index.html
  moz-fx-data-shared-prod/udf/index.html
  moz-fx-data-shared-prod/udf_js/index.html
  mozfun/about/index.html
  mozfun/addons/index.html
  mozfun/assert/index.html
  mozfun/bits28/index.html
  mozfun/bytes/index.html
  mozfun/datetime_util/index.html
  mozfun/event_analysis/index.html
  mozfun/ga/index.html
  mozfun/glam/index.html
  mozfun/glean/index.html
  mozfun/google_ads/index.html
  mozfun/google_search_console/index.html
  mozfun/hist/index.html
  mozfun/iap/index.html
  mozfun/json/index.html
  mozfun/ltv/index.html
  mozfun/map/index.html
  mozfun/norm/index.html
  mozfun/stats/index.html
  mozfun/utils/index.html
  mozfun/vpn/index.html
  reference/airflow_tags/index.html
  reference/configuration/index.html
  reference/data_checks/index.html
  reference/incremental/index.html
  reference/public_data/index.html
  reference/recommended_practices/index.html
  reference/scheduling/index.html
  reference/stage-deploys-continuous-integration/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

removing unnecessary snapshot deletions that just needed to run once
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v1/script.sql
Due: validate-sql

DENG-2262 update to no longer rely on GA3 table
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_installs_v1/query.sql
Due: validate-sql

removing unnecessary snapshot deletions that just needed to run once (#5443)
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v1/script.sql
Due: validate-sql

[ci skip] Deployed 2b03af3ee with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Wrap timestamp in backticks
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_installs_v1/query.sql
Due: validate-sql

Skip dry run for desktop installs query since access denied
  bqetl_project.yaml
Due: validate-sql, validate-routines

DENG-2262 Update desktop installs to no longer rely on a GA3 table (#5444)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_installs_v1/query.sql
Due: validate-sql, validate-routines

[ci skip] Deployed fc45d45ae with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

adding models for changed and deleted users
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_external.users_previous_day_snapshot_v1.yaml
Due: validate-bqetl, validate-sql

adding filter to changed waitlists model
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_desktop_installs_v1.py
  dags/bqetl_google_analytics_derived.py
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_installs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_installs_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql
