Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

update column name (#7331)
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/query.sql
Due: validate-sql

removing placement filter to bring in tiles (#7327)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_interactions_hourly_v1/query.sql
Due: validate-sql

feat(DENG-8090): Add manifest json (#7332)
  sql/moz-fx-data-shared-prod/external/chrome_extensions/view.sql
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_interactions_hourly_v1/query.sql
Due: validate-sql

fix(bqetl): Have `bqetl format` print any parse errors it runs into. (#7334)
  bigquery_etl/format_sql/format.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/external/chrome_extensions/schema.yaml
  sql/moz-fx-data-shared-prod/external/chrome_extensions/view.sql
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat(bqetl): Add support for aggregate UDFs and table UDFs.
  bigquery_etl/format_sql/tokenizer.py
  bigquery_etl/routine/parse_routine.py
  tests/format_sql/capitalize_keywords/expect.sql
  tests/format_sql/capitalize_keywords/input.sql
Due: validate-bqetl

chore: Format SQL files.
  sql/moz-fx-data-shared-prod/monitoring_derived/suggest_click_rate_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/suggest_impression_rate_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/topsites_click_rate_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/topsites_impression_rate_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/topsites_rate_fenix_beta_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/topsites_rate_fenix_nightly_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/topsites_rate_fenix_release_live_v1/materialized_view.sql
  sql/mozfun/json/from_map/udf.sql
  sql/mozfun/json/from_nested_map/udf.sql
Due: validate-sql, validate-routines

fix(bqetl): Fix a bug in `bigquery_etl.pytest_plugin.routine.RoutineFile`.
  bigquery_etl/pytest_plugin/routine.py
Due: validate-bqetl

[ci skip] Deployed 0a4dd0f561 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Remove duplicate country from country list
  sql/moz-fx-data-shared-prod/external_derived/imf_exchange_rates_v1/query.py
Due: validate-sql

Remove duplicate country from country list (#7339)
  sql/moz-fx-data-shared-prod/external_derived/imf_exchange_rates_v1/query.py
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

add where clause to nimbus recorded targeting context views
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/nimbus_recorded_targeting_context/view.sql
Due: validate-sql

add where clause to nimbus recorded targeting context views (#7342)
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/nimbus_recorded_targeting_context/view.sql
Due: validate-sql

fix: Correct SQL in `capitalize_keywords` test.
  tests/format_sql/capitalize_keywords/expect.sql
  tests/format_sql/capitalize_keywords/input.sql
Due: validate-bqetl

[ci skip] Deployed e8a4f89473 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

fix: Move `json.from_map_json` UDF into its own `udf.sql` file.
  sql/mozfun/json/from_map/udf.sql
  sql/mozfun/json/from_map_json/README.md
  sql/mozfun/json/from_map_json/metadata.yaml
  sql/mozfun/json/from_map_json/udf.sql
Due: validate-sql, validate-routines

fix: Move `json.from_map_json` UDF into its own `udf.sql` file. (#7343)
  sql/mozfun/json/from_map/udf.sql
  sql/mozfun/json/from_map_json/README.md
  sql/mozfun/json/from_map_json/metadata.yaml
  sql/mozfun/json/from_map_json/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 6ed78237b3 with MkDocs version: 1.6.1
  mozfun/json/index.html
  search/search_index.json
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/mozfun/json/from_map/udf.sql
  sql/mozfun/json/from_map_json/README.md
  sql/mozfun/json/from_map_json/metadata.yaml
  sql/mozfun/json/from_map_json/udf.sql
Due: validate-sql, validate-routines

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
