Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

formatting
  bigquery_etl/glam/client_side_sampled_metrics.py
Due: validate-bqetl

Add to routines, add id
  .github/workflows/build.yml
Due: none

feat: automate sampled_metrics_v1 ETL from Experimenter API (#8868)
  bigquery_etl/glam/client_side_sampled_metrics.py
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/schema.yaml
  sql/moz-fx-glam-prod/glam_etl/sampled_metrics_v1/init.sql
  sql/moz-fx-glam-prod/glam_etl/sampled_metrics_v1/metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/sampled_metrics_v1/schema.yaml
  tests/sampled_metrics/test_query.py
Due: validate-bqetl, validate-sql

Add CI_RUN_ID env var to test-sql (#8943)
  .github/workflows/build.yml
  bigquery_etl/pytest_plugin/routine.py
  bigquery_etl/pytest_plugin/sql.py
Due: validate-bqetl

feat(DENG-10610): Create ai_usage_derived dataset with OpenAI and Claude usage data (#8838)
  dags.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_api_keys_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_api_keys_v1/query.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_api_keys_v1/schema.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_usage_v1/query.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_usage_v1/schema.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_completions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_completions_v1/query.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_completions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/query.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_ai_usage.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_api_keys_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_api_keys_v1/query.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_api_keys_v1/schema.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_usage_v1/query.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_usage_v1/schema.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_completions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_completions_v1/query.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_completions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/query.py
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/schema.yaml
Due: validate-sql

Bug 2020744 - Handle backfill for glean v2 in shredder_rows_deleted
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_rows_deleted_v1/query.py
Due: validate-sql

feat: add google_play_store_derived/vitals_error_count_v1
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_error_count_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_error_count_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_error_count_v1/schema.yaml
Due: validate-sql

[DENG-10724] Publish public JSON data in order where possible
  bigquery_etl/public_data/publish_json.py
Due: validate-bqetl

Public data export partition filter
  bigquery_etl/public_data/publish_json.py
  tests/public_data/test_publish_json.py
Due: validate-bqetl

Upload gzipped version
  bigquery_etl/public_data/publish_json.py
Due: validate-bqetl

Undo gzip upload
  bigquery_etl/public_data/publish_json.py
Due: validate-bqetl

feat: Add mozcloud dataset
  sql/moz-fx-data-shared-prod/mozcloud/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/service_uptime/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/service_uptime/view.sql
  sql/moz-fx-data-shared-prod/mozcloud_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/schema.yaml
Due: validate-sql

Clean up metadata
  sql/moz-fx-data-shared-prod/mozcloud/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/service_uptime/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
Due: validate-sql

Updates to add additionall apps and make threshold a dynamically calculated value vs locked into tiers
  sql/moz-fx-data-shared-prod/mozcloud/service_uptime/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/schema.yaml
Due: validate-sql

feat: Adding `or vector()` to the queries smoothed out a lot of the
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/schema.yaml
Due: validate-sql

Use proportions vs perc
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/schema.yaml
Due: validate-sql

Public data export add partition filter (#8947)
  bigquery_etl/public_data/publish_json.py
  tests/public_data/test_publish_json.py
Due: validate-bqetl

Bug 2020744 - Handle backfill for glean v2 in shredder_rows_deleted (#8944)
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_rows_deleted_v1/query.py
Due: validate-sql

remove clustering
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_rows_deleted_v1/query.py
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
Due: validate-sql

Add retry logic for prom query
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
Due: validate-sql

Add note about hardcoded apps
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
Due: validate-sql

Add socorro and symbols
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
Due: validate-sql

do_2122 add query/metadata/schema files for active_users_agg_tou_desktop_v1 table
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/schema.yaml
Due: validate-sql

pr feedback
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/schema.yaml
Due: validate-sql

feat(DENG-10719): add new fields
  sql_generators/urlbar_events/templates/desktop_query.sql
Due: validate-sql

feat(DENG-10720): add new fields
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_v1/query.sql
Due: validate-sql

feat: add google_play_store_derived/vitals_error_count_v1 (#8945)
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_error_count_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_error_count_v1/query.py
  sql/moz-fx-data-shared-prod/google_play_store_derived/vitals_error_count_v1/schema.yaml
Due: validate-sql

fix(deng-10610): round to 9 decimal places for numeric data type in big query
  sql/moz-fx-data-shared-prod/ai_usage_derived/openai_costs_v1/query.py
Due: validate-sql

Add new mozcloud dataset and initial KPI table (#8946)
  sql/moz-fx-data-shared-prod/mozcloud/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/service_uptime/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/service_uptime/view.sql
  sql/moz-fx-data-shared-prod/mozcloud_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_default.py
  sql/moz-fx-data-shared-prod/mozcloud/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/service_uptime/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud/service_uptime/view.sql
  sql/moz-fx-data-shared-prod/mozcloud_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/query.py
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/schema.yaml
Due: validate-sql

Add Cloud Eng daily dag for mozcloud and other CE related datasets
  dags.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
Due: validate-sql

[DENG-1287] Add query.py support to managed backfills
  bigquery_etl/backfill/parse.py
  bigquery_etl/backfill/utils.py
  bigquery_etl/backfill/validate.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  docs/cookbooks/creating_a_derived_dataset.md
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_and_derived_table_sizes_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/structured_missing_columns_v1/backfill.yaml
  tests/backfill/test_parse_backfill.py
  tests/backfill/test_validate_backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl, validate-sql

Add Cloud Eng daily dag for mozcloud and other CE related datasets (#8952)
  dags.yaml
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_cloud_eng_daily.py
  dags/bqetl_default.py
  sql/moz-fx-data-shared-prod/mozcloud_derived/service_uptime_v1/metadata.yaml
Due: validate-sql

Fix sampled_metrics to reflect experiment's new logic
  sql/moz-fx-data-shared-prod/telemetry_derived/sampled_metrics_v1/query.py
  tests/sampled_metrics/test_query.py
Due: validate-bqetl, validate-sql

feat: remove country field from the query and add it to the view to make sure country_tier returned always represents the most recent mapping value
  sql/moz-fx-data-shared-prod/telemetry/firefox_desktop_marketing_funnel/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_marketing_funnel_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/firefox_desktop_marketing_funnel_v1/schema.yaml
Due: validate-sql
