Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

feat(DENG-10036): Add startup_profile_selection_reason_first to baseline_clients_first_seen_v1 (Fx desktop only)
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.schema.yaml
Due: validate-sql

feat(DENG-10036): Add startup_profile_selection_reason_first to baseline_clients_first_seen_v1 (Fx desktop only) (#8379)
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_first_seen_v1.schema.yaml
Due: validate-sql

[DENG-9376] Remove value grouping for DOH adoption rate
  sql/moz-fx-data-shared-prod/telemetry_derived/doh_adoption_rate_v1/query.sql
Due: validate-sql

[DENG-9376] Remove value grouping for DOH adoption rate (#8380)
  sql/moz-fx-data-shared-prod/telemetry_derived/doh_adoption_rate_v1/query.sql
Due: validate-sql

add initial tests
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/moz-fx-data-shared-prod.firefox_desktop_derived.events_first_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/moz-fx-data-shared-prod.firefox_desktop_derived.events_stream_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_init/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_init/moz-fx-data-shared-prod.firefox_desktop_derived.events_stream_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_init/query_params.yaml
Due: validate-bqetl, validate-sql

[DENG-9376] Group by value, except for doh_heuristics_attempts and doh_heuristics_pass_count
  sql/moz-fx-data-shared-prod/telemetry_derived/doh_adoption_rate_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/marketing_attributable_metrics/schema.yaml
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/doh_adoption_rate_v1/query.sql
Due: validate-sql

Update bigquery_etl/copy_deduplicate.py
  bigquery_etl/copy_deduplicate.py
Due: validate-bqetl

feat: DENG-9955 remove Campaign Monitor suppression list integration
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/query.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/campaign_monitor_suppression_list_v1/metadata.yaml
Due: validate-sql

Use app id
  bigquery_etl/copy_deduplicate.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

test: DENG-9955 update tests to remove Campaign Monitor expectations
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/expect.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.marketing_suppression_list_external.campaign_monitor_suppression_list_v1.yaml
Due: validate-bqetl, validate-sql

feat: DENG-9955 remove Campaign Monitor suppression list integration (#8382)
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/query.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/campaign_monitor_suppression_list_v1/metadata.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/expect.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.marketing_suppression_list_external.campaign_monitor_suppression_list_v1.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_marketing_suppression_list.py
  sql/moz-fx-data-shared-prod/burnham/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_echo_show/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality_pc/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_android/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/mach/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/query.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_external/campaign_monitor_suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozphab/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/mozregression/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/clients_last_seen_joined/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

[ci skip] Deployed 66401cd761 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat(DENG-9900): Create view glean_desktop_conversion_events
  sql/moz-fx-data-shared-prod/firefoxdotcom/glean_desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/glean_desktop_conversion_events/view.sql
Due: validate-sql

Bug 1990006 - Create an initial ETL workflow for gecko-trace component
  dags.yaml
  sql/mozfun/gecko_trace/build_root_span/README.md
  sql/mozfun/gecko_trace/build_root_span/metadata.yaml
  sql/mozfun/gecko_trace/build_root_span/udf.sql
  sql/mozfun/gecko_trace/calculate_signature/README.md
  sql/mozfun/gecko_trace/calculate_signature/metadata.yaml
  sql/mozfun/gecko_trace/calculate_signature/udf.sql
  sql_generators/gecko_trace/README.md
  sql_generators/gecko_trace/__init__.py
  sql_generators/gecko_trace/templates/aggregates/dataset_metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/signatures/view.sql
  sql_generators/gecko_trace/templates/aggregates/spans/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/spans/view.sql
  sql_generators/gecko_trace/templates/aggregates/traces/metadata.yaml
  sql_generators/gecko_trace/templates/aggregates/traces/view.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_signatures_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_spans_v1/schema.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/metadata.yaml
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/query.sql
  sql_generators/gecko_trace/templates/derived/gecko_trace_traces_v1/schema.yaml
Due: validate-sql, validate-routines

feat(DENG-9987): Add normalized_country_code to firefox_desktop_derived.metrics_clients_daily_v1
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql

feat(DENG-9900): Add metadata description
  sql/moz-fx-data-shared-prod/firefoxdotcom/glean_desktop_conversion_events/metadata.yaml
Due: validate-sql

feat(DENG-9900): Create view glean_desktop_conversion_events (#8383)
  sql/moz-fx-data-shared-prod/firefoxdotcom/glean_desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/glean_desktop_conversion_events/view.sql
Due: validate-sql

feat: add amo_glean and amo_glean_derived namespaces
  sql/moz-fx-data-shared-prod/amo_glean/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/amo_glean_derived/dataset_metadata.yaml
Due: validate-sql

[DENG-9376] Group by value, except for doh_heuristics_attempts and doh_heuristics_pass_count (#8381)
  sql/moz-fx-data-shared-prod/telemetry_derived/doh_adoption_rate_v1/query.sql
Due: validate-sql

[SVCSE-3019] Delete regrets reporter datasets (#8378)
  bigquery_etl/shredder/config.py
  bqetl_project.yaml
  dags.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_tiktok_reporter/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_tiktok_reporter_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_tiktok_reporter_tiktok_reportershare/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_tiktok_reporter_tiktok_reportershare_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_tiktokreporter/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_tiktokreporter_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter/regrets_reporter_summary/metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter/regrets_reporter_summary/view.sql
  sql/moz-fx-data-shared-prod/regrets_reporter/regrets_reporter_update/view.sql
  sql/moz-fx-data-shared-prod/regrets_reporter_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter_derived/regrets_reporter_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter_derived/regrets_reporter_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/regrets_reporter_derived/regrets_reporter_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter_ucs/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter_ucs_derived/dataset_metadata.yaml
Due: validate-bqetl, validate-sql, validate-routines

fix: update user_facing value for amo_glean_derived
  sql/moz-fx-data-shared-prod/amo_glean_derived/dataset_metadata.yaml
Due: validate-sql

feat(DENG-100370: Add apple_model_id to firefox_desktop_derived.metrics_clients_daily_v1
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql

feat: add amo_glean and amo_glean_derived namespaces (#8384)
  sql/moz-fx-data-shared-prod/amo_glean/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/amo_glean_derived/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/doh_adoption_rate_v1/query.sql
Due: validate-sql

feat(DENG-100370: Add apple_model_id to firefox_desktop_derived.metrics_clients_daily_v1 (#8385)
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql
