Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Update bigquery_etl/cli/monitoring.py
  bigquery_etl/cli/monitoring.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_fx_health_ind_dashboard.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/event_counts_glean/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/install_vs_uninstall_ratio_by_country/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/install_vs_uninstall_ratio_by_country/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/install_vs_uninstall_ratio_by_country/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/uninstalls_per_other_installs/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/uninstalls_per_other_installs/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/uninstalls_per_other_installs/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_ratio_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_ratio_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_ratio_by_country_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_per_other_installs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_per_other_installs_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_per_other_installs_v1/schema.yaml
Due: validate-sql

Update async bigeye tests
  bigquery_etl/cli/monitoring.py
  tests/cli/test_cli_monitoring.py
Due: validate-bqetl

Use run_metric_batch_async to run Bigeye metrics (#6770)
  bigquery_etl/cli/monitoring.py
  tests/cli/test_cli_monitoring.py
Due: validate-bqetl

Remove experiment search monitoring (#6647)
  sql/moz-fx-data-shared-prod/telemetry/experiment_cumulative_ad_clicks/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/experiment_cumulative_search_count/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/experiment_cumulative_search_with_ads_count/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_cumulative_ad_clicks_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_cumulative_search_count_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_cumulative_search_with_ads_count_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_search_aggregates_live_v1/metadata.yaml
  sql_generators/experiment_monitoring/templates/experiment_search_aggregates_v1/metadata.yaml
  sql_generators/experiment_monitoring/templates/experiment_search_events_live_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/monitor_cirrus_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/monitor_cirrus_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_focus_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_focus_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_klar_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_klar_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar_derived/experiment_search_events_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/experiment_cumulative_ad_clicks/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/experiment_cumulative_search_count/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/experiment_cumulative_search_with_ads_count/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_cumulative_ad_clicks_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_cumulative_search_count_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_cumulative_search_with_ads_count_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_search_aggregates_live_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_search_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_search_events_live_v1/metadata.yaml
Due: validate-sql

Change timestamp format
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
Due: validate-sql

Fix sql format
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
Due: validate-sql

Change timestamp format in desktop_conversion_events view (#6771)
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
Due: validate-sql

DSRE-1815 Remove mlhackweek-search (#6769)
  docs/reference/configuration.md
  sql/moz-fx-data-shared-prod/mlhackweek_search/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search_derived/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/desktop_conversion_events/view.sql
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Remove mlhackweek_search from skip list
  bqetl_project.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed caf20b4544 with MkDocs version: 1.6.1
  reference/configuration/index.html
  search/search_index.json
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search/action/metadata.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search/baseline/metadata.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search/custom/metadata.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search/deletion_request/metadata.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search/events/metadata.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/mlhackweek_search_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Fix CI issues
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_cert_error_unique_users_normalized_channel_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_cert_error_unique_users_os_v1/query.sql
Due: validate-sql

Update dags.yaml
  dags.yaml
Due: validate-sql

Fenix and Desktop aggregates with full locale
  sql/moz-fx-data-shared-prod/fenix/locale_aggregates/view.sql
  sql/moz-fx-data-shared-prod/fenix_derived/locale_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/locale_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/locale_aggregates_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/locale_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/locale_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/locale_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/locale_aggregates_v1/schema.yaml
Due: validate-sql

Reformatting
  sql/moz-fx-data-shared-prod/fenix_derived/locale_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/locale_aggregates_v1/query.sql
Due: validate-sql

Formatting YAML
  sql/moz-fx-data-shared-prod/fenix_derived/locale_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/locale_aggregates_v1/metadata.yaml
Due: validate-sql

Syndication config for Jira service desk field options
  sql/moz-fx-data-shared-prod/jira_service_desk/field_option/metadata.yaml
  sql/moz-fx-data-shared-prod/jira_service_desk/field_option/view.sql
  sql/moz-fx-data-shared-prod/jira_service_desk_syndicate/dataset_metadata.yaml
Due: validate-sql

Syndication config for Jira service desk field options (#6774)
  sql/moz-fx-data-shared-prod/jira_service_desk/field_option/metadata.yaml
  sql/moz-fx-data-shared-prod/jira_service_desk/field_option/view.sql
  sql/moz-fx-data-shared-prod/jira_service_desk_syndicate/dataset_metadata.yaml
Due: validate-sql

[ci skip] Deployed caf20b4544 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Skip stable view generation for mlhackweek_search
  bqetl_project.yaml
  sql_generators/stable_views/__init__.py
Due: validate-sql, validate-routines

Create new aggregate table uninstalls_to_dau_ratio_by_country
  sql/moz-fx-data-shared-prod/telemetry/uninstalls_to_dau_ratio_by_country/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_to_dau_ratio_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_to_dau_ratio_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_to_dau_ratio_by_country_v1/schema.yaml
Due: validate-sql

Update table description
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_to_dau_ratio_by_country_v1/metadata.yaml
Due: validate-sql

Remove unused telescope access
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_joined/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_v6/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/metadata.yaml
Due: validate-sql

Jira service desk join requests, fields and issues
  sql/moz-fx-data-shared-prod/jira_service_desk/issue/view.sql
Due: validate-sql

Deselect duplicate fields
  sql/moz-fx-data-shared-prod/jira_service_desk/issue/view.sql
Due: validate-sql

New aggregate table
  sql/moz-fx-data-shared-prod/telemetry/install_vs_uninstall_by_os/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_by_os_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_by_os_v1/schema.yaml
Due: validate-sql

Remove unused telescope access (#6777)
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_joined/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_v6/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_v6/metadata.yaml
Due: validate-sql

DENG-6683 & DENG-6884 - Create aggregate tables for installs/uninstalls (#6776)
  sql/moz-fx-data-shared-prod/telemetry/install_vs_uninstall_by_os/view.sql
  sql/moz-fx-data-shared-prod/telemetry/uninstalls_to_dau_ratio_by_country/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_by_os_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/install_vs_uninstall_by_os_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_to_dau_ratio_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_to_dau_ratio_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/uninstalls_to_dau_ratio_by_country_v1/schema.yaml
Due: validate-sql

[DENG-6887] - Build necessary aggregate tables for FX dashboards related to desktop events (#6733)
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry/fx_cert_error_unique_users_normalized_channel/view.sql
  sql/moz-fx-data-shared-prod/telemetry/fx_cert_error_unique_users_os/view.sql
  sql/moz-fx-data-shared-prod/telemetry/fx_privacy_dau_agg/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_cert_error_unique_users_normalized_channel_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_cert_error_unique_users_normalized_channel_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_cert_error_unique_users_normalized_channel_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_cert_error_unique_users_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_cert_error_unique_users_os_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_cert_error_unique_users_os_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_privacy_dau_agg_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_privacy_dau_agg_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_privacy_dau_agg_v1/schema.yaml
Due: validate-sql
