Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/external/chrome_extensions/schema.yaml
  sql/moz-fx-data-shared-prod/external/chrome_extensions/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/view.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/view.sql
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/pine/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_extract_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_extract_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_extract_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/glam_user_counts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop/metrics/schema.yaml
Due: validate-sql

Limit number of events that are aggregated in event_flow_monitoring_aggregates (#7317)
  sql_generators/glean_usage/templates/event_flow_monitoring_aggregates_v1.script.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_flow_monitoring_aggregates_v1/script.sql
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat: revert changes related to main_supression_list_v1 as it is still needed
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/test_suppression_list_time_parsing/expect.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/expect.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.acoustic_external.suppression_list_v1.yaml
Due: validate-bqetl, validate-sql, validate-routines

feat: deprecate acoustic
  bqetl_project.yaml
  dags.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/test_suppression_list_time_parsing/expect.yaml
  tests/sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/test_suppression_list_time_parsing/moz-fx-data-bq-fivetran.acoustic_sftp.suppression_export_v_1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/users_v1/moz-fx-data-shared-prod.acoustic_external.raw_recipient_raw_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/moz
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/expect.yaml
  tests/sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/test_main_suppression_list/moz-fx-data-shared-prod.acoustic_external.suppression_list_v1.yaml
Due: validate-bqetl, validate-sql, validate-routines

feat: remove acoustic_external.supression_list_v1 query as no longer needed. Keeping directory along with schema as the data will continue to live
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/query.sql
Due: validate-sql, validate-routines

feat: add a note to the description for when deprecation took place
  sql/moz-fx-data-shared-prod/acoustic/contact/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/metadata.yaml
Due: validate-sql

feat: delete query.sql files for acoustic queries that have been descheduled and are no longer needed.
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/query.sql
Due: validate-sql

feat: undeprecate contact_v1 and raw_recipient_v1 as it may still be required in the future
  sql/moz-fx-data-shared-prod/acoustic/contact/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_derived/raw_recipient_v1/metadata.yaml
Due: validate-sql

feat: Remove tests related to supression_list_v1 query as no longer in use.
  tests/sql/moz-fx-data-shared-prod/acoustic_external/suppression_list_v1/test_suppression_list_time_parsing/expect.yaml
Due: validate-bqetl, validate-sql

feat(DENG-8090): Add new column trader_status
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
Due: validate-sql

feat(DENG-8090): Add new column trader_status (#7321)
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
Due: validate-sql

feat(DENG-8090): Add featured column to chrome_extensions_v1
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
Due: validate-sql

feat(DENG-8090): Add new cols to the view
  sql/moz-fx-data-shared-prod/external/chrome_extensions/view.sql
Due: validate-sql

[ci skip] Deployed 3c3164b5a2 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

update formatting and add descriptions
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
Due: validate-sql

Add nimbus_recorded_targeting_context queries for fenix and firefox ios
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/nimbus_recorded_targeting_context_v1/query.sql
Due: validate-sql

update dag and expiration_days
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
Due: validate-sql

add 'nimbus' prefix to queries
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/nimbus_recorded_targeting_context/view.sql
Due: validate-sql

feat(DENG-8090): Add featured column to chrome_extensions_v1 (#7322)
  sql/moz-fx-data-shared-prod/external/chrome_extensions/view.sql
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
Due: validate-sql

add newlines to ends of files
  sql/moz-fx-data-shared-prod/udf/hr_cost_center_to_steering_committee/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/hr_cost_center_to_steering_committee/udf.sql
  sql/moz-fx-data-shared-prod/udf/hr_steering_committee_to_group_name/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/hr_steering_committee_to_group_name/udf.sql
Due: validate-sql, validate-routines

feat(DENG-8090): Add verified_domain
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
Due: validate-sql

Update view.sql
  sql/moz-fx-data-shared-prod/external/chrome_extensions/view.sql
Due: validate-sql

Update schema.yaml
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
Due: validate-sql

add newlines to ends of files (#7323)
  sql/moz-fx-data-shared-prod/udf/hr_cost_center_to_steering_committee/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/hr_cost_center_to_steering_committee/udf.sql
  sql/moz-fx-data-shared-prod/udf/hr_steering_committee_to_group_name/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/hr_steering_committee_to_group_name/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/external/chrome_extensions/schema.yaml
  sql/moz-fx-data-shared-prod/external/chrome_extensions/view.sql
  sql/moz-fx-data-shared-prod/external_derived/chrome_extensions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Bug 1960934 - Limit materialized_view_refresh task concurrency
  bigquery_etl/query_scheduling/dag.py
  dags.yaml
  tests/data/dags/python_script_test_dag
  tests/data/dags/simple_test_dag
  tests/data/dags/test_dag_duplicate_dependencies
  tests/data/dags/test_dag_external_check_dependency
  tests/data/dags/test_dag_external_dependency
  tests/data/dags/test_dag_with_bigquery_table_sensors
  tests/data/dags/test_dag_with_check_dependencies
  tests/data/dags/test_dag_with_check_table_dependencies
  tests/data/dags/test_dag_with_dependencies
  tests/data/dags/test_dag_with_secrets
  tests/data/dags/test_public_data_json_dag
Due: validate-bqetl, validate-sql

Add nimbus_recorded_targeting_context queries for fenix and firefox ios (#7294)
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/nimbus_recorded_targeting_context_v1/query.sql
Due: validate-sql

[ci skip] Deployed db620c351c with MkDocs version: 1.6.1
  moz-fx-data-shared-prod/udf/index.html
  search/search_index.json
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/external/chrome_extensions/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/logins_sync/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/udf/hr_cost_center_to_steering_committee/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/hr_cost_center_to_steering_committee/udf.sql
  sql/moz-fx-data-shared-prod/udf/hr_steering_committee_to_group_name/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/hr_steering_committee_to_group_name/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_experiments_daily.py
  sql/moz-fx-data-shared-prod/firefox_reality/logins_sync/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/nimbus_recorded_targeting_context/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/nimbus_recorded_targeting_context_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/nimbus_recorded_targeting_context/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox/nimbus_recorded_targeting_context/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/nimbus_recorded_targeting_context_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/nimbus_recorded_targeting_context_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

add argument to UDF
  sql/moz-fx-data-shared-prod/udf/hr_cost_center_to_steering_committee/udf.sql
  sql/moz-fx-data-shared-prod/udf/hr_steering_committee_to_group_name/udf.sql
Due: validate-sql, validate-routines
