Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/data-observability-dev/telemetry_derived/firefox_aggregates_v1/query.sql
Due: validate-sql

add desktop_retention view.sql (#5575)
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention/view.sql
Due: validate-sql

DENG-3755 fix braze changed users to include new users
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
Due: validate-bqetl, validate-sql

Remove offset
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_services_daily_v1/query.sql
Due: validate-sql

Remove some duplicative brand keywords in `classify_site_query` UDF.
  sql/mozfun/google_search_console/classify_site_query/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 0315e42817 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

updates to desktop retention fields
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Get event pings from probe info for monitoring events
  bqetl_project.yaml
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/event_monitoring_live.py
  sql_generators/glean_usage/templates/event_monitoring_live_v1.materialized_view.sql
  sql_generators/search/__init__.py
  sql_generators/stable_views/__init__.py
Due: validate-sql, validate-routines

DENG-3755 fix braze changed users to include new users (#5582)
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 7e6a2daf8b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
Due: validate-sql

updates to desktop retention fields (#5584)
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/schema.yaml
Due: validate-sql

Create daily aggregates table
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/schema.yaml
Due: validate-sql

Update query.sql and Create view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/urlbar_events_daily_engagement_by_position/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/query.sql
Due: validate-sql

Annotate brand keywords in `classify_site_query` UDF.
  sql/mozfun/google_search_console/classify_site_query/udf.sql
Due: validate-sql, validate-routines

Update event monitoring aggregate query
  bqetl_project.yaml
  sql_generators/glean_usage/event_monitoring_live.py
  sql_generators/glean_usage/templates/event_monitoring_aggregates_v1.query.sql
  sql_generators/glean_usage/templates/event_monitoring_live_v1.materialized_view.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 9b107dc5b4 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Update schema.yaml for firefox_android_anonymised
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_v1/schema.yaml
Due: validate-sql

Lock down the ltv table to cat3 access
  sql/data-observability-dev/ltv_derived/dataset_metadata.yaml
Due: validate-sql

Update schema.yaml for firefox_android_anonymised (#5585)
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/schema.yaml
Due: validate-sql

Update schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/schema.yaml
Due: validate-sql

Update tests/cli/test_cli_query.py
  tests/cli/test_cli_query.py
Due: validate-bqetl

[ci skip] Deployed a09aef9ae2 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Tweak Firefox and Mozilla brand keyword regular expressions in `classify_site_query` UDF.
  sql/mozfun/google_search_console/classify_site_query/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/data-observability-dev/fenix_derived/firefox_android_anonymised_v1/schema.yaml
Due: validate-sql

Add new Pocket brand keyword regular expressions from Adria Kyne in `classify_site_query` UDF.
  sql/mozfun/google_search_console/classify_site_query/metadata.yaml
  sql/mozfun/google_search_console/classify_site_query/udf.sql
Due: validate-sql, validate-routines

Tweak Pocket brand keyword regular expression in `classify_site_query` UDF.
  sql/mozfun/google_search_console/classify_site_query/udf.sql
Due: validate-sql, validate-routines

feat(query.py): adding cleaner override logic per PR comments and also cleaning up comments and rogue print statement
  bigquery_etl/cli/query.py
Due: validate-bqetl

DENG-3288 remove focus android for now so we can deploy the tables
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_clients_v1/query.sql
Due: validate-sql

DENG-3288 reformat per Ben's suggestion & remove sources not in there anymore
  bigquery_etl/shredder/config.py
Due: validate-bqetl

[MRG] Create daily aggregates table (#5583)
  sql/moz-fx-data-shared-prod/firefox_desktop/urlbar_events_daily_engagement_by_position/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/schema.yaml
Due: validate-sql

DENG-3288 update dag start date
  dags.yaml
Due: validate-sql

normalizing search engine for Mobile
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_clients_last_seen_v1/query.sql
Due: validate-sql

[ci skip] Deployed a0b1eed69a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DENG-3288 correct column name
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_v1/schema.yaml
Due: validate-sql

DENG-3288 remove comment
  sql/moz-fx-data-shared-prod/telemetry_derived/mobile_engagement_v1/query.sql
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
