Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Start adding descriptions, and add a QA check to ensure Primary Key
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/schema.yaml
Due: validate-sql

feat: add bqetl_format pre-commit
  .pre-commit-config.yaml
Due: none

Remove debug print statements
  sql_generators/glean_usage/common.py
Due: validate-sql

feat: add bqetl_format pre-commit (#7023)
  .pre-commit-config.yaml
Due: none

Remove debug print statements (#7031)
  sql_generators/glean_usage/common.py
Due: validate-sql

Fix schema.yaml formatting issues
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 3ce9fc5d3c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Fix column name and remove dag name from depends_on
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/query.sql
Due: validate-sql

Shorten lines
  sql/moz-fx-data-shared-prod/telemetry_derived/fx_accounts_active_daily_clients_v1/schema.yaml
Due: validate-sql

new line at the end of dags.yaml
  dags.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Putting back dag_name because it's mandatory
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/metadata.yaml
Due: validate-sql

Remove external dag dependency
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/metadata.yaml
Due: validate-sql

feat: handle cases when SQL syntaxt is invalid and add invalid to the final report
  bigquery_etl/format_sql/format.py
Due: validate-bqetl

feat: add assert for case when query is invalid
  bigquery_etl/format_sql/format.py
  tests/cli/test_cli_format.py
Due: validate-bqetl

feat: Extract Glean auto-generated click events, starting with accounts_frontend (#6987)
  dags.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events/apps_auto_events_metadata/view.sql
  sql/moz-fx-data-shared-prod/glean_auto_events/daily_auto_events_metadata/view.sql
  sql/moz-fx-data-shared-prod/glean_auto_events/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/daily_auto_events_metadata_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/daily_auto_events_metadata_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/daily_auto_events_metadata_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/dataset_metadata.yaml
Due: validate-sql

feat: add type hints and fun docstring to _format_path
  bigquery_etl/format_sql/format.py
Due: validate-bqetl

feat: handle cases when SQL syntaxt is invalid and add invalid to the final report (#7032)
  bigquery_etl/format_sql/format.py
  tests/cli/test_cli_format.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_glean_dictionary.py
  dags/bqetl_public_data_json.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events/apps_auto_events_metadata/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events/apps_auto_events_metadata/view.sql
  sql/moz-fx-data-shared-prod/glean_auto_events/daily_auto_events_metadata/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events/daily_auto_events_metadata/view.sql
  sql/moz-fx-data-shared-prod/glean_auto_events/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/apps_auto_events_metadata_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/daily_auto_events_metadata_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/daily_auto_events_metadata_v1/query.sql
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/daily_auto_events_metadata_v1/schema.yaml
  sql/moz-fx-data-shared-prod/glean_auto_events_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
Due: validate-sql

Disable monitoring for this backfill dataset
  sql/moz-fx-data-shared-prod/backfills_staging_derived/baseline_clients_last_seen_v1_20211130/metadata.yaml
Due: validate-sql

Add legacy sources to rolling_cohorts_v2 delete sources in shredder mitigation config
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Update sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/metadata.yaml
Due: validate-sql

Fix typos in docs
  sql_generators/usage_reporting/README.md
  sql_generators/usage_reporting/templates/usage_reporting_clients_daily_v1.metadata.yaml
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.metadata.yaml
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.metadata.yaml
Due: validate-sql

feat: fix sql error in first_seen where submission_timestamp does not exist
  sql_generators/usage_reporting/templates/usage_reporting_clients_daily_v1.query.sql
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.query.sql
Due: validate-sql

feat: add usage_reporting generator
  bqetl_project.yaml
  sql_generators/usage_reporting/README.md
  sql_generators/usage_reporting/__init__.py
  sql_generators/usage_reporting/templates/app_union.view.sql
  sql_generators/usage_reporting/templates/channel.view.sql
  sql_generators/usage_reporting/templates/usage_reporting_clients_daily_v1.metadata.yaml
  sql_generators/usage_reporting/templates/usage_reporting_clients_daily_v1.query.sql
  sql_generators/usage_reporting/templates/usage_reporting_clients_daily_v1.schema.yaml
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.metadata.yaml
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.query.sql
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.schema.yaml
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.metadata.yaml
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.query.sql
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.schema.yaml
Due: validate-sql, validate-routines

feat: add firefox_desktop to usage_reporting apps configuration
  bqetl_project.yaml
Due: validate-sql, validate-routines

Update sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/query.sql
Due: validate-sql

Update sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_dau_distribution_id_history_v1/schema.yaml
Due: validate-sql

Simplify
  bigquery_etl/shredder/config.py
Due: validate-bqetl

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
