Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Rename engagement for consistency with mobile (#5483)
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement/view.sql
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_client_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 4f24c84dd with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

updating field name
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
Due: validate-sql

adding type
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_desktop_engagement_model.py
  sql/moz-fx-data-shared-prod/google_ads/android_app_campaign_stats/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement/view.sql
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_agg/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_client/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_client_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_engagement_v1/schema.yaml
Due: validate-sql

initial commit for desktop_retention_clients view
  sql/moz-fx-data-shared-prod/telemetry/retention_clients/view.sql
Due: validate-sql

initial commit for desktop_retention_clients view - after formatting
  sql/moz-fx-data-shared-prod/telemetry/retention_clients/view.sql
Due: validate-sql

Use `schema.yaml` for static tables instead of `schema.json` (#5491)
  bigquery_etl/cli/static.py
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/schema.json
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/schema.yaml
  sql/moz-fx-data-shared-prod/static/README.md
  sql/moz-fx-data-shared-prod/static/ca_postal_districts_v1/schema.json
  sql/moz-fx-data-shared-prod/static/ca_postal_districts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/static/country_codes_v1/schema.json
  sql/moz-fx-data-shared-prod/static/country_codes_v1/schema.yaml
  sql/moz-fx-data-shared-prod/static/country_names_v1/schema.json
  sql/moz-fx-data-shared-prod/static/country_names_v1/schema.yaml
  sql/moz-fx-data-shared-prod/static/iana_tls_cipher_suites/schema.json
  sql/moz-fx-data-shared-prod/static/iana_tls_cipher_suites/schema.yaml
  sql/moz-fx-data-shared-prod/static/language_codes_v1/schema.json
  sql/moz-fx-data-shared-prod/static/language_codes_v1/schema.yaml
  sql/moz-fx-data-shared-prod/static/normal_distribution/schema.json
  sql/moz-fx-data-shared-prod/static/normal_distribution/schema.yaml
  sql/moz-fx-data-shared-prod/static/us_zip_code_prefixes_v1/schema.json
  sql/moz-fx-data-shared-prod/static/us_zip_code_prefixes_v1/schema.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed cab4c588b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/mozilla_vpn/vat_rates/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/schema.json
  sql/moz-fx-data-shared-prod/mozilla_vpn_derived/vat_rates_v2/schema.yaml
  sql/moz-fx-data-shared-prod/static/README.md
  sql/moz-fx-data-shared-prod/static/ca_postal_districts_v1/schema.json
  sql/moz-fx-data-shared-prod/static/country_codes_v1/schema.json
  sql/moz-fx-data-shared-prod/static/country_names_v1/schema.json
  sql/moz-fx-data-shared-prod/static/iana_tls_cipher_suites/schema.json
  sql/moz-fx-data-shared-prod/static/language_codes_v1/schema.json
  sql/moz-fx-data-shared-prod/static/normal_distribution/schema.json
  sql/moz-fx-data-shared-prod/static/us_zip_code_prefixes_v1/schema.json
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_engagement_clients/schema.yaml
Due: validate-sql

Replace `geckoview_version` view `schema.json` with `schema.yaml`. (#5493)
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/geckoview_version/schema.json
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/geckoview_version/schema.yaml
Due: validate-sql

[ci skip] Deployed fc986f948 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/geckoview_version/schema.json
Due: validate-sql

Added deletion dates (#5486)
  sql/moz-fx-data-shared-prod/monitoring_derived/compressed_report_mozilla/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/deletion_request_volume_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_progress_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_table_sizes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/structured_distinct_docids_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/telemetry_distinct_docids_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed 5db6122e5 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring_derived/compressed_report_mozilla/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/deletion_request_volume_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/shredder_progress_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/stable_table_sizes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/structured_distinct_docids_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/telemetry_distinct_docids_v1/metadata.yaml
Due: validate-sql

updating user attributes payload within array to be _v1
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
Due: validate-sql

adding newsletter check
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
Due: validate-sql

updating snapshot to correct name
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/script.sql
Due: validate-sql

formatting sql
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
Due: validate-sql

adding product checks
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
Due: validate-sql

adding subscriptions checks
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/checks.sql
Due: validate-sql

fixing schema
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
Due: validate-sql

removing checks for now and updating snapshot metadata
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/metadata.yaml
Due: validate-sql

updating interval
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/script.sql
Due: validate-sql

DENG-3615 QA fixes (#5494)
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_subscriptions_sync_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/schema.yaml
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/script.sql
  tests/sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/test_braze_newsletters/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/test_braze_newsletters/moz-fx-data-shared-prod.ctms_braze.ctms_newsletters.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/products_v1/test_braze_products/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/test_braze_user_profiles/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/test_braze_user_profiles/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/test_braze_waitlists/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/expect.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_derived.users_v1.yaml
  tests/sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/test_braze_changed_users/moz-fx-data-shared-prod.braze_external.users_previous_day_snapshot_v2.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed 2fc3f3563 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

adding udf to parse timestamp from json object
  sql/mozfun/datetime_util/braze_parse_time/README.md
  sql/mozfun/datetime_util/braze_parse_time/metadata.yaml
  sql/mozfun/datetime_util/braze_parse_time/udf.sql
Due: validate-sql, validate-routines

adding checks to all models
  sql/moz-fx-data-shared-prod/braze_derived/newsletters_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/products_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_map_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/subscriptions_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/query.sql
  sql/moz-fx-data-shared-prod/braze_derived/suppressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/braze_derived/user_profiles_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_derived/waitlists_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_firefox_subscriptions_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_newsletters_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_products_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_users_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/changed_waitlists_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/braze_external/delete_users_sync_v1/checks.sql
  sql/moz-fx-data-shared-prod/marketing_suppression_list_derived/main_suppression_list_v1/checks.sql
Due: validate-sql

changing field name in schema to match snapshot
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/schema.yaml
Due: validate-sql

formatting
  sql/mozfun/datetime_util/braze_parse_time/udf.sql
Due: validate-sql, validate-routines

changing field name in schema to match snapshot (#5498)
  sql/moz-fx-data-shared-prod/braze_external/users_previous_day_snapshot_v2/schema.yaml
Due: validate-sql

removing test for now - will add it back in
  sql/mozfun/datetime_util/braze_parse_time/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 0b80da564 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

adding more info to metadata and title to readme
  sql/mozfun/datetime_util/README.md
  sql/mozfun/datetime_util/braze_parse_time/metadata.yaml
Due: validate-sql, validate-routines

adding more info
  sql/mozfun/datetime_util/braze_parse_time/metadata.yaml
Due: validate-sql, validate-routines

Newtab clients daily aggregates creation (#5449)
  sql/moz-fx-data-shared-prod/telemetry/newtab_clients_daily_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/newtab_clients_daily_aggregates/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_aggregates_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 830b041469 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
