Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

feat(DENG-10023): add channel to enrollment daily population tables
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/query.sql
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v1/metadata.yaml
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v1/query.sql
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v2/metadata.yaml
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v2/query.sql
Due: validate-sql

feat(DENG-9984): Create fx_privacy_dau_agg using Glean
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_privacy_dau_agg/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_privacy_dau_agg/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/schema.yaml
Due: validate-sql

Apply suggestions from code review
  sql_generators/glean_usage/events_first_seen.py
Due: validate-sql

remove unused import
  sql_generators/glean_usage/events_first_seen.py
Due: validate-sql

feat(DENG-9984): Create fx_privacy_dau_agg using Glean (#8376)
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_privacy_dau_agg/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_privacy_dau_agg/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/schema.yaml
Due: validate-sql

feat(events_stream): Expose event extras as individual fields in `events_stream` views (DENG-9546) (#8361)
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/event_monitoring_live.py
  sql_generators/glean_usage/events_stream.py
  sql_generators/glean_usage/templates/cross_channel_events_stream.query.sql
  sql_generators/glean_usage/templates/events_stream.view.sql
  sql_generators/glean_usage/templates/macros.sql
Due: validate-sql

Add object descriptions
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_engagement_aggregates/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_engagement_clients/metadata.yaml
Due: validate-sql

Add object description
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_installs/metadata.yaml
Due: validate-sql

Add view level description
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_retention_aggregates/metadata.yaml
Due: validate-sql

DENG 9478 create city seen for firefox desktop background apps (#8317)
  bqetl_project.yaml
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_fx_cert_error_privacy_dashboard.py
  sql/moz-fx-data-shared-prod/fenix/marketing_attributable_metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_privacy_dau_agg/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_privacy_dau_agg/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_privacy_dau_agg/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_privacy_dau_agg_v1/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_joined/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_v6/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_baseline_clients_city_seen.py
  sql/moz-fx-data-shared-prod/fenix/marketing_attributable_metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_defaultagent/baseline_clients_city_seen/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_defaultagent/baseline_clients_city_seen/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_defaultagent_derived/baseline_clients_city_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_defaultagent_derived/baseline_clients_city_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_defaultagent_derived/baseline_clients_city_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks/baseline_clients_city_seen/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks/baseline_clients_city_seen/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/baseline_clients_city_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/baseline_clients_city_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/baseline_clients_city_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update/baseline_clients_city_seen/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update/baseline_clients_city_seen/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update_derived/baseline_clients_city_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update_derived/baseline_clients_city_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update_derived/baseline_clients_city_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/addon_aggregates/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_v6/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
Due: validate-sql

fix(glean_usage): Include project ID in fake SQL file path for dry runs.
  sql_generators/glean_usage/common.py
Due: validate-sql

feat(DENG-8144): Add startup_profile_selection_reason_first to baseline_clients_daily_v1 & baseline_clients_last_seen_v1
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

Add description
  sql/moz-fx-data-shared-prod/firefox_desktop/adclick_history/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/baseline_active_users/metadata.yaml
Due: validate-sql

fix schemas
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/schema.yaml
Due: validate-sql

fix sql typo
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/query.sql
Due: validate-sql

[SVCSE-3019] Delete regrets reporter datasets
  bigquery_etl/shredder/config.py
  dags.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter/regrets_reporter_summary/metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter/regrets_reporter_summary/view.sql
  sql/moz-fx-data-shared-prod/regrets_reporter/regrets_reporter_update/view.sql
  sql/moz-fx-data-shared-prod/regrets_reporter_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter_derived/regrets_reporter_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter_derived/regrets_reporter_summary_v1/query.sql
  sql/moz-fx-data-shared-prod/regrets_reporter_derived/regrets_reporter_summary_v1/schema.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter_ucs/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/regrets_reporter_ucs_derived/dataset_metadata.yaml
Due: validate-bqetl, validate-sql

[SVCSE-3019] Remove tiktok reporter datasets
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_tiktok_reporter/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_tiktok_reporter_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_tiktok_reporter_tiktok_reportershare/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_tiktok_reporter_tiktok_reportershare_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_tiktokreporter/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_tiktokreporter_derived/dataset_metadata.yaml
Due: validate-sql, validate-routines

Skip stable view generation for regrets reporter
  bqetl_project.yaml
Due: validate-sql, validate-routines

Shredder regrets reporter config
  bigquery_etl/shredder/config.py
Due: validate-bqetl

fix(glean_usage): Include project ID in fake SQL file path for dry runs. (#8377)
  sql_generators/glean_usage/common.py
Due: validate-sql

feat(DENG-10023): add channel to enrollment daily population tables (#8375)
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/schema.yaml
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v1/metadata.yaml
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v1/query.sql
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v2/metadata.yaml
  sql_generators/experiment_monitoring/templates/experiments_daily_active_clients_v2/query.sql
Due: validate-sql

[ci skip] Deployed 6e61e3e1b6 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

add all daily fields to usage_reporting_clients_last_seen_v1 and usage_reporting_clients_first_seen_v1 to allow proper wau and mau segmentation
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.schema.yaml.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.schema.yaml.jinja
Due: validate-sql

feat: update app_union usage_reporting_active_users to work with the assumption that first_seen and last_seen datasets have all fields
  sql_generators/usage_reporting/templates/app_union.view.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_active_users.view.sql.jinja
Due: validate-sql

feat: remove is_active fields from first_seen and last_seen, and fix last_seen query error
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.schema.yaml.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.schema.yaml.jinja
Due: validate-sql

feat: update expected usage_reporting output in tests
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
Due: validate-bqetl

fix: address CI failures
  sql_generators/usage_reporting/templates/usage_reporting_active_users.view.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_daily_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_first_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.query.sql.jinja
  sql_generators/usage_reporting/templates/usage_reporting_clients_last_seen_v1.schema.yaml.jinja
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_daily_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_daily_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_daily_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_daily_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiment_enrollment_daily_active_population_v2/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiments_daily_active_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiments_daily_active_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/experiments_daily_active_clients_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/experiments_daily_active_clients_v2/query.sql
Due: validate-sql

Initial commit, work in progress
  sql/moz-fx-data-shared-prod/firefox_desktop/clients_first_seen_28_days_later/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/clients_first_seen_28_days_later/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_first_seen_28_days_later_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_first_seen_28_days_later_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_first_seen_28_days_later_v1/schema.yaml
Due: validate-sql

feat(DENG-8144): Add startup_profile_selection_reason_first to baseline_clients_daily_v1 & baseline_clients_last_seen_v1 (#8374)
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
