Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

DENG-4847 - Add profile_group_id to clients_daily_scalar_aggregates_v1 (#6231)
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_scalar_aggregates_v1.sql.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_scalar_aggregates_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed d24559871a with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Desktop tiles forecast inputs v2 (#6230)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/view.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/schema.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed 479182a2e1 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
Due: validate-sql

DENG-4883 remove deprecated table and corresponding view
  sql/moz-fx-data-shared-prod/telemetry/segmented_dau_28_day_rolling/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/schema.yaml
Due: validate-sql

Remove init sql from desktop_tiles_forecast_inputs
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
Due: validate-sql

Put init back and fix init statement
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
Due: validate-sql

Update dags.yaml
  dags.yaml
Due: validate-sql

DENG-4851 add profile group ID to schema and query for clients_daily_histogram_aggregates_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_histogram_aggregates_v1.sql.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_histogram_aggregates_v1/schema.yaml
Due: validate-sql

DENG-4883 remove deprecated table and corresponding view (#6240)
  dags.yaml
  sql/moz-fx-data-shared-prod/telemetry/segmented_dau_28_day_rolling/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/schema.yaml
Due: validate-sql

DENG-4851 add profile_group_id
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_histogram_aggregates_v1.sql.py
Due: validate-sql

removed user_count column because it's not needed
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/schema.yaml
Due: validate-sql

remove unused columns from nt_visits
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
Due: validate-sql

Add support for secrets when generating Airflow DAGs
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/data/dags/python_script_test_dag
  tests/data/dags/simple_test_dag
  tests/data/dags/test_dag_duplicate_dependencies
  tests/data/dags/test_dag_external_check_dependency
  tests/data/dags/test_dag_external_dependency
  tests/data/dags/test_dag_with_bigquery_table_sensors
  tests/data/dags/test_dag_with_check_dependencies
  tests/data/dags/test_dag_with_check_table_dependencies
  tests/data/dags/test_dag_with_dependencies
  tests/data/dags/test_dag_with_secrets
  tests/data/test_sql/moz-fx-data-test-project/test/incremental_query_v1/metadata.yaml
  tests/query_scheduling/test_dag_collection.py
Due: validate-bqetl, validate-sql

update test_publish_metadata owner
  tests/metadata/test_publish_metadata.py
Due: validate-bqetl

Simplify init statement
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
Due: validate-sql

Remove country filter
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
Due: validate-sql

Just use COUNT(1) for approximate number of newtab visits IDs
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
Due: validate-sql

Auto-generate and run data checks. Validate shredder_mitigation label.
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/backfill/shredder_mitigation_query_template.sql
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/utils.py
  bigquery_etl/util/common.py
  tests/backfill/test_shredder_mitigation.py
Due: validate-bqetl

Checks template.
  bigquery_etl/backfill/shredder_mitigation_checks_template.sql
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_aggregations.py
  dags/bqetl_dynamic_dau.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/segmented_dau_28_day_rolling/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/segmented_dau_28_day_rolling/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/segmented_dau_28_day_rolling/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/segmented_dau_28_day_rolling_v1/schema.yaml
Due: validate-sql

fix: newtab_merino_extract_v1 exclude corrupt recommended_at values
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v1/query.sql
Due: validate-sql

Fix tests.
  bigquery_etl/cli/backfill.py
  tests/backfill/test_shredder_mitigation.py
Due: validate-bqetl

Remove desktop_tiles_forecast_inputs table
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/metadata.yaml
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/view.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/schema.yaml
Due: validate-sql

Remove desktop_tiles_forecast_inputs table (#6245)
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/metadata.yaml
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/view.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/schema.yaml
Due: validate-sql

adding safe cast to recommended_at to prevent corrupt values
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v1/query.sql
Due: validate-sql

Conditional import of Airflow Secrets
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/data/dags/python_script_test_dag
  tests/data/dags/simple_test_dag
  tests/data/dags/test_dag_duplicate_dependencies
  tests/data/dags/test_dag_external_check_dependency
  tests/data/dags/test_dag_external_dependency
  tests/data/dags/test_dag_with_bigquery_table_sensors
  tests/data/dags/test_dag_with_check_dependencies
  tests/data/dags/test_dag_with_check_table_dependencies
  tests/data/dags/test_dag_with_dependencies
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_ads.py
  dags/bqetl_ctxsvc_derived.py
  dags/bqetl_newtab.py
  dags/bqetl_unified.py
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/metadata.yaml
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/view.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/query.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v2/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

adding safe cast to recommended_at to prevent corrupt values (#6246)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v1/query.sql
Due: validate-sql

Add support for secrets when generating Airflow DAGs (#6241)
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
  tests/data/dags/test_dag_with_secrets
  tests/data/test_sql/moz-fx-data-test-project/test/incremental_query_v1/metadata.yaml
  tests/metadata/test_publish_metadata.py
  tests/query_scheduling/test_dag_collection.py
Due: validate-bqetl, validate-sql

feat(DENG-4851): Add profile_group_id to GLAM clients_daily_histogram_aggregates_v1 (#6242)
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_histogram_aggregates_v1.sql.py
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_histogram_aggregates_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_extract_v1/query.sql
Due: validate-sql
