Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

adding braze derived dataset (#5347)
  sql/moz-fx-data-shared-prod/braze_derived/dataset_metdata.yaml
Due: validate-sql

[ci skip] Deployed 75db39c88 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/braze_derived/dataset_metdata.yaml
Due: validate-sql

Update contact_current_snapshot_v1 schema
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/schema.yaml
Due: validate-sql

Support range partitioning and remove GLAM init.sql (#5346)
  bigquery_etl/cli/query.py
  bigquery_etl/metadata/parse_metadata.py
  sql/glam-fenix-dev/glam_etl/firefox_desktop_glam_nightly__clients_histogram_aggregates_v1/init.sql
  sql/glam-fenix-dev/glam_etl/firefox_desktop_glam_nightly__clients_histogram_aggregates_v1/metadata.yaml
  sql/glam-fenix-dev/glam_etl/firefox_desktop_glam_nightly__clients_histogram_aggregates_v1/schema.yaml
  sql/glam-fenix-dev/glam_etl/firefox_desktop_glam_nightly__clients_scalar_aggregates_v1/init.sql
  sql/glam-fenix-dev/glam_etl/firefox_desktop_glam_nightly__clients_scalar_aggregates_v1/metadata.yaml
  sql/glam-fenix-dev/glam_etl/firefox_desktop_glam_nightly__clients_scalar_aggregates_v1/schema.yaml
  sql/glam-fenix-dev/glam_etl/org_mozilla_fenix_glam_nightly__clients_histogram_aggregates_v1/init.sql
  sql/glam-fenix-dev/glam_etl/org_mozilla_fenix_glam_nightly__clients_histogram_aggregates_v1/metadata.yaml
Due: validate-bqetl, validate-sql

[ci skip] Deployed c2b77ba3b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Update contact_current_snapshot_v1 schema (#5348)
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 3bcf8fdb1 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/acoustic_derived/contact_current_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

doc: DENG-3361 add documentation to telemetry dev cyle DAG
  dags.yaml
Due: validate-sql

fix: range_partitioning typo
  bigquery_etl/cli/query.py
Due: validate-bqetl

fix: range_partitioning typo (#5350)
  bigquery_etl/cli/query.py
Due: validate-bqetl

[ci skip] Deployed 378430e2d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

doc: DENG-3361 add documentation to telemetry dev cyle DAG (#5349)
  dags.yaml
Due: validate-sql

[ci skip] Deployed eac125c10 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_telemetry_dev_cycle.py
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
Due: validate-sql

Deprecate average_ping_sizes_v1
  sql/moz-fx-data-shared-prod/monitoring_derived/average_ping_sizes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/average_ping_sizes_v1/query.py
Due: validate-sql

DENG-3355 add funnel_derived_clients UDF to clients_first_seen_28_days_later view
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
Due: validate-sql

DENG-3355 add distribution model to clients first seen 28 days later
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
Due: validate-sql

DENG-3355 add partner org to clients first seen 28 days later
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
Due: validate-sql

DENG-3355 add the UDFs to clients_first_seen
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen/view.sql
Due: validate-sql

DENG-3355 remove fully qualified project name from the UDFs
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen/view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
Due: validate-sql

DENG-3355 add fully qualified project name to UDFs
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen/view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
Due: validate-sql

Deprecate average_ping_sizes_v1 (#5351)
  sql/moz-fx-data-shared-prod/monitoring_derived/average_ping_sizes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/average_ping_sizes_v1/query.py
Due: validate-sql

[ci skip] Deployed 2c2b8232e with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_monitoring.py
  sql/moz-fx-data-shared-prod/monitoring_derived/average_ping_sizes_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/average_ping_sizes_v1/query.py
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

DENG-3355 add partnership logic to GA4 site metrics summary
  sql/moz-fx-data-marketing-prod/ga/www_site_metrics_summary/view.sql
Due: validate-sql

Complete backfill
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

DENG-3355 add stub implementation of funnel_derived_ga_metrics UDF
  sql/moz-fx-data-shared-prod/udf/funnel_derived_ga_metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/funnel_derived_ga_metrics/udf.sql
Due: validate-sql, validate-routines

Complete backfill (#5352)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

DENG-3355 add stub implementation test for distribution_model_ga_metrics
  sql/moz-fx-data-shared-prod/udf/distribution_model_ga_metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/distribution_model_ga_metrics/udf.sql
Due: validate-sql, validate-routines

DENG-3355 add stub tests for partner_org_ga_metrics UDF
  sql/moz-fx-data-shared-prod/udf/partner_org_ga_metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/partner_org_ga_metrics/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed bd2974971 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

DENG-3355 add stub test for funnel_derived_clients UDF
  sql/moz-fx-data-shared-prod/udf/funnel_derived_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/funnel_derived_clients/udf.sql
Due: validate-sql, validate-routines

DENG-3355 add stub implementation test for distribution_model_clients
  sql/moz-fx-data-shared-prod/udf/distribution_model_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/distribution_model_clients/udf.sql
Due: validate-sql, validate-routines

DENG-3355 add stub implementation test for partner_org_clients
  sql/moz-fx-data-shared-prod/udf/partner_org_clients/metadata.yaml
  sql/moz-fx-data-shared-prod/udf/partner_org_clients/udf.sql
Due: validate-sql, validate-routines

Delay clients_last_seen_joined runs by a day
  sql_generators/glean_usage/templates/clients_last_seen_joined.metadata.yaml
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql
