Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Include both profile group IDs, from baseline and metric, in separate columns
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

Include both profile group IDs, from baseline and metric, in separate columns (#6157)
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

[ci skip] Deployed 65183f5324 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed e4d806639a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Need proper aggregation when merging to fix DAU
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
Due: validate-sql

Initiate another managed backfill
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

reformatting
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
Due: validate-sql

Fix CI format issue
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
Due: validate-sql

Fix format
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
Due: validate-sql

Fix search_revenue_levers_daily aggregation for proper estimates of DAU (#6158)
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
Due: validate-sql

[ci skip] Deployed a514ce9720 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

fix(GLAM): Fix bucket_counts template generation
  bigquery_etl/glam/templates/macros.sql
Due: validate-bqetl

fix(GLAM): Fix bucket_counts template generation (#6159)
  bigquery_etl/glam/templates/macros.sql
Due: validate-bqetl

[ci skip] Deployed 2a5b8323b6 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

feat: include is_daily_user filter to ensure only new profiles are included and use submission_date as first_seen_date so that the downstream query date filter works correctly and limits processing
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.view.sql
Due: validate-sql

feat: additional guard clause to include only new_profile true rows where submission_date = first_seen_date
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.view.sql
Due: validate-sql

feat: include is_daily_user filter to ensure only new profiles are included (#6042)
  sql_generators/mobile_kpi_support_metrics/templates/new_profile_clients.view.sql
Due: validate-sql

[ci skip] Deployed 1570bf1682 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/new_profile_clients/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios/new_profile_clients/view.sql
  sql/moz-fx-data-shared-prod/focus_android/new_profile_clients/view.sql
  sql/moz-fx-data-shared-prod/focus_ios/new_profile_clients/view.sql
  sql/moz-fx-data-shared-prod/klar_android/new_profile_clients/view.sql
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/new_profile_clients/view.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

Move util functions and convert method to property, both to resolve a circular import. Adjust tests. Update function return and tests.
  bigquery_etl/backfill/query_with_shredder_mitigation_template.sql
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/utils.py
  bigquery_etl/util/common.py
  tests/backfill/test_shredder_mitigation.py
  tests/cli/test_cli_utils.py
  tests/util/test_common.py
Due: validate-bqetl

finish backfill
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

Adding backfill_date to exception message. Formatting.
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/util/common.py
  tests/backfill/test_shredder_mitigation.py
  tests/cli/test_cli_utils.py
  tests/util/test_common.py
Due: validate-bqetl

updated to avoid manual lookback and removed session columns
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/query.sql
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/schema.yaml
Due: validate-sql

Adding backfill_date to exception message. Formatting.
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

Generate query with shredder mitigation (#6060)
  bigquery_etl/backfill/query_with_shredder_mitigation_template.sql
  bigquery_etl/backfill/shredder_mitigation.py
  bigquery_etl/cli/backfill.py
  bigquery_etl/cli/query.py
  bigquery_etl/cli/utils.py
  bigquery_etl/util/common.py
  tests/backfill/test_shredder_mitigation.py
  tests/cli/test_cli_utils.py
  tests/util/test_common.py
Due: validate-bqetl

[ci skip] Deployed 9fc513ba9f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed ae96d4e981 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

initial add of query.sql and metadata.yaml files
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

format sql file to stop Circle CI error
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
Due: validate-sql

label count of client_ids, add schema.yaml file
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/schema.yaml
Due: validate-sql

add dag_name to metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_new_profiles_aggregates_v1/metadata.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
