Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

[ci skip] Deployed 978f26a931 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

[ci skip] Deployed b3fe28595f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/adclick_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

Create derived table containing data inputs into desktop tiles forecasts.
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/query.sql
Due: validate-sql

Query adjustments and better data descriptions
  sql/moz-fx-data-shared-prod/ads/desktop_tiles_forecast_inputs/metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/query.sql
Due: validate-sql

DENG-4201 create DL w attr v1 and v2 in shared prod
  sql/moz-fx-data-shared-prod/mozilla_org/downloads_with_attribution/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/schema.yaml
Due: validate-sql

Making sure table descriptions are identical.
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/metadata.yaml
Due: validate-sql

DENG-3274 Add login funnel based on event metrics
  sql_generators/funnels/__init__.py
  sql_generators/funnels/configs/login_funnels_by_service_v2.toml
  sql_generators/funnels/templates/funnel.sql
Due: validate-sql

GROWTH-90 add depends_on_past = true to metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/adclick_history_v1/metadata.yaml
Due: validate-sql

Fix template
  sql_generators/funnels/configs/login_funnels_by_service_v2.toml
  sql_generators/funnels/templates/funnel.sql
Due: validate-sql

GROWTH-90 add depends_on_past = true to metadata.yaml (#5930)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/adclick_history_v1/metadata.yaml
Due: validate-sql

[ci skip] Deployed 2a83ab1660 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_firefox_desktop_ad_click_history.py
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/adclick_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Update to new paths in shared prod
  bqetl_project.yaml
Due: validate-sql, validate-routines

DENG-4201 update to v2 version in view.sql
  sql/moz-fx-data-shared-prod/mozilla_org/downloads_with_attribution/view.sql
Due: validate-sql

Update tests/cli/test_cli_backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

Update metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/metadata.yaml
Due: validate-sql

Update metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/metadata.yaml
Due: validate-sql

Update bqetl_project.yaml
  bqetl_project.yaml
Due: validate-sql, validate-routines

Correcting partitioning field
  sql/moz-fx-data-shared-prod/ads_derived/desktop_tiles_forecast_inputs_v1/metadata.yaml
Due: validate-sql

Mark the search revenue levers backfill complete
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

DENG-4201 Create downloads_with_attribution_v1 and _v2 in shared prod (to prep for removing from mktg prod) (#5931)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/downloads_with_attribution/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/schema.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed eb1dd14e59 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_download_funnel_attribution.py
  dags/bqetl_google_analytics_derived.py
  sql/moz-fx-data-shared-prod/mozilla_org/downloads_with_attribution/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org/downloads_with_attribution/view.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/checks.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/query.sql
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/pioneer_study/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/pioneer_study/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/pioneer_study/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Unschedule ga_sessions_v1 from bqetl_mozilla_org_derived since GA3 feed turned off 2024-06-30
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/metadata.yaml
Due: validate-sql

Unschedule gclid_conversions_v1 since the feed for GA3 stopped on 2025-06-30
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
Due: validate-sql

Unschedule ga_clients_v1 since the feed for GA3 turned off on 2024-06-30
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/metadata.yaml
Due: validate-sql

Mark the search revenue levers backfill complete (#5932)
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed 2d1bb49b99 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Unschedule ga_sessions_v1, ga_clients_v1, and gclid_conversions_v1 from bqetl_mozilla_org_derived since GA3 fe… (#5933)
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/mozilla_org/downloads_with_attribution/schema.yaml
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

[ci skip] Deployed 37f2f44608 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_tables.py
  dags/bqetl_main_summary.py
  dags/bqetl_mozilla_org_derived.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
Due: validate-sql

Add ovverride example
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Bump GCP and Docker orbs to latest versions
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Add back parameters but leave off DAG name
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_clients_v1/metadata.yaml
Due: validate-sql

Add back parameter but leave off DAG name
  sql/moz-fx-data-shared-prod/mozilla_org_derived/gclid_conversions_v1/metadata.yaml
Due: validate-sql

Add parameters back
  sql/moz-fx-data-shared-prod/mozilla_org_derived/ga_sessions_v1/metadata.yaml
Due: validate-sql
