Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

feat(DENG-9984): Create fx_health_ind_bookmarks tables (#8359)
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_country/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_os/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_os_version/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_country_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_version_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_version_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_version_v1/schema.yaml
Due: validate-sql

fix(glean_usage): Bug fixes and refactors for the `glean_usage` SQL generator (#8345)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_social_nightly_derived/baseline_clients_last_seen_v1/checks.sql
  sql_generators/glean_usage/README.md
  sql_generators/glean_usage/__init__.py
  sql_generators/glean_usage/baseline_clients_daily.py
  sql_generators/glean_usage/baseline_clients_first_seen.py
  sql_generators/glean_usage/baseline_clients_last_seen.py
  sql_generators/glean_usage/clients_last_seen_joined.py
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/event_error_monitoring.py
  sql_generators/glean_usage/event_flow_monitoring.py
  sql_generators/glean_usage/event_monitoring_live.py
  sql_generators/glean_usage/events_stream.py
  sql_generators/glean_usage/events_unnested.py
  sql_generators/glean_usage/glean_app_ping_views.py
  sql_generators/glean_usage/metrics_clients_daily.py
  sql_generators/glean_usage/metrics_clients_last_seen.py
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_fx_health_ind_dashboard.py
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_country/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_country/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_country/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_os/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_os/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_os/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_os_version/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_os_version/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/fx_health_ind_bookmarks_by_os_version/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_country_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_country_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_version_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_version_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_version_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality_pc/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality_pc/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality_pc/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

feat: add error and duration info to experiment monitoring
  sql/moz-fx-data-experiments/monitoring/query_cost_v1/query.sql
Due: validate-sql

feat: add error and duration info to experiment monitoring (#8360)
  sql/moz-fx-data-experiments/monitoring/query_cost_v1/query.sql
Due: validate-sql

feat(events_stream): Expose event extras as individual fields in `events_stream` views (DENG-9546).
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/event_monitoring_live.py
  sql_generators/glean_usage/events_stream.py
  sql_generators/glean_usage/templates/cross_channel_events_stream.query.sql
  sql_generators/glean_usage/templates/events_stream.view.sql
  sql_generators/glean_usage/templates/macros.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-experiments/monitoring/query_cost_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_reality/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/search/search_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Null geo in copy_dedup
  bigquery_etl/copy_deduplicate.py
  bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

fixed ci failures
  bigquery_etl/copy_deduplicate.py
Due: validate-bqetl

[ci skip] Deployed 937e8db2e0 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

fix(glean_usage): Ouput `schema.yaml` files for generated Python ETLs.
  bigquery_etl/dryrun.py
  bigquery_etl/schema/__init__.py
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/events_stream.py
  sql_generators/glean_usage/templates/events_stream_v1.query.sql
Due: validate-bqetl, validate-sql

update with current code
  sql/moz-fx-data-shared-prod/search_derived/search_clients_daily_v9/query.sql
Due: validate-sql

fix(glean_usage): Ouput `schema.yaml` files for generated Python ETLs. (#8363)
  bigquery_etl/dryrun.py
  bigquery_etl/schema/__init__.py
  sql_generators/glean_usage/common.py
  sql_generators/glean_usage/events_stream.py
  sql_generators/glean_usage/templates/events_stream_v1.query.sql
Due: validate-bqetl, validate-sql

feat(DENG-9504): Add holiday custom GPT to market intel bot report
  sql/moz-fx-data-shared-prod/external_derived/market_intel_bot_v1/query.py
Due: validate-sql

fix(metadata): Remove `references: {}` from more `metadata.yaml` files.
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_antivirus_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_bookmarks_by_os_version_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_desktop_dau_by_device_type_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_mau_per_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_mau_per_tier1_country_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_new_profiles_by_os_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_page_reloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_webcompat_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/fx_health_ind_windows_versions_mau_per_os_v1/metadata.yaml
Due: validate-sql

feat(DENG-9504): Add holiday custom GPT to market intel bot report (#8366)
  sql/moz-fx-data-shared-prod/external_derived/market_intel_bot_v1/query.py
Due: validate-sql

change back to old logic
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1_live/view.sql
Due: validate-sql

feat(SubPlat): add ended_reason to service subscriptions (DENG-4043) (#8314)
  sql/moz-fx-data-shared-prod/subscription_platform/daily_active_service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/monthly_active_service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscription_events/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_daily_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_monthly_active_service_subscriptions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_service_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1_live/view.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/external_derived/market_intel_bot_v1/query.py
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
Due: validate-sql

Fixed param type
  bigquery_etl/copy_deduplicate.py
Due: validate-bqetl

fix(events_stream): Use `UNION ALL BY NAME` because the columns may not always be in the same order.
  sql_generators/glean_usage/templates/cross_channel_events_stream.query.sql
Due: validate-sql

Used channel to app name mapping
  bigquery_etl/copy_deduplicate.py
Due: validate-bqetl

fix(SubPlat): Initiate backfills of SubPlat ETLs to fix some known issues (DENG-9565) and populate the new `ended_reason` field (DENG-4043).
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

fix(SubPlat): Initiate backfills of SubPlat ETLs to fix some known issues (DENG-9565) and populate the new `ended_reason` field (DENG-4043). (#8367)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/marketing_attributable_metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/daily_active_service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/monthly_active_service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscription_events/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform/service_subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/daily_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_logical_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/monthly_active_service_subscriptions_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscription_events_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/core_clients_last_seen/schema.yaml
Due: validate-sql
