Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
Due: validate-sql

Revert "chore(deps): bump gcsfs from 2025.3.2 to 2025.5.1 (#7525)"
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/corpus_items_updated_v1/query.sql
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/rejected_corpus_items_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Revert "chore(deps): bump gcsfs from 2025.3.2 to 2025.5.1 (#7525)" (#7623)
  requirements.in
  requirements.txt
Due: validate-bqetl, validate-sql, validate-routines

feat(SubPlat): Change `subplat_flow_events_v1` ETL to not depend on past runs.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_flow_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_flow_events_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/corpus_items_updated_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/rejected_corpus_items_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

fix GLAM scalar aggregates new source tbl
  bigquery_etl/glam/templates/clients_scalar_aggregates_new_v1.sql
Due: validate-bqetl

feat: adds pocket users historical export
  sql/moz-fx-data-shared-prod/braze_external/pocket_users_historical_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/pocket_users_historical_v1/query.py
Due: validate-sql

fix GLAM scalar aggregates new source tbl (#7625)
  bigquery_etl/glam/templates/clients_scalar_aggregates_new_v1.sql
Due: validate-bqetl

fix(ech_adoption_rate): use proper filtering for each metric in the query
  sql/moz-fx-data-shared-prod/telemetry_derived/ech_adoption_rate_v1/query.sql
Due: validate-sql

feat: create the tables for new pocket current
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_pocket_hard_bounces_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_pocket_hard_bounces_v1/query.py
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_pocket_mark_as_spam_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_pocket_mark_as_spam_v1/query.py
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_pocket_soft_bounce_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_pocket_soft_bounce_v1/query.py
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_pocket_unsubscribe_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/braze_currents_pocket_unsubscribe_v1/query.py
Due: validate-sql

add dag to dags list
  dags.yaml
Due: validate-sql

Add slack username details to backfill watchers doc
  bigquery_etl/backfill/parse.py
  docs/cookbooks/creating_a_derived_dataset.md
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/usage_reporting_clients_last_seen/schema.yaml
Due: validate-sql

Add slack username details to backfill watchers doc (#7628)
  bigquery_etl/backfill/parse.py
  docs/cookbooks/creating_a_derived_dataset.md
Due: validate-bqetl

complete backfill of snowflake models:
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/corpus_items_updated_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/rejected_corpus_items_v1/backfill.yaml
Due: validate-sql

fix(SubPlat): Refactor `subplat_attribution_impressions_v1` ETL to avoid overwriting the entire table.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/view.sql
Due: validate-sql

update comment
  sql/moz-fx-data-shared-prod/braze_external/pocket_users_historical_v1/query.py
Due: validate-sql

[ci skip] Deployed 6855d8a29c with MkDocs version: 1.6.1
  cookbooks/creating_a_derived_dataset/index.html
  search/search_index.json
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/composite_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/usage_reporting_active_users/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

fix(SubPlat): Avoid non-functional `bqetl_subplat_hourly` DAG task dependencies on `bqetl_subplat` DAG tasks.
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/metadata.yaml
Due: validate-sql

feat: adds pocket users historical export (#7626)
  dags.yaml
  sql/moz-fx-data-shared-prod/braze_external/pocket_users_historical_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/pocket_users_historical_v1/query.py
Due: validate-sql

fix(SubPlat): Refactor `subplat_attribution_impressions_v1` ETL to avoid overwriting the entire table (DENG-3736) (#7630)
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/view.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_flow_events_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_flow_events_v1/query.sql
Due: validate-sql

feat(DENG-8131): migrate corpus_item_schedules_updated snowflake table
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/corpus_item_schedules_updated_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/corpus_item_schedules_updated_v1/query.sql
  sql/moz-fx-data-shared-prod/snowflake_migration_derived/corpus_item_schedules_updated_v1/schema.yaml
Due: validate-sql

[DENG-8843] Retain dataEditor workgroup_access on deprecated tables
  bigquery_etl/cli/metadata.py
  tests/cli/test_cli_metadata.py
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_scalar_aggregates_v1/metadata.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_pocket_users_historical.py
  sql/moz-fx-data-shared-prod/braze_external/pocket_users_historical_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/braze_external/pocket_users_historical_v1/query.py
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_subplat.py
  dags/bqetl_subplat_hourly.py
  sql/moz-fx-data-shared-prod/fenix/metrics/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/logical_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/recent_subplat_attribution_impressions_v1/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/service_subscriptions_history_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1/query.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/metadata.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/schema.yaml
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_attribution_impressions_v1_live/view.sql
  sql/moz-fx-data-shared-prod/subscription_platform_derived/subplat_flow_events_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Map dataViewer to metadataViewer
  bigquery_etl/cli/metadata.py
  tests/cli/test_cli_metadata.py
Due: validate-bqetl
