Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

fix(glam): add all fenix app names to sampled_metrics map
  bigquery_etl/glam/client_side_sampled_metrics.py
  tests/glam/test_client_side_sampled_metrics.py
Due: validate-bqetl

fix(glam): add all fenix app names to sampled_metrics map (#9440)
  bigquery_etl/glam/client_side_sampled_metrics.py
  tests/glam/test_client_side_sampled_metrics.py
Due: validate-bqetl

feat:(DENG-11157): Initiate Back fill Zendesk Tickets table
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql

fix(glam): Remove inflated sample_count for scalars
  bigquery_etl/glam/templates/extract_probe_counts_v1.sql
Due: validate-bqetl

saves a daily snapshot of propensity
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_history_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_history_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_merino_propensity_v1/query.py
Due: validate-sql

Update sql/moz-fx-data-shared-prod/focus_android_derived/active_users_aggregates_v3/backfill.yaml
  sql/moz-fx-data-shared-prod/focus_android_derived/active_users_aggregates_v3/backfill.yaml
Due: validate-sql

feat:(DENG-11157): Initiate Back fill Zendesk Tickets table (#9442)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql

Backfills for datasets affected by core clients duplicates (#9439)
  sql/moz-fx-data-shared-prod/focus_android_derived/active_users_aggregates_v3/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/core_clients_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/unified_metrics_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android_derived/active_users_aggregates_v3/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/core_clients_daily_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/unified_metrics_v1/backfill.yaml
Due: validate-sql

Avoid scanning _view_sample_counts twice
  bigquery_etl/glam/templates/extract_probe_counts_v1.sql
Due: validate-bqetl

fix(glam): Remove inflated sample_count for scalars (#9444)
  bigquery_etl/glam/templates/extract_probe_counts_v1.sql
Due: validate-bqetl

Create widget client table (#9387)
  sql/moz-fx-data-shared-prod/firefox_desktop/widgets_client_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/widgets_client_daily/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/README.md
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_visit_daily_v1/README.md
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_visit_daily_v1/schema.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/test_client_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/test_client_aggregation/moz-fx-data-shared-prod.firefox_desktop_derived.widgets_visit_daily_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/test_client_aggregation/query_params.yaml
Due: validate-bqetl, validate-sql

feat(DENG-11157): Complete Backfill for Zendesk Table
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop/widgets_client_daily/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/widgets_client_daily/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/README.md
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_visit_daily_v1/README.md
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_visit_daily_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_newtab.py
Due: none

fix: better regex for slugs in experiment query cost
  sql/moz-fx-data-experiments/monitoring/query_cost_v1/query.sql
Due: validate-sql

add yaml to initiate backfill
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/widgets_client_daily_v1/backfill.yaml
Due: validate-sql

Follow up for a managed backfill due to sql-generators not supported.
  sql_generators/active_users_aggregates_v3/__init__.py
  sql_generators/active_users_aggregates_v3/templates/focus_android_backfill.yaml
Due: validate-sql

feat(DENG-11157): Complete Backfill for Zendesk Table (#9446)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql

more robust regex
  sql/moz-fx-data-experiments/monitoring/query_cost_v1/query.sql
Due: validate-sql

[DENG-11143] Re-enable `fxa_fastly_logs` generator without view authorization
  sql_generators/fxa_fastly_logs/__init__.py
  sql_generators/fxa_fastly_logs/templates/metadata.yaml
Due: validate-sql

update description
  sql_generators/fxa_fastly_logs/templates/metadata.yaml
Due: validate-sql

get abbreviated month from csv
  sql/moz-fx-data-shared-prod/statcounter_derived/pipeline.py
Due: validate-sql

fix(glam): preserve metric label in view_sample_counts_v1
  bigquery_etl/glam/templates/view_sample_counts_v1.sql
Due: validate-bqetl

[DENG-11143] Re-enable `fxa_fastly_logs` generator without view autho… (#9450)
  sql_generators/fxa_fastly_logs/__init__.py
  sql_generators/fxa_fastly_logs/templates/metadata.yaml
Due: validate-sql

fix(glam): preserve metric label in view_sample_counts_v1 (#9451)
  bigquery_etl/glam/templates/view_sample_counts_v1.sql
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_api_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_api_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_eventbroker/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_eventbroker/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_oauth/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_oauth/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_api/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_api/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_next/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_payments_next/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_profile/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/nonprod_profile/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_api_accounts/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_api_accounts/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_eventbroker/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_eventbroker/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_oauth/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_oauth/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_api/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_api/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_next/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_payments_next/view.sql
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_profile/metadata.yaml
  sql/moz-fx-data-shared-prod/fxa_fastly_logs/prod_profile/view.sql
Due: validate-sql

feat(DENG-11157): Back fill historical data for zendesk tickets
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql

feat(DENG-11157): Back fill historical data for zendesk tickets (#9452)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql

add example URLs
  sql/moz-fx-data-shared-prod/statcounter_derived/README.md
Due: validate-sql

add date to example URLs
  sql/moz-fx-data-shared-prod/statcounter_derived/README.md
Due: validate-sql

update docstring to match actual parsing
  sql/moz-fx-data-shared-prod/statcounter_derived/pipeline.py
Due: validate-sql

feat(DENG-11157) Complete Back fill for Zendesk table
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql

remove mention of 100-day limit
  sql/moz-fx-data-shared-prod/statcounter_derived/README.md
Due: validate-sql

feat(DENG-11157) Complete Back fill for Zendesk table (#9454)
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/zendesk_tickets_base_v1/backfill.yaml
Due: validate-sql
