Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Fix view name
  sql/moz-fx-data-shared-prod/app_store_v2_syndicate/apple_store_territory_report/view.sql
Due: validate-sql

Add new apple_store_territory_report view.sql to dryrun skip list
  bqetl_project.yaml
Due: validate-sql, validate-routines

feat: add authorized view for accessing apple_store__territory_report via mozprod (#7982)
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/app_store_v2_syndicate/apple_store_territory_report/metadata.yaml
  sql/moz-fx-data-shared-prod/app_store_v2_syndicate/apple_store_territory_report/view.sql
Due: validate-sql, validate-routines

Adding new widget events
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/schema.yaml
Due: validate-sql

fix(DENG-9445): Update downstream schema
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

fix(DENG-9445): Update downstream schema (#7983)
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

Added normalized channel
  sql/moz-fx-data-shared-prod/fenix_derived/clients_city_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/clients_city_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_city_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_city_seen_v1/schema.yaml
  sql_generators/clients_city_seen_v1/__init__.py
  sql_generators/clients_city_seen_v1/templates/query.sql
  sql_generators/clients_city_seen_v1/templates/schema.yaml
Due: validate-sql

chore: treat _syndicate datasets as non-user-facing
  bqetl_project.yaml
Due: validate-sql, validate-routines

chore: treat _syndicate datasets as non-user-facing (#7984)
  bqetl_project.yaml
Due: validate-sql, validate-routines

Simplify logic: just fall back to metrics.string.quick_suggest_country
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/request_payload_suggest_v2/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/query.sql
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop.quick_suggest.yaml
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/usage_reporting_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/klar_ios/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/events_unnested/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/channel_group_proportions/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_ios_lockbox/events/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/cohort_weekly_statistics_by_app/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
Due: validate-sql

Remove country_ip and country_browser fields
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
Due: validate-sql

Remove unneeded version
  tests/sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/test_single_day/moz-fx-data-shared-prod.firefox_desktop_stable.quick_suggest_v1.yaml
Due: validate-bqetl, validate-sql

Fix tests
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_aggregation/moz-fx-data-shared-prod.fenix.fx_suggest.yaml
  tests/sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/test_overactive_filter/moz-fx-data-shared-prod.fenix.fx_suggest.yaml
Due: validate-bqetl, validate-sql

Exclude experiments from clients_last_seen_joined queries
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

Exclude experiments from clients_last_seen_joined queries (#7987)
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

[ci skip] Deployed 9a7ccd4240 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

add newtab content component table
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_component_content/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_component_content_v1/query.sql
Due: validate-sql

boolean fields removal and replace with count fields
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/README.md
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_visits_daily/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/README.md
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/schema.yaml
Due: validate-sql

updating experiments record structure in schema.yml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/schema.yaml
Due: validate-sql

removing empty line
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_visits_daily_v2/query.sql
Due: validate-sql

Minor updates
  sql/moz-fx-data-shared-prod/fenix_derived/ltv_states_v1/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/review_checker_clients_v1/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_derived/review_checker_events_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_last_seen_joined_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_frames_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_symbolicated_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/main_events_v1/schema.yaml
Due: validate-sql

add newtab content component table
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_component_content/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_component_content/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_component_content_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_component_content_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_component_content_v1/schema.yaml
Due: validate-sql

comments
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/newtab_component_content_v1/query.sql
Due: validate-sql
