Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_tables.py
  dags/bqetl_fx_health_ind_dashboard.py
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/prvt_brwsng_mode_retention/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/prvt_brwsng_mode_retention/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/prvt_brwsng_mode_retention/view.sql
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/prvt_brwsng_mode_retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/prvt_brwsng_mode_retention_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/prvt_brwsng_mode_retention_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Fix outdated comment (#6853)
  sql/moz-fx-data-shared-prod/telemetry_derived/prvt_brwsng_mode_retention_v1/query.sql
Due: validate-sql

add ml_yelp to yelp suggestions
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

chore(glam): generalize refres_agg_release and move fenix there
  dags.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_fenix_release_aggregates_v1/metadata.yaml
  sql/moz-fx-glam-prod/glam_etl/glam_fog_release_aggregates_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/bigeye_usage/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/prvt_brwsng_mode_retention_v1/query.sql
Due: validate-sql

removing unwanted aggs
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v2/query.sql
Due: validate-sql

Add ltv and first_seen tables to exclusion list
  bqetl_project.yaml
Due: validate-sql, validate-routines

Fix CI issue
  bqetl_project.yaml
Due: validate-sql, validate-routines

add ml_yelp to yelp suggestions (#6854)
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

[ci skip] Deployed 137f042696 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

DENG-7329 Added shredder mitigation backfill validation (#6821)
  bigquery_etl/backfill/validate.py
  tests/backfill/test_dir_valid/metadata.yaml
  tests/backfill/test_dir_valid_1/backfill.yaml
  tests/backfill/test_dir_valid_1/metadata.yaml
  tests/backfill/test_validate_backfill.py
Due: validate-bqetl

Create monitoring_derived.table_storage_v1
  bqetl_project.yaml
  sql/moz-fx-data-shared-prod/monitoring/table_storage/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/schema.yaml
Due: validate-sql, validate-routines

Change from weekly to daily
  dags.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Remove shredder mitigation label from old backfill to fix CI error
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_aggregates_v2/backfill.yaml
Due: validate-sql

Revert "DENG-7329 Added shredder mitigation backfill validation (#6821)"
  bigquery_etl/backfill/validate.py
  tests/backfill/test_dir_valid/metadata.yaml
  tests/backfill/test_dir_valid_1/backfill.yaml
  tests/backfill/test_dir_valid_1/metadata.yaml
  tests/backfill/test_validate_backfill.py
Due: validate-bqetl

Revert "DENG-7329 Added shredder mitigation backfill validation (#6821)" (#6860)
  bigquery_etl/backfill/validate.py
  tests/backfill/test_dir_valid/metadata.yaml
  tests/backfill/test_dir_valid_1/backfill.yaml
  tests/backfill/test_dir_valid_1/metadata.yaml
  tests/backfill/test_validate_backfill.py
Due: validate-bqetl

Restore to what it was
  sql/moz-fx-data-shared-prod/telemetry_derived/desktop_retention_aggregates_v2/backfill.yaml
Due: validate-sql

update view for clients_first_seen_28_days_later (#6761)
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
Due: validate-sql

Create monitoring_derived.table_storage_v1 (#6859)
  bqetl_project.yaml
  dags.yaml
  sql/moz-fx-data-shared-prod/monitoring/table_storage/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/schema.yaml
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/desktop_retention_1_week/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Add accounts health tables
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_counts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_issues_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_issues_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_pingdom_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_pingdom_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_prs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_tags_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_tags_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_first_seen_28_days_later/view.sql
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_monitoring.py
  sql/moz-fx-data-shared-prod/monitoring/table_storage/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring/table_storage/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/table_storage/view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/query.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/table_storage_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

feat(dryrun): Pass all query parameters when dry-running queries (#6835)
  bigquery_etl/dryrun.py
Due: validate-bqetl

Add accounts health tables (#6850)
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_counts_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_issues_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_issues_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_pingdom_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_pingdom_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_prs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_prs_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_tags_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/health_tags_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql
