Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

DENG-3112 - add new device usage schema
  sql/moz-fx-data-shared-prod/cloudflare/device_usage/view.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/schema.yaml
Due: validate-sql

DENG-3112 - add new device usage schema
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 5abad58ae with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Add mapping & summaries to the view layer
  sql_generators/serp_events/templates/desktop_query.sql
  sql_generators/serp_events/templates/view.sql
Due: validate-sql

Add configs for funnels including service dimension
  sql_generators/funnels/configs/email_first_reg_login_funnels_by_service.toml
  sql_generators/funnels/configs/login_funnels_by_service.toml
  sql_generators/funnels/configs/pwd_reset_funnels_by_service.toml
  sql_generators/funnels/configs/registration_funnels_by_service.toml
Due: validate-sql

DENG-3112 cloudflare device usage (#5293)
  sql/moz-fx-data-shared-prod/cloudflare/device_usage/view.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/schema.yaml
Due: validate-sql

Remove init.sql files for fenix and use is_init() instead
  sql/moz-fx-data-shared-prod/fenix_derived/attributable_clients_v1/init.sql
  sql/moz-fx-data-shared-prod/fenix_derived/attributable_clients_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/attributable_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/clients_yearly_v1/init.sql
  sql/moz-fx-data-shared-prod/fenix_derived/clients_yearly_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/clients_yearly_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/init.sql
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/meta_attribution_country_counts_v1/query.sql
Due: validate-sql

Dry run skip experiment_enrollment_cumulative_population_estimate_v1
  bqetl_project.yaml
Due: validate-sql, validate-routines

[ci skip] Deployed c3d9269eb with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

DENG-3112 fix data types from date to numeric
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/cloudflare/device_usage/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare/device_usage/view.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
Due: validate-sql

Dry run skip experiment_enrollment_cumulative_population_estimate_v1 (#5297)
  bqetl_project.yaml
Due: validate-sql, validate-routines

DENG-3112 fix data types from date to numeric (#5298)
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 9cd293222 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed b91781fb5 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/cloudflare_derived/device_usage_v1/schema.yaml
Due: validate-sql

fix: correct clustering settings
  sql/moz-fx-data-shared-prod/accounts_backend_derived/users_services_first_seen_v1/metadata.yaml
Due: validate-sql

feat: convert all funnel_retention mobile checks to warn instead of fail
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_clients_week_2_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_clients_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_clients_week_2_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_clients_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_week_4_v1/checks.sql
Due: validate-sql

feat: convert all funnel_retention mobile checks to warn instead of fail (#5300)
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_clients_week_2_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_clients_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/funnel_retention_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_clients_week_2_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_clients_week_4_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/funnel_retention_week_4_v1/checks.sql
Due: validate-sql

chore: complete newtab_visit_v1 backfill 2023-08-16
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed e9ece1418 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

chore: complete newtab_visit_v1 backfill 2023-08-16 (#5301)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed eefe79506 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/mozilla_vpn/subscriptions/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_visits_v1/backfill.yaml
Due: validate-sql

fix(managed-backfills): fix unsupported type in backfill complete
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

fix(managed-backfills): fix unsupported type in backfill complete (#5302)
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

[ci skip] Deployed 025aa490f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

DENG-3151 / DENG-3287 create acoustic_external and move queries from marketing to shared-prod
  sql/moz-fx-data-marketing-prod/acoustic/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic/contact/view.sql
  sql/moz-fx-data-shared-prod/acoustic/contact_current_snapshot/view.sql
  sql/moz-fx-data-shared-prod/acoustic/raw_recipient/view.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_current_snapshot_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_current_snapshot_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_current_snapshot_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/init.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/contact_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/contact_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_v1/query.sql
  sql/moz-fx-data-shared-prod/acoustic_external/raw_recipient_v1/schema.yaml
Due: validate-sql

Add configs for funnels including service dimension (#5294)
  sql_generators/funnels/configs/email_first_reg_login_funnels_by_service.toml
  sql_generators/funnels/configs/login_funnels_by_service.toml
  sql_generators/funnels/configs/pwd_reset_funnels_by_service.toml
  sql_generators/funnels/configs/registration_funnels_by_service.toml
Due: validate-sql

[ci skip] Deployed c6e7ea9a3 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

feat: convert KPI source query checks from fail to warn
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_funnel_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/clients_activation_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/firefox_ios_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_activation_v2/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/unified_metrics_v1/checks.sql
Due: validate-sql

feat: revert back min row count check to fail
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_funnel_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/clients_activation_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/firefox_ios_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_activation_v2/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/unified_metrics_v1/checks.sql
Due: validate-sql

feat: convert KPI source query checks from fail to warn (#5303)
  sql/moz-fx-data-shared-prod/fenix_derived/firefox_android_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/app_store_funnel_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/clients_activation_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/firefox_ios_clients_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/new_profile_activation_v2/checks.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/unified_metrics_v1/checks.sql
Due: validate-sql

Fix stage tests
  bigquery_etl/cli/stage.py
Due: validate-bqetl

Have Jinja in generated SQL
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

[run-tests] Speed up stage deploys
  bigquery_etl/cli/query.py
Due: validate-bqetl

DENG-3113 add schema for new Cloudflare browser usage table
  sql/moz-fx-data-shared-prod/cloudflare/browser_usage/view.sql
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/cloudflare_derived/browser_usage_v1/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
