Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_joined/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily_v6/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/clients_daily_joined_v1/query.sql
Due: validate-sql

[ci skip] Deployed c126c2f98a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/backfill.yaml
Due: validate-sql

Upgrade the CircleCI Docker orb to v2.6.
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

Upgrade the CircleCI Docker orb to v2.6. (#6126)
  .circleci/workflows.yml
Due: validate-bqetl, validate-sql, validate-routines

[ci skip] Deployed e5df41e602 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
Due: validate-sql

Test coverage. Check for "GROUP BY 1, 2, 3", improve readibility, remove unrequired properties in class Subset.
  bigquery_etl/backfill/shredder_mitigation.py
  tests/backfill/test_shredder_mitigation.py
Due: validate-bqetl

DENG-4653 add profile_group_id to telemetry_derived.crashes_daily_v1 query and schema
  sql/moz-fx-data-shared-prod/telemetry_derived/crashes_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crashes_daily_v1/schema.yaml
Due: validate-sql

Fix the filter for mobile search aggregates
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
Due: validate-sql

Fix CI
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
Due: validate-sql

DENG-4653 add profile_group_id to telemetry_derived.crashes_daily_v1 query and schema (#6127)
  sql/moz-fx-data-shared-prod/telemetry_derived/crashes_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crashes_daily_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed b33909ac00 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crashes_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crashes_daily_v1/schema.yaml
Due: validate-sql

Fix the filter for mobile search aggregates (#6128)
  sql/moz-fx-data-shared-prod/search_derived/mobile_search_aggregates_v1/query.sql
Due: validate-sql

[ci skip] Deployed 52ebff455d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Increase view SQL length limit to 1024k characters. (#6055)
  sql_generators/glean_usage/glean_app_ping_views.py
Due: validate-sql

[ci skip] Deployed 23d6f9e826 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/use_counters/view.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/view.sql
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

DENG-4652 add profile_group_id to telemetry_derived.newtab_clients_daily_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/schema.yaml
Due: validate-sql

DENG-4657 add profile_group_id to addon_aggregates_v2
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/schema.yaml
Due: validate-sql

DENG-4652 update query
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/query.sql
Due: validate-sql

DENG-4657 update addon_aggregates_v2 test schema JSON
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/moz-fx-data-shared-prod.telemetry.main.schema.json
Due: validate-bqetl, validate-sql

Update schema.yaml to correct data type for profile_creation_date
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/schema.yaml
Due: validate-sql

DENG-4652 add profile_group_id to newtab_clients_daily_v1 (#6129)
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 8d52e622a9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/view.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/view.sql
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/pine/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/newtab_clients_daily_v1/schema.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop/metrics/schema.yaml
Due: validate-sql

DENG-4657 add profile_group_id to addon_aggregates_v2 (#6130)
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/schema.yaml
  tests/sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/moz-fx-data-shared-prod.telemetry.main.schema.json
Due: validate-bqetl, validate-sql

[ci skip] Deployed d2e0c5683c with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring/airflow_trigger/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/newtab_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/addon_aggregates_v2/schema.yaml
Due: validate-sql

Add parameter for custom query to managed backfills.
  bigquery_etl/backfill/parse.py
  bigquery_etl/cli/backfill.py
Due: validate-bqetl

Update query.sql
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
Due: validate-sql

reformatted
  sql/moz-fx-data-shared-prod/search_derived/search_revenue_levers_daily_v1/query.sql
Due: validate-sql

Fix acer cohort case statement for search agg desktop
  sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/query.sql
Due: validate-sql

DENG-4657 add profile_group_id to suggest_clients_daily_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/suggest_clients_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/suggest_clients_daily_v1/schema.yaml
Due: validate-sql

Fix tests
  tests/sql/moz-fx-data-shared-prod/search_derived/search_aggregates_v8/test_aggregation/expect.ndjson
Due: validate-bqetl, validate-sql

DENG-4657 add profile_group_id to suggest_clients_daily_v1 (#6133)
  sql/moz-fx-data-shared-prod/telemetry_derived/suggest_clients_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/suggest_clients_daily_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 5ed84b29a2 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
