Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

fix: remove duplicate fields from the final select (#9319)
  .github/workflows/build.yml
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/addons_derived/dev_amo_stats_dau_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
Due: validate-sql

feat(DENG-10722): update UDF with new autofill criteria and NULL condition (#9312)
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/burnham_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_echo_show_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_fire_tv_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_reality_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_reality_pc_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/focus_android_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/focus_ios_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/klar_android_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/klar_ios_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/lockwise_android_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/lockwise_ios_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/mach_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/mozphab_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/mozregression_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/reference_browser_derived/clients_last_seen_joined_v1/query.sql
  sql/moz-fx-data-shared-prod/thunderbird_crashreporter_derived/clients_last_seen_joined_v1/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/mozfun/norm/result_type_to_product_name/udf.sql
Due: validate-sql, validate-routines

chore(CI): Set `environment` for the `docs` job for consistency. (#9320)
  .github/workflows/build.yml
Due: none

feat: initiate backfill for addons_derived/dev_amo_stats_installs_v1 (#9311)
  sql/moz-fx-data-shared-prod/addons_derived/dev_amo_stats_installs_v1/backfill.yaml
Due: validate-sql

Add script for exporting classified field list
  script/metadata/classification/.gitignore
  script/metadata/classification/build_taxonomy.py
  script/metadata/classification/export_to_sheet.py
  script/metadata/field_classifier.py
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/addons_derived/dev_amo_stats_installs_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
Due: validate-sql

add jinja to filter out fenix-specific field
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

fix trailing comma
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

Use target-based deploys for stage deploys
  .github/workflows/build.yml
  bigquery_etl/cli/target.py
  bigquery_etl/util/target.py
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-bqetl, validate-sql

fix: add jinja to filter out fenix-specific field for clients_last_seen_joined_v1 (#9324)
  sql_generators/glean_usage/templates/clients_last_seen_joined.query.sql
Due: validate-sql

Fix collecting dependencies
  bigquery_etl/util/target.py
Due: validate-bqetl

fix(CI): direct Claude reviewer to use inline comments
  .github/workflows/claude-review.yml
Due: none

feat: mark addons_derived/dev_amo_stats_installs_v1 2026-05-04 backfill as Complete
  sql/moz-fx-data-shared-prod/addons_derived/dev_amo_stats_installs_v1/backfill.yaml
Due: validate-sql

fix(CI): direct Claude reviewer to use inline comments (#9326)
  .github/workflows/claude-review.yml
Due: none

feat: mark addons_derived/dev_amo_stats_installs_v1 2026-05-04 backfill as Complete (#9327)
  sql/moz-fx-data-shared-prod/addons_derived/dev_amo_stats_installs_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/addons_derived/dev_amo_stats_installs_v1/backfill.yaml
Due: validate-sql

Fix schema resolve
  bigquery_etl/cli/deploy.py
Due: validate-bqetl

Fix prefixing
  .github/workflows/build.yml
  bigquery_etl/cli/deploy.py
  bigquery_etl/util/target.py
Due: validate-bqetl

fix prefix
  .github/workflows/build.yml
Due: none

feat(CI): auto-minimize previous Claude review comments
  .github/workflows/claude-review.yml
Due: none

Update use counters to main
  script/update_use_counters
  sql_generators/use_counters/templates/templating.yaml
Due: validate-sql

docs(README): point non-DE contributors at fork-PR workflow
  README.md
Due: none

fix(CI): batch Claude reviewer's inline comments under one review
  .github/workflows/claude-review.yml
Due: none

feat(CI): auto-minimize previous Claude review comments (#9329)
  .github/workflows/claude-review.yml
Due: none

fix(CI): batch Claude reviewer's inline comments under one review (#9332)
  .github/workflows/claude-review.yml
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/events_stream/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/events_stream/view.sql
Due: validate-sql

Add syndicate table for zendesk.
  sql/moz-fx-data-shared-prod/zendesk_syndicate/dataset_metadata.yaml
Due: validate-sql

Add syndicate table for zendesk. (#9334)
  sql/moz-fx-data-shared-prod/zendesk_syndicate/dataset_metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/zendesk_syndicate/dataset_metadata.yaml
Due: validate-sql

fix identifiers
  .github/workflows/build.yml
  bigquery_etl/util/target.py
Due: validate-bqetl

self references fix
  bigquery_etl/cli/deploy.py
  bigquery_etl/util/target.py
Due: validate-bqetl

update event actions
  sql_generators/urlbar_events/templates/desktop_query.sql
Due: validate-sql

fix dryrun
  bigquery_etl/util/target.py
Due: validate-bqetl

fix udf dependencies
  bigquery_etl/util/target.py
Due: validate-bqetl

Fix udf name
  bigquery_etl/util/target.py
Due: validate-bqetl
