Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/fenix/metrics/view.sql
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/newtab_content/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_background_update/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/metrics/view.sql
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/metrics/view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_beta/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_focus_nightly/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_klar/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/pine/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/pine/newtab_content/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/thunderbird_desktop/metrics/schema.yaml
Due: validate-sql

Remove inactive DAG bqetl_iprospect
  dags.yaml
Due: validate-sql

Mark iprospect tables as deprecated = true
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/metadata.yaml
Due: validate-sql

feat(glam): Add support to client-sampled metrics
  bigquery_etl/glam/client_side_sampled_metrics.py
  bigquery_etl/glam/clients_daily_histogram_aggregates.py
  bigquery_etl/glam/clients_daily_scalar_aggregates.py
  bigquery_etl/glam/templates/clients_daily_histogram_aggregates_v1.sql
  bigquery_etl/glam/templates/clients_daily_scalar_aggregates_v1.sql
Due: validate-bqetl

Unschedule active_users_aggregates_for_deletion_requests
  sql_generators/active_users_deletion_requests/templates/metadata_deletion_request.yaml
Due: validate-sql

Remove DAG bqetl_crash
  dags.yaml
Due: validate-sql

Deprecate crash_frames_v1, crash_symbols_v1, crash_signatures_v1, and crash_symbolicated_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_frames_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_signatures_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_symbolicated_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_symbols_v1/metadata.yaml
Due: validate-sql

feat: update tests to reflect channel being removed from first_seen and last_seen
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/fenix/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_desktop_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_active_users/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_clients_first_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/firefox_ios/usage_reporting_clients_last_seen/view.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_beta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_firefox_derived/usage_reporting_clients_last_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_first_seen_v1/schema.yaml
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/query.sql
  tests/sql_generators/usage_reporting/expected/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/usage_reporting_clients_last_seen_v1/schema.yaml
Due: validate-bqetl

Remove crash_aggregates views
  sql/moz-fx-data-shared-prod/telemetry/crash_aggregates/view.sql
  sql/moz-fx-data-shared-prod/telemetry/crash_aggregates_v1/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/metadata.yaml
Due: validate-sql

Delete telemetry_derived.cohort_daily_statistics_v1 from repo since already deprecated, will be deleted
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v1/schema.yaml
Due: validate-sql

Delete telemetry_derived.rolling_cohorts_v1 since already deprecated
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v1/schema.yaml
Due: validate-sql

remove addon_moderations/cinder_decisions_raw files
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/query.py
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/schema.yaml
Due: validate-sql

test pr
  CONTRIBUTING.md
Due: none

fix: Support using `date_partition_offset` with monthly partitioned ETLs.
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
Due: validate-bqetl, validate-sql

InfraDay: Deprecation (#7502)
  dags.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_meta_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_raw_v1/metadata.yaml
  sql/moz-fx-data-marketing-prod/iprospect/adspend_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_daily_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_goals_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_landing_page_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/blogs_sessions_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/downloads_with_attribution_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/firefox_whatsnew_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_downloads_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_events_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_hits_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_landing_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_metrics_summary_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/mozilla_org_derived/www_site_page_metrics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/crash_aggregates/view.sql
  sql/moz-fx-data-shared-prod/telemetry/crash_aggregates_v1/view.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/cohort_daily_statistics_v1/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_frames_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_signatures_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_symbolicated_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/crash_symbols_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/rolling_cohorts_v1/schema.yaml
  sql_generators/active_users_deletion_requests/templates/metadata_deletion_request.yaml
Due: validate-sql

feat(glam): Add support to client-sampled metrics (#7503)
  bigquery_etl/glam/client_side_sampled_metrics.py
  bigquery_etl/glam/clients_daily_histogram_aggregates.py
  bigquery_etl/glam/clients_daily_scalar_aggregates.py
  bigquery_etl/glam/templates/clients_daily_histogram_aggregates_v1.sql
  bigquery_etl/glam/templates/clients_daily_scalar_aggregates_v1.sql
Due: validate-bqetl

remove addon_moderations/cinder_decisions_raw files (#7505)
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/query.py
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/schema.yaml
Due: validate-sql

Add parameters back
  sql_generators/active_users_deletion_requests/templates/metadata_deletion_request.yaml
Due: validate-sql

fix: Support using `date_partition_offset` with monthly partitioned ETLs. (#7506)
  bigquery_etl/query_scheduling/task.py
  bigquery_etl/query_scheduling/templates/airflow_dag.j2
Due: validate-bqetl, validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_addons_moderations.py
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/query.py
  sql/moz-fx-data-shared-prod/addon_moderations_derived/cinder_decisions_raw_v1/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/lockwise_ios/baseline_clients_last_seen/schema.yaml
Due: validate-sql

Add parameters back (#7507)
  sql_generators/active_users_deletion_requests/templates/metadata_deletion_request.yaml
Due: validate-sql

Remove Bigeye checks for experimenter_cirrus
  bqetl_project.yaml
Due: validate-sql, validate-routines

Pull country from metrics in quick_suggest ping
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_suggest_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/event_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/contextual_services_derived/request_payload_suggest_v2/query.sql
  sql/moz-fx-data-shared-prod/search_terms_derived/suggest_impression_sanitized_v3/query.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_subplat.py
  sql/moz-fx-data-shared-prod/fenix/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_first_seen/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_fire_tv/baseline_clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios/active_users/schema.yaml
  sql/moz-fx-data-shared-prod/klar_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_daily/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/eng_workflow_build_parquet/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/releases_latest/schema.yaml
Due: validate-sql

Fetch in more dashboard performance related data from Looker
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_dashboard_load_times_v1/query.py
  sql/moz-fx-data-shared-prod/monitoring_derived/looker_dashboard_load_times_v1/schema.yaml
Due: validate-sql

Update looker_dashboard_load_times view
  sql/moz-fx-data-shared-prod/monitoring/looker_dashboard_load_times/view.sql
Due: validate-sql

feat(backfill): Add `ignore_date_partition_offset` backfill option.
  bigquery_etl/backfill/parse.py
  bigquery_etl/cli/backfill.py
  tests/backfill/test_parse_backfill.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/fenix_derived/active_users_aggregates_deletion_request_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/active_users_aggregates_deletion_request_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/active_users_aggregates_deletion_request_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/focus_android/use_counters/schema.yaml
  sql/moz-fx-data-shared-prod/focus_ios_derived/active_users_aggregates_deletion_request_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/klar_ios_derived/active_users_aggregates_deletion_request_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry/clients_last_seen/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry/windows_10_aggregate/schema.yaml
Due: validate-sql

feat(DENG-8397): Add extended attribution fields into baseline_clients_daily_v1 and baseline_clients_last_seen_v1 (#7492)
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.query.sql
  sql_generators/glean_usage/templates/baseline_clients_daily_v1.schema.yaml
  sql_generators/glean_usage/templates/baseline_clients_last_seen_v1.schema.yaml
Due: validate-sql

[ci skip] Deployed cddbe31811 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat(DENG-8404): Add new columns
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_clients_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_engagement_clients_v1/schema.yaml
Due: validate-sql

feat(DENG-8401): Create firefox_desktop_derived.desktop_retention_aggregates_v1
  sql/moz-fx-data-shared-prod/firefox_desktop/desktop_retention_aggregates/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_aggregates_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/desktop_retention_aggregates_v1/schema.yaml
Due: validate-sql

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
