Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

Update backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/backfill.yaml
Due: validate-sql

Added more comments
  bigquery_etl/cli/backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

Update backfill.yaml (#5629)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/backfill.yaml
Due: validate-sql

[ci skip] Deployed c98b5ddd81 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/urlbar_events_daily_engagement_by_position_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

Updated docs
  docs/cookbooks/creating_a_derived_dataset.md
Due: none

DENG-3719: Allow setting billing project for managed backfills (#5605)
  bigquery_etl/backfill/parse.py
  bigquery_etl/cli/backfill.py
  tests/backfill/test_parse_backfill.py
  tests/cli/test_cli_backfill.py
Due: validate-bqetl

Update docs/cookbooks/creating_a_derived_dataset.md
  docs/cookbooks/creating_a_derived_dataset.md
Due: none

DENG-3851 Updated managed backfill docs with slack channel for notifcations (#5630)
  docs/cookbooks/creating_a_derived_dataset.md
Due: none

[ci skip] Deployed ce9b8c40c1 with MkDocs version: 1.5.3
  bqetl/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/viu_politica_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

[ci skip] Deployed 4ebf436f05 with MkDocs version: 1.5.3
  cookbooks/creating_a_derived_dataset/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

Inject some errors to fenix metrics_clients_last_seen_v1 to test observability tooling
  sql/data-observability-dev/fenix_derived/metrics_clients_last_seen_v1/query.sql
Due: validate-sql

Inject some errors to fenix metrics_clients_last_seen_v1 to test observability tooling (#5631)
  sql/data-observability-dev/fenix_derived/metrics_clients_last_seen_v1/query.sql
Due: validate-sql

feat: remove retention queries for firefox_ios and fenix as now they are generated via kpi_support_metrics generator
  sql/moz-fx-data-shared-prod/fenix/retention/view.sql
  sql/moz-fx-data-shared-prod/fenix/retention_clients/view.sql
  sql/moz-fx-data-shared-prod/fenix_derived/retention_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/fenix_derived/retention_v1/query.sql
  sql/moz-fx-data-shared-prod/fenix_derived/retention_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/retention/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios/retention_clients/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/schema.yaml
Due: validate-sql

feat: add kpi_support_metrics SQL generator
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/baseline_clients_last_seen_extended_activity.view.sql
  sql_generators/kpi_support_metrics/templates/retention.checks.sql
  sql_generators/kpi_support_metrics/templates/retention.metadata.yaml
  sql_generators/kpi_support_metrics/templates/retention.query.sql
  sql_generators/kpi_support_metrics/templates/retention.schema.yaml
  sql_generators/kpi_support_metrics/templates/retention.view.sql
  sql_generators/kpi_support_metrics/templates/retention_clients.view.sql
Due: validate-sql

feat: replace baseline_clients_last_seen_activity_extended with active_users
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/active_users.view.sql
  sql_generators/kpi_support_metrics/templates/retention_clients.view.sql
Due: validate-sql

feat: add template to union all views inside telemetry namespace
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/retention.query.sql
  sql_generators/kpi_support_metrics/templates/union.view.sql
Due: validate-sql

bug: correct app_name based logic used by templating
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/retention.query.sql
  sql_generators/kpi_support_metrics/templates/retention.schema.yaml
  sql_generators/kpi_support_metrics/templates/retention_clients.view.sql
Due: validate-sql

feat: implement feedback from PR by removing mozilla online logic as no longer needed and correcting app_name setting
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/active_users.view.sql
Due: validate-sql

bug: fix formatting inside kpi_support_metrics templates
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/active_users.view.sql
  sql_generators/kpi_support_metrics/templates/retention.checks.sql
  sql_generators/kpi_support_metrics/templates/retention.query.sql
  sql_generators/kpi_support_metrics/templates/retention.view.sql
  sql_generators/kpi_support_metrics/templates/retention_clients.view.sql
  sql_generators/kpi_support_metrics/templates/union.view.sql
Due: validate-sql

feat: fix active_users union mismatch
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/active_users.view.sql
  sql_generators/kpi_support_metrics/templates/retention.schema.yaml
  sql_generators/kpi_support_metrics/templates/retention_clients.view.sql
  sql_generators/kpi_support_metrics/templates/union.view.sql
Due: validate-sql

[ci skip] Deployed fc1fa9232d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

feat: remove scheduling for now, will be added in the next PR.
  sql_generators/kpi_support_metrics/templates/retention.metadata.yaml
Due: validate-sql

feat: add kpi_support_metrics SQL generator (#5594)
  sql/moz-fx-data-shared-prod/fenix_derived/retention_v1/checks.sql
  sql/moz-fx-data-shared-prod/fenix_derived/retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios/retention/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios/retention_clients/view.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/checks.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_ios_derived/retention_v1/schema.yaml
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/active_users.view.sql
  sql_generators/kpi_support_metrics/templates/retention.checks.sql
  sql_generators/kpi_support_metrics/templates/retention.metadata.yaml
  sql_generators/kpi_support_metrics/templates/retention.query.sql
  sql_generators/kpi_support_metrics/templates/retention.schema.yaml
  sql_generators/kpi_support_metrics/templates/retention.view.sql
  sql_generators/kpi_support_metrics/templates/retention_clients.view.sql
  sql_generators/kpi_support_metrics/templates/union.view.sql
Due: validate-sql

[ci skip] Deployed fd29d5344a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

feat: make sure we user product_specific_attribution_fields additional field list instead of app_name logic in templates
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/retention.query.sql
Due: validate-sql

delete new pageload experiments table
  sql/moz-fx-data-shared-prod/firefox_desktop/pageload_experiments/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/schema.yaml
Due: validate-sql

feat: make sure we user product_specific_attribution_fields additional field list instead of app_name logic in templates (#5633)
  sql_generators/kpi_support_metrics/__init__.py
  sql_generators/kpi_support_metrics/templates/retention.query.sql
Due: validate-sql

[ci skip] Deployed 432ec8bf10 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

delete new pageload experiments table (#5634)
  sql/moz-fx-data-shared-prod/firefox_desktop/pageload_experiments/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/schema.yaml
Due: validate-sql

[ci skip] Deployed 5fe66b7b81 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Use information_schema to find experiment tables for shredder
  bigquery_etl/shredder/config.py
  bigquery_etl/shredder/delete.py
Due: validate-bqetl

Auto-push due to change on main branch [ci skip]
  dags/bqetl_pageload_v1.py
  sql/moz-fx-data-shared-prod/bedrock_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop/pageload_experiments/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/pageload_experiments/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/pageload_experiments/view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_background_tasks_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/backfill.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/pageload_experiments_v1/schema.yaml
  sql/moz-fx-data-shared-prod/monitoring_derived/event_monitoring_aggregates_v1/query.sql
  sql/moz-fx-data-shared-prod/mozillavpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_firefox_vpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_fennec_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxbeta_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_derived/event_monitoring_live_v1/materialized_view.sql
  sql/moz-fx-data-shared-prod/org_mozilla_ios_firefoxvpn_network_extension_derived/event_monitoring_live_v1/materialized_view.sql
Due: validate-sql

Use information_schema to find experiment tables for shredder (#5635)
  bigquery_etl/shredder/config.py
  bigquery_etl/shredder/delete.py
Due: validate-bqetl

[ci skip] Deployed 9f3135ba33 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none
