Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

Auto-push due to change on main branch [ci skip]
  dags/bqetl_analytics_aggregations.py
  dags/bqetl_terms_of_use.py
  sql/moz-fx-data-shared-prod/fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_desktop/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fenix/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_fennec_aurora/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/org_mozilla_firefox/metrics/schema.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/query.sql
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/schema.yaml
Due: validate-sql

feat(DENG-10770): Add Claude API Cost Data to AI Usage Data Model
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_costs_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_costs_v1/query.sql
  sql/moz-fx-data-shared-prod/ai_usage_derived/claude_costs_v1/schema.yaml
Due: validate-sql

fix: remove country_names join to resolve permission issue downstream (#8968)
  sql/moz-fx-data-shared-prod/firefoxdotcom/desktop_conversion_events/view.sql
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefoxdotcom/desktop_conversion_events/metadata.yaml
  sql/moz-fx-data-shared-prod/firefoxdotcom/desktop_conversion_events/view.sql
Due: validate-sql

reorder field name
  sql_generators/urlbar_events/templates/view.sql
Due: validate-sql

add backfill for active_users_aggregates_tou_desktop_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/backfill.yaml
Due: validate-sql

feat(test): Support our typical `schema.yaml` format in SQL tests.
  bigquery_etl/pytest_plugin/sql_test.py
Due: validate-bqetl

fix(test): Ignore `created_at` fields in SQL tests.
  bigquery_etl/pytest_plugin/sql_test.py
Due: validate-bqetl

test(SubPlat): Add tests for `apple_subscriptions_revised_changelog_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_revised_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_subscription_period_start/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_subscription_period_start/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_subscription_period_start/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_revised_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_billing_retry_period_expiration/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_billing_retry_period_expiration/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_billing_retry_period_expiration/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_revised_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_billing_retry_period_start/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_billing_retry_period_start/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_billing_retry_period_start/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_revised_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_subscription_expiration/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_subscription_expiration/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_revised_changelog_v1/test_synthetic_suspected_subscription_expiration/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_revised_changelog_v1.yaml
Due: validate-bqetl, validate-sql

add backfill for active_users_aggregates_tou_desktop_v1 (#8970)
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/backfill.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/backfill.yaml
Due: validate-sql

pause braze combined table
  sql/moz-fx-data-shared-prod/braze_external/braze_sends_combined_v1/metadata.yaml
Due: validate-sql

finish back fill for aua_tou_desktop_v1
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/backfill.yaml
Due: validate-sql

finish back fill for aua_tou_desktop_v1 (#8972)
  sql/moz-fx-data-shared-prod/telemetry_derived/active_users_aggregates_tou_desktop_v1/backfill.yaml
Due: validate-sql

pause braze combined table (#8971)
  sql/moz-fx-data-shared-prod/braze_external/braze_sends_combined_v1/metadata.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  dags/bqetl_braze_currents.py
  sql/moz-fx-data-shared-prod/braze_external/braze_sends_combined_v1/metadata.yaml
Due: validate-sql

test(SubPlat): Add tests for `apple_subscriptions_history_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_revised_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_history_v1/test_subscriptions_revised_changelog/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/apple_subscriptions_history_v1/test_subscriptions_revised_changelog/moz-fx-data-shared-prod.subscription_platform_derived.apple_subscriptions_revised_changelog_v1.yaml
Due: validate-bqetl, validate-sql

test(SubPlat): Add tests for `google_subscriptions_revised_changelog_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_revised_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/test_synthetic_subscription_start/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/test_synthetic_subscription_start/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/test_synthetic_subscription_start/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_revised_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/test_synthetic_suspected_subscription_expiration/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/test_synthetic_suspected_subscription_expiration/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_revised_changelog_v1/test_synthetic_suspected_subscription_expiration/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_revised_changelog_v1.yaml
Due: validate-bqetl, validate-sql

add label for authorized view
  sql_generators/stable_views_redacted/__init__.py
Due: validate-sql

test(SubPlat): Add tests for `google_subscriptions_history_v1` ETL.
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_revised_changelog_v1.schema.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/test_recursive_linked_purchase_tokens/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/test_recursive_linked_purchase_tokens/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_revised_changelog_v1.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/test_subscriptions_revised_changelog/expect.yaml
  tests/sql/moz-fx-data-shared-prod/subscription_platform_derived/google_subscriptions_history_v1/test_subscriptions_revised_changelog/moz-fx-data-shared-prod.subscription_platform_derived.google_subscriptions_revised_changelog_v1.yaml
Due: validate-bqetl, validate-sql

ci: fix command injection in push-to-upstream workflow
  .github/workflows/push-to-upstream.yml
Due: none

ci: fix command injection in push-to-upstream workflow (#8973)
  .github/workflows/push-to-upstream.yml
Due: none

ci: fix template injections and cache poisoning in build workflow [DENG-10780]
  .github/workflows/build.yml
Due: none

ci: use built-in GITHUB_* env vars instead of custom ones [DENG-10780]
  .github/workflows/build.yml
Due: none

feat: add googple_play_store_syndicate
  sql/moz-fx-data-shared-prod/google_play_store_syndicate/dataset_metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/metadata.yaml
Due: validate-sql

Update sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/query.sql
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/query.sql
Due: validate-sql

Update sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/schema.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/schema.yaml
Due: validate-sql

add gold label and additional owner to metadata.yaml
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/metadata.yaml
Due: validate-sql

fix typo
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/query.sql
Due: validate-sql

remove gold label for now
  sql/moz-fx-data-shared-prod/sumo_metrics_derived/kitsune_questions_base_v1/metadata.yaml
Due: validate-sql

Address review feedback
  .github/workflows/build.yml
Due: none

Path conditions:
  validate-bqetl: (((((any of: requirements.txt) or (any of: bigquery_etl/.*)) or (any of: tests/.*)) or (any of: script/bqetl)) or (any of: script/entrypoint)) or (any of: .circleci/.*)
  validate-sql: (((((((any of: requirements.txt) or (any of: bigquery_etl/query_scheduling/.*)) or (any of: sql/.*)) or (any of: sql_generators/.*)) or (any of: tests/sql/.*)) or (any of: bqetl_project.yaml)) or (any of: dags.yaml)) or (any of: .circleci/.*)
  validate-routines: ((((((any of: requirements.txt) or (any of: biquery_etl/routine/.*)) or (any of: sql/mozfun/.*)) or (any of: sql/moz-fx-data-shared-prod/udf/.*)) or (any of: sql/moz-fx-data-shared-prod/udf_js/.*)) or (any of: bqetl_project.yaml)) or (any of: .circleci/.*)
