Repository mozilla/bigquery-etl: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-bqetl, validate-sql, validate-routines

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@1.0.0

parameters:
  validate-bqetl:
    type: boolean
    default: false
  validate-sql:
    type: boolean
    default: false
  validate-routines:
    type: boolean
    default: false
  deploy:
    type: boolean
    default: false
  trigger-sql-generation:
    type: boolean
    default: false
  skip-stage-deploys:
    type: boolean
    default: false


workflows:
  setup-main:
    when:
      equal: [main, << pipeline.git.branch >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: '{"deploy": true}'
  setup-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            requirements.txt validate-bqetl true
            requirements.txt validate-sql true
            requirements.txt validate-routines true
            bigquery_etl/.* validate-bqetl true
            tests/.* validate-bqetl true
            bigquery_etl/query_scheduling/.* validate-sql true
            sql/.* validate-sql true
            sql_generators/.* validate-sql true
            tests/sql/.* validate-sql true
            biquery_etl/routine/.* validate-routines true
            sql/mozfun/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf/.* validate-routines true
            sql/moz-fx-data-shared-prod/udf_js/.* validate-routines true
            bqetl_project.yaml validate-sql true
            bqetl_project.yaml validate-routines true
            dags.yaml validate-sql true
            script/bqetl validate-bqetl true
            script/entrypoint validate-bqetl true
            .circleci/.* validate-sql true
            .circleci/.* validate-bqetl true
            .circleci/.* validate-routines true
  setup-tag:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          filters:
            branches:
              ignore: /.*/

add/update comments
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

remove unused fields
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_derived.events_first_seen_v1.yaml
Due: validate-bqetl, validate-sql

remove raw SQL syntax as criteria names remove null as special criteria name and simplify join condition encode criteria as dictionary update tests
  sql_generators/glean_usage/templates/events_first_seen_templating.yaml
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/moz-fx-data-shared-prod.firefox_desktop_derived.events_first_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_init/expect.yaml
Due: validate-bqetl, validate-sql

update query to select new records for the targeted date (eliminating need to overwrite entire table) update tests and metadata
  sql_generators/glean_usage/templates/events_first_seen_v1.metadata.yaml
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
  tests/sql/moz-fx-data-shared-prod/firefox_desktop_derived/events_first_seen_v1/test_aggregation/expect.yaml
Due: validate-bqetl, validate-sql

Options to generate sub-daily and hourly tables
  bigquery_etl/cli/query.py
  tests/cli/test_cli_query.py
Due: validate-bqetl

Change name to use_live
  bigquery_etl/cli/query.py
  tests/cli/test_cli_query.py
Due: validate-bqetl

Fix typo
  bigquery_etl/cli/query.py
Due: validate-bqetl

Quotes around macro referenced by filename
  bigquery_etl/cli/query.py
Due: validate-bqetl

Update log statements
  bigquery_etl/cli/query.py
Due: validate-bqetl

GLAM process pings as opt-in
  script/glam/generate_glean_sql
Due: none

GLAM process labeled_boolean
  bigquery_etl/glam/clients_daily_scalar_aggregates.py
Due: validate-bqetl

fix(Stripe): Reschedule the `itemized_payout_reconciliation_v5` ETL (bug 2003288).
  sql/moz-fx-data-shared-prod/stripe_external/itemized_payout_reconciliation_v5/metadata.yaml
Due: validate-sql

fix(Stripe): Reschedule the `itemized_payout_reconciliation_v5` ETL (bug 2003288). (#8655)
  sql/moz-fx-data-shared-prod/stripe_external/itemized_payout_reconciliation_v5/metadata.yaml
Due: validate-sql

[ci skip] Deployed ba0275bc3c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore: rename contextual-services workgroup
  sql/moz-fx-data-shared-prod/contextual_services/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/contextual_services_derived/dataset_metadata.yaml
Due: validate-sql

chore: rename ads workgroup
  sql/moz-fx-data-shared-prod/ads/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_backend/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_backend_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_dap_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/ads_derived/dataset_metadata.yaml
  sql/moz-fx-data-shared-prod/shepherd/dataset_metadata.yaml
Due: validate-sql

add fenix
  bqetl_project.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/moz-fx-data-shared-prod.org_mozilla_firefox_derived.events_first_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/moz-fx-data-shared-prod.org_mozilla_firefox_derived.events_stream_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/test_aggregation/moz-fx-data-shared-prod.org_mozilla_firefox_derived.events_first_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/test_aggregation/moz-fx-data-shared-prod.org_mozilla_firefox_derived.events_stream_v1.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/test_aggregation/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/test_init/expect.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/test_init/moz-fx-data-shared-prod.org_mozilla_firefox_derived.events_stream_v1.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_firefox_derived/events_first_seen_v1/test_init/query_params.yaml
Due: validate-bqetl, validate-sql, validate-routines

add ios
  bqetl_project.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/moz-fx-data-shared-prod.org_mozilla_ios_firefox_derived.events_first_seen_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/moz-fx-data-shared-prod.org_mozilla_ios_firefox_derived.events_stream_v1.schema.json
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/test_aggregation/expect.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/test_aggregation/moz-fx-data-shared-prod.org_mozilla_ios_firefox_derived.events_first_seen_v1.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/test_aggregation/moz-fx-data-shared-prod.org_mozilla_ios_firefox_derived.events_stream_v1.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/test_aggregation/query_params.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/test_init/expect.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/test_init/moz-fx-data-shared-prod.org_mozilla_ios_firefox_derived.events_stream_v1.yaml
  tests/sql/moz-fx-data-shared-prod/org_mozilla_ios_firefox_derived/events_first_seen_v1/test_init/query_params.yaml
Due: validate-bqetl, validate-sql, validate-routines

format sql
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

de-dupe logic between init and non-init
  sql_generators/glean_usage/templates/events_first_seen_v1.query.sql
Due: validate-sql

add descriptions
  sql_generators/glean_usage/templates/events_first_seen_v1.schema.yaml
Due: validate-sql

[DENG-10360] Multi project ID option to update/deploy/init tables
  bigquery_etl/cli/query.py
  bigquery_etl/cli/utils.py
Due: validate-bqetl

[ci skip] Deployed 336bd9177c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat: drop fxa_users_services_first_seen_v1 and fxa_users_services_last_seen_v2 queries and some bigquery configuration
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/query.sql
Due: validate-sql

feat(DENG-9987): Add country_code to firefox_desktop_derived.metrics_clients_daily_v1 (#8651)
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_daily_v1/schema.yaml
  sql_generators/glean_usage/templates/metrics_clients_daily.query.sql
Due: validate-sql

feat: delete fxa_users_services_first_seen_v1 and fxa_users_services_last_seen_v2
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/schema.yaml
Due: validate-sql

Auto-push due to change on main branch [ci skip]
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_daily_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_desktop_derived/metrics_clients_daily_v1/schema.yaml
Due: validate-sql

GLAM process labeled_boolean (#8654)
  bigquery_etl/glam/clients_daily_scalar_aggregates.py
Due: validate-bqetl

[DENG-10315] Use Cloud Run gen 2 dryrun function (#8640)
  bqetl_project.yaml
  docs/reference/configuration.md
  tests/data/bqetl_project.yaml
Due: validate-bqetl, validate-sql, validate-routines

feat: drop fxa_users_services_first_seen_v1 and fxa_users_services_last_seen_v2 queries and some bigquery configuration (#8658)
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/query.sql
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_first_seen_v1/schema.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/metadata.yaml
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/query.sql
  sql/moz-fx-data-shared-prod/firefox_accounts_derived/fxa_users_services_last_seen_v2/schema.yaml
Due: validate-sql

[ci skip] Deployed 9036adaea3 with MkDocs version: 1.6.1
  reference/configuration/index.html
  search/search_index.json
Due: none
